{%extends 'frontpages/profile_layout.html'%}

{%block profile_content%}						 
						<div class="card mb-0 overflow-hidden">
							<div class="card-header">
								<h3 class="card-title">Items In Your Cart</h3>
							</div>
							<div class="card-body">
								<div class="table-responsive border-top">
									<table class="table table-bordered table-hover text-nowrap">
										<thead>
											<tr>
												<th>#</th>
												<th>Product</th>
												<th>Quantity</th>
												<th>Price</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											{%for cart in orders.products.all%}
											<tr>
												<td class="text-secondary">{{forloop.counter}}</td>
												<td>{{cart.product.name}}</td>
												<td>
													<a class="m-1" href="{%url 'decrement_cart' id=cart.product.id%}">
														<i class="fa fa-minus"></i>
													</a>
													{{cart.quantity}}
													<a class="m-1" href="{%url 'add_to_cart' id=cart.product.id%}">
														<i class="fa fa-plus"></i>
													</a>

												</td>
												<td class="font-weight-semibold fs-16">ETB {{cart.get_total_item_price}}</td>
												<td>
													<a href="#" class="badge badge-danger"><i class="fa fa-trash"></i></a>
												</td>
											</tr>
											  {%endfor%}
										</tbody>
									</table>
								</div>
								<ul class="pagination">
									 <a href="{%url 'checkout'%}" class="btn btn-primary m-1">Proceed To Checkout</a>
									 <button class="btn btn-success m-1">Continue Shopping</button>
								</ul>
							</div>
						</div>
					
{%endblock%}