{%extends 'frontpages/layout.html'%}
{%load i18n%}
{%load core_template_tags%}

{%block title%}{{object.name}}-Contact{%endblock%}
{%block content%}
{% get_current_language as LANGUAGE_CODE %}
		<!--Breadcrumb-->
		<div>
			<div class="bannerimg cover-image bg-background3" data-image-src="/static/frontpages/images/banners/banner2.jpg">
				<div class="header-text mb-0">
					<div class="container">
						<div class="text-center text-white ">
							<h1 class="">{% trans "Inquiry Request Successfull!" %}</h1>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/Breadcrumb-->
		
		<div class="sptb bg-white">
			<div class="container">
				<div class="row ">
				    <div class="col-xl-11 col-lg-5 col-md-10"> 
						<!--Add Lists-->
						 
						<div class="row">
                            <div class="card "  style = "padding-left:20px">
								<div class = "card-body">
                                    <h3>Your Inquiry Request has been sent successfully!</h3>
                                    <h2> You will recieve the response through <a href="#" style="color: rgb(103, 103, 174);">{{email}}</a> </h2>
                                </div>
                            </div>
						
					</div>
				</div>
			</div>
		</div>
		<!--Contact-->

		<script>
			let cart_ids = localStorage.getItem('prods')
			let prod_id_list = "{{prod_id_list}}"
			localStorage.setItem('prods', cart_ids.replace(prod_id_list, ''))
		</script>
      
{%endblock%}
