{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags %}
{% block extrastyle %}
  <!-- file selecting js -->
  <script src="/static/admin/global_assets/js/demo_pages/user_pages_profile_tabbed.js"></script>
  <!-- /file selecting js  -->
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/inputs/inputmask.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/validation/validate.min.js"></script>

{% endblock %}
{%block pagename%}Industry Product and Investment/Project Form Dropdown/Lookups{%endblock%}
{%block nav%}
<a href="{%url 'admin:settings'%}" class="breadcrumb-item">Settings</a>
<a href="{%url 'admin:update_checklist' pk=object.id%}" class="breadcrumb-item">CheckLists</a>{%endblock%}
{%block settings%}active{%endblock%}
{%block content%}

			<!-- Content area -->
			<div class="content">
				 
			 
				<div class="card">
						
					<div class="card-body">
						
						<form 
							{%if flag == 'company_dropdown'%}
								action="{%url 'admin:update_checklist' pk=object.id %}"
							{%elif flag == 'project_dropdown' %}
							action="{%url 'admin:update_plookup' pk=object.id %}"
							{%elif flag == 'product_dose' %}
							action="{%url 'admin:update_dose' pk=object.id %}"
							{%elif flag == 'product_dosage' %}
							action="{%url 'admin:update_dosage' pk=object.id %}"
							{%elif flag == 'region_dropdown' %}
							action="{%url 'admin:update_region' pk=object.id %}"
							{%elif flag == 'uom_dropdown'%}
							action="{%url 'admin:update_uom' pk=object.id %}"
							{%elif flag == 'phpg'%}
							action="{%url 'admin:update_phpg' pk=object.id %}"
							{%elif flag == 'tg'%}
							action="{%url 'admin:update_therapeutic_grp' pk=object.id %}"
							{%endif%}
							 method="POST">{%csrf_token%}
							<fieldset class="mb-3 ml-3 mr-3">
								<legend class="text-uppercase font-size-sm font-weight-bold">Update Data</legend>
								{{form|crispy}}
							</fieldset>

							<div class="text-right">
								<button style="padding-left: 10%; padding-right: 10%;" type="submit" class="btn btn-primary rounded-round">Submit </button>
							</div>
						</form>
					</div>
				</div>
				 
			 
			</div>
			<!-- /content area -->
			<script>
				$(document).ready(function() {
					$('#summernote').summernote();
					$('.summernote').summernote();
				});
			  </script>
{%endblock%}

