{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags%}
{% block extrastyle %}

	<!-- Theme JS files -->
	<script src="/static/admin/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
	<script src="/static/admin/global_assets/js/demo_pages/datatables_advanced.js"></script>
	<!-- /theme JS files -->
 
{% endblock %}
{%block pagename%}Settings{%endblock%}
{%block nav%}
<a href="{%url 'admin:settings'%}" class="breadcrumb-item">Settings</a>{%endblock%}
{%block settings%}active{%endblock%}
{%block content%}

			<!-- Content area -->
			<div class="content">
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Industry Information Form Dropdowns/Lookup Data</h5>
						<div class="header-elements">
							<div class="list-icons float-right">
								{% if  perms.admin_site.add_companydropdownsmaster %}
								<a  href="#" data-toggle="modal" data-target="#chklist_form" class="btn bg-teal btn-sm rounded-round"><i class="icon-add mr-2"></i>Add Company Lookups</a>
								{% endif %}
							</div>
						</div>
					</div>

					<div class="card-body">
						<ul class="nav nav-tabs">
							<li class="nav-item"><a href="#basic-tab1" class="nav-link active" data-toggle="tab">Form of Ownership</a></li>
							<li class="nav-item"><a href="#basic-tab2" class="nav-link" data-toggle="tab">Working Hours</a></li>
							<li class="nav-item"><a href="#basic-tab3" class="nav-link" data-toggle="tab">Certifications</a></li>
							<li class="nav-item"><a href="#basic-tab4" class="nav-link" data-toggle="tab">Management Tools</a></li>
							<li class="nav-item"><a href="#basic-tab5" class="nav-link" data-toggle="tab">Source of energy</a></li>
							<li class="nav-item"><a href="#basic-tab6" class="nav-link" data-toggle="tab">Area of Major Challenges</a></li>
							<li class="nav-item"><a href="#basic-tab7" class="nav-link" data-toggle="tab">Industry Status CheckList</a></li>
							<li class="nav-item"><a href="#basic-tab8" class="nav-link" data-toggle="tab">Laboratory Analisys</a></li>
							<li class="nav-item"><a href="#basic-tab9" class="nav-link" data-toggle="tab">Lab Equipments</a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane fade show active" id="basic-tab1">
								<p class="card-title">Form of Company/Business Ownership</p>
								<table class="table datatable-show-all">
									<thead>
										<tr>
											<th>#</th>
											<th>Value Name</th>
											<th>Attribute Type</th>
											<th>Created By</th>
											<th>Created Date</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
										{%for chklist in object_list%}
											{%if chklist.chk_type == "Forms of Ownership"%}
											<tr>
												<td>{{forloop.counter}}</td>
												<td>{{chklist.name}}</td>
												<td>{{chklist.chk_type}}</td>
												<td>{{chklist.created_by.username}}</td>
												<td><span class="badge badge-success">{{chklist.created_date|date}}</span></td>
												<td class="text-center">
													<div class="list-icons">
														<div class="dropdown">
															<a href="#" class="list-icons-item" data-toggle="dropdown">
																<i class="icon-menu9"></i>
															</a>
					
															<div class="dropdown-menu dropdown-menu-right">
																{% if user.is_superuser or user.get_company == chklist.created_by.get_company %}
																	{% if  perms.admin_site.delete_companydropdownsmaster %}
																	<a href="{%url 'admin:delete' model_name='CompanyDropdownsMaster' id=chklist.id%}" onclick="return confirm('Are you sure you want to delete this Lookup/Dropdown?');" href="#" class="dropdown-item"><i class="icon-trash"></i>Delete</a>
																	{% endif %}
																	{% if  perms.admin_site.change_companydropdownsmaster %}
																	<a  href="{%url 'admin:update_checklist' pk=chklist.id%}" class="dropdown-item"><i class="icon-pencil"></i>Edit</a>
																	{% endif %}
																{% endif %}
															</div>
														</div>
													</div>
												</td>
											</tr>
											{%endif%}
										{%endfor%}
									</tbody>
								</table>
							</div>

							<div class="tab-pane fade " id="basic-tab2">
								<p class="card-title">Each Company have their own Working hours, please add the Standards here</p>
								<table class="table datatable-show-all">
									<thead>
										<tr>
											<th>#</th>
											<th>Value Name</th>
											<th>Attribute Type</th>
											<th>Created By</th>
											<th>Created Date</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
										{%for chklist in object_list%}
											{%if chklist.chk_type == "Working hours"%}
											<tr>
												<td>{{forloop.counter}}</td>
												<td>{{chklist.name}}</td>
												<td>{{chklist.chk_type}}</td>
												<td>{{chklist.created_by.username}}</td>
												<td><span class="badge badge-success">{{chklist.created_date|date}}</span></td>
												<td class="text-center">
													<div class="list-icons">
														<div class="dropdown">
															<a href="#" class="list-icons-item" data-toggle="dropdown">
																<i class="icon-menu9"></i>
															</a>
					
															<div class="dropdown-menu dropdown-menu-right">
																{% if user.is_superuser or user.get_company == chklist.created_by.get_company %}
																	{% if  perms.admin_site.delete_companydropdownsmaster %}
																	<a href="{%url 'admin:delete' model_name='CompanyDropdownsMaster' id=chklist.id%}" onclick="return confirm('Are you sure you want to delete this Lookup/Dropdown?');" href="#" class="dropdown-item"><i class="icon-trash"></i>Delete</a>
																	{% endif %}
																	{% if  perms.admin_site.change_companydropdownsmaster %}
																	<a  href="{%url 'admin:update_checklist' pk=chklist.id%}" class="dropdown-item"><i class="icon-pencil"></i>Edit</a>
																	{% endif %}
																{% endif %}
															</div>
														</div>
													</div>
												</td>
											</tr>
											{%endif%}
										{%endfor%}
									</tbody>
								</table>
							</div>

							<div class="tab-pane fade " id="basic-tab3">
								<p class="card-title">Types Of Company Certifications</p>
								<table class="table datatable-show-all">
									<thead>
										<tr>
											<th>#</th>
											<th>Value Name</th>
											<th>Attribute Type</th>
											<th>Created By</th>
											<th>Created Date</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
										{%for chklist in object_list%}
											{%if chklist.chk_type == "Certifications" %}
											<tr>
												<td>{{forloop.counter}}</td>
												<td>{{chklist.name}}</td>
												<td>{{chklist.chk_type}}</td>
												<td>{{chklist.created_by.username}}</td>
												<td><span class="badge badge-success">{{chklist.created_date|date}}</span></td>
												<td class="text-center">
													<div class="list-icons">
														<div class="dropdown">
															<a href="#" class="list-icons-item" data-toggle="dropdown">
																<i class="icon-menu9"></i>
															</a>
					
															<div class="dropdown-menu dropdown-menu-right">
																{% if user.is_superuser or user.get_company == chklist.created_by.get_company %}
																	{% if  perms.admin_site.delete_companydropdownsmaster %}
																	<a href="{%url 'admin:delete' model_name='CompanyDropdownsMaster' id=chklist.id%}" onclick="return confirm('Are you sure you want to delete this Lookup/Dropdown?');" href="#" class="dropdown-item"><i class="icon-trash"></i>Delete</a>
																	{% endif %}
																	{% if  perms.admin_site.change_companydropdownsmaster %}
																	<a  href="{%url 'admin:update_checklist' pk=chklist.id%}" class="dropdown-item"><i class="icon-pencil"></i>Edit</a>
																	{% endif %}
																{% endif %}
															</div>
														</div>
													</div>
												</td>
											</tr>
											{%endif%}
										{%endfor%}
									</tbody>
								</table>
							</div>
							<div class="tab-pane fade " id="basic-tab4">
								<p class="card-title">Management Tools That the company Uses/possibly could use</p>
								<table class="table datatable-show-all">
									<thead>
										<tr>
											<th>#</th>
											<th>Value Name</th>
											<th>Attribute Type</th>
											<th>Created By</th>
											<th>Created Date</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
										{%for chklist in object_list%}
											{%if chklist.chk_type == "Management Tools" %}
											<tr>
												<td>{{forloop.counter}}</td>
												<td>{{chklist.name}}</td>
												<td>{{chklist.chk_type}}</td>
												<td>{{chklist.created_by.username}}</td>
												<td><span class="badge badge-success">{{chklist.created_date|date}}</span></td>
												<td class="text-center">
													<div class="list-icons">
														<div class="dropdown">
															<a href="#" class="list-icons-item" data-toggle="dropdown">
																<i class="icon-menu9"></i>
															</a>
					
															<div class="dropdown-menu dropdown-menu-right">
																{% if user.is_superuser or user.get_company == chklist.created_by.get_company %}
																	{% if  perms.admin_site.delete_companydropdownsmaster %}
																	<a href="{%url 'admin:delete' model_name='CompanyDropdownsMaster' id=chklist.id%}" onclick="return confirm('Are you sure you want to delete this Lookup/Dropdown?');" href="#" class="dropdown-item"><i class="icon-trash"></i>Delete</a>
																	{% endif %}
																	{% if  perms.admin_site.change_companydropdownsmaster %}
																	<a  href="{%url 'admin:update_checklist' pk=chklist.id%}" class="dropdown-item"><i class="icon-pencil"></i>Edit</a>
																	{% endif %}
																{% endif %}
															</div>
														</div>
													</div>
												</td>
											</tr>
											{%endif%}
										{%endfor%}
									</tbody>
								</table>
							</div>
							<div class="tab-pane fade " id="basic-tab5">
								<p class="card-title">Main Source of Energy the company uses</p>
								<table class="table datatable-show-all">
									<thead>
										<tr>
											<th>#</th>
											<th>Value Name</th>
											<th>Attribute Type</th>
											<th>Created By</th>
											<th>Created Date</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
										{%for chklist in object_list%}
											{%if chklist.chk_type == "Source of Energy" %}
											<tr>
												<td>{{forloop.counter}}</td>
												<td>{{chklist.name}}</td>
												<td>{{chklist.chk_type}}</td>
												<td>{{chklist.created_by.username}}</td>
												<td><span class="badge badge-success">{{chklist.created_date|date}}</span></td>
												<td class="text-center">
													<div class="list-icons">
														<div class="dropdown">
															<a href="#" class="list-icons-item" data-toggle="dropdown">
																<i class="icon-menu9"></i>
															</a>
					
															<div class="dropdown-menu dropdown-menu-right">
																{% if user.is_superuser or user.get_company == chklist.created_by.get_company %}
																	{% if  perms.admin_site.delete_companydropdownsmaster %}
																	<a href="{%url 'admin:delete' model_name='CompanyDropdownsMaster' id=chklist.id%}" onclick="return confirm('Are you sure you want to delete this Lookup/Dropdown?');" href="#" class="dropdown-item"><i class="icon-trash"></i>Delete</a>
																	{% endif %}
																	{% if  perms.admin_site.change_companydropdownsmaster %}
																	<a  href="{%url 'admin:update_checklist' pk=chklist.id%}" class="dropdown-item"><i class="icon-pencil"></i>Edit</a>
																	{% endif %}
																{% endif %}
															</div>
														</div>
													</div>
												</td>
											</tr>
											{%endif%}
										{%endfor%}
									</tbody>
								</table>
							</div>
							<div class="tab-pane fade " id="basic-tab6">
								<p class="card-title"> kind of support needed to increase the production and market</p>
								<table class="table datatable-show-all">
									<thead>
										<tr>
											<th>#</th>
											<th>Value Name</th>
											<th>Attribute Type</th>
											<th>Created By</th>
											<th>Created Date</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
										{%for chklist in object_list%}
											{%if chklist.chk_type == "Areas of Major Challenges" %}
											<tr>
												<td>{{forloop.counter}}</td>
												<td>{{chklist.name}}</td>
												<td>{{chklist.chk_type}}</td>
												<td>{{chklist.created_by.username}}</td>
												<td><span class="badge badge-success">{{chklist.created_date|date}}</span></td>
												<td class="text-center">
													<div class="list-icons">
														<div class="dropdown">
															<a href="#" class="list-icons-item" data-toggle="dropdown">
																<i class="icon-menu9"></i>
															</a>
					
															<div class="dropdown-menu dropdown-menu-right">
																{% if user.is_superuser or user.get_company == chklist.created_by.get_company %}
																	{% if  perms.admin_site.delete_companydropdownsmaster %}
																	<a href="{%url 'admin:delete' model_name='CompanyDropdownsMaster' id=chklist.id%}" onclick="return confirm('Are you sure you want to delete this Lookup/Dropdown?');" href="#" class="dropdown-item"><i class="icon-trash"></i>Delete</a>
																	{% endif %}
																	{% if  perms.admin_site.change_companydropdownsmaster %}
																	<a  href="{%url 'admin:update_checklist' pk=chklist.id%}" class="dropdown-item"><i class="icon-pencil"></i>Edit</a>
																	{% endif %}
																{% endif %}
															</div>
														</div>
													</div>
												</td>
											</tr>
											{%endif%}
										{%endfor%}
									</tbody>
								</table>
							</div>
							<div class="tab-pane fade " id="basic-tab7">
								<p class="card-title">Status of the Processing/Industry Facility</p>
								<table class="table datatable-show-all">
									<thead>
										<tr>
											<th>#</th>
											<th>Value Name</th>
											<th>Attribute Type</th>
											<th>Created By</th>
											<th>Created Date</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
										{%for chklist in object_list%}
											{%if chklist.chk_type == "Industry Status Checklists" %}
											<tr>
												<td>{{forloop.counter}}</td>
												<td>{{chklist.name}}</td>
												<td>{{chklist.chk_type}}</td>
												<td>{{chklist.created_by.username}}</td>
												<td><span class="badge badge-success">{{chklist.created_date|date}}</span></td>
												<td class="text-center">
													<div class="list-icons">
														<div class="dropdown">
															<a href="#" class="list-icons-item" data-toggle="dropdown">
																<i class="icon-menu9"></i>
															</a>
					
															<div class="dropdown-menu dropdown-menu-right">
																{% if user.is_superuser or user.get_company == chklist.created_by.get_company %}
																	{% if  perms.admin_site.delete_companydropdownsmaster %}
																	<a href="{%url 'admin:delete' model_name='CompanyDropdownsMaster' id=chklist.id%}" onclick="return confirm('Are you sure you want to delete this Lookup/Dropdown?');" href="#" class="dropdown-item"><i class="icon-trash"></i>Delete</a>
																	{% endif %}
																	{% if  perms.admin_site.change_companydropdownsmaster %}
																	<a  href="{%url 'admin:update_checklist' pk=chklist.id%}" class="dropdown-item"><i class="icon-pencil"></i>Edit</a>
																	{% endif %}
																{% endif %}
															</div>
														</div>
													</div>
												</td>
											</tr>
											{%endif%}
										{%endfor%}
									</tbody>
								</table>
							</div>
							<div class="tab-pane fade " id="basic-tab8">
								<p class="card-title">Laboratory Test Analysis Typs</p>
								<table class="table datatable-show-all">
									<thead>
										<tr>
											<th>#</th>
											<th>Value Name</th>
											<th>Attribute Type</th>
											<th>Created By</th>
											<th>Created Date</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
										{%for chklist in object_list%}
											{%if chklist.chk_type == "Laboratory Test Analysis" %}
											<tr>
												<td>{{forloop.counter}}</td>
												<td>{{chklist.name}}</td>
												<td>{{chklist.chk_type}}</td>
												<td>{{chklist.created_by.username}}</td>
												<td><span class="badge badge-success">{{chklist.created_date|date}}</span></td>
												<td class="text-center">
													<div class="list-icons">
														<div class="dropdown">
															<a href="#" class="list-icons-item" data-toggle="dropdown">
																<i class="icon-menu9"></i>
															</a>
					
															<div class="dropdown-menu dropdown-menu-right">
																{% if user.is_superuser or user.get_company == chklist.created_by.get_company %}
																	{% if  perms.admin_site.delete_companydropdownsmaster %}
																	<a href="{%url 'admin:delete' model_name='CompanyDropdownsMaster' id=chklist.id%}" onclick="return confirm('Are you sure you want to delete this Lookup/Dropdown?');" href="#" class="dropdown-item"><i class="icon-trash"></i>Delete</a>
																	{% endif %}
																	{% if  perms.admin_site.change_companydropdownsmaster %}
																	<a  href="{%url 'admin:update_checklist' pk=chklist.id%}" class="dropdown-item"><i class="icon-pencil"></i>Edit</a>
																	{% endif %}
																{% endif %}
															</div>
														</div>
													</div>
												</td>
											</tr>
											{%endif%}
										{%endfor%}
									</tbody>
								</table>
							</div>
							<div class="tab-pane fade " id="basic-tab9">
								<p class="card-title">Laboratory Equipments</p>
								<table class="table datatable-show-all">
									<thead>
										<tr>
											<th>#</th>
											<th>Value Name</th>
											<th>Attribute Type</th>
											<th>Created By</th>
											<th>Created Date</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
										{%for chklist in object_list%}
											{%if chklist.chk_type == "Laboratory Equipment" %}
											<tr>
												<td>{{forloop.counter}}</td>
												<td>{{chklist.name}}</td>
												<td>{{chklist.chk_type}}</td>
												<td>{{chklist.created_by.username}}</td>
												<td><span class="badge badge-success">{{chklist.created_date|date}}</span></td>
												<td class="text-center">
													<div class="list-icons">
														<div class="dropdown">
															<a href="#" class="list-icons-item" data-toggle="dropdown">
																<i class="icon-menu9"></i>
															</a>
					
															<div class="dropdown-menu dropdown-menu-right">
																{% if user.is_superuser or user.get_company == chklist.created_by.get_company %}
																	{% if  perms.admin_site.delete_companydropdownsmaster %}
																	<a href="{%url 'admin:delete' model_name='CompanyDropdownsMaster' id=chklist.id%}" onclick="return confirm('Are you sure you want to delete this Lookup/Dropdown?');" href="#" class="dropdown-item"><i class="icon-trash"></i>Delete</a>
																	{% endif %}
																	{% if  perms.admin_site.change_companydropdownsmaster %}
																	<a  href="{%url 'admin:update_checklist' pk=chklist.id%}" class="dropdown-item"><i class="icon-pencil"></i>Edit</a>
																	{% endif %}
																{% endif %}
															</div>
														</div>
													</div>
												</td>
											</tr>
											{%endif%}
										{%endfor%}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- Page length options main category -->
				
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Investment/Project Information Form Dropdowns Data</h5>
						<div class="header-elements">
							<div class="list-icons float-right">
								{% if perms.admin_site.add_projectdropdownsmaster %}
								<a  href="#" data-toggle="modal" data-target="#project_form" class="btn bg-teal btn-sm rounded-round"><i class="icon-add mr-2"></i>Add Project Lookups</a>
								{% endif %}
							</div>
						</div>
					</div>

					<div class="card-body">
						<ul class="nav nav-tabs">
							<li class="nav-item"><a href="#basic-tab1p" class="nav-link active" data-toggle="tab">Project Classification</a></li>
							<li class="nav-item"><a href="#basic-tab2p" class="nav-link" data-toggle="tab">Land Acquisition</a></li>
							<li class="nav-item"><a href="#basic-tab3p" class="nav-link" data-toggle="tab">Technology</a></li>
							<li class="nav-item"><a href="#basic-tab4p" class="nav-link" data-toggle="tab">Automation</a></li>
							<li class="nav-item"><a href="#basic-tab5p" class="nav-link" data-toggle="tab">Mode Of Project</a></li>
							<li class="nav-item"><a href="#basic-tab6p" class="nav-link" data-toggle="tab">Facility Design</a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane fade show active" id="basic-tab1p">
								<p class="card-title">Project Classification Lookups</p>
								<table class="table datatable-show-all">
									<thead>
										<tr>
											<th>#</th>
											<th>Value Name</th>
											<th>Attribute Type</th>
											<th>Created By</th>
											<th>Created Date</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
										{%for chklist in pl_objects%}
											{%if chklist.dropdown_type == "Project Classification"%}
											<tr>
												<td>{{forloop.counter}}</td>
												<td>{{chklist.name}}</td>
												<td>{{chklist.dropdown_type}}</td>
												<td>{{chklist.created_by.username}}</td>
												<td><span class="badge badge-success">{{chklist.created_date|date}}</span></td>
												<td class="text-center">
													<div class="list-icons">
														<div class="dropdown">
															<a href="#" class="list-icons-item" data-toggle="dropdown">
																<i class="icon-menu9"></i>
															</a>
					
															<div class="dropdown-menu dropdown-menu-right">
															{% if user.is_superuser or chklist.created_by.get_company == user.get_company %}
																{% if perms.admin_site.delete_projectdropdownsmaster %}
																<a href="{%url 'admin:delete' model_name='ProjectDropDownsMaster' id=chklist.id%}" onclick="return confirm('Are you sure you want to delete this Lookup/Dropdown?');" href="#" class="dropdown-item"><i class="icon-trash"></i>Delete</a>
																{% endif %}
																{% if perms.admin_site.change_projectdropdownsmaster %}
																<a  href="{%url 'admin:update_plookup' pk=chklist.id%}" class="dropdown-item"><i class="icon-pencil"></i>Edit</a>
																{% endif %}
															{% endif %}
															</div>
														</div>
													</div>
												</td>
											</tr>
											{%endif%}
										{%endfor%}
									</tbody>
								</table>
							</div>

							<div class="tab-pane fade " id="basic-tab2p">
								<p class="card-title">Land Acquisition Lookups</p>
								<table class="table datatable-show-all">
									<thead>
										<tr>
											<th>#</th>
											<th>Value Name</th>
											<th>Attribute Type</th>
											<th>Created By</th>
											<th>Created Date</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
										{%for chklist in pl_objects%}
											{%if chklist.dropdown_type == "Land Acquisition"%}
											<tr>
												<td>{{forloop.counter}}</td>
												<td>{{chklist.name}}</td>
												<td>{{chklist.dropdown_type}}</td>
												<td>{{chklist.created_by.username}}</td>
												<td><span class="badge badge-success">{{chklist.created_date|date}}</span></td>
												<td class="text-center">
													<div class="list-icons">
														<div class="dropdown">
															<a href="#" class="list-icons-item" data-toggle="dropdown">
																<i class="icon-menu9"></i>
															</a>
					
															<div class="dropdown-menu dropdown-menu-right">
																{% if user.is_superuser or chklist.created_by.get_company == user.get_company %}
																	{% if perms.admin_site.delete_projectdropdownsmaster %}
																	<a href="{%url 'admin:delete' model_name='ProjectDropDownsMaster' id=chklist.id%}" onclick="return confirm('Are you sure you want to delete this Lookup/Dropdown?');" href="#" class="dropdown-item"><i class="icon-trash"></i>Delete</a>
																	{% endif %}
																	{% if perms.admin_site.change_projectdropdownsmaster %}
																	<a  href="{%url 'admin:update_plookup' pk=chklist.id%}" class="dropdown-item"><i class="icon-pencil"></i>Edit</a>
																	{% endif %}
																{% endif %}
															</div>
														</div>
													</div>
												</td>
											</tr>
											{%endif%}
										{%endfor%}
									</tbody>
								</table>
							</div>

							<div class="tab-pane fade " id="basic-tab3p">
								<p class="card-title">Lookups for Technology that will be applied Attribute</p>
								<table class="table datatable-show-all">
									<thead>
										<tr>
											<th>#</th>
											<th>Value Name</th>
											<th>Attribute Type</th>
											<th>Created By</th>
											<th>Created Date</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
										{%for chklist in pl_objects%}
											{%if chklist.dropdown_type == "Technology" %}
											<tr>
												<td>{{forloop.counter}}</td>
												<td>{{chklist.name}}</td>
												<td>{{chklist.dropdown_type}}</td>
												<td>{{chklist.created_by.username}}</td>
												<td><span class="badge badge-success">{{chklist.created_date|date}}</span></td>
												<td class="text-center">
													<div class="list-icons">
														<div class="dropdown">
															<a href="#" class="list-icons-item" data-toggle="dropdown">
																<i class="icon-menu9"></i>
															</a>
					
															<div class="dropdown-menu dropdown-menu-right">
																{% if user.is_superuser or chklist.created_by.get_company == user.get_company %}
																	{% if perms.admin_site.delete_projectdropdownsmaster %}
																	<a href="{%url 'admin:delete' model_name='ProjectDropDownsMaster' id=chklist.id%}" onclick="return confirm('Are you sure you want to delete this Lookup/Dropdown?');" href="#" class="dropdown-item"><i class="icon-trash"></i>Delete</a>
																	{% endif %}
																	{% if perms.admin_site.change_projectdropdownsmaster %}
																	<a  href="{%url 'admin:update_plookup' pk=chklist.id%}" class="dropdown-item"><i class="icon-pencil"></i>Edit</a>
																	{% endif %}
																{% endif %}
															</div>
														</div>
													</div>
												</td>
											</tr>
											{%endif%}
										{%endfor%}
									</tbody>
								</table>
							</div>
							<div class="tab-pane fade " id="basic-tab4p">
								<p class="card-title">Automation Type Lookup Values</p>
								<table class="table datatable-show-all">
									<thead>
										<tr>
											<th>#</th>
											<th>Value Name</th>
											<th>Attribute Type</th>
											<th>Created By</th>
											<th>Created Date</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
										{%for chklist in pl_objects%}
											{%if chklist.dropdown_type == "Automation" %}
											<tr>
												<td>{{forloop.counter}}</td>
												<td>{{chklist.name}}</td>
												<td>{{chklist.dropdown_type}}</td>
												<td>{{chklist.created_by.username}}</td>
												<td><span class="badge badge-success">{{chklist.created_date|date}}</span></td>
												<td class="text-center">
													<div class="list-icons">
														<div class="dropdown">
															<a href="#" class="list-icons-item" data-toggle="dropdown">
																<i class="icon-menu9"></i>
															</a>
					
															<div class="dropdown-menu dropdown-menu-right">
																{% if user.is_superuser or chklist.created_by.get_company == user.get_company %}

																	{% if perms.admin_site.delete_projectdropdownsmaster %}
																	<a href="{%url 'admin:delete' model_name='ProjectDropDownsMaster' id=chklist.id%}" onclick="return confirm('Are you sure you want to delete this Lookup/Dropdown?');" href="#" class="dropdown-item"><i class="icon-trash"></i>Delete</a>
																	{% endif %}
																	{% if perms.admin_site.change_projectdropdownsmaster %}
																	<a  href="{%url 'admin:update_plookup' pk=chklist.id%}" class="dropdown-item"><i class="icon-pencil"></i>Edit</a>
																	{% endif %}
																{% endif %}
															</div>
														</div>
													</div>
												</td>
											</tr>
											{%endif%}
										{%endfor%}
									</tbody>
								</table>
							</div>
							<div class="tab-pane fade " id="basic-tab5p">
								<p class="card-title">Lookup values for Mode of Project Attribute</p>
								<table class="table datatable-show-all">
									<thead>
										<tr>
											<th>#</th>
											<th>Value Name</th>
											<th>Attribute Type</th>
											<th>Created By</th>
											<th>Created Date</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
										{%for chklist in pl_objects%}
											{%if chklist.dropdown_type == "Mode Of Project" %}
											<tr>
												<td>{{forloop.counter}}</td>
												<td>{{chklist.name}}</td>
												<td>{{chklist.dropdown_type}}</td>
												<td>{{chklist.created_by.username}}</td>
												<td><span class="badge badge-success">{{chklist.created_date|date}}</span></td>
												<td class="text-center">
													<div class="list-icons">
														<div class="dropdown">
															<a href="#" class="list-icons-item" data-toggle="dropdown">
																<i class="icon-menu9"></i>
															</a>
					
															<div class="dropdown-menu dropdown-menu-right">
																{% if user.is_superuser or chklist.created_by.get_company == user.get_company %}
																	{% if perms.admin_site.delete_projectdropdownsmaster %}
																	<a href="{%url 'admin:delete' model_name='ProjectDropDownsMaster' id=chklist.id%}" onclick="return confirm('Are you sure you want to delete this Lookup/Dropdown?');" href="#" class="dropdown-item"><i class="icon-trash"></i>Delete</a>
																	{% endif %}
																	{% if perms.admin_site.change_projectdropdownsmaster %}
																	<a  href="{%url 'admin:update_plookup' pk=chklist.id%}" class="dropdown-item"><i class="icon-pencil"></i>Edit</a>
																	{% endif %}
																{% endif %}
															</div>
														</div>
													</div>
												</td>
											</tr>
											{%endif%}
										{%endfor%}
									</tbody>
								</table>
							</div>
							<div class="tab-pane fade " id="basic-tab6p">
								<p class="card-title">Facility design Attribute Lookup values</p>
								<table class="table datatable-show-all">
									<thead>
										<tr>
											<th>#</th>
											<th>Value Name</th>
											<th>Attribute Type</th>
											<th>Created By</th>
											<th>Created Date</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
										{%for chklist in pl_objects%}
											{%if chklist.dropdown_type == "Facility Design" %}
											<tr>
												<td>{{forloop.counter}}</td>
												<td>{{chklist.name}}</td>
												<td>{{chklist.dropdown_type}}</td>
												<td>{{chklist.created_by.username}}</td>
												<td><span class="badge badge-success">{{chklist.created_date|date}}</span></td>
												<td class="text-center">
													<div class="list-icons">
														<div class="dropdown">
															<a href="#" class="list-icons-item" data-toggle="dropdown">
																<i class="icon-menu9"></i>
															</a>
					
															<div class="dropdown-menu dropdown-menu-right">
																{% if user.is_superuser or chklist.created_by.get_company == user.get_company %}
																	{% if perms.admin_site.delete_projectdropdownsmaster %}
																	<a href="{%url 'admin:delete' model_name='ProjectDropDownsMaster' id=chklist.id%}" onclick="return confirm('Are you sure you want to delete this Lookup/Dropdown?');" href="#" class="dropdown-item"><i class="icon-trash"></i>Delete</a>
																	{% endif %}
																	{% if perms.admin_site.change_projectdropdownsmaster %}
																	<a  href="{%url 'admin:update_plookup' pk=chklist.id%}" class="dropdown-item"><i class="icon-pencil"></i>Edit</a>
																	{% endif %}
																{% endif %}
															</div>
														</div>
													</div>
												</td>
											</tr>
											{%endif%}
										{%endfor%}
									</tbody>
								</table>
							</div>
							 
 
						</div>
					</div>
				</div>

				<!-- Dosage Card -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Pharmaceutical Product Dose and Dosage Forms</h5>
						<div class="header-elements">
							
						</div>
					</div>

					<div class="card-body">
						<ul class="nav nav-tabs">
							<li class="nav-item"><a href="#basic-tab1d" class="nav-link active" data-toggle="tab">Doses</a></li>
							<li class="nav-item"><a href="#basic-tab2d" class="nav-link" data-toggle="tab">Dosage Forms</a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane fade show active" id="basic-tab1d">
								<p class="card-title">Product Dose Lookups</p>
								{% if  perms.product.add_dose %}
								<a  href="#" data-toggle="modal" data-target="#dose_form_modal" class="float-right btn bg-teal btn-sm rounded-round"><i class="icon-add mr-2"></i>Add Dose</a>
								{% endif %}
								<table class="table datatable-show-all">
									<thead>
										<tr>
											<th>#</th>
											<th>Dose Name</th>
											<th>Dose Name Amharic</th>
											<th>Created By</th>
											<th>Created Date</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
										{%for chklist in doses%}
											<tr>
												<td>{{forloop.counter}}</td>
												<td>{{chklist.dose}}</td>
												<td>{{chklist.dose_am}}</td>
												<td>{{chklist.created_by.username}}</td>
												<td><span class="badge badge-success">{{chklist.created_date|date}}</span></td>
												<td class="text-center">
													<div class="list-icons">
														<div class="dropdown">
															<a href="#" class="list-icons-item" data-toggle="dropdown">
																<i class="icon-menu9"></i>
															</a>
					
															<div class="dropdown-menu dropdown-menu-right">
																{% if user.is_superuser or user.get_company == chklist.created_by.get_company %}
																	{% if perms.product.delete_dose %}
																	<a onclick="return confirm('Are you sure you want to delete this Lookup?');" href="{%url 'admin:delete' model_name='Dose' id=chklist.id%}"  class="dropdown-item"><i class="icon-trash"></i>Delete</a>
																	{% endif %}
																	{% if perms.product.change_dose %}
																	<a  href="{%url 'admin:update_dose' pk=chklist.id%}" class="dropdown-item"><i class="icon-pencil"></i>Edit</a>
																	{% endif %}
																{% endif %}
															</div>
														</div>
													</div>
												</td>
											</tr>
										{%endfor%}
									</tbody>
								</table>
							</div>

							<div class="tab-pane fade " id="basic-tab2d">
								<p class="card-title">Product Dosage Forms</p>
								{% if perms.product.add_dosageform %}
								<a  href="#" data-toggle="modal" data-target="#dosage_form_modal" class="float-right btn bg-teal btn-sm rounded-round"><i class="icon-add mr-2"></i>Add Dosage Form</a>
								{% endif %}
								<table class="table datatable-show-all">
									<thead>
										<tr>
											<th>#</th>
											<th>Name</th>
											<th>Description</th>
											<th>Created By</th>
											<th>Created Date</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
										{%for chklist in dosage_forms%}
											<tr>
												<td>{{forloop.counter}}</td>
												<td>{{chklist.dosage_form}}</td>
												<td>{{chklist.description|truncatechars_html:15|safe}}</td>
												<td>{{chklist.created_by.username}}</td>
												<td><span class="badge badge-success">{{chklist.created_date|date}}</span></td>
												<td class="text-center">
													<div class="list-icons">
														<div class="dropdown">
															<a href="#" class="list-icons-item" data-toggle="dropdown">
																<i class="icon-menu9"></i>
															</a>
					
															<div class="dropdown-menu dropdown-menu-right">
																{% if user.is_superuser or user.get_company == chklist.created_by.get_company %}
																	{% if perms.product.delete_dosageform %}
																	<a onclick="return confirm('Are you sure you want to delete this Lookup/Dropdown?');" href="{%url 'admin:delete' model_name='DosageForm' id=chklist.id%}"  class="dropdown-item"><i class="icon-trash"></i>Delete</a>
																	{% endif %}
																	{% if perms.product.change_dosageform %}
																	<a  href="{%url 'admin:update_dosage' pk=chklist.id%}" class="dropdown-item"><i class="icon-pencil"></i>Edit</a>
																	{% endif %}
																{% endif %}
															</div>
														</div>
													</div>
												</td>
											</tr>
										{%endfor%}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<!-- Research,Job Categories, -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Vacancy, Research Categories,Region & UOM List</h5>
						<div class="header-elements">
							
						</div>
					</div>

					<div class="card-body">
						<ul class="nav nav-tabs">
							<li class="nav-item"><a href="#basic-tab1e" class="nav-link active" data-toggle="tab">Vacancy Category</a></li>
							<li class="nav-item"><a href="#basic-tab2e" class="nav-link" data-toggle="tab">Research Category</a></li>
							<li class="nav-item"><a href="#basic-tab3e" class="nav-link" data-toggle="tab">Region</a></li>
							<li class="nav-item"><a href="#basic-tab4e" class="nav-link" data-toggle="tab">UOM</a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane fade show active" id="basic-tab1e">
								<p class="card-title">Vacancy Category Lookups</p>
						
								{% if  perms.collaborations.add_jobcategory %}
								<a  href="#" data-toggle="modal" data-target="#jobcat_form_modal" class="float-right btn bg-teal btn-sm rounded-round"><i class="icon-add mr-2"></i>Add Vacancy Category</a>
								{% endif %}
								<table class="table datatable-show-all">
									<thead>
										<tr>
											<th>#</th>
											<th>Category Name</th>
											<th>Category Name in Amharic</th>
											<th>Created By</th>
											<th>Created Date</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
										{%for cat in job_categories%}
										<tr>
											<td>{{forloop.counter}}</td>
											<td>{{cat.category_name}}</td>
											<td>{{cat.category_name_am}}</td>
											<td>{{cat.created_by.username}}</td>
											<td>{{cat.timestamp|date}}</td>
											<td class="text-center">
												<div class="list-icons">
													<div class="dropdown">
														<a href="#" class="list-icons-item" data-toggle="dropdown">
															<i class="icon-menu9"></i>
														</a>
															
														<div class="dropdown-menu dropdown-menu-right">
															{% if user.is_superuser or user == cat.created_by %}
																{% if perms.collaborations.delete_jobcategory %}
																<a href="{%url 'admin:delete' model_name='JobCategory' id=cat.id%}" class="dropdown-item" onclick="return confirm('Warning:\n If You delete this the Vacanies under this will be deleted')"><i class="icon-trash"></i>Delete Vacancy Category</a>
																{%endif%}
															
																{% if perms.collaborations.change_jobcategory %}
																<a href="{%url 'admin:update_vacancy_category' pk=cat.id%}" class="dropdown-item" >
																	<i class="icon-pencil"></i>Edit Vacancy Category</a>
																{%endif%}
															{%endif%}
															
															
														</div>
													</div>
												</div>
											</td>
										</tr>
										{%endfor%}
									</tbody>
								</table>
							</div>

							<div class="tab-pane fade " id="basic-tab2e">
								<p class="card-title">Research category Lookups</p>
								{% if perms.collaborations.add_researchprojectcategory  %}
								<a  href="#" data-toggle="modal" data-target="#research_form_modal" class="float-right btn bg-teal btn-sm rounded-round"><i class="icon-add mr-2"></i>Add Research Category</a>
								{% endif %}
								<table class="table datatable-show-all">
									<thead>
										<tr>
											<th>#</th>
											<th>Name</th>
											<th>Amharic Name</th>
											<th>Created By</th>
											<th>Created Date</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
										{%for chklist in research_categories%}
											<tr>
												<td>{{forloop.counter}}</td>
												<td>{{chklist.cateoryname}}</td>
												<td>{{chklist.cateoryname_am}}</td>
												<td>{{chklist.created_by.username}}</td>
												<td><span class="badge badge-success">{{chklist.created_date|date}}</span></td>
												<td class="text-center">
													<div class="list-icons">
														<div class="dropdown">
															<a href="#" class="list-icons-item" data-toggle="dropdown">
																<i class="icon-menu9"></i>
															</a>
					
															<div class="dropdown-menu dropdown-menu-right">
																{% if user.is_superuser or user == chklist.created_by%}
							
																	{% if perms.collaborations.delete_researchprojectcategory %}
																	<a href="{%url 'admin:delete' model_name='ResearchProjectCategory' id=chklist.id%}" class="dropdown-item" onclick="return confirm('Are you sure you want to Delete this')"><i class="icon-trash"></i>Delete Category</a>
																	{%endif%}
																	
																	{%endif%}
																	{% if user.is_superuser or user == chklist.created_by %}
								
																	{% if perms.collaborations.Change_researchprojectcategory %}
																	<a href="{%url 'admin:researchprojectcategory_detail' pk=chklist.id%}" class="dropdown-item"  >
																		<i class="icon-pencil"></i>Edit Category</a>
																		{%endif%}
							
																	{%endif%}
															</div>
														</div>
													</div>
												</td>
											</tr>
										{%endfor%}
									</tbody>
								</table>
							</div>
							<div class="tab-pane fade " id="basic-tab3e">
								<p class="card-title">Region List</p>
								{% if perms.admin_site.add_regionmaster %}
								<a  href="#" data-toggle="modal" data-target="#region_list_form" class="float-right btn bg-teal btn-sm rounded-round"><i class="icon-add mr-2"></i>Add Region</a>
								{% endif %}
								<table class="table datatable-show-all">
									<thead>
										<tr>
											<th>#</th>
											<th>Name</th>
											<th>Name in Amharic</th>
											<th>Created Date</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
										{%for chklist in region_list%}
											<tr>
												<td>{{forloop.counter}}</td>
												<td>{{chklist.name}}</td>
												<td>{{chklist.name_am}}</td>
												<td><span class="badge badge-success">{{chklist.timestamp|date}}</span></td>
												<td class="text-center">
													<div class="list-icons">
														<div class="dropdown">
															<a href="#" class="list-icons-item" data-toggle="dropdown">
																<i class="icon-menu9"></i>
															</a>
					
															<div class="dropdown-menu dropdown-menu-right">
							
																{% if perms.admin_site.delete_region %}
																<a href="{%url 'admin:delete' model_name='RegionMaster' id=chklist.id%}"  class="dropdown-item" onclick="return confirm('Are you sure you want to Delete this')"><i class="icon-trash"></i>Delete </a>
																{%endif%}
																							
																{% if perms.admin_site.change_region %}
																<a href="{%url 'admin:update_region' pk=chklist.id%}" class="dropdown-item"  >
																	<i class="icon-pencil"></i>Edit </a>
																{%endif%}
															</div>
														</div>
													</div>
												</td>
											</tr>
										{%endfor%}
									</tbody>
								</table>
							</div>
							<div class="tab-pane fade " id="basic-tab4e">
								<p class="card-title">Region List</p>
								<a  href="#" data-toggle="modal" data-target="#uom_list_form" class="float-right btn bg-teal btn-sm rounded-round"><i class="icon-add mr-2"></i>Add UOM</a>

								<table class="table datatable-show-all">
									<thead>
										<tr>
											<th>#</th>
											<th>Name</th>
											<th>Name in Amharic</th>
											<th>Created Date</th>
											<th class="text-center">Actions</th>
										</tr>
									</thead>
									<tbody>
										{%for chklist in uom_list%}
											<tr>
												<td>{{forloop.counter}}</td>
												<td>{{chklist.name}}</td>
												<td>{{chklist.name_am}}</td>
												<td><span class="badge badge-success">{{chklist.timestamp|date}}</span></td>
												<td class="text-center">
													<div class="list-icons">
														<div class="dropdown">
															<a href="#" class="list-icons-item" data-toggle="dropdown">
																<i class="icon-menu9"></i>
															</a>
					
															<div class="dropdown-menu dropdown-menu-right">
							
																{% if perms.admin_site.delete_region %}
																<a href="{%url 'admin:delete' model_name='uom_master' id=chklist.id%}"  class="dropdown-item" onclick="return confirm('Are you sure you want to Delete this')"><i class="icon-trash"></i>Delete </a>
																{%endif%}
																							
																{% if perms.admin_site.change_region %}
																<a href="{%url 'admin:update_uom' pk=chklist.id%}" class="dropdown-item"  >
																	<i class="icon-pencil"></i>Edit </a>
																{%endif%}
															</div>
														</div>
													</div>
												</td>
											</tr>
										{%endfor%}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>


				<!-- Background task controler -->
				<!-- When ever we want to control the notification by superuser -->
				<!-- <div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Control System Background Tasks</h5>
						<div class="header-elements">
							
						</div>
					</div>

					<div class="card-body">
						<div class = "row ">
							<div class = "card card-body ml-3">
								<h1>Control Event Notification</h1>
								<button>Enable Notification</button>
							</div>

							<div class = "card card-body ml-3">
								<h1>Control News Notification</h1>
								<button>Enable Notification</button>
							</div>

							<div class = "card card-body ml-3">
								<h1>Control Tender Notification</h1>
								<button>Enable Notification</button>
							</div>
							
						</div>
					</div>
				</div> -->


			</div>
			<!-- /content area -->
			<div id="dose_form_modal" class="modal fade" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Product Dose Form</h5>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<form action="{%url 'admin:create_dose' %}" method="POST">
							{%csrf_token%}
							<div class="modal-body">
								{{dose_form|crispy}}

							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
								<button type="submit" class="btn bg-primary">Submit form</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div id="dosage_form_modal" class="modal fade" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Product Dosage Form</h5>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<form action="{%url 'admin:create_dosage' %}" method="POST">
							{%csrf_token%}
							<div class="modal-body">
								{{dosage_form_form|crispy}}

							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
								<button type="submit" class="btn bg-primary">Submit form</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div id="jobcat_form_modal" class="modal fade" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Vacancy Category Form</h5>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<form action="{%url 'admin:create_vacancy_category' %}" method="POST">
							{%csrf_token%}
							<div class="modal-body">
								{{job_category_form|crispy}}

							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
								<button type="submit" class="btn bg-primary">Submit form</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div id="research_form_modal" class="modal fade" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Research Category Form</h5>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<form action="{%url 'admin:researchprojectcategory_form' %}" method="POST">
							{%csrf_token%}
							<div class="modal-body">
								{{research_category_form|crispy}}

							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
								<button type="submit" class="btn bg-primary">Submit form</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div id="chklist_form" class="modal fade" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">CheckList Form</h5>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<form action="{%url 'admin:create_checklist' %}" method="POST">
							{%csrf_token%}
							<div class="modal-body">
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6">
											<label>{{chkform.name.label}}</label>
											{{chkform.name}}
										</div>

										<div class="col-sm-6">
											<label>{{chkform.chk_type.label}}</label>
											{{chkform.chk_type}}
										</div>
									</div>
								</div>

							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
								<button type="submit" class="btn bg-primary">Submit form</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div id="region_list_form" class="modal fade" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Region Form</h5>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<form action="{%url 'admin:create_region' %}" method="POST">
							{%csrf_token%}
							<div class="modal-body">
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6">
											<label>{{region_form.name.label}}</label>
											{{region_form.name}}
										</div>

										<div class="col-sm-6">
											<label>{{region_form.name_am.label}}</label>
											{{region_form.name_am}}
										</div>
									</div>
								</div>

							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
								<button type="submit" class="btn bg-primary">Submit form</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div id="uom_list_form" class="modal fade" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Unit of Measurement Form</h5>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<form action="{%url 'admin:create_uom' %}" method="POST">
							{%csrf_token%}
							<div class="modal-body">
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6">
											<label>{{uom_form.name.label}}</label>
											{{uom_form.name}}
										</div>

										<div class="col-sm-6">
											<label>{{uom_form.name_am.label}}</label>
											{{uom_form.name_am}}
										</div>
										
									</div>
								</div>

							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
								<button type="submit" class="btn bg-primary">Submit form</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div id="project_form" class="modal fade" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Investment/Project Attributes Lookup Values/Dropdowns Form</h5>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<form action="{%url 'admin:create_plookup' %}" method="POST">
							{%csrf_token%}
							<div class="modal-body">
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6">
											<label>{{projectform.name.label}}</label>
											{{projectform.name}}
										</div>

										<div class="col-sm-6">
											<label>{{projectform.dropdown_type.label}}</label>
											{{projectform.dropdown_type}}
										</div>
									</div>
								</div>

							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
								<button type="submit" class="btn bg-primary">Submit form</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<script>
				$(document).ready(function(){
					$('.summernote').summernote();
				});
			</script>
{%endblock%}