{%extends 'frontpages/layout.html'%}
{%load i18n%}
{%load core_template_tags%}
{%block content%}
{% get_current_language as LANGUAGE_CODE %}

		<!--Sliders Section-->
		<div>
			<div class="cover-image sptb-1 bg-background" data-image-src="/static/frontpages/images/banners/banner1.jpg">
				<div class="header-text1 mb-0">
					<div class="container">
						<div class="row">
							<div class="col-xl-8 col-lg-12 col-md-12 d-block mx-auto">
								<div class="text-center text-white ">
									<h1 class=""><span class="font-weight-bold"></span>{% print_translated message message_am LANGUAGE_CODE %}</h1>
								</div>
								<form action="{% url 'tender_list'  %}" metho = "GET">
									<div class="search-background px-4 py-3 mt-4">
										<div class="form row row-sm">
											<div class="form-group  col-xl-10 col-lg-9 col-md-12 mb-0">
												<input type="text" name = 'by_title' class="form-control input-lg border-white" id="text" placeholder="Search tender by title">
											</div>
											<div class="col-xl-2 col-lg-3 col-md-12 mb-0">
												<button href="#" type = "submit" class="btn btn-lg btn-block btn-secondary">{% trans "Search" %}</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div><!-- /header-text -->
			</div>
		</div>
		<!--/Sliders Section-->

		<!--Breadcrumb-->
		<div class="bg-white border-bottom">
			<div class="container">
				<div class="page-header">
					<a href="{% url 'tender_list' %}"><h4 class="page-title">{% trans "Tenders" %}</h4></a>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "Home" %}</a></li> 
					</ol>
				</div>
			</div>
		</div>
		<!--/Breadcrumb-->

		<!--Add listing-->
		<section class="sptb">
			<div class="container">
				<div class="row">
					<div class="col-xl-9 col-lg-9 col-md-12">
						<!--Add lists-->
						<div class=" mb-lg-0">
							<div class="">
								<div class="item2-gl business-list-01">
									<div class="">
										<div class="bg-white p-5 item2-gl-nav d-flex">
											<h4 class="mb-0 mt-3">{% trans "Page" %} {{tenders.number}} {% trans "of" %} {{tenders.paginator.num_pages}}</h4>
											<ul class="nav item2-gl-menu ml-auto mt-1">
												<li class=""><a href="#tab-11" class="active show" data-toggle="tab" title="List style"><i class="fa fa-list"></i></a></li>
												<li><a href="#tab-12" data-toggle="tab" class="" title="Grid"><i class="fa fa-th"></i></a></li>
											</ul>
											<div class="d-sm-flex">
												<label class="mr-2 mt-2 mb-sm-1 sort-label">{% trans "Filter " %}:</label>
												<div class="selectgroup">
													<form action="{% url 'tender_list' %}" method="GET">
														<label class="selectgroup-item mb-md-0">
															<input type="hidden">
															<span class="selectgroup-button"><button style="border: hidden; background-color: white; color: #0a2045;" type="submit">{% trans "All" %}</button></span>
														</label>
														</form>
													
													<form action="{% url 'tender_list' %}" method="GET">
													<label class="selectgroup-item mb-md-0">
														<input type="hidden" name="by_document_type" value="Free">
														<span class="selectgroup-button"><button style="border: hidden; background-color: white; color: #0a2045;" type="submit">{% trans "Free Only" %}</button></span>
													</label>
													</form>

													<form action="{% url 'tender_list' %}" method="GET">
													<label class="selectgroup-item mb-md-0">
														<input type="hidden" name="by_document_type" value="Paid">
														<span class="selectgroup-button"><button style="border: hidden; background-color: white; color: #0a2045;" type="submit">{% trans "Paid Only" %}</button></span>
													</label>
													</form>

													<form action="{% url 'tender_list' %}" method="GET">
													<label class="selectgroup-item mb-md-0">
														{% if tenders.0.status != 'Open' %}
														<input type="hidden" name="by_status" value="Open">
														<span class="selectgroup-button"><button style="border: hidden; background-color: white; color: #0a2045;" type="submit">{% trans "Open Only" %}</button></span>
														{% else %}
														<input type="hidden" name="by_status" value="Open">
														<span class="selectgroup-button"><button style="border: hidden; background-color: white; color: #0a2045;" type="submit">{% trans "Open Only" %}</button></span>
														{% endif %}
													</label>
													</form>
													
													
												</div>
											</div>
										</div>
									</div>
								
									<div class="tab-content">
										<div class="tab-pane active" id="tab-11">
											{% for tender in tenders %}
											<div class="card overflow-hidden">
												<div class="d-md-flex">
													<div class="item-card9-img">
														<div class="item-card9-imgs">
															<a href="/collaborations/customer_tender_detail/{{tender.id}}/"></a>
															{% if tender.company.get_image %}
															<img src="{{tender.get_company.get_image}}"  alt="img" class="cover-image">
															{% else %}
															
															<img src="/static/frontpages/images/products/products/v1.jpg" alt="img" class="cover-image">
															{% endif %}
														</div>
														
														
													</div>
													<div class="card border-0 mb-0">
														<div class="card-body h-100">
															<div class="item-card9">
																<a href="/collaborations/customer_tender_detail/{{tender.id}}/" class="text-dark" style="margin-bottom: 3px;"><h4 class="font-weight-semibold mt-1 mb-1">{% print_translated tender.title|safe tender.title_am|safe LANGUAGE_CODE %}</h4></a>

																<a href="/collaborations/customer_tender_detail/{{tender.id}}/" class="text-dark" style="margin-bottom: 3px;"><p>{{tender.tender_type}}</p></a>
																
																{% if tender.status == 'Open' %}
																<div style="background-color: green; color:white; width: fit-content; padding: 5px; " >{% trans "Open" %}</div>
																{%elif tender.status == 'Upcoming' %}
																<div style="background-color: yellow; color:black; width: fit-content; padding: 5px;" >{% trans "Upcoming" %}</div>
																{%elif tender.status == 'Closed' %}
																<div style="background-color: red; color:white; width: fit-content; padding: 5px;" >{% trans "Closed" %}</div>
																{%endif%}

																
															</div>
														</div>
														<div class="card-footer pt-2 pb-2">
															<div class="item-card9-footer d-sm-flex">
																<div class="item-card9-cost">
																	<div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc">
																		<b>{% trans "By" %}: &nbsp</b>
																		<a class="" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="{% print_translated comp.name comp.name_am LANGUAGE_CODE %}">
																			<img src="{{tender.get_company.get_image}}" alt="image" class="avatar brround  mr-2">
																		</a>
																		
																		<a class="" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{tender.company.phone_number}}"><i class="fa fa-phone"></i></a>

																		<a class="" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{tender.company.location}}"><i class="fa fa-map-marker mr-1"></i></a>

																		<a class="mr-2" href="/chat/with/{{tender.created_by.username}}/" target="blank" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chat with staff"><i style = "color:blue;" class="fa fa-comments fa-"></i></a>
										
																		<a class="" href="/collaborations/customer_tender_detail/{{tender.id}}/" ><b class="btn btn-secondary btn-sm mt-1">{% trans "Tender Detail" %}</b></a>

																		
																		<br>
																		
																	</div>
																</div>
																<div class="ml-auto mt-3 mt-sm-0">
																	
																	<div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc"><small > <b>  {% trans "Posted" %}:</b> {{tender.created_date}}</small></div> 
																		
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											{%endfor%}
										</div>




									
									</div>
								</div>
								{% if tenders.has_other_pages %}
								<div class="center-block text-center">
									<ul class="pagination mb-5">
										{% if tenders.has_previous %}
										<li class="page-item page-prev "><a class="page-link" href="?page={{tenders.previous_page_number}}" tabindex="-1">{% trans "Prev" %}</a></li>
										{% else %}
										<li class="page-item page-prev disabled"><a class="page-link" href="#" tabindex="-1">{% trans "Prev" %}</a></li>
										{% endif %}
										
										{% for i in tenders.paginator.page_range %}
											{% if tenders.number == i %}
													<li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
											{% else %}
													<li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
											{% endif %}
										{% endfor %}

										{% if tenders.has_next %}
										<li class="page-item page-next"><a class="page-link" href="?page={{tenders.next_page_number}}">{% trans "Next" %}</a></li>
										{% else %}
										<li class="page-item page-next disabled"><a class="page-link" href="#">{% trans "Next" %}</a></li>
										{% endif %}
									</ul>
								</div>
								{% endif %}

							</div>
						</div>
						<!--/Add lists-->
					</div>

					<!--Right Side Content-->
					<div class="col-xl-3 col-lg-3 col-md-12">
						<!-- <div class="card">
							<div class="card-body">
								<div class="input-group">
									<input type="text" class="form-control br-tl-3 br-bl-3" placeholder="Search">
									<div class="input-group-append ">
										<button type="button" class="btn btn-secondary br-tr-3 br-br-3">
											{% trans "Search" %}
										</button>
									</div>
								</div>
							</div>
						</div> -->
						<div class="card mb-0">
							
							<form action="{% url 'tender_list' %}" method = "GET">
								<div class="card-header border-top">
									<h3 class="card-title">{% trans "Filter by company" %}</h3>
								</div>
								<div class="card-body">
									<div class="filter-product-checkboxs">
										{% for comp in companies %}
										<label class="custom-control custom-checkbox mb-2">
											<input type="checkbox" class="custom-control-input" name="by_company" value="{{comp.name}}">
											<span class="custom-control-label">
												{% print_translated comp.name comp.name_am LANGUAGE_CODE %}
											</span>
										</label>
										{% endfor %}
	
									</div>
								</div>
								<div class="card-footer">
									<button type = "submit" value="Something" href="#" class="btn btn-primary btn-block">{% trans "Apply Filter" %}</button>
								</div>
							</div>
							</form>
						</div>
						<br>
					
					</div>
					<!--/Right Side Content-->
				</div>
			</div>
		</section>
		<!--/Add Listings-->

	

		{%endblock%} 