{%extends 'frontpages/layout.html'%}
{%load i18n%}
{%load core_template_tags%}
{%block content%}
{% get_current_language as LANGUAGE_CODE %}



        <!--Breadcrumb-->
        <!-- Note -->
        
       
		<section>
			<div class="bannerimg cover-image bg-background3" data-image-src="/static/frontpages/images/banners/banner2.jpg">
				<div class="header-text mb-0">
					<div class="container">
						<div class="text-center text-white">
							<h1 class="">{% trans "Tender-Details" %}</h1>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="">{% trans "Home" %}</a></li>
								<li class="breadcrumb-item"><a href="{% url 'tender_list' %}">{% trans "Tenders list" %}/</a></li> 
								<li class="breadcrumb-item"><a href="#">{% trans "Tender" %}/</a></li> 
								
							</ol>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Breadcrumb-->

		<!--Tender Detail-->
		<section class="sptb">
            {% if tender %}
			<div class="container">
				<div class="row">
					<div class="d-block mx-auto col-lg-10 col-md-12">
						<div class="card">
							    <div class="card-body">
								    <a class =  "text-center" href="#" ><h2 class="font-weight-semibold text-capitalize">{% trans "Title" %}: {% print_translated tender.title tender.title_am LANGUAGE_CODE%}</h2></a>
							    <div class="item7-card-desc d-flex mb-2 mt-3">
                                
                                    <br><a href="#"><i class="fa fa-calendar-o text-muted mr-2" style = "margin-right: 20px;" ></i>{% trans "Start Date" %}:- <b>{{tender.start_date.date}}</b></a><p style="margin-left: 10px;"> </p>
                                    <a href="#"><i style = "margin-left: 10px;"class="fa fa-calendar-o text-muted mr-2" ></i> {% trans "End Date" %}:-<b> {{tender.end_date.date}}</b></a>
                                                  
								</div>

								<div class="item7-card-desc d-flex mb-2 mt-3">

								<a href="#"><i class="fa fa-user text-muted mr-2"  ></i>{% trans "By" %}:- <b> {% print_translated tender.get_company.name tender.get_company.name_am LANGUAGE_CODE %}</b></a>					
								<a class="mr-2" style = "  margin-right: 10px;" href="/chat/with/{{tender.user.username}}/" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chat with staff"><i style = "color:blue;" class="fa fa-comments fa-"></i></a>
										
								<a href="#">{% trans "Type" %}:-<b> {{tender.tender_type}}</b></a>

								{% if tender.tender_type == "Paid" %}
								<a href="#"><i class="fa fa-star text-muted mr-2" style="margin-left: 10px;"></i>{% trans "Price" %}:- <b> {{tender.document_price}} Birr</b></a>
								
								{% endif %}
								<a href="#"><i class="icon-users" style="margin-left: 10px;"></i>{% trans "Total Applications" %}:-<b> {{tender.get_applications.count}}</b></a>
								
								</div>

                                {% if tender.status == 'Open' %}
								<div  style="background-color: #66bb6a;; color:white; width: fit-content; padding: 5px; " >{% trans "Open" %}</div>
								{%elif tender.status == 'Upcoming' %}
								<div style="background-color: yellow; color:black; width: fit-content; padding: 5px;" >{% trans "Upcoming" %}</div>
								{%elif tender.status == 'Closed' %}
								<div style="background-color: #ef5350; color:white; width: fit-content; padding: 5px;" >{% trans "Closed" %}</div>
								{%else%} 
								<div style="background-color: blue; color:white; width: fit-content; padding: 5px;" >{% trans "Suspended" %}</div>
								{%endif%}
								<br>
								

								{% if tender.tender_type == "Free" %}
									<div style = "margin-top: 10px;" class = "row">
										{% if applied == True %}
									
											<div class = "choice-btn-group" class="badge badge-secondary" style="margin-right: 20px; margin-left: 15px; ">
													<span class="badge badge-secondary" style="padding: 10px;">
															<a id = "download" href="{{tender.document.url}}" download="{{tender.document.url}}" style="color: white;">{% trans "Download Document" %}</a>							
													</span>
											</div>
										{% endif %}

										
										
										{% if tender.status == "Open"%}
											{%if tender.get_company.name == user.get_company.name %}
												<h3 style="color:orangered;">{% trans "Users from tender company can't participate in their own tender!" %}</h3>
													
											{%elif not applied %}
												
												<div class = "choice-btn-group" class="badge badge-secondary" style="margin-right: 20px;">
													<span class="badge badge-secondary" style="padding: 10px;">
															<a  href="#"  data-toggle="modal" data-target="#participate" style="color: white;">{% trans "Participate in tender" %}</a>							
													</span>
												</div>
											{%endif%}

										{%else%}
											<br>
											<div style = "display: block;">
												<b style="margin-left: 10px;  color:orangered; padding: 3px;  display: block;">This tender is now in {{tender.status}} status. So, you can't participate in this tender. </b>
												
											</div>
										{%endif%}
									</div>

								{%else%}
								<br>
								<div style = "display: block;">
									<b style="margin-left: 10px; padding:5px; color:orangered; color:  block;">
										<h4>{% trans "This Tender is not Free, You can read the description below and attend the tender in person!" %}</h4> 
									</b>
									
								</div>
								
									<!-- <a style = "margin-top: 10px;" data-toggle="modal" data-target="#buy_document" class = "btn btn-secondary btn-sm mt-4">
										<i class="fa fa-money" style="margin-right: 5px;" ></i>Buy Document</a>
									 -->
								
								{% endif %}

								<br>
								<h2 style =  "margin-top: 20px;"class  = "text-center"><b>{% trans "Tender description" %}</b></h2>
								<p class="font-13  col-lg-10 col-md-12">{% print_translated tender.description|safe tender.description_am|safe LANGUAGE_CODE%}</p>
								

								
								<!-- Free participant Form -->
								<div class="modal fade" id="participate" tabindex="-1" role="dialog"  aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
												<form action="/collaborations/tender_application/{{tender.id}}/" method="POST" enctype="multipart/form-data">
													{%csrf_token%}
													<div class="modal-header">
														<h5 class="modal-title" id="examplecontactLongTitle">{% trans "Applicant Form" %}</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
														</button>
													</div>

													
													<div class="modal-body">

														<div class="form-group">
															<label>{% trans "First Name" %}: </label>
															{{applicant_form.first_name}}
														</div>
														<div class="form-group">
															<label>{% trans "Last Name" %}: </label>
															{{applicant_form.last_name}}
														</div>
														<div class="form-group">
															
															<label>{% trans "Company Name" %}: </label>
															{{applicant_form.company_name}}
														</div>
														<div class="form-group">
															<label>{% trans "Company Tin Number" %}: </label>
															{{applicant_form.company_tin_number}}
														</div>
														<div class="form-group">
															<label>{% trans "Email" %}: </label>
															{{applicant_form.email}}																			</div>
														<div class="form-group">
															<label>{% trans "Phone Number" %}: </label>
															{{applicant_form.phone_number}}	
														</div>

													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-danger" data-dismiss="modal">{% trans "Cancel" %}</button>
														<button type="submit" class="btn btn-success">{% trans "Submit" %}</button>
													</div>
												</form>
										</div>
									</div>
								</div>
                                


							</div>
						</div>

                        
					</div>
				</div>
            </div>

            {% else %}
                <h2> {% trans "Search" %}Tender Not found!</h2>
            {% endif %}
		</section>
		<!--/Add listing-->

	
{%endblock%}
