{%extends 'frontpages/layout.html'%}
{%load i18n%}
{%load core_template_tags%}

{%block content%}
{% get_current_language as LANGUAGE_CODE %}



        <!--Breadcrumb-->
        <!-- Note -->
        
       
		<section>
			<div class="bannerimg cover-image bg-background3" data-image-src="/static/frontpages/images/banners/banner2.jpg">
				<div class="header-text mb-0">
					<div class="container">
						<div class="text-center text-white">
							<h1 class="">Tender-Details</h1>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="">Home</a></li>
								<li class="breadcrumb-item"><a href="/collaborations/tender_list/">Tender</a></li>
								<li class="breadcrumb-item active text-white" aria-current="page">Tender List</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Breadcrumb-->

		<!--Tender Detail-->
		<section class="sptb">
            {% if tender %}
			<div class="container">
				<div class="row">
					<div class="d-block mx-auto col-lg-10 col-md-12">
						<div class="card">
							    <div class="card-body">
								    <a class =  "text-center" href="#" ><h2 class="font-weight-semibold text-capitalize">Title: {% print_translated tender.title tender.title_am LANGUAGE_CODE%}</h2></a>
							    <div class="item7-card-desc d-flex mb-2 mt-3">
                                
                                    <br><a href="#"><i class="fa fa-calendar-o text-muted mr-2" style = "margin-right: 20px;" ></i>Start Date:- <b>{{tender.start_date}}</b></a><p style="margin-left: 10px;"> To </p>
                                    <a href="#"><i style = "margin-left: 10px;"class="fa fa-calendar-o text-muted mr-2" ></i>End Date:-<b> {{tender.end_date}}</b></a>
                                                  
								</div>

								<div class="item7-card-desc d-flex mb-2 mt-3">
								<a href="#"><i class="fa fa-user text-muted mr-2"  ></i>By:- <b> {{tender.get_company.company_name }}</b></a>					
								<a href="#"><i class="fa fa-star text-muted mr-2" style="margin-left: 10px;"></i>Type:-<b> {{tender.tender_type}}</b></a>
								{% if tender.tender_type == "Paid" %}
								<a href="#"><i class="fa fa-star text-muted mr-2" style="margin-left: 10px;"></i>Price:- <b> {{tender.document_price}} Birr</b></a>
								
								{% endif %}
								<a href="#"><i class="icon-users" style="margin-left: 10px;"></i>Total Applications:-<b> {{tender.get_applications.count}}</b></a>
								
								</div>

                                {% if tender.status == 'Open' %}
								<div  style="background-color: #66bb6a;; color:white; width: fit-content; padding: 5px; " >Open</div>
								{%elif tender.status == 'Pending' %}
								<div style="background-color: yellow; color:white; width: fit-content; padding: 5px;" >Pending</div>
								{%elif tender.status == 'Closed' %}
								<div style="background-color: #ef5350; color:white; width: fit-content; padding: 5px;" >Closed</div>
								{%else%} 
								<div style="background-color: blue; color:white; width: fit-content; padding: 5px;" >Suspended</div>
								{%endif%}
								<br>
								

								{% if tender.tender_type == "Free" %}
									<div style = "margin-top: 10px;" class = "row">
										{% if applied == True %}
									
											<div class = "choice-btn-group" class="badge badge-secondary" style="margin-right: 20px; margin-left: 15px; ">
													<span class="badge badge-secondary" style="padding: 10px;">
															<a id = "download" href="{{tender.document.url}}" download="{{tender.document.url}}" style="color: white;">Download Document</a>							
													</span>
											</div>
										{% endif %}

										
										<!-- <form action ="{% url 'download' id=tender.id %}" method="GET" enctype="multipart/form-data">
												<input type="submit" value = "Download">
										</form> -->
										{% if tender.status == "Open"%}
											{%if tender.get_company.company_name == user.get_company_name %}
												<h3>Users from tender company can't participate in their own tender!</h3>
												<div class = "choice-btn-group" class="badge badge-secondary" style="margin-right: 20px; margin-left: 15px; ">
													<span class="badge badge-secondary" style="padding: 10px;">
															<a id = "download" href="{{tender.document.url}}" download="{{tender.document.url}}" style="color: white;">Download Document</a>							
													</span>
											</div>

											{%elif not applied %}
												
												<div class = "choice-btn-group" class="badge badge-secondary" style="margin-right: 20px;">
													<span class="badge badge-secondary" style="padding: 10px;">
															<a  href="#"  data-toggle="modal" data-target="#participate" style="color: white;">Participate in tender</a>							
													</span>
												</div>
											{%endif%}

										{%else%}
											<br>
											<div style = "display: block;">
												<label style="margin-left: 10px; background-color:orangered; color: white; display: block;">This tender is now in {{tender.status}} status. So, you can't participate in this tender. </label>
												
											</div>
										{%endif%}
									</div>

								{%else%}
								<br>
								<div style = "display: block;">
									<label style="margin-left: 10px; padding:5px; background-color:orangered; color: white; display: block;">
										<h4>This Tender is not Free, You can read the description below and attend the tender in person!</h4> 
									</label>
									
								</div>
								
									<!-- <a style = "margin-top: 10px;" data-toggle="modal" data-target="#buy_document" class = "btn btn-secondary btn-sm mt-4">
										<i class="fa fa-money" style="margin-right: 5px;" ></i>Buy Document</a>
									 -->
								
								{% endif %}

								<br>
								<h2 style =  "margin-top: 20px;"class  = "text-center"><b>Tender description</b></h2>
								<p class="font-13  col-lg-10 col-md-12">{{tender.description|safe}}</p>
								

								
								<!-- Free participant Form -->
								<div class="modal fade" id="participate" tabindex="-1" role="dialog"  aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
												<form action="/collaborations/tender_application/{{tender.id}}/" method="POST" enctype="multipart/form-data">
													{%csrf_token%}
													<div class="modal-header">
														<h5 class="modal-title" id="examplecontactLongTitle">Applicant Form</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
														</button>
													</div>

													
													<div class="modal-body">

														<div class="form-group">
															<label>First Name: </label>
															{{applicant_form.first_name}}
														</div>
														<div class="form-group">
															<label>Last Name: </label>
															{{applicant_form.last_name}}
														</div>
														<div class="form-group">
															
															<label>Company Name: </label>
															{{applicant_form.company_name}}
														</div>
														<div class="form-group">
															<label>Company Tin Number: </label>
															{{applicant_form.company_tin_number}}
														</div>
														<div class="form-group">
															<label>Email: </label>
															{{applicant_form.email}}																			</div>
														<div class="form-group">
															<label>Phone Number: </label>
															{{applicant_form.phone_number}}	
														</div>

													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
														<button type="submit" class="btn btn-success">Submit</button>
													</div>
												</form>
										</div>
									</div>
								</div>
                                


							</div>
						</div>

                        
					</div>
				</div>
            </div>

            {% else %}
                <h2> Tender Not found!</h2>
            {% endif %}
		</section>
		<!--/Add listing-->

		<!-- Newsletter-->
		<section class="sptb border-top bg-white">
			<div class="container">
				<div class="section-title center-block text-center">
					<h2>Subscribe To Our Newsletter</h2>
					<p>Mauris ut cursus nunc. Morbi eleifend, ligula at consectetur vehicula</p>
				</div>
				<div class="row">
					<div class="col-lg-10 col-xl-8 col-md-12 mx-auto d-block text-center">
						<div class="input-group sub-input mt-0">
							<input type="text" class="form-control input-lg " placeholder="Enter your Email">
							<div class="input-group-append ">
								<button type="button" class="btn btn-secondary btn-lg br-tr-3 br-br-3 pl-5 pr-5">
									Subscribe
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Newsletter-->
{%endblock%}
