{%extends 'admin/base_site.html'%}
{% block extrastyle %}

<!-- Theme JS files -->
<script src="/static/admin/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/datatables_advanced.js"></script>
<!-- /theme JS files -->

{% endblock %}
{%block pagename%}Forum Question List{%endblock%}
{%block content%}

<!-- Content area -->
<div class="content">

	<!-- Page length options main category -->
	
	<!-- /page length options -->

	<!-- Page length options sub-category-->
	
	<div class="card">
		<div class="card-header header-elements-inline">
			<h5 class="card-title">Forum Question</h5>
			<div class="header-elements">
				<div class="list-icons">
					{% if perms.collaborations.add_forumquestion %} 
					<a href="{% url 'admin:forum_form'%}" class="btn bg-teal btn-sm rounded-round"><i
							class="icon-add mr-2"></i>Add New Forum Question</a>{% endif %}
				</div>
			</div>
		</div>

		<table class="table datatable-show-all">
			<thead>
				<tr>
					<th>#</th>
					<th>Title</th>
					<th>Created By</th>
					<th>Created ON</th>
					<th>Attachements</th>
					<th>Comments</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead> 
			<tbody>
				{%for forum in object_list%}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{forum.title|truncatechars_html:20}}</td>
					<td>{{forum.created_by.username}}</td>
					<td>{{forum.created_date}}</td>

					<td>
						{%if forum.attachements%}
							<a href="{{forum.attachements.url}}" download="{{forum.attachements.url}}"> 
							 Attachment
						 </a>
						 {%else%}
						 	No Attachment
						 {%endif%}
                                   		
                    </td>
					<td><a class="mr-0" href="{%url 'admin:Forum_Comments' id=forum.id%}"><i class="fa fa-comment-o text-muted mr-2"></i>{{forum.countComment}}
					</a></td>
					
					
					<td class="text-center">
						<div class="list-icons">
							<div class="dropdown">
								<a href="#" class="list-icons-item" data-toggle="dropdown">
									<i class="icon-menu9"></i>
								</a>
									
								<div class="dropdown-menu dropdown-menu-right">
									{% if user.is_superuser or user.get_company == forum.created_by.get_company %}

									{% if perms.collaborations.delete_forumquestion %} 
									<a href="{%url 'admin:delete' model_name='ForumQuestionAdmin' id=forum.id%}" class="dropdown-item" onclick="return confirm('Are you sure you want to Delete this')"><i class="icon-trash"></i>Delete Question</a>
									{% endif%}
									{% endif%}
									{% if user.is_superuser or user.get_company == forum.created_by.get_company %}
									
									{% if perms.collaborations.change_forumquestion %} 
									<a href="{%url 'admin:forum_detail' model_name='ForumQuestion' id=forum.id%}" class="dropdown-item"  >
										<i class="icon-pencil"></i>Edit Question</a>
									{% endif%}
									{% endif%}
								</div>
							</div>
						</div>
					</td>
				</tr>
				{%endfor%}
			</tbody>
		</table>
	</div>
	<!-- /page length options -->


</div>
<!-- /content area -->
{%endblock%}