{%extends 'frontpages/company/company_layout.html'%}
{%load i18n%}
{%load core_template_tags%}

{%block title%}{{object.name}} -Contact{%endblock%}
{%block content%}
{% get_current_language as LANGUAGE_CODE %}

		<!--Breadcrumb-->
		<section>
			<div class="bannerimg cover-image bg-background3" data-image-src="/static/frontpages/images/banners/banner2.jpg">
				<div class="header-text mb-0">
					<div class="container">
						<div class="text-center text-white">
							<h1 class="">{% print_translated object.name object.name_am LANGUAGE_CODE %} {% trans "Polls" %}</h1>
							<ol class="breadcrumb text-center">
					
							
								<li class="breadcrumb-item"><a href="{% url 'company_home' pk=object.id %}">{% trans "Company Home Page" %} </a></li>
								
								<li class="breadcrumb-item active text-white" aria-current="page">{% trans "Company Polls List" %} </li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Breadcrumb-->

		<!--Add listing-->
		<section class="sptb">
			<div class="container">
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="row">
							
							{%for obj in object_list%}

							<div class="col-xl-4 col-lg-6 col-md-12">
								<div class="card">
									<div class="item7-card-img">
										<a href="/collaborations/customer_news_detail/{{news.id}}/"></a>
															{% if object.get_image %}
															<img src="{{object.get_image}}" width = "370px" height= "200px" alt="img" class="cover-image">
															{% else %}
															
															<img src="/static/frontpages/images/products/products/v1.jpg" width = "370px" height= "200px" alt="img" class="cover-image">
															{% endif %}

															
									</div>
									<div class="card-body">
										<div class="item7-card-desc d-flex mb-2">
											<a href="#"><i class="fa fa-cman mr-2"></i><b>{% trans "By" %}: {% print_translated object.name object.name_am LANGUAGE_CODE%}</b></a>
											<a href="#"><i class="fa fa-calendar-o text-muted mr-2"></i>{{obj.created_date}}</a>
											<!-- <div class="ml-auto">
												<a class="mr-0" href="#"><i class="fa fa-comment-o text-muted mr-2"></i>4 Comments</a>
											</div> -->
										</div>
										<a href="#" class="text-dark">
											<h4 class="font-weight-semibold">
																{% if obj.count_choices > 1 %}
																		{{obj.count_choices}} {% trans "Choices" %}
																{% else %}
																		{{obj.count_choices}} {% trans "Choice" %}
																{%endif%}

											</h4>
										</a>
										{% if obj.count_choices > 0 %}
										<p class="mr-0" style="display: block;">
												{% if obj.count_votes > 1 %}
													{{obj.count_votes}} 
													{% trans "Votes" %}
												{% else %}
													{{obj.count_votes}} 
													{% trans "Vote" %}
												{%endif%}
												<i class="fa fa-hand-stop-o text-muted mr-2"></i>
										</p>
										{% endif %}
										<a target="_blank" href="{% url 'company_poll_detail' id=obj.id %}" class="btn btn-secondary btn-sm">{% trans "Poll Detail" %}</a>
									</div>
								</div>
							</div>
							{%endfor%}
						</div>
						
						{% if page_obj.has_other_pages %}
						
						<div class="d-sm-flex">
							<h4 class="mb-0 mt-3">{% trans "Pages" %} {{page_obj.number}} {% trans "of" %} {{page_obj.paginator.num_pages}}</h4>
							<ul class="pagination mb-lg-0 mb-5 ml-auto">
								{% if page_obj.has_previous %}
										<li class="page-item page-prev "><a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1">{% trans "Prev" %}</a></li>
										{% else %}
										<li class="page-item page-prev disabled"><a class="page-link" href="#" tabindex="-1">{% trans "Prev" %}</a></li>
										{% endif %}
										
										{% for i in page_obj.paginator.page_range %}
											{% if page_obj.number == i %}
													<li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
											{% else %}
													<li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
											{% endif %}
										{% endfor %}

										{% if page_obj.has_next %}
										<li class="page-item page-next"><a class="page-link" href="?page={{page_obj.next_page_number}}">{% trans "Next" %}</a></li>
										{% else %}
										<li class="page-item page-next disabled"><a class="page-link" href="#">{% trans "Next" %}</a></li>
										{% endif %}
							</ul>
						</div>
					{% endif %}




					</div>
				</div>
			</div>
		</section>
		<!--/Add listing-->

		
		{%endblock%}