{%extends 'frontpages/company/company_layout.html'%}
{%load i18n%}
{%load core_template_tags%}

{%block title%}{{object.name}} -{% trans "Faq Detail" %}{%endblock%}
{%block content%}
{% get_current_language as LANGUAGE_CODE %}
		<!--Breadcrumb-->
		<section>
			<div class="bannerimg cover-image bg-background3" data-image-src="/static/frontpages/images/banners/banner2.jpg">
				<div class="header-text mb-0">
					<div class="container">
						<div class="text-center text-white">
							<h1 class="">{% trans "Faqs" %}</h1>
							<ol class="breadcrumb" >
                                <li class="breadcrumb-item"><a href="{% url 'company_home' pk=object.id %}">{% trans "Company Home Page" %} </a></li>
								<li class="breadcrumb-item"><a href="{% url 'company_faq' pk=object.id %}">{% trans "Company Faq List" %} </a> </li>
                                <li class="breadcrumb-item active text-white" aria-current="page">{% trans "Faq Details" %}</li>
                            </ol>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Breadcrumb-->

		<!--Add listing-->
		<section class="sptb">
			<div class="container">
				<div class="row">
					<div class="d-block mx-auto col-lg-10 col-md-12">
						<div class="card">
							<div class="card-body">
								<div class="item7-card-img">
                                    <img src="{{object.get_image}}" alt="img" class="w-100" height = 370px>
                                    
                                </div>
								<div class="item7-card-desc d-flex mb-2 mt-3">
									<a href="#"><i class="fa fa-calendar-o text-muted mr-2"></i>{{obj.created_date.date}}</a>
									<a href="#"><i class="fa fa-user text-muted mr-2"></i>{{obj.created_by.username}}</a>
								
								</div>
                                <br>
								<a href="#" class="text-body"><h3 class="font-weight-semibold text-capitalize">{%print_translated obj.questions obj.questions_am LANGUAGE_CODE%}</h3></a>
								
								<p class = "mr-5">
									{% print_translated obj.answers obj.answers_am LANGUAGE_CODE %}
								</p>
							
							</div>
						</div>

						<!--Comments-->
						<div class="card">
						
						</div>
			
					</div>
				</div>
			</div>
		</section>
		<!--/Add listing-->

		<!-- Newsletter-->
		<section class="sptb border-top bg-white">
			<div class="container">
				<div class="section-title center-block text-center">
					<h2>Subscribe To Our Newsletter</h2>
					<p>Mauris ut cursus nunc. Morbi eleifend, ligula at consectetur vehicula</p>
				</div>
				<div class="row">
					<div class="col-lg-10 col-xl-8 col-md-12 mx-auto d-block text-center">
						<div class="input-group sub-input mt-0">
							<input type="text" class="form-control input-lg " placeholder="Enter your Email">
							<div class="input-group-append ">
								<button type="button" class="btn btn-secondary btn-lg br-tr-3 br-br-3 pl-5 pr-5">
									Subscribe
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Newsletter-->
{%endblock%}