{%extends 'frontpages/layout.html'%}
{%load i18n%}
{%load core_template_tags%}
{%block content%}
{% get_current_language as LANGUAGE_CODE %}

		<!--Sliders Section-->
		<div>
			<div class="cover-image sptb-1 bg-background" data-image-src="/static/frontpages/images/banners/banner1.jpg">
				<div class="header-text1 mb-0">
					<div class="container">
						<div class="row">
							<div class="col-xl-8 col-lg-12 col-md-12 d-block mx-auto">
								<div class="text-center text-white ">
									<h1 class=""><span class="font-weight-bold">{% print_translated message message_am LANGUAGE_CODE %}</span> </h1>
								</div>
								<div class="search-background px-4 py-3 mt-4">
									<form action="{% url 'search_company'%}" method="GET">
									<div class="form row row-sm">
										<div class="form-group  col-xl-6 col-lg-5 col-md-12 mb-0">
											<input type="text" name="name" class="form-control input-lg border-white" id="text" placeholder="Search Company">
										</div>
										<div class="form-group col-xl-4 col-lg-4 select2-lg  col-md-12 mb-0 border-white">
											<select name="sector" class="form-control select2-show-search w-100" data-placeholder="Select">
												<optgroup label="Categories">
													<option>Select</option>
													{%for sub_sec in sub_sectors%}
													<option value="{{sub_sec.id}}">{{sub_sec.category_name}}</option>
													{%endfor%}
												</optgroup>
											</select>
										</div>
										<div class="col-xl-2 col-lg-3 col-md-12 mb-0">
											<button type="submit" class="btn btn-lg btn-block btn-secondary">{% trans "Search" %}</button>
										</div>
									</div>
								</form>
								</div>
							</div>
						</div>
					</div>
				</div><!-- /header-text -->
			</div>
		</div>
		<!--/Sliders Section-->

		<!--Breadcrumb-->
		<div class="bg-white border-bottom">
			<div class="container">
				<div class="page-header">
					<h4 class="page-title">{% trans "Industry List" %}</h4>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{%url 'index'%}">{% trans "Home" %}</a></li>
						<li class="breadcrumb-item active" aria-current="page">{% trans "Industries" %}</li>
					</ol>
				</div>
			</div>
		</div>
		<!--/Breadcrumb-->

		<!--Add listing-->
		<section class="sptb">
			<div class="container">
				<div class="row">
					<div class="col-xl-8 col-lg-8 col-md-12">
						<!--Add lists-->
						<div class=" mb-lg-0">
							<div class="">
								<div class="item2-gl ">
									<div class="">
										<div class="bg-white p-5 item2-gl-nav d-flex">
											<h6 class="mb-0 mt-3">{% trans "Showing"%} {{object_list.count}} {% trans "entries"%}</h6>
											<ul class="nav item2-gl-menu ml-auto mt-1">
												<li class=""><a href="#tab-11" class="active show" data-toggle="tab" title="List style"><i class="fa fa-list"></i></a></li>
												<li><a href="#tab-12" data-toggle="tab" class="" title="Grid"><i class="fa fa-th"></i></a></li>
											</ul>
											
										</div>
									</div>
									<div class="tab-content">
										<div class="tab-pane active" id="tab-11">
											{%for company in object_list%}
											<div class="card overflow-hidden">
												<!-- <div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">New</span></div> -->
												<div class="d-md-flex">
													<div class="item-card9-img">
														<div class="item-card9-imgs">
															<a href="{% url 'company_home' pk=company.id %}" target = "black"></a>
															<img src="{{company.logo.url}}" alt="img" class="cover-image">
															<!-- /media/Images/News%20Images/wp2234690.png -->
														</div>
														<div class="item-card9-icons">
															{% if user.is_authenticated %}
																{% user_liked_company user company.id  as liked %}
																{% if liked == True %}
																<a  class="item-card9-icons1 wishlist" id="like_{{company.id}}" name="{{company.id}}" style = "background-color: rgb(252, 67, 67);" title = "liked" onclick="like_or_dislike('like_{{company.id}}')"> <i style="color:white; "class="fa fa fa-heart-o"></i></a>
																		
																{% else %}
																<a  class="item-card9-icons1 wishlist" id="like_{{company.id}}" name="{{company.id}}" style  title = "" onclick="like_or_dislike('like_{{company.id}}')"> <i style="color:white; "class="fa fa fa-heart-o"></i></a>
																
																	
																{% endif %}
															{% else %}
															<a  href= "/accounts/login/?next=/company/like_company"  class="item-card9-icons1 wishlist" id="like_{{company.id}}" > <i style="color:white; " class="fa fa fa-heart-o"></i></a>

															{% endif %}
															
														</div>
														<div class="item-cardreview-absolute bg-secondary">{%print_translated company.main_category company.main_category LANGUAGE_CODE%}</div>
													</div>
													<div class="card border-0 mb-0">
														<div class="card-body h-100">
															<div class="item-card9">
																<a href="{% url 'company_home' pk=company.id %}" target = "black" class="text-dark"><h4 class="font-weight-semibold mt-1 mb-1">{% print_translated company.name company.name_am LANGUAGE_CODE %}</h4></a>
																<div class="rating-stars d-flex mr-5">
																	<input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="3">
																	<a class="fs-13 leading-tight mt-1" href="#">{{company|company_product_count}} Products</a>
																</div>
																<div class="mt-2 mb-2">
																	<!-- <a href="#" class="mt-1 mb-1 mr-3 text-dark"><i class="fa fa-globe mr-1"></i>{{company.geo_location.x}} , {{company.geo_location.y}}</a> -->
																	<a href="#" class="mt-1 mb-1 mr-1 text-muted"><i class="fa fa-map-marker mr-1"></i>{{company.get_company_address.city_town}}, {{company.get_company_address.local_area}}, {{company.get_company_address.fax}}</a>
																</div>
															</div>
														</div>
														<div class="card-footer pt-2 pb-2">
															<div class="item-card9-footer d-sm-flex">
																<div class="item-card9-cost">
																	<div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc">
																		<a class="" href="mailto:{{company.get_company_address.email}}" ><i class="fa fa-envelope"></i></a>
																		<a class="" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{company.get_company_address.phone_number}}"><i class="fa fa-phone"></i></a>
																		<a class="" href="{{company.get_company_address.googlelink}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{company.get_company_address.googlelink}}"><i class="fa fa-globe"></i></a>
														
																		<a class="" href="/chat/with/{{company.contact_person.username}}/" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chat with staff"><i style = "color:blue;" class="fa fa-comments fa-"></i></a>
																		
																		<a class="" href="#"><i class="fa fa-share-alt"></i></a>
																	</div>
																</div>
															
															</div>
														</div>
													</div>
												</div>
											</div>
											 
											{%endfor%}
										</div>
										<div class="tab-pane" id="tab-12">
											<div class="row">
												{%for company in object_list%}
												<div class="col-lg-6 col-md-6 col-xl-6">
													<div class="card overflow-hidden">
														<!-- <div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">New</span></div> -->
														<div class="h-100">
															<div class="item-card9-img">
																<div class="item-card9-imgs">
																	<a href="{% url 'company_home' pk=company.id %}" target = "black"></a>
																	<img src="{{company.logo.url}}" alt="img" class="cover-image">
																</div>
																<div class="item-card9-icons">
																	{% if user.is_authenticated %}
																		{% user_liked_company user company.id  as liked %}
																		{% if liked == True %}
																		<a  class="item-card9-icons1 wishlist" id="glike_{{company.id}}" name="{{company.id}}" style = "background-color: rgb(252, 67, 67);" title = "liked" onclick="like_or_dislike('glike_{{company.id}}')"> <i style="color:white; "class="fa fa fa-heart-o"></i></a>
																		
																			<!-- <a  class="item-card9-icons1 wishlist"  style = "background-color: rgb(252, 67, 67);"> <i style="color:white; "class="fa fa fa-heart-o"></i></a> -->
																		{% else %}
																		<a  class="item-card9-icons1 wishlist" id="glike_{{company.id}}" name="{{company.id}}" style  title = "" onclick="like_or_dislike('glike_{{company.id}}')"> <i style="color:white; "class="fa fa fa-heart-o"></i></a>
																		
																			<!-- <a  class="item-card9-icons1 wishlist" id="glike_{{company.id}}" onclick="like_company('{{company.id}}')"> <i style="color:white; " class="fa fa fa-heart-o"></i></a> -->

																		{% endif %}
																	{% else %}
																	<a  href= "/accounts/login/?next=/company/like_company" class="item-card9-icons1 wishlist" id="glike_{{company.id}}" > <i style="color:white; " class="fa fa fa-heart-o"></i></a>

																	{% endif %}
																</div>
																<div class="item-cardreview-absolute bg-secondary">{{company.main_category}}</div>
															</div>
															<div class="card border-0 mb-0">
																<div class="card-body">
																	<div class="item-card9">
																		
																		<a href="{% url 'company_home' pk=company.id %}" target = "black" class="text-dark"><h4 class="font-weight-semibold mt-1 mb-1">{% print_translated company.name|truncatechars_html:21 company.name_am|truncatechars_html:21 LANGUAGE_CODE%}</h4></a>
																		<div class="rating-stars d-flex mr-5">
																			<input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="3">
																			<a class="fs-13 leading-tight mt-1" href="#">{{company|company_product_count}} Products</a>
																		</div>
																		<div class="mt-2 mb-2">
																			<a href="#" class="mt-1 mb-1 mr-3 text-dark"><i class="fa fa-globe mr-1"></i> {{company.get_company_address.city_town}}</a>
																			<a href="#" class="mt-1 mb-1 mr-1 text-muted"><i class="fa fa-map-marker mr-1"></i>{{company.get_company_address.local_area}}, {{company.get_company_address.fax}}</a>
																		</div>
																	</div>
																</div>
																<div class="card-footer pt-2 pb-2">
																	<div class="item-card9-footer d-sm-flex">
																		<div class="item-card9-cost">
																			<div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc">
																				<a class="" href="mailto:{{company.get_company_address.email}}" ><i class="fa fa-envelope"></i></a>
																				<a class="" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{company.get_company_address.phone_number}}"><i class="fa fa-phone"></i></a>
																				<a class="" href="{{company.get_company_address.googlelink}}" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{company.get_company_address.googlelink}}"><i class="fa fa-globe"></i></a>
																				<a class="" href="/chat/with/{{company.contact_person.username}}/" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chat with staff"><i style = "color:blue;" class="fa fa-comments fa-"></i></a>
																				<a class="" href="#"><i class="fa fa-share-alt"></i></a>
																			</div>
																		</div>
																		
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												{%endfor%}
												 
											</div>
										</div>
									</div>
								</div>
								{% if not by_category %}
								<div class="center-block text-center">
									 <ul class="pagination mb-5">
										{% if page_obj.has_previous %}
										<li class="page-item page-prev ">
											<a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">{% trans "Prev" %}</a>
										</li>
										{%endif%}
										<li class="page-item active"><a class="page-link" href="#">{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.</a></li>
										{% if page_obj.has_next %}
										<li class="page-item page-next">
											<a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
										</li>
										{%endif%}
									</ul>
								</div>
								{% else %}
								<div class="center-block text-center">
									 <ul class="pagination mb-5">
										{% if page_obj.has_previous %}
										<li class="page-item page-prev ">
											<input type="hidden" name='by_category' value = "{{by_category}}"/>
											<a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">{% trans "Prev" %}</a>
										</li>
										{%endif%}
										<li class="page-item active"><a class="page-link" href="#">{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.</a></li>
										{% if page_obj.has_next %}
										<li class="page-item page-next">
											<input type="hidden" name='by_category' value = "{{by_category}}"/>
											<a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
										</li>
										{%endif%}
									</ul>
								</div>

								{% endif %}
							</div>
						</div>
						<!--/Add lists-->
					</div>

					<!--Right Side Content-->
					<div class="col-xl-4 col-lg-4 col-md-12">
						<div class="card">
							<form action="{% url 'search_company'%}" method="GET">
								<div class="card-body">
									<div class="input-group">
											<input type="text" name="name" required class="form-control br-tl-3 br-bl-3" placeholder="Search">
											<div class="input-group-append ">
												<button type="submit"  class="btn btn-secondary br-tr-3 br-br-3">
													{% trans "Search" %}
												</button>
											</div>
									</div>
								</div>
							</form>
						</div>
						<div class="card mb-0">
							<!-- <form action = "filter_companies_by_category" method = "GET">  -->
							<div class="card-header">
								<h3 class="card-title">{% trans "Categories" %}</h3>
							</div>
							<div class="card-body">
								<div class="" id="container">
									
										<div class="filter-product-checkboxs">
											<label class="custom-control custom-checkbox mb-3">
												<input type="checkbox" class="custom-control-input" name="by_category" value="Food">
												<span class="custom-control-label">
													<a href="{% url 'manufac_category_main' option='Food' %}" class="text-dark">{% trans "Food" %}</a>
												</span>
											</label>
											<label class="custom-control custom-checkbox mb-3">
												<input type="checkbox" class="custom-control-input" name="by_category" value="Beverage">
												<span class="custom-control-label">
													<a href="{% url 'manufac_category_main' option='Beverage' %}" class="text-dark">{% trans "Beverage" %}</a>
												</span>
											</label>
											<label class="custom-control custom-checkbox mb-3">
												<input type="checkbox" class="custom-control-input" name="by_category" value="Pharmaceuticals">
												<span class="custom-control-label">
													<a href="{% url 'manufac_category_main' option='Pharmaceuticals' %}" class="text-dark">{% trans "Pharmaceutical" %}</a>
												</span>
											</label>
											
										</div>
									
								</div>
							</div>
							<!-- <div class="card-footer">
								<button type="submit"  class="btn btn-primary btn-block">{% trans "Apply Filter" %}</button>
							</div> -->

						<!-- </form> -->
						</div>
					</div>
					<!--/Right Side Content-->
				</div>
			</div>
		</section>
		<!--/Add Listings-->


	
<script>
				
	function like_or_dislike(element_id){
		var element = document.getElementById(element_id)
		if (document.getElementById(element_id).title != 'liked')
				like_company(element_id)
			
		else{dislike_company(element_id)}
	}
	
	function like_company(element_id)
	{
		var element = document.getElementById(element_id)
		var c_id = element_id.split("_")[1]	
			
				fetch("{% url 'like_company'  %}",
			{
			method:"POST",
			credentials: 'same-origin',
			headers:{
				"content-Type":'application/json',
				'X-CSRFToken':'{{csrf_token}}'
			},
			body:JSON.stringify({
				'c_id': c_id,
			})
			}).then(e => e.json()).then(result=>{
				if(result['error'] == false){
					var elements = document.getElementsByName(c_id)
					elements.forEach( (element)=> {
						element.style['background-color'] =  "rgb(252, 67, 67)"
						element.title = "liked"

					})	
				}
				else{
					window.alert("Failed to Like")
				}   		
			});
		
	}

	function dislike_company(element_id)
	{
			var c_id = element_id.split("_")[1]		
				fetch("{% url 'dislike_company'  %}",
			{
			method:"POST",
			credentials: 'same-origin',
			headers:{
				"content-Type":'application/json',
				'X-CSRFToken':'{{csrf_token}}'
			},
			body:JSON.stringify({
				'c_id': c_id,
			})
			}).then(e => e.json()).then(result=>{
				if(result['error'] == false){
					var elements = document.getElementsByName(c_id)
					elements.forEach( (element)=>{
						element.style['background-color'] =  "#3f3e50";		
						element.title = ""
					})

				}
				else{
					window.alert("Failed to Dislike")
				}   		
			});
	
	}


</script>

	
{%endblock%}