{%extends 'frontpages/company/company_layout.html'%}
{%load i18n%}
{%load core_template_tags%}

{%block title%}{{object.name}}-Contact{%endblock%}
{%block content%}
{% get_current_language as LANGUAGE_CODE %}
		<!--Breadcrumb-->
		<section>
			<div class="bannerimg cover-image bg-background3" data-image-src="/static/frontpages/images/banners/banner2.jpg">
				<div class="header-text mb-0">
					<div class="container">
						<div class="text-center text-white">
							<h1 class="">{{object.name}} Products</h1>
							<ol class="breadcrumb text-center">
								<li class="breadcrumb-item"><a href="{%url 'company_home' pk=object.id%}">{% trans "Home" %}</a></li>
								<li class="breadcrumb-item"><a href="{%url 'company_products' pk=object.id%}">{% trans "Products" %}</a></li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Breadcrumb-->

		<!--Add listing-->
		<section class="sptb">
			<div class="container">
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="row">
							{%for product in object_list%}
							<div class="col-xl-4 col-lg-6 col-md-12">
								<div class="card">
									<div class="item7-card-img">
										<a href="{%url 'company_product_detail' company=object.name pk=product.id%}"></a>
										<img src="{{product.image.url}}" alt="img" class="cover-image">
										<div class="item7-card-text">
											<span class="badge badge-success">
												
												{{object.main_category}}
												</span>
										</div>
									</div>
									<div class="card-body">
										<div class="item7-card-desc d-flex mb-2">
											<a href="#"><i class="fa fa-calendar-o text-muted mr-2"></i>ETB {{product.price}}</a>
											<div class="ml-auto">
												<a class="mr-0" href="#"><i class="fa fa-ship text-muted mr-2"></i>{{product.quantity|floatformat:0}}{{product.get_subcategory.uom}} in Stock</a>
											</div>
										</div>
										<a href="#" class="text-dark"><h4 class="font-weight-semibold">{{product.name}}</h4></a>
										
										<div class = "row">
											<a href="{%url 'company_product_detail' company=object.name pk=product.id%}" class="btn btn-secondary btn-sm">{% trans "Read More" %}</a>
											{% if user.is_customer %}
												<div class="ml-auto mt-3 mt-sm-0">
													<div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc">
														<!-- the add_to_cart is a js function written inside frontpages/layout.html -->

														<div  class="row mt-1 mb-1 mr-2">
															<form target="blank" action="{% url 'inquiry_form' %}" metho="GET" enctype = "multipart/form-data" >
																<input type="hidden" name="products" value="{{product.id}},">
																<button class="btn btn-primary btn-sm pull-right mr-3"     id="product_contact_now" type="submit">{% trans "Inquiry Now" %}</button>
															</form>
															<button class="btn btn-primary btn-sm pull-right" style = "background-color: #ff8819; border: 1px solid; border-color: #ff8819; "name = "prod_{{product.id}}"  onclick = "add_to_cart('{{product.id}}')">{% trans "Add To Basket" %} </button>
														</div>
													</div>
												</div>
											{% else %}
												<a href="{% url 'contact_company' pk=object.id %} " class="btn btn-primary btn-sm pull-right ml-9">{% trans "Contact Supplier" %}</a>
											{% endif %}
										</div>

									</div>
								</div>
							</div>
							{%endfor%}
						</div>
						<div class="d-sm-flex">
							<h6 class="mb-0 mt-3"></h6>
							<ul class="pagination mb-5">
								{% if page_obj.has_previous %}
								<li class="page-item page-prev ">
									<a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">{% trans "Prev" %}</a>
								</li>
								{%endif%}
								<li class="page-item active"><a class="page-link" href="#">{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.</a></li>
								{% if page_obj.has_next %}
								<li class="page-item page-next">
									<a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
								</li>
								{%endif%}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Add listing-->

		
		{%endblock%}