<?php
$category_list = '<div class="collapse  nav-desk" id="navbarToggleExternalContent">';
require_once("header.php");
?>
<!-- breadcrumb start -->
<div class="breadcrumb-main" style="padding: 30px 0;">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-contain">
                    <div>
                        <h2>Services</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->

<!--review start-->
    <section class="review  section-big-py-space">
            <div class="container">
                <div class="row review-block">
                    <div class="col-lg-4 col-md-6">
                        <div class="review-box"><img class="img-fluid " src="assets/images/avtar/1.jpg" alt="review" >
                            <h5>John Martin</h5>
                            <ul class="rating-star">
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            </ul>
                            <div class="review-message">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                            </div>
                            <h6>(21 Jannuary 2019 at 9:29AM )</h6>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="review-box"><img class="img-fluid " src="assets/images/avtar/2.jpg" alt="review" >
                            <h5>John Martin</h5>
                            <ul class="rating-star">
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            </ul>
                            <div class="review-message">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                            </div>
                            <h6>(21 Jannuary 2019 at 9:29AM )</h6>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="review-box"><img class="img-fluid " src="assets/images/avtar/3.jpg" alt="review" >
                            <h5>John Martin</h5>
                            <ul class="rating-star">
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            </ul>
                            <div class="review-message">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                            </div>
                            <h6>(21 Jannuary 2019 at 9:29AM )</h6>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="review-box"><img class="img-fluid " src="assets/images/avtar/1.jpg" alt="review" >
                            <h5>John Martin</h5>
                            <ul class="rating-star">
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            </ul>
                            <div class="review-message">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                            </div>
                            <h6>(21 Jannuary 2019 at 9:29AM )</h6>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="review-box"><img class="img-fluid " src="assets/images/avtar/2.jpg" alt="review" >
                            <h5>John Martin</h5>
                            <ul class="rating-star">
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            </ul>
                            <div class="review-message">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                            </div>
                            <h6>(21 Jannuary 2019 at 9:29AM )</h6>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="review-box"><img class="img-fluid " src="assets/images/avtar/3.jpg" alt="review" >
                            <h5>John Martin</h5>
                            <ul class="rating-star">
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                            </ul>
                            <div class="review-message">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                            </div>
                            <h6>(21 Jannuary 2019 at 9:29AM )</h6>
                        </div>
                    </div>
                </div>
            </div>
    </section>
<!--review end-->


<!--footer start-->
<?php require_once("footer.php"); ?>
<!--footer end-->

<!-- latest jquery-->
<script src="assets/js/jquery-3.3.1.min.js" ></script>

<!-- menu js-->
<script src="assets/js/menu.js"></script>


<!-- popper js-->
<script src="assets/js/popper.min.js" ></script>

<!-- slick js-->
<script  src="assets/js/slick.js"></script>

<!-- Bootstrap js-->
<script src="assets/js/bootstrap.js" ></script>

<!-- Theme js-->
<script src="assets/js/script.js" ></script>
</body>

</html>
