media
venv
.vscode
db.sqlite3
# pyc files
migrations
__pycache__
accounts/migrations
admin_site/migrations
collaborations/migrations
company/migrations
core/migrations
accounts/__pycache__
admin_site/__pycache__
admin_site/templatetags/__pycache__
collaborations/__pycache__
company/__pycache__
core/__pycache__
core/templatetags/__pycache__
fbpims/__pycache__
