{%extends 'frontpages/layout.html'%}
{%load crispy_forms_tags%}
{%block content%}
		<!--Sliders Section-->
		<section>
			<div class="bannerimg cover-image bg-background3" data-image-src="/static/frontpages/images/banners/banner2.jpg">
				<div class="header-text mb-0">
					<div class="container">
						<div class="text-center text-white">
							<h1 class="">Login</h1>
							<ol class="breadcrumb text-center">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item"><a href="#">Pages</a></li>
								<li class="breadcrumb-item active text-white" aria-current="page">Login</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Sliders Section-->

		<!--Login-Section-->
		<section class="sptb">
			<div class="container customerpage">
				<div class="row">
					<div class="single-page" >
						<div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
							<div class="wrapper wrapper2">
								<div class="card-body">
									<h3>Login</h3>
									<div class="text-center">
										<div class="btn-list d-flex">
											<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-google btn-block"><i class="fa fa-google fa-1x"></i> Google</a>
											<a href="#" class="btn btn-twitter"><i class="fa fa-twitter fa-1x"></i></a>
											<a href="{% url 'social:begin' 'github' %}" class="btn btn-github"><i class="fa fa-github fa-1x"></i></a>
											
											
											<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-facebook"><i class="fa fa-facebook fa-1x"></i></a>
											
										</div>
									</div>
								</div>
								<hr class="divider">
								<form id="login" class="card-body" action="{%url 'login' %}" method="POST" tabindex="500">
									{%csrf_token%}
									{{form|crispy}}
									<div class="submit">
										<button class="btn btn-secondary btn-block" type="submit">Login</button>
									</div>
									<p class="mb-2"><a href="{%url 'forgot' %}" >Forgot Password</a></p>
									<p class="text-dark mb-0">Don't have account?<a href="{%url 'register'%}" class="text-secondary ml-1">Sign UP</a></p>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Login-Section-->

		<!-- Newsletter-->
		<section class="sptb border-top bg-white">
			<div class="container">
				<div class="section-title center-block text-center">
					<h2>Subscribe To Our Newsletter</h2>
					<p>Mauris ut cursus nunc. Morbi eleifend, ligula at consectetur vehicula</p>
				</div>
				<div class="row">
					<div class="col-lg-10 col-xl-8 col-md-12 mx-auto d-block text-center">
						<div class="input-group sub-input mt-0">
							<input type="text" class="form-control input-lg " placeholder="Enter your Email">
							<div class="input-group-append ">
								<button type="button" class="btn btn-secondary btn-lg br-tr-3 br-br-3 pl-5 pr-5">
									Subscribe
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Newsletter-->
{%endblock%}