{%extends 'admin/base_site.html'%}
{% block extrastyle %}
    <!-- Theme JS files -->
	<script src="/static/admin/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/visualization/c3/c3.min.js"></script>
	<script src="/static/admin/global_assets/js/demo_pages/charts/c3/c3_advanced.js"></script>
	<!-- /theme JS files -->
 
{% endblock %}
{%block pagename%}C3 - Advanced{%endblock%}
{%block content%}
	
			<!-- Content area -->
			<div class="content">

				<!-- Transform charts -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Chart transforms</h5>
						<div class="header-elements">
							<button type="button" class="btn btn-info btn-sm" id="btn-transform">Transform</button>
							<div class="list-icons ml-3">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart" id="c3-transform"></div>
						</div>
					</div>
				</div>
				<!-- /transform charts -->


				<!-- Zoomable chart -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Zoomable chart</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart" id="c3-chart-zoomable"></div>
						</div>
					</div>
				</div>
				<!-- /zoomable chart -->


				<!-- Chart with subchart -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Chart with subchart</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart" id="c3-subchart"></div>
						</div>
					</div>
				</div>
				<!-- /chart with subchart -->


				<!-- Chart label format -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Chart label format</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart" id="c3-label-format"></div>
						</div>
					</div>
				</div>
				<!-- /chart label format -->


				<!-- Chart data colors -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Chart data colors</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart" id="c3-data-color"></div>
						</div>
					</div>
				</div>
				<!-- /chart data colors -->

			</div>
			<!-- /content area -->
{%endblock%}