{%extends 'admin/base_site.html'%}
{% block extrastyle %}
    
 <!-- Theme JS files -->
 <script src="/static/admin/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
 <script src="/static/admin/global_assets/js/plugins/visualization/c3/c3.min.js"></script>
 <script src="/static/admin/global_assets/js/demo_pages/charts/c3/c3_grid.js"></script>
 <!-- /theme JS files -->

{% endblock %}
{%block pagename%}C3 - Grid{%endblock%}
{%block content%}
	
			<!-- Content area -->
			<div class="content">

				<!-- Chart grid -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Chart grid</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart" id="c3-grid-lines"></div>
						</div>
					</div>
				</div>
				<!-- /chart grid -->


				<!-- Chart grid x lines -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Chart X lines</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart" id="c3-grid-lines-x"></div>
						</div>
					</div>
				</div>
				<!-- /chart grid x lines -->


				<!-- Chart grid Y lines -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Chart Y lines</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart" id="c3-grid-lines-y"></div>
						</div>
					</div>
				</div>
				<!-- /chart grid Y lines -->


				<!-- Show rects on chart -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Show rects on chart</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart" id="c3-grid-region"></div>
						</div>
					</div>
				</div>
				<!-- /show rects on chart -->


				<!-- Custom data regions -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Custom data regions</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart" id="c3-grid-chart-region"></div>
						</div>
					</div>
				</div>
				<!-- /custom data regions -->

			</div>
			<!-- /content area -->
{%endblock%}