{%extends 'admin/base_site.html'%}
{% block extrastyle %}
    <!-- Theme JS files -->
	<script src="/static/admin/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/visualization/c3/c3.min.js"></script>
	<script src="/static/admin/global_assets/js/demo_pages/charts/c3/c3_lines_areas.js"></script>
	<!-- /theme JS files -->
 
 
{% endblock %}
{%block pagename%}C3 - Lines & Areas{%endblock%}
{%block content%}
	
			<!-- Content area -->
			<div class="content">

				<!-- Simple line chart -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Basic line chart</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart" id="c3-line-chart"></div>
						</div>
					</div>
				</div>
				<!-- /simple line chart -->


				<!-- Line chart with regions -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Chart with regions</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart" id="c3-line-regions-chart"></div>
						</div>
					</div>
				</div>
				<!-- /line chart with regions -->


				<!-- Area chart -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Area chart</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart" id="c3-area-chart"></div>
						</div>
					</div>
				</div>
				<!-- /area chart -->


				<!-- Stacked area chart -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Stacked area chart</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart" id="c3-area-stacked-chart"></div>
						</div>
					</div>
				</div>
				<!-- /stacked area chart -->


				<!-- Step chart -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Step chart</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart" id="c3-step-chart"></div>
						</div>
					</div>
				</div>
				<!-- /step chart -->

			</div>
			<!-- /content area -->
{%endblock%}