{%extends 'admin/base_site.html'%}
{% block extrastyle %}
		<!-- Theme JS files -->
		<script src="/static/admin/global_assets/js/plugins/visualization/echarts/echarts.min.js"></script>
		<script src="/static/admin/global_assets/js/demo_pages/charts/echarts/scatter.js"></script>
		<!-- /theme JS files -->
	 
{% endblock %}
{%block pagename%}Echarts - Scatter{%endblock%}
{%block content%}


			<!-- Content area -->
			<div class="content">

				<!-- Basic scatter -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Basic scatter chart</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart has-fixed-height" id="scatter_basic"></div>
						</div>
					</div>
				</div>
				<!-- /basic scatter -->


				<!-- Bubble size calculation -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Bubble size calculation</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart has-fixed-height" id="scatter_bubble_size"></div>
						</div>
					</div>
				</div>
				<!-- /bubble size calculation -->


				<!-- Large scale scatter -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Large scale scatter</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart has-fixed-height" id="scatter_scale"></div>
						</div>
					</div>
				</div>
				<!-- /large scale scatter -->


				<!-- Scale roaming -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Scale roaming</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart has-fixed-height" id="scatter_roaming"></div>
						</div>
					</div>
				</div>
				<!-- /scale roaming -->


				<!-- Category scatter -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Category scatter</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart has-fixed-height" id="scatter_category"></div>
						</div>
					</div>
				</div>
				<!-- /category scatter -->


				<!-- Punch card -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Punch card</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart has-fixed-height" id="scatter_punch"></div>
						</div>
					</div>
				</div>
				<!-- /punch card -->

			</div>
			<!-- /content area -->
{%endblock%}
