{%extends 'admin/base_site.html'%}
{% block extrastyle %}
	
	<!-- Theme JS files -->
	<script src="/static/admin/global_assets/js/plugins/visualization/echarts/echarts.min.js"></script>
	<script src="/static/admin/global_assets/js/demo_pages/charts/echarts/bars_tornados.js"></script>
	<!-- /theme JS files -->
 
{% endblock %}
{%block pagename%}Echarts - Bars and Tornados{%endblock%}
{%block content%}

			<!-- Content area -->
			<div class="content">

				<!-- Basic bars -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Basic bar chart</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart has-fixed-height" id="bars_basic"></div>
						</div>
					</div>
				</div>
				<!-- /basic bars -->


				<!-- Stacked bar chart -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Stacked bar chart</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart has-fixed-height" id="bars_stacked"></div>
						</div>
					</div>
				</div>
				<!-- /stacked bar chart -->


				<!-- Stacked clustered bar -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Stacked clustered bar chart</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart has-fixed-height" id="bars_stacked_clustered" style="height: 450px;"></div>
						</div>
					</div>
				</div>
				<!-- /stacked clustered bar -->


				<!-- Floating bar chart -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Floating bar chart</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart has-fixed-height" id="bars_float"></div>
						</div>
					</div>
				</div>
				<!-- /floating bar chart -->


				<!-- Mix bar and line -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Mix bar and line</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart has-fixed-height" id="bars_mix"></div>
						</div>
					</div>
				</div>
				<!-- /mix bar and line -->


				<!-- Negative stack tornado -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Negative stack tornado</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart has-fixed-height" id="bars_tornado_negative" style="height: 450px"></div>
						</div>
					</div>
				</div>
				<!-- /negative stack tornado -->


				<!-- Staggered labels tornado -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Staggered labels tornado</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="chart-container">
							<div class="chart has-fixed-height" id="bars_tornado_staggered" style="height: 450px"></div>
						</div>
					</div>
				</div>
				<!-- /staggered labels tornado -->

			</div>
			<!-- /content area -->

{%endblock%}