{%extends 'admin/base_site.html'%}
{% block extrastyle %}

	<!-- Theme JS files -->
	<script src="/static/admin/global_assets/js/plugins/extensions/jquery_ui/interactions.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/ui/moment/moment.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/ui/fullcalendar/fullcalendar.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/ui/fullcalendar/lang/ar.js"></script>
	<script src="/static/admin/global_assets/js/demo_pages/fullcalendar_advanced.js"></script>
	<!-- /theme JS files -->
 
{% endblock %}
{%block pagename%}FullCalendar - Advanced{%endblock%}
{%block content%}

			<!-- Content area -->
			<div class="content">

				<!-- External events -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">External events</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>
					
					<div class="card-body">
						<p class="mb-3">Add extended dragging functionality with <code>droppable</code> option. Data can be attached to the element in order to specify its duration when dropped. A Duration-ish value can be provided. This can either be done via jQuery or via an <code>data-duration</code> attribute. Please note: since droppable option operates with jQuery UI draggables, you must download the appropriate jQuery UI files and initialize a draggable element.</p>

						<div class="row">
							<div class="col-md-3">
								<div class="mb-3" id="external-events">
									<h6>Draggable Events</h6>
									<div class="fc-events-container mb-3">
										<div class="fc-event" data-color="#546E7A">Sauna and stuff</div>
										<div class="fc-event" data-color="#26A69A">Lunch time</div>
										<div class="fc-event" data-color="#546E7A">Meeting with Fred</div>
										<div class="fc-event" data-color="#FF7043">Shopping</div>
										<div class="fc-event" data-color="#5C6BC0">Restaurant</div>
										<div class="fc-event">Basketball</div>
										<div class="fc-event">Daily routine</div>
									</div>

									<div class="form-check form-check-right form-check-switchery">
										<label class="form-check-label">
											<input type="checkbox" class="form-check-input-switchery" checked id="drop-remove" data-fouc>
											Remove after drop
										</label>
									</div>
								</div>
							</div>

							<div class="col-md-9">
								<div class="fullcalendar-external"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- /external events -->


				<!-- RTL layout -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">RTL support</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>
					
					<div class="card-body">
						<p class="mb-3">FullCalendar library also supports RTL text direction, useful for right-to-left languages such as Arabic and Hebrew. To display the calendar in right-to-left mode, set <code>isRTL</code> plugin option to <code>true</code>. This option switches class in calendar container to <code>.fc-rtl</code> and changes the layout accordingly to the specific css styles. RTL version supports all features and options available in LTR mode.</p>

						<div class="fullcalendar-rtl"></div>
					</div>
				</div>
				<!-- /RTL layout -->

			</div>
			<!-- /content area -->

{%endblock%}