{%extends 'admin/base_site.html'%}
{% block extrastyle %}
<!-- Theme JS files -->
<script src="/static/admin/global_assets/js/plugins/maps/jvectormap/jvectormap.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/maps/jvectormap/map_files/world.js"></script>
<script src="/static/admin/global_assets/js/plugins/maps/jvectormap/map_files/countries/usa.js"></script>
<script src="/static/admin/global_assets/js/plugins/maps/jvectormap/map_files/countries/germany.js"></script>
<script src="/static/admin/global_assets/demo_data/maps/vector/gdp_demo_data.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/maps/vector/vector_maps_demo.js"></script>
<!-- /theme JS files -->

{% endblock %}
{%block pagename%}Maps - Vector{%endblock%}
{%block content%}
	

			<!-- Content area -->
			<div class="content">

				<!-- World map -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">World vector map</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<p class="mb-3">Example of a <code>world map</code> in <code>SVG</code> format with <code>zoom</code> feature. The map automatically scales on small window sizes. Vector maps work in all modern browsers, including Internet Explorer since it uses native browser technologies like JavaScript, CSS, HTML, SVG or VML. No Flash or any other proprietary browser plug-in is required. Also this allows vector maps to work in all modern mobile browsers.</p>

						<div class="map-container map-world"></div>
					</div>
				</div>
				<!-- /world map -->


				<!-- Choropleth map -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Choropleth map</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<p class="mb-3">Example of a <code>choropleth</code> world map. A choropleth map is a thematic map in which areas are shaded or patterned in proportion to the measurement of the statistical variable being displayed on the map. The choropleth map provides an easy way to visualize how a measurement varies across a geographic area or it shows the level of variability within a region. This example displays GDP by country, data stored in <code>json</code> file.</p>
						
						<div class="map-container map-choropleth"></div>
					</div>
				</div>
				<!-- /choropleth map -->


				<!-- Custom markers -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Custom markers</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<p class="mb-3">Simple example of a basic world map with optional 1 size <code>markers</code>. Set of markers are added to the map during initialization. In case of array is provided, codes of markers will be set as string representations of array indexes. Each marker is represented by <code>latLng</code> (array of two numeric values), <code>name</code> (string which will be show on marker's label) and any marker <code>styles</code>. Marker size, colors, strokes, opacity can be changed in map settings. </p>

						<div class="map-container map-world-markers"></div>
					</div>
				</div>
				<!-- /custom markers -->


				<!-- Regions selection -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Regions selection</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<p class="mb-3">Example map of <code>Germany</code> with selectable <code>regions</code> and <code>markers</code>. The following example demonstrates the feature of vector maps that allows <code>selection</code> of regions and/or markers by user or programmatically. Specific styles could be assigned for the selected items. User selection is saved between page reloads in the local storage by using <code>onRegionSelected</code> and <code>onMarkerSelected</code> functions. The circle size depends on the data values.</p>

						<div class="map-container map-regions"></div>
					</div>
				</div>
				<!-- /regions selection -->


				<!-- Country choropleth map -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Country choropleth map</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<p class="mb-3">Example of <code>USA</code> choropleth map with markers. The following example demonstrates the visualization of unemployment statistics in the USA by states and metropolitan areas in 2009. Demo data is stored in <code>JSON</code> file. Tooltips with 2 different types of data: regions display state name and unemployment rate, custom markers display full info available in JSON file: population, name and unemployment rate.</p>

						<div class="map-container map-unemployment"></div>
					</div>
				</div>
				<!-- /country choropleth map -->

			</div>
			<!-- /content area -->

{%endblock%}