

{%extends 'frontpages/profile/profile_layout.html'%}
{%load i18n%}
{%load core_template_tags%} 
{% get_current_language as LANGUAGE_CODE %}
{%block chats%}active{%endblock%}
{%block profile_content%}
<div class="card">
    <div class="card-header bg-transparent header-elements-inline">
        <h6 class="card-title"> My inbox</h6>
        <div class="header-elements pull-right" style="float: right;margin-left: 500px;">
                <a href="#compose_modal" class="btn btn-success" data-toggle="modal" data-target="#compose_modal" >
                    <i class="icon-pencil7"></i> 
                <span class="d-none d-lg-inline-block ml-2">Compose</span>
            </a>
        </div>
    </div>

    <!-- Compose modal -->
    <div id="compose_modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chat With ..</h5>
                    
                </div>					
                    <div class="modal-body">
                        <div class="form-group" style="padding-left: 20px;">
                                        
                            <div style="margin-bottom: 10px;" class="row">
                                <h5> Please enter username of the user you want to chat :</h5>
                               
                            </div>
                            <div style="margin-right: 5px; " class="mb-3 row">
                                <input id = "chat_to" autocomplete="off" style = "padding: 5px;" type="text" class="form form-control" name = "chat_to" value="" placeholder="Write username ...">
                            </div>
                            <div class="dropdown-content-body dropdown-scrollable">
                                <span class="mb-2" style = "color: rgb(199, 89, 89);" id = "related_names"></span>
                                <ul id = "list_of_users" style = "width: 100%;" class="media-list"> 
                                </ul>
                                <span class="mt-2" style = "color: rgb(199, 89, 89);" id = "error-area"></span>
                            </div>
                           
                        </div>						
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <button type="submit" id="chat_btn" onclick="chat_with_user()"  style = "color:white" class="btn bg-primary">Chat</button>
                    </div>
            </div>
        </div>
    </div>
    <!-- /Compose modal -->


    <!-- Table -->
    
    <div class="table-responsive">
        <table class="table table-inbox">
            									
            <tbody data-link="row" class="rowlink">
                
                {% for message in chat_list %}
                
                    <!-- if the current user is the receiver of the message -->

                    {% if user.username == message.receiver_name %} 
                  
                   
                    <tr  class = " {% if message.seen == True %} unread {% else %}  {% endif %}">
                        <td class="table-inbox-checkbox rowlink-skip">
                            {{forloop.counter}}
                        </td>
                        
                        <td class="table-inbox-image">
                            {%if message.sender_image%}
                            <a href="/chat/with/{{message.sender_name}}/" target = "_blank"><img src="{{message.sender_image}}" class="rounded-circle" alt="" width="32" height="32"></a>
                            {%else%}
                            <a href="/chat/with/{{message.sender_name}}/" target = "_blank"><img src="/static/admin/global_assets/images/demo/users/face11.jpg" class="rounded-circle" alt="" width="32" height="32"></a>
                            {%endif%}
                        </td>
                        <td class="table-inbox-name">
                            <a href="/chat/with/{{message.sender_name}}/" target = "blank" >
                                <div class="letter-icon-title text-default"><b>{{message.sender_name}}</b></div>
                            </a>
                        </td>
                        <td class="table-inbox-message">
                            <div class="table-inbox-subject">{{message.message|safe|truncatechars_html:20}}</div>
                        </td>
                        
                        <td class="table-inbox-time">
                            
                            <p class ="mr-5 text-center">{{message.time}}</p>
                        </td>
                    </tr>
                        
                    {% else %}
                    <!-- this means the current user is the sender of this message -->
                        <tr>
                            <td class="table-inbox-checkbox rowlink-skip">
                                {{forloop.counter}}
                            </td>
                            
                            <td class="table-inbox-image">
                                {%if message.receiver_image%}
                                <a href="/chat/with/{{message.receiver_name}}/" target = "_blank"><img src="{{message.receiver_image}}" class="rounded-circle" alt="" width="32" height="32"></a>
                                {%else%}
                                <a href="/chat/with/{{message.receiver_name}}/" target = "_blank"><img src="/static/admin/global_assets/images/demo/users/face11.jpg" class="rounded-circle" alt="" width="32" height="32"></a>
                                {%endif%}
                            </td>
                            <td class="table-inbox-name">
                                <a href="/chat/with/{{message.receiver_name}}/" target = "blank" >
                                    <div class="letter-icon-title text-default"><b>{{message.receiver_name}}</b></div>
                                </a>
                            </td>
                            <td class="table-inbox-message">
                                <div class="table-inbox-subject">{{message.message|safe|truncatechars_html:20}}</div>
                            </td>
                            
                            <td class="table-inbox-time">
                                <p class ="mr-4 text-center">{{message.time|date}}</p>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor%}
            </tbody>
        </table>
    </div>
    <!-- /table -->

</div>

			<input id = "user_name" type="hidden" value="{{user.username}}">
        <!-- Script for searcing and listing related users  -->
            <script>
                var chat_input = document.getElementById('chat_to')
                var chat_btn =document.getElementById('chat_btn')
                chat_btn.disabled = true
                chat_input.addEventListener("input", 
                
                    function check_username()
                        {
                            var receiver = this.value;
                            var error_area = document.getElementById("error-area")
                            var related_name_text_field = document.getElementById("related_names")
                            related_name_text_field.innerHTML = "Related Usernames"
                            error_area.innerHTML=""
                            fetch( "/chat/check_user/"+receiver+"/").then(e=>e.json()).then(result =>
                            {   
                                if (result['found'] == true){
                                    this.style['color'] = 'green'
                                    document.getElementById("chat_btn").disabled = false
                                    related_name_text_field.style['color'] = 'green' 
                                }
                                else{
                                    related_name_text_field.style['color'] = 'red'
                                    related = result['related']
                                        if( related.length > 0){
                                            var error_message =" "
                                            document.getElementById('list_of_users').innerHTML = "";
                                            for (user of related){
                                             
                                                append_user(user)
                                            }
                                        }
                                        else{
                                            error_message = "User with username related with '"+ receiver+"' does not exist!";
                                            related_name_text_field.style['color'] = 'red'
                                        }
                                    document.getElementById("chat_btn").disabled = true
                                    error_area.style['color'] = "red"
                                    error_area.innerHTML = error_message
                                    this.style['color'] = 'red'
                                    
                                } 
                            });    
                        }
                
                );
        
                function append_user(user){
                   
                   var li_item = document.createElement('li');
                   li_item.id = user.id;
                   var li_card_item = document.createElement('div');
                   li_card_item.className = "card card-body "
                   li_card_item.style['padding']="2px";
                   li_card_item.style['margin']="1px 2px ";
                       var img_div = document.createElement('div');
                           var image_anchor = document.createElement('a');
                               var image_item = document.createElement('img');
           
                           var chat_div = document.createElement('div');
                                   var name_anch = document.createElement('a');
                               
                       var role_area = document.createElement('small');           
                         
               //    ######################## setting values
                           image_item.src = user.p_img;
                           image_item.className = "rounded-circle mr-2"
                           image_item.width = "30";
                           image_item.height = "30";
                          
                       image_anchor.href = "/chat/with/"+user.username+"/";
                       image_anchor.style['display'] = 'inline'
                       image_anchor.appendChild(image_item);
           
                        img_div.style['display'] ='inline'
                        img_div.appendChild(image_anchor)
                        name_anch.href = "/chat/with/"+user.username+"/";
                        name_anch.target = "blank";
                        name_anch.className = "mr-3";
                        name_anch.textContent = user.first_name+ " "+user.last_name+" ("+user.username+")";
                       
                   img_div.appendChild(name_anch) 
                   
                   role_area.textContent = user.role;
                   role_area.className = "text-muted float-right font-size-sm mt-1 mr-1 mb-1";
           
                   chat_div.className = "media-body";
                   chat_div.appendChild(role_area);
                   
                   li_card_item.appendChild(img_div);
                   li_card_item.appendChild(chat_div)
                   li_item.className = "media";
                   li_item.appendChild(li_card_item);
                   ul_item =document.getElementById('list_of_users')         
                   ul_item.appendChild(li_item);
                
        
               }
           
           </script>

            <!-- Script for searcing and listing related users  -->

			<script>
				
				
				function chat_with_user()
				{
					var receiver = document.getElementById('chat_to').value;
                    window.location.pathname = '/chat/with/' + receiver+'/';	
				}
				
                
                $(document).ready(function(){
					$("#summernote").summernote();
					$(".summernote").summernote();
				});
			</script>
{% endblock %}