{%extends 'frontpages/layout.html'%}
{%load i18n%}
{%load core_template_tags%}

{%block title%}Projects List{%endblock%}
{%block content%}
{% get_current_language as LANGUAGE_CODE %}
		<!--Breadcrumb-->
		<section>
			<div class="bannerimg cover-image bg-background3" data-image-src="/static/frontpages/images/banners/banner2.jpg">
				<div class="header-text mb-0">
					<div class="container">
						<div class="text-center text-white">
							<h1 class="">{% trans "Projects List" %}</h1>
							<ol class="breadcrumb text-center">
								<li class="breadcrumb-item"><a href="{%url 'index' %}">{% trans "Home" %}</a></li>
								<li class="breadcrumb-item"><a href="#">{% trans "Projects" %}</a></li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Breadcrumb-->

		<!--Add listing-->
		<section class="sptb">
			<div class="container">
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="row">
							{%for project in object_list%}
							<div class="col-xl-4 col-lg-6 col-md-12">
								<div class="card">
									<div class="item7-card-img">
										<a href="#"></a>
										{%if project.image%}
										<img src="{{project.image.url}}" alt="img" class="cover-image">
										{%endif%}
										<div class="item7-card-text">
											<span class="badge badge-success">{{project.sector}}</span>
										</div>
									</div>
									<div class="card-body">
										<div class="item7-card-desc d-flex mb-2">
											<a href="#"><i class="fa fa-calendar-o text-muted mr-2"></i>{{project.site_location_name}}</a>
											<div class="ml-auto">
											</div>
										</div>
										<a href="#" class="text-dark"><h4 class="font-weight-semibold">{{project.project_name}}</h4></a>
										<a href="{%url 'project_detail' pk=project.id%}" class="btn btn-secondary btn-sm">{% trans "Read More" %}</a>
									</div>
								</div>
							</div>
							{%endfor%}
						</div>
						<div class="d-sm-flex">
							<h6 class="mb-0 mt-3">{% trans "Showing" %} 1 {% trans "to" %} 6 of 30 entries</h6>
							<ul class="pagination mb-lg-0 mb-5 ml-auto">
								<li class="page-item page-prev disabled">
									<a class="page-link" href="#" tabindex="-1">{% trans "Prev" %}</a>
								</li>
								<li class="page-item active"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item page-next">
									<a class="page-link" href="#">{% trans "Next" %}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Add listing-->

		
		{%endblock%}