{%extends 'frontpages/layout.html'%}
{%load i18n%}
{%load core_template_tags%}  
{% get_current_language as LANGUAGE_CODE %}
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>

{%block content%}

		<!--Breadcrumb-->
		<section>
			<div class="bannerimg cover-image bg-background3" data-image-src="/static/frontpages/images/banners/banner2.jpg">
				<div class="header-text mb-0">
					<div class="container">
						<div class="text-center text-white">
							<h1 class="">Project </h1>
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Breadcrumb-->

		<!--Add listing-->
		<section class="sptb">
			<div class="container">
				<div class="row">
					<!--Left Side Content-->
					<div class="col-xl-4 col-lg-4 col-md-12">
						

						 <div class="card">
						 <form action="{%url 'project_search' %}" method="POST" enctype="multipart/form-data">
						 	{%csrf_token%}
						 	
							<div class="card-body">
								<div class="input-group">
									<input type="text" name="search" class="form-control br-tl-3  br-bl-3" placeholder="Search" required>
									<div class="input-group-append ">
										
										<button type="submit" class="btn btn-secondary br-tr-3  br-br-3">
											Search
										</button></a>
									</div>
								</div>
							</div>
						</form>
						</div>
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Categories</h3>
							</div>
							{%for cat in category%}
							<div class="card-body p-0">
								<div class="list-catergory">
									<div class="item-list">
										<ul class="list-group mb-0">
											<li class="list-group-item">
												<a href="{%url 'projectcategory_search' id=cat.id%}" class="text-dark">
													 {{cat}}
													<span class="badgetext badge badge-pill badge-light mb-0 mt-1">{{cat.countProject}}</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							{%endfor%}
						</div>
						
						
					</div>
					<!--/Left Side Content-->

                    


					<div class="col-xl-8 col-lg-8 col-md-12"> 
						<!--Add Lists-->
						 
						<div class="row">
                            <div class="card ">
								<form action="" method="POST" enctype="multipart/form-data">
									{%csrf_token%}
									{%if form.errors%}
									<div class="alert alert-danger" role="alert">
									  {{form.errors}}
									</div>
									{% endif %}
									<div class="card-header ">
										<h3 class="card-title">Add a Project</h3>
									</div>
									<div class="card-body">
										<div class="form-group">
											<label class="form-label text-dark">Project Title *</label>
											
											<div class="col-lg-12">
												{{form.title}}
											</div>
										</div>

										<div class="form-group">
											<label class="form-label text-dark">Project Status *</label>

											<div class="col-lg-12">
												{{form.status}}
											</div>
										</div>

										<div class="form-group">
											<label class="form-label text-dark">Project Category *</label>

											<div class="col-lg-12">
												{{form.category}}
											</div>
										</div>
																					
										<div class="form-group">
											<label class="form-label text-dark">Project Description *</label>

											<div class="col-lg-12">
												{{form.description}}
											</div>
										</div>

										<div class="form-group">
											<label class="form-label text-dark">Project Detail *</label>

											<div class="col-lg-12">
												{{form.detail}}
											</div>
										</div>

										<div class="form-group">
											<label class="form-label">Upload your attchment (if you have one)</label>
											<div class="col-lg-12">
													{{form.attachements}}
												
											</div>
									</div>
										
									</div>

									<div class="text-right">
										<button style="padding-left: 10%; padding-right: 10%;" type="submit"
											class="btn btn-primary rounded-round">Submit </button>
									</div>
								</form>
                            </div>
                            
						</div>
						<div class="d-sm-flex">
							<h6 class="mb-0 mt-3">Showing 1 to 6 of 30 entries</h6>
							<ul class="pagination mb-lg-0 mb-5 ml-auto">
								<li class="page-item page-prev disabled">
									<a class="page-link" href="#" tabindex="-1">Prev</a>
								</li>
								<li class="page-item active"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item page-next">
									<a class="page-link" href="#">Next</a>
								</li>
							</ul>
						</div>
					</div>
					<!--/Add Lists-->
				</div>
			</div>
		</section>
		<!--Add Listing-->

	

<script>
	$(document).ready(function () {
		$('#summernote').summernote();
		$('.summernote').summernote();
	});
</script>
		{%endblock%}