{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags %}
{% load core_template_tags %}
{% block extrastyle %}

<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>

<script src="/static/admin/global_assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="/static/admin/global_assets/js/plugins/pickers/daterangepicker.js"></script>
    <script src="/static/admin/global_assets/js/plugins/pickers/anytime.min.js"></script>
    <script src="/static/admin/global_assets/js/plugins/pickers/pickadate/picker.js"></script>
    <script src="/static/admin/global_assets/js/plugins/pickers/pickadate/picker.date.js"></script>
    <script src="/static/admin/global_assets/js/plugins/pickers/pickadate/picker.time.js"></script>
    <script src="/static/admin/global_assets/js/plugins/pickers/pickadate/legacy.js"></script>
    <script src="/static/admin/global_assets/js/plugins/notifications/jgrowl.min.js"></script>
	<script src="/static/admin/global_assets/js/demo_pages/picker_date.js"></script>
	
{% endblock %}
{%block pagename%}Event Form{%endblock%}
{%block content%}

<!-- Content area -->
<div class="content">
		
	{% if edit  %}        
    <div class="card">
        <div class="card-body">
            <form action="{%url 'admin:edit_companyevent' pk=event.id%}" method="POST" enctype="multipart/form-data">
                <fieldset class="mb-3 ml-3 mr-3">
                   
                    <legend class="text-uppercase font-size-sm font-weight-bold">Edit Event </legend>
                    {%csrf_token%}
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3">Event Title: <Title></Title>(English) </label>
                        <div class="col-lg-9">
                            <input required type="text" name="title" class="form-control" value="{{event.title}}" id="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3">Event Title(Amharic) </label>
                        <div class="col-lg-9">
                            <input required type="text" name="title_am" class="form-control" value="{{event.title_am}}" id="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3">Event Description(English) </label>
                        <div class="col-lg-9">
                            <textarea required name="description" id="summernote" cols="30"
                                rows="10">{{event.description|safe}}</textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-lg-3">Event Description(Amharic) </label>
                        <div class="col-lg-9">
                            <textarea required name="description_am" class="summernote" cols="30"
                                rows="10">{{event.description_am|safe}}</textarea>
                        </div>
                    </div>

                     <!-- Date Fields -->
                    
							<div class = "row">
								<!-- start date edit  -->
								<div class="col-md-6">
									<div class="form-group row">
											<label class="col-form-label ">Start Date</label>
										<div class="col-lg-9">
											<span class="input-group-prepend">
															<span class="input-group-text"><i class="icon-calendar22"></i></span>
														</span>
												<input type="text" name="start_date" class="form-control daterange-single" value="{% change_end_date event.start_date %}">
										</div>
										
											
									</div>
								</div>


								<!-- end date edit -->
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-form-label ">End Date </label>
										<div class="col-lg-9">
											<span class="input-group-prepend">
															<span class="input-group-text"><i class="icon-calendar22"></i></span>
														</span>
												<input type="text" name ="end_date" class="form-control daterange-single" value="{% change_end_date event.end_date %}">
										</div>
											
									</div>
								</div>


							


							</div>	
                 <!-- Date Fields End Here -->
                            <br>
                    <div class="form-group row">
                        <label class="col-form-label">Change Event Image:</label>
                        <div class="col-lg-9">
                            <div class="uniform-uploader">
                                <input type="file" id="image" name="image" class="form-input-styled" data-fouc="" multiple/>
                                <span class="filename" style="user-select: none;">No file selected</span>
                                <span class="action btn bg-warning" style="user-select: none;">Choose File</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Currently saved image is: <a href="{{event.get_image}}" target="blank">{{event.image.name}}</a></label>
                                <!-- <input type= "file" name="image" class = "form-input-styled"  placeholder="{{event.get_image}}"  />																</div> -->

                        </div>
                    </div>

        
                   		
                </fieldset>
                <div class="text-right">
                    <button style="padding-left: 2%; padding-right: 2%;" type="submit"
                        class="btn btn-primary rounded-round col-lg-2" onclick="return confirm ('Are you sure you want to Edit this Event?')">Submit</button>
                </div>
            </form>
            <br>
                
        </div>

    </div>

			
	{%else%}
		
    <div class="card">

        <div class="card-body">

            <form action="{%url 'admin:create_companyevent' %}" method="POST" enctype="multipart/form-data">
                <fieldset class="mb-3 ml-3 mr-3">
                    <legend class="text-uppercase font-size-sm font-weight-bold">Create new Event</legend>
                    <p class="mb-4"> All Fields ending with * are required. You are required to fill fields in English and Amharic</p>
                    {{form.errors}}
                
                    {%csrf_token%}
                
                    
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3">Event Title(English) *</label>
                        <div class="col-lg-9">
                            {{form.title}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3">Event Title(Amharic) *</label>
                        <div class="col-lg-9">
                            {{form.title_am}}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3">{{form.description.label|title}} *</label>
                        <div class="col-lg-9">
                            {{form.description|safe}}
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3">{{form.description_am.label|title}} *</label>
                        <div class="col-lg-9">
                            {{form.description_am|safe}}
                        </div>
                    </div>

                   <!-- Date Fields -->
                   <div class = "row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-lg-9">
                                    <span class="input-group-prepend" >
                                                    <span class="input-group-text"><i class="icon-calendar22">	Start Date *</i></span>
                                                </span>
                                        <input type="text" name="start_date" class="form-control daterange-single" value="">
                                </div>
                                    
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-lg-9">
                                    <span class="input-group-prepend" >
                                                    <span class="input-group-text"><i class="icon-calendar22">	End Date *</i></span>
                                                </span>
                                        <input type="text" name ="end_date" class="form-control daterange-single" value="">
                                </div>
                                    
                            </div>
                        </div>
                    </div>
                    <!-- Date Fields End Here -->

                    <div class="form-group row">
                        <label class="col-form-label ">Select Image</label>
                        <div class="col-lg-9">
                            <div class="uniform-uploader">
                                <input type="file" id="image" name="image" class="form-input-styled" data-fouc="" />
                                <span class="filename" style="user-select: none;">No file selected</span>
                                <span class="action btn bg-warning" style="user-select: none;">Choose File</span>
                            </div>
                        </div>
                    </div>
                    

                </fieldset>

                <div class="text-right">
                    <button style="padding-left: 10%; padding-right: 10%;" type="submit" class="btn btn-primary rounded-round">Create Event </button>
                </div>
            </form>
        </div>
    </div>
		
		
		
	{%endif%}
</div>
<!-- /content area -->
<script>
	$(document).ready(function () {
		$('#summernote').summernote();
		$('.summernote').summernote();
	});
</script>
{%endblock%}