{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags %}
{% block extrastyle %}
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>

<script src="/static/admin/global_assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="/static/admin/global_assets/js/plugins/pickers/daterangepicker.js"></script>
    <script src="/static/admin/global_assets/js/plugins/pickers/anytime.min.js"></script>
    <script src="/static/admin/global_assets/js/plugins/pickers/pickadate/picker.js"></script>
    <script src="/static/admin/global_assets/js/plugins/pickers/pickadate/picker.date.js"></script>
    <script src="/static/admin/global_assets/js/plugins/pickers/pickadate/picker.time.js"></script>
    <script src="/static/admin/global_assets/js/plugins/pickers/pickadate/legacy.js"></script>
    <script src="/static/admin/global_assets/js/plugins/notifications/jgrowl.min.js"></script>
	<script src="/static/admin/global_assets/js/demo_pages/picker_date.js"></script>
	

<style>
.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow:hidden;
  
}
input[type="radio"][id=create_paid]:checked ~ .reveal-if-active{
  opacity: 1;
  max-height: 100px; /* little bit of a magic number :( */
  overflow: visible;

  
}
.edit-reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow:hidden;
  
}
input[type="radio"][id=edit_paid]:checked ~ .edit-reveal-if-active{
  opacity: 1;
  max-height: 100px; /* little bit of a magic number :( */
  overflow: visible;

  
}

</style>
{% endblock %}
{%block pagename%}Tenders Form{%endblock%}
{%block content%}

<!-- Content area -->
<div class="content">

			
	{% if edit and perms.collaborations.change_tender %}
	    
			<div class="card">

				<div class="card-body">

					<form action="{%url 'admin:edit_tender'  id=tender.id %}" method="POST" enctype="multipart/form-data">
						<fieldset class="mb-3 ml-3 mr-3">
							<legend class="text-uppercase font-size-sm font-weight-bold">Edit "{{tender.title}}" </legend>

							{%csrf_token%}
							<div class="form-group row">
								<label class="col-form-label col-lg-3">Tender <Title></Title>(English) </label>
								<div class="col-lg-9">
									<input required type="text" name="title" class="form-control" value="{{tender.title}}" id="">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-lg-3">Tender Title(Amharic) </label>
								<div class="col-lg-9">
									<input required type="text" name="title_am" class="form-control" value="{{tender.title_am}}" id="">
								</div>
							</div>

							<div class="form-group row">
								<label class="col-form-label col-lg-3">Tender Description(English) </label>
								<div class="col-lg-9">
									<textarea required name="description" id="summernote" cols="30"
										rows="10">{{tender.description|safe}}</textarea>
								</div>
							</div>

							<div class="form-group row">
								<label class="col-form-label col-lg-3">Tender Description(Amharic) </label>
								<div class="col-lg-9">
									<textarea required name="description_am" class="summernote" cols="30"
										rows="10">{{tender.description_am|safe}}</textarea>
								</div>
							</div>

							<!-- tender type -->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group ">
										<label class="col-form-label ">{{form.tender_type.label|title}}</label>
											
											<span class="form-text text-muted">If you set the type to be free, the document will be downloaded freely</span>
											
											{% if tender.tender_type == "Free"%}
											<input type="radio" id="Free" name="tender_type" value="Free" checked="true">
											<label for="Free">Free</label><br>
											<input type="radio" id="edit_paid" name="tender_type" value="Paid" >
											<label for="edit_paid">Paid</label><br>  
											<div class="edit-reveal-if-active">
												<label style="margin-right: 10px;">Document Price: </label>
												<input type="number" required name = "document_price" placeholder="document price" value = "0"/>
											</div>  
											{% else %}

											<input type="radio" id="Free" name="tender_type" value="Free" >
											<label for="Free">Free</label><br>
											<input type="radio" id="edit_paid" name="tender_type" value="Paid" checked = "true">
											<label for="edit_paid">Paid</label><br>  
											<div class="edit-reveal-if-active">
												<label style="margin-right: 10px;">Document Price: {{tender.document_price}}</label>
												<input type="number" required name = "document_price" placeholder="document price" value = "{{tender.document_price}}"/>
											</div>
											{%endif%}
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group ">
										
											
										
										<label class="col-form-label col-lg-8">Change tender document</label>
										<input type = "file" name = "document" value="{{tender.document.url}}"/>
											
											<span class="form-text text-muted">Accepted formats:pdf, Docx, png, gif</span>
											<a href="{{tender.document.url}}" target="blank"class=" btn btn-primary rounded-round">Show current document</a>
											
										
									</div>
								</div>
							</div>
							<br><br><br>
							
							
							<div class = "row">
								
								
								<!-- start date edit  -->
								<div class="col-md-4">
									<div class="form-group row">

											<label class="col-form-label col-lg-3">Start Date</label>
										<div class="col-lg-9">
											<span class="input-group-prepend">
															<span class="input-group-text"><i class="icon-calendar22"></i></span>
														</span>
												<input type="text" name="start_date" class="form-control daterange-single" value="{{start_date}}">
										</div>
										
											
									</div>
								</div>


								<!-- end date edit -->
								<div class="col-md-4">
									<div class="form-group row">
										<label class="col-form-label col-lg-3">End Date </label>
										<div class="col-lg-9">
											<span class="input-group-prepend">
															<span class="input-group-text"><i class="icon-calendar22"></i></span>
														</span>
												<input type="text" name ="end_date" class="form-control daterange-single" value="{{end_date}}">
										</div>
											
									</div>
								</div>


								<!-- status edit -->
								<div class="col-md-4">
									<div class="form-group ">
										<div style="width: 100%;">
											<div class="col-lg-9" style="width: 95%; display: inline-block;">
												<label>Current status : {{tender.status}}</label>
												<select required name="status"  class="form-control form-control-uniform" data-fouc>

													{% for status in tender.TENDER_STATUS %}

														<option  value="{{status}}">{{status}}</option>
														<div class="list-icons" style="width: 3%; display: inline-block;" >
															<div class="dropdown">
																<a href="#" class="list-icons-item" data-toggle="dropdown">
																	
																</a>
									
																
															</div>
														</div>

													{%endfor%}
					
												</select>
											</div>
										</div>
									</div>
								</div>


							</div>		
						</fieldset>
						<div class="text-right">
							<button style="padding-left: 2%; padding-right: 2%;" type="submit"
								class="btn btn-primary rounded-round col-lg-2" onclick="return confirm ('Are you sure you want to Edit this tender?')">Submit</button>
						</div>
					</form>

					<br>
					<form action="{% url 'admin:tenders' %}" method="GET" enctype="multipart/form-data" >
						{%csrf_token%}
						<div class="text-right">
							<button style="padding-left: 2%; padding-right: 2%; background-color: grey;" type="submit"
								class="btn btn-primary rounded-round col-lg-2">Cancel </button>
						</div>
					</form>
					
					<br>
					<br><br><br>


					<h3 class= "text-center">Manage Bank Accounts</h3>
					<div class="row">


						<div class="col-md-6">
							<div class="form-group ">
								<form action="{%url 'admin:manage_bank_account'  option='remove' id=tender.id %}" method="POST" enctype="multipart/form-data">
									{%csrf_token%}
									{% if tender.get_bank_accounts.count > 0 %}
											<label class="col-form-label " style="margin-left: 10px;">Remove a bank account</label>
											<div class="form-group ">
												<div style="width: 100%;">
													<div class="col-lg-9" style="width: 95%; display: inline-block;">			
														<select name="remove_bank_account"  class="form-control form-control-uniform" data-fouc>
															{% for bank_account in tender.get_bank_accounts %}
																<option  value="{{bank_account.id}}">{{bank_account.bank.bank_name}}'s account {{bank_account.account_number}}</option>
																<div class="list-icons" style="width: 3%; display: inline-block;" >
																	<div class="dropdown">
																		<a href="#" class="list-icons-item" data-toggle="dropdown">
																		</a>									
																	</div>
																</div>
															{%endfor%}
														</select>
													</div>
												</div>
											</div>
											
												<div class="text-center">
													<button style="padding-left: 2%; padding-right: 2%; background-color: #ef5350;" type="submit"
														class="btn btn-primary col-lg-6" onclick="return confirm ('Are you sure you want to Remove this bank account from this tender?')">Remove bank Account  </button>
												</div>
											
									{% else %}
									<h3>No Related Bank Account For this tender</h3>
									{% endif %}
								</form>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group ">
								<form action="{%url 'admin:manage_bank_account' option='relate'  id=tender.id %}" method="POST" enctype="multipart/form-data">
									{%csrf_token%}
									{% if tender.get_unrelated_bank_accounts %}
										<label class="col-form-label col-lg-8">Relate new bank account</label>
										<div class="form-group ">
											<div style="width: 100%;">
												<div class="col-lg-9" style="width: 95%; display: inline-block;">							
													<select name="relate_bank_account"  class="form-control form-control-uniform" data-fouc>
														{% for bank_account in tender.get_unrelated_bank_accounts %}
															<!-- if the bank account was not previously related to the tender -->
															<option  value="{{bank_account.id}}">{{bank_account.bank.bank_name}}'s account ({{bank_account.account_number}})</option>
															<div class="list-icons" style="width: 3%; display: inline-block;" >
																<div class="dropdown">
																	<a href="#" class="list-icons-item" data-toggle="dropdown">
																	</a>
																</div>
															</div>
														{%endfor%}
													</select>
												</div>
											</div>
										</div>

										<div class="text-center">
											<button style="padding-left: 2%; padding-right: 2%;  background-color: #66bb6a;" type="submit"
												class="btn btn-primary col-lg-6" onclick="return confirm ('Are you sure you want to Relate this bank account to this tender?')">Relate this bank Account  </button>
										</div>
									{%else%}
									{{tender.get_unrelated_bank_accounts}}
										<div class="text-center">
											<button style="padding-left: 2%; padding-right: 2%;  background-color: #66bb6a;" 
												class="btn btn-primary col-lg-6" disabled onclick="return confirm ('Are you sure you want to Relate this bank account to this tender?')">Relate this bank Account  </button>
										</div>
									{% endif %}

								</form>
								
							</div>
						</div>
					</div>
					


						
				</div>

			</div>


		




		
	{%else%}
		
			<div class="card">

				<div class="card-body">

					<form action="{%url 'admin:create_tender'%}" method="POST" class="wizard-form steps-enable-all" enctype="multipart/form-data">
						<fieldset class="mb-3 ml-3 mr-3">
							<legend class="text-uppercase font-size-sm font-weight-bold">Create new Tender</legend>
							<p class="mb-4"> All Fields ending with * are required. You are required to fill fields in English and Amharic</p>
							{{form.errors}}
						
							{%csrf_token%}
						
							
							<div class="form-group row">
								<label class="col-form-label col-lg-3">{{form.title.label|title}} *</label>
								<div class="col-lg-9">
									{{form.title}}
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-lg-3">{{form.title_am.label|title}} *</label>
								<div class="col-lg-9">
									{{form.title_am}}
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-lg-3">{{form.description.label|title}} *</label>
								<div class="col-lg-9">
									{{form.description|safe}}
								</div>
							</div>
							
							<div class="form-group row">
								<label class="col-form-label col-lg-3">{{form.description_am.label|title}} *</label>
								<div class="col-lg-9">
									{{form.description_am|safe}}
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									
									<div class="form-group ">
										
											<label class="col-form-label ">{{form.tender_type.label|title}}</label>
											
											<span class="form-text text-muted">If you set the type to be free, the document will be downloaded freely</span>
											<input type="radio" name="tender_type" id="create_free" value="Free">
											<label for="create_free">Free</label>
											<br>
											<input type="radio" name="tender_type" id="create_paid" value="Paid">
											<label for="create_paid">Paid</label>
											<br>

											<div class="reveal-if-active">
												<label style="margin-right: 10px;">Document Price:</label>
												<input type="number" required name = "document_price" placeholder="document price" value="0"/>
											</div>
									
								
									</div>
									

								</div>
								
								

							
								<div class="col-md-6">
									<div class="form-group ">
										<label class="col-form-label ">Upload your tender document</label>
										<input required type = "file" name = "document"  >
											<span class="form-text text-muted">Accepted formats:pdf, Docx, png, gif</span>
											<!-- <span class="form-text text-warning">{{form.company_logo.errors}}</span> -->
									</div>
								</div>
							</div>
							
							<div class = "row">
								<div class="col-md-4">
									<div class="form-group row">
										<div class="col-lg-9">
											<span class="input-group-prepend" >
															<span class="input-group-text"><i class="icon-calendar22">	Start Date *</i></span>
														</span>
												<input type="text" name="start_date" class="form-control daterange-single" value="">
										</div>
											
									</div>
								</div>


								<div class="col-md-4">
									<div class="form-group row">
										<div class="col-lg-9">
											<span class="input-group-prepend" >
															<span class="input-group-text"><i class="icon-calendar22">	End Date *</i></span>
														</span>
												<input type="text" name ="end_date" class="form-control daterange-single" value="">
										</div>
											
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group ">
										<div style="width: 100%;">
											<div class="col-lg-9" style="width: 95%; display: inline-block;">
												<label class="col-form-label col-lg-8">Status</label>
												<select required name="status"  class="form-control form-control-uniform" data-fouc>
													{% for status in form.STATUS_CHOICE %}
														<option  value="{{status.0}}">{{status.0 }}</option>
														<div class="list-icons" style="width: 3%; display: inline-block;" >
															<div class="dropdown">
																<a href="#" class="list-icons-item" data-toggle="dropdown">	</a>
															</div>
														</div>
													{%endfor%}
												</select>
											</div>
										</div>
									</div>
								</div>

							</div>
							
							{% if company_bank_accounts.count > 0 %}

								<div class="form-group row" >
									<div style="width: 100%;">
										<div class="col-lg-9" style="width: 95%; display: inline-block;">
											<label>Choose your bank account</label>
											<select required name="company_bank_account" class="form-control form-control-uniform" data-fouc>
												
												<label class="col-form-label ">Choose your main bank account for this tender.</label>
													
													{%for bank_account in company_bank_accounts %}
														<option  value="{{bank_account.id}}">{{bank_account.bank.bank_name}} {{bank_account.account_number}} </option>
														<div class="list-icons" style="width: 3%; display: inline-block;" >
															<div class="dropdown">
																<a href="#" class="list-icons-item" data-toggle="dropdown">
																	<i class="icon-menu9"></i>
																</a>
									
																
															</div>
														</div>
													
													{%endfor%}
												
											</select>
										</div>
									
										
									</div>

								</div>
							{% else %}
											
								<label class="col-form-label ">You don't have any registered bank accounts. Go to your company profile/ Bank Accounts to Add new bank</label>
							
							
							<!-- <div class="text-left">
									<button style="padding-left: 10%; padding-right: 10%;" 
										class="btn btn-primary rounded-round" onclick="return confirm ('I am working on this part')">Register new bank account </button>
							</div>	 -->
							

							{% endif %}
							
						</fieldset>

						<div class="text-right">
							<button style="padding-left: 10%; padding-right: 10%;" type="submit"
								class="btn btn-primary rounded-round">Create Tender </button>
						</div>
					</form>
				</div>
			</div>
		
		
		
	{%endif%}
</div>
<!-- /content area -->
<script>
	$(document).ready(function () {
		$('#summernote').summernote();
		$('.summernote').summernote();
	});
</script>
{%endblock%}