{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags %}
{%load core_template_tags %}
{% block extrastyle %}
  <!-- file selecting js -->
  <script src="/static/admin/global_assets/js/demo_pages/user_pages_profile_tabbed.js"></script>
  <!-- /file selecting js  -->
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>

<script src="/static/admin/global_assets/js/plugins/ui/moment/moment.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/pickers/daterangepicker.js"></script>
<script src="/static/admin/global_assets/js/plugins/pickers/anytime.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/pickers/pickadate/picker.js"></script>
<script src="/static/admin/global_assets/js/plugins/pickers/pickadate/picker.date.js"></script>
<script src="/static/admin/global_assets/js/plugins/pickers/pickadate/picker.time.js"></script>
<script src="/static/admin/global_assets/js/plugins/pickers/pickadate/legacy.js"></script>
<script src="/static/admin/global_assets/js/plugins/notifications/jgrowl.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/picker_date.js"></script>

<style>
.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow:hidden;
  
}
input[type="radio"][id=create_paid]:checked ~ .reveal-if-active{
  opacity: 1;
  max-height: 100px; /* little bit of a magic number :( */
  overflow: visible;

  
}
.edit-reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow:hidden;
  
}
input[type="radio"][id=edit_paid]:checked ~ .edit-reveal-if-active{
  opacity: 1;
  max-height: 100px; /* little bit of a magic number :( */
  overflow: visible;

  
}

</style>
{% endblock %}
{%block pagename%}Tenders Form{%endblock%}
{%block nav%}
    <a href="{%url 'admin:tenders'%}" class="breadcrumb-item">Tenders List</a>
    <a href="" class="breadcrumb-item">Tender Form</a>

{%endblock%}
{%block collaborations%}nav-item-expanded nav-item-open{%endblock%}
{%block content%}

<!-- Content area -->
<div class="content">

	{% if edit %} 
		{% if user.is_superuser or user.get_company == tender.company %} 
			{% if perms.collaborations.change_tender %}
	    
			<div class="card">

				<div class="card-body">

					<form action="{%url 'admin:edit_tender'  id=tender.id %}" method="POST" enctype="multipart/form-data">
						<fieldset class="mb-3 ml-3 mr-3">
							{{form.errors}}
							<legend class="text-uppercase font-size-sm font-weight-bold">Edit "{{tender.title}}" </legend>

							{%csrf_token%}
							<div class="form-group row">
								<label class="col-form-label col-lg-3">Tender <Title></Title>(English) </label>
								<div class="col-lg-9">
									<input required type="text" name="title" class="form-control" value="{{tender.title}}" id="">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-lg-3">Tender Title(Amharic) </label>
								<div class="col-lg-9">
									<input required type="text" name="title_am" class="form-control" value="{{tender.title_am}}" id="">
								</div>
							</div>

							<div class="form-group row">
								<label class="col-form-label col-lg-3">Tender Description(English) </label>
								<div class="col-lg-9">
									<textarea required name="description" id="summernote" cols="30"
										rows="10">{{tender.description|safe}}</textarea>
								</div>
							</div>

							<div class="form-group row">
								<label class="col-form-label col-lg-3">Tender Description(Amharic) </label>
								<div class="col-lg-9">
									<textarea required name="description_am" class="summernote" cols="30"
										rows="10">{{tender.description_am|safe}}</textarea>
								</div>
							</div>
		
							<div id='alart' style="display:none;" class="alert alert-danger"  role="alert" >
								 <p id="alart_message" >   </p>
							</div>
							
							
							<div class = "row">
								<!-- start date edit  -->
								<div class="col-md-6">
									<div class="form-group row">
											<label class="col-form-label col-lg-3">Start Date</label>
										<div class="col-lg-9">
											<span class="input-group-prepend">
															<span class="input-group-text"><i class="icon-calendar22"></i></span>
														</span>
												<input type="text" name="start_date" class="form-control daterange-single" value="{% change_end_date tender.start_date %}">
										</div>
										
											
									</div>
								</div>


								<!-- end date edit -->
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-form-label col-lg-3">End Date </label>
										<div class="col-lg-9">
											<span class="input-group-prepend">
															<span class="input-group-text"><i class="icon-calendar22"></i></span>
														</span>
												<input type="text" name ="end_date" class="form-control daterange-single" value="{% change_end_date tender.end_date %}">
										</div>
											
									</div>
								</div>

							</div>		
						</fieldset>
						<div class="text-right">
							<button style="padding-left: 2%; padding-right: 2%;" type="submit"
								class="btn btn-primary rounded-round col-lg-2" onclick="return confirm ('Are you sure you want to Edit this tender?')">Submit</button>
						</div>
					</form>

					<br>
					<form action="{% url 'admin:tenders' %}" method="GET" enctype="multipart/form-data" >
						{%csrf_token%}
						<div class="text-right">
							<a href = "{% url 'admin:tenders' %}"  onclick="return confirm ('Are you sure you want to Cancel Editing this tender?')" style="padding-left: 2%; padding-right: 2%; background-color: grey;" 
								class="btn btn-primary rounded-round col-lg-2">Cancel </a>
						</div>
					</form>
					<br>
					<br>
						
				</div>
			</div>
			{% else %}
			<h1>You are not permited to edit this tender</h1>
			{% endif %}
		{% endif %}

	{%else%}
		
			<div class="card">
				<div class="card-body">
					<form action="{%url 'admin:create_tender'%}" method="POST" class="wizard-form steps-enable-all" enctype="multipart/form-data">
						<fieldset class="mb-3 ml-3 mr-3">
							<legend class="text-uppercase font-size-sm font-weight-bold">Create new Tender</legend>
							<p class="mb-4"> All Fields ending with * are required. You are required to fill fields in English and Amharic</p>
							{{form.errors}}
							{%csrf_token%}
							<div class="form-group row">
								<label class="col-form-label col-lg-3">{{form.title.label|title}} *</label>
								<div class="col-lg-9">
									{{form.title}}
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-lg-3">{{form.title_am.label|title}} *</label>
								<div class="col-lg-9">
									{{form.title_am}}
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-lg-3">{{form.description.label|title}} *</label>
								<div class="col-lg-9">
									{{form.description|safe}}
								</div>
							</div>
							
							<div class="form-group row">
								<label class="col-form-label col-lg-3">{{form.description_am.label|title}} *</label>
								<div class="col-lg-9">
									{{form.description_am|safe}}
								</div>
							</div>
						

							<div id='alart' style="display:none;" class="alert alert-danger"  role="alert" >
								<p id="alart_message" >   </p>
						   </div>
							<div class = "row">
								<div class="col-md-6">
									<div class="form-group row">
										<div class="col-lg-9">
											<span class="input-group-prepend" >
															<span class="input-group-text"><i class="icon-calendar22">	Start Date *</i></span>
														</span>
												<input type="text" name="start_date" class="form-control daterange-single" value="">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<div class="col-lg-9">
											<span class="input-group-prepend" >
															<span class="input-group-text"><i class="icon-calendar22">	End Date *</i></span>
														</span>
												<input type="text" name ="end_date" class="form-control daterange-single" value="">
										</div>		
									</div>
								</div>
							</div>
						</fieldset>
						<div class="text-right">
							<button style="padding-left: 10%; padding-right: 10%;" type="submit"
								class="btn btn-primary rounded-round">Create Tender </button>
						</div>
					</form>
				</div>
			</div>
		
	{%endif%}
</div>
<!-- /content area -->
<script>
	$(document).ready(function () {
		$('#summernote').summernote();
		$('.summernote').summernote();
	});


	
</script>
<script>
 $("input[name = 'start_date']").change(function () {check_date_input()})
	$("input[name = 'end_date']").change(function () {check_date_input()})

  
function set_alert_message(text)
{  
        alert_box = document. getElementById("alart_message")
        alert_box.innerHTML = text;
        alert_box.style['display'] = 'block';
        $("input [type = 'submit']").attr("disabled",  true);
		$("button[type = 'submit']").attr("disabled", true);
}
	
function check_date_input()
	{		
      
        var start_date = new Date($("input[name = 'start_date']").val()); 
        var end_date = new Date($("input[name = 'end_date']").val()); 
        str_today = new Date().toDateString()
        // new Date() is changed to DateString, inorder to cut of the timezone from the date, as the date from start date and end date is just the date field without time zone
        today = new Date(str_today)
       
    	if (start_date > end_date) {
            document. getElementById("alart").style.display = "block"; //show
            set_alert_message("End date must be greater than or equal to start date!!")
        }
        else{
            document. getElementById("alart").style.display = "none"; //hide.
            $("input[type = 'submit']").attr("disabled",  false);
			$("button[type = 'submit']").attr("disabled", false);
            }
	}

</script>
{%endblock%}