{%extends 'admin/base_site.html'%}
{% block extrastyle %}

	<!-- Theme JS files -->
	  <!-- file selecting js -->
	  <script src="/static/admin/global_assets/js/demo_pages/user_pages_profile_tabbed.js"></script>
	  <!-- /file selecting js  -->
	<script src="/static/admin/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
	<script src="/static/admin/global_assets/js/demo_pages/datatables_advanced.js"></script>
	<!-- /theme JS files -->
 
{% endblock %}
{%block pagename%}Latest Tenders list{%endblock%}
{%block nav%}
    <a href="" class="breadcrumb-item">Tenders List</a>
{%endblock%}
{%block collaborations%}nav-item-expanded nav-item-open{%endblock%}
{%block content%}
			
			<!-- Content area -->
			<div class="content">
				
				<!-- Page length options main category -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Tenders</h5>
						<div class="header-elements">
							

							{% if  perms.collaborations.add_tender %}
								<a href="{% url 'admin:create_tender' %}" class="btn bg-teal btn-sm rounded-round"><i class="icon-add mr-2"></i>Add New</a>
							
							{%endif%}
							
						</div>
					</div>
					
					<table class="table datatable-show-all">
						<thead>
							<tr><th>#</th>
								<th>Tender Title</th>
								{% if user.is_superuser %}
								<th>Company</th>
								{% endif %}
								<th>Created By</th>
                                <th>Start Date</th>
                                <th>End Date</th>
								<!-- <th>Status</th> -->
								<!-- <th>No of Applicants</th> -->
								
								<th class="text-center">Actions</th>
								
							</tr>
						</thead>
						
						<tbody>
							{%for tender in tenders%}
							<tr>
								<td>{{forloop.counter}}</td>
								<td>{{tender.title}}</td>
								{% if user.is_superuser %}
								<td>{{tender.get_company.name}}</td>
								{% endif %}
								<td>{{tender.created_by.username}}</td>	
								<td>{{tender.start_date.date}}</td>
								<td>{{tender.end_date.date}}</td>
								<!-- <td>{{tender.status}}</td> -->
								<td class="text-center">
									<div class="list-icons">
										<div class="dropdown">
											<a href="#" class="list-icons-item" data-toggle="dropdown">
												<i class="icon-menu9"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right">	
												
												{% if user.get_company == tender.company or user.is_superuser %}											
													{% if perms.collaborations.view_tender %}
													<a href="{%url 'admin:tender_detail' pk=tender.id%}"  class="dropdown-item"><i class="icon-eye"></i>View tender Detail</a>
													{% endif %}

													{% if perms.collaborations.change_tender %}
													<a href="{%url 'admin:edit_tender' id=tender.id%}" class="dropdown-item"><i class="icon-pencil"></i>Edit Tender</a>	
													{% endif %}

													{% if perms.collaborations.delete_tender %}
													<a href="{%url 'admin:delete' model_name='Tender' id=tender.id %}" class="dropdown-item" onclick="return confirm ('Are you sure you want to delete this tender?')"><i class="icon-trash"></i>Delete Tender</a>
													{% endif %}
												{% else %}
												<a href="#"  class="dropdown-item">You Are Not Authorized to Perform Any Action On this Tender.</a>
												
												{%endif%}	

											</div>
										</div>
									</div>
								</td>
								
							</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
				<!-- /page length options -->
				
				
 
			</div>
			<!-- /content area -->
			<!-- <script>
				$(document).ready(function() {
					$('.summernote').summernote('code', 'html_tags_string_from_db');
				});
			  </script> -->
{%endblock%}

