{%extends 'admin/base_site.html'%}
{% block extrastyle %}

	<!-- Theme JS files -->
	<script src="/static/admin/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="/static/admin/global_assets/js/demo_pages/datatables_advanced.js"></script>
    <!-- Theme JS files from index.html-->
    <script src="/static/admin/global_assets/js/plugins/visualization/echarts/echarts.min.js"></script>
	<script src="/static/admin/global_assets/js/demo_pages/charts/echarts/columns_waterfalls.js"></script>
    <script src="/static/admin/global_assets/js/demo_pages/charts/echarts/pies_donuts.js"></script>
        <!-- /theme JS files -->
	 
	<!-- /theme JS files -->
 
{% endblock %}
{%block pagename%}Tenders List{%endblock%}
{%block content%}

 <!--  Only super users can watch this -->

 {% if perms.collaborations.view_pollsquestion %}

        
        

		<!--Poll Detail-->
		<section class="sptb">
            {% if tender %}
			<div class="container">
				<div class="row">
					<div class="d-block mx-auto col-lg-12 col-md-12">
						<div class="card">

                           
							<div class="card-body">
                                <div class = "text-center">
                                    <h3><b>Tender Detail</b></h3>
                                </div>
    
                                <div class= "text-right" class="card-header header-elements-inline">					
                                    <div class="header-elements">
                                        {% if perms.collaborations.change_tender and tender.get_company.company_name == user.get_company_name  %}
                                            
                                            <div class="list-icons">
                                                <a href="{%url 'admin:edit_tender' id=tender.id %}"   style = "margin-left: 40px; " class = "btn bg-teal btn-sm rounded-round"><i class="icon-pencil mr-2"></i>Edit this Tender</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
								<a href="#" class="text-body"><h2 class="font-weight-semibold text-capitalize">Title: {{tender.title}}</h2></a>
																<div class="item7-card-desc d-flex mb-2 mt-3">
                 
									<p><i class="fa fa-calendar-o text-muted mr-2"></i><b>Created at :</b><a href="#"> {{tender.timestamp}}</a></p>
                                    <p><i class="fa fa-user text-muted mr-2" style="margin-left: 10px;" ></i><b>By</b> <a href="#">{{tender.get_company.company_name}}</a></p>
                                    <p><i class="fa fa-star text-muted mr-2" style="margin-left: 10px;"></i><b>Total applications </b><a href="#">{{tender.get_applications.count}}</a></p>                                    
                                </div>
                                <div class="row" >
                                    <div class="col-md-6">
                                        <p style="display: inline; margin-right: 10px;"><i class="fa fa-calendar-o text-muted mr-2"></i><b>Start date :</b><a href="#"  style="display: inline;" >{{tender.start_date}}</a></p> 
                                        <p style="display: inline; "><i class="fa fa-calendar-o text-muted mr-2"></i><b>End date :</b><a href="#"  style="display: inline;" >{{tender.end_date}}</a></p> 
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p style="display: inline;"><i class="fa fa-calendar-o text-muted mr-2" ></i><b>Status :</b></p>
                                            <a href="#" style="display: inline;">
                                                {% if tender.status == 'Open' %}
                                                <div class = "btn btn-primary" style="background-color: #66bb6a;; color:white; width: fit-content; padding: 5px; display: inline; " >Open</div>
                                                {%elif tender.status == 'Pending' %}
                                                <div style="background-color: yellow; color:#ef5350; width: fit-content; padding: 5px;  display: inline;" >Pending</div>
                                                {%elif tender.status == 'Closed' %}
                                                <div style="background-color: #ef5350; color:white; width: fit-content; padding: 5px; display: inline;" >Closed</div>
                                                {%else%} 
                                                <div style="background-color: blue; color:white; width: fit-content; padding: 5px;  display: inline;" >Suspended</div>
                                                {%endif%}
                                            </a>
                                        
                                        <p style="display: inline;"><i class="fa fa-calendar-o text-muted mr-2" ></i><b>Type :</b> </p><a href="#" style="padding-left: 10px;">{{tender.tender_type}}</a>
                                        {% if tender.tender_type == "Paid"%}
                                        <a href="#" style="padding-left: 10px;"><i class="fa fa-calendar-o text-muted mr-2"></i>Document price : {{tender.document_price}}</a>
                                        {%endif%}
                                    
                                    </div>
                                </div>                                 
							</div>
						</div>

                        <div class="card">
                            <div class="card-header">
                                <h2>Related Bank Accounts</h2>
                            </div>
                            <div class="card-body">    
                                    <div class="media-body">
                                        {%for bank_account in tender.get_bank_accounts%}
                                            <p><b>{{bank_account.get_bank_name}}'s Account </b><br>{{bank_account.account_number}}</p>
                                        {%endfor%}
                                    </div>
                                
                            </div>           
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h2>Tender Application Information</h2>
                            </div>

                            <div class="card-body">    
                                <table class="table datatable-show-all">
                                    <thead>
                                        <tr>
                                            <th>Applicant Name</th>
                                            <th>Company Name</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th>Applied At</th>
                                           
                                        </tr>
                                    </thead>
                                    {%if tender.get_applications %}
                                    <tbody>
                                        {%for application in tender.get_applications %}
                                        <tr>
                                           
                                            <td>{{application.applicant.first_name}} {{application.applicant.last_name}}</td>
                                            <td>{{application.applicant.company_name}}</td>
                                            <td>{{application.applicant.phone_number}}</td>	
            
                                            <td>{{application.applicant.email}}</td>
                                            <td><a href="#">{{application.applicant.timestamp}}</a></td>
                                            
                                            
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                    {%endif%}
                                </table>
                                
                            </div>           
                        </div>
                        
                        

                        <div class="card">
                            <div class="card-header">
                                <h2>Description</h2>
                            </div>
                            <div class="card-body">    
                                    <div class="media-body">
                                        
                                        <p class="font-13  mb-2 mt-2">{{tender.description|safe}}</p>
                                        
                                    </div>
                                
                            </div>           
                        </div>

					</div>
                </div>
                


<!-- ############################## -->
  <!-- Content area -->
  <div class="content" style="padding: 0;">

    <div class="row">
        <div class="col-xl-12">

            <!-- Marketing campaigns -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Statistics of Applications</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="remove"></a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="chart-container">
                        <div class="chart has-fixed-height" id="pie_basic"></div>
                    </div>
                </div>
            </div>
            <!-- /marketing campaigns -->


            <!-- Quick stats boxes -->
            <div class="row">
                <div class="col-lg-4">

                    <!-- Members online -->
                    <div class="card bg-teal-400">
                        <div class="card-body">
                            <div class="d-flex">
                                <h3 class="font-weight-semibold mb-0">3,450</h3>
                                <span class="badge bg-teal-800 badge-pill align-self-center ml-auto">+53,6%</span>
                            </div>

                            <div>
                                Members online
                                <div class="font-size-sm opacity-75">489 avg</div>
                            </div>
                        </div>

                        <div class="container-fluid">
                            <div id="members-online"></div>
                        </div>
                    </div>
                    <!-- /members online -->

                </div>

                <div class="col-lg-4">

                    <!-- Current server load -->
                    <div class="card bg-pink-400">
                        <div class="card-body">
                            <div class="d-flex">
                                <h3 class="font-weight-semibold mb-0">49.4%</h3>
                                <div class="list-icons ml-auto">
                                    <div class="list-icons-item dropdown">
                                        <a href="#" class="list-icons-item dropdown-toggle"
                                           data-toggle="dropdown"><i class="icon-cog3"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="#" class="dropdown-item"><i class="icon-sync"></i> Update
                                                data</a>
                                            <a href="#" class="dropdown-item"><i
                                                    class="icon-list-unordered"></i> Detailed log</a>
                                            <a href="#" class="dropdown-item"><i class="icon-pie5"></i>
                                                Statistics</a>
                                            <a href="#" class="dropdown-item"><i class="icon-cross3"></i> Clear
                                                list</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                Current server load
                                <div class="font-size-sm opacity-75">34.6% avg</div>
                            </div>
                        </div>

                        <div id="server-load"></div>
                    </div>
                    <!-- /current server load -->

                </div>

                <div class="col-lg-4">

                    <!-- Today's revenue -->
                    <div class="card bg-blue-400">
                        <div class="card-body">
                            <div class="d-flex">
                                <h3 class="font-weight-semibold mb-0">{{poll.count_votes}} Vote</h3>
                                <div class="list-icons ml-auto">
                                    <a class="list-icons-item" data-action="reload"></a>
                                </div>
                            </div>

                            <div>
                                Today's revenue
                                <div class="font-size-sm opacity-75">$37,578 avg</div>
                            </div>
                        </div>

                        <div id="today-revenue"></div>
                    </div>
                    <!-- /today's revenue -->

                </div>
            </div>
            <!-- /quick stats boxes -->


            <!-- Support tickets -->
           
</div>
<!-- /content area -->

            </div>

            {% else %}
                <h2> Poll Not found!</h2>
            {% endif %}
		</section>
		
		



{% else %}
<h1>You are not allowed to view this page!!</h1>
<!-- endif of if user.is_superuser = True -->
{% endif %}
		<!--/Newsletter-->
{% endblock %}