{%extends 'admin/base_site.html'%}
{%load core_template_tags%}
{% load admin_template_tags %}
{%load crispy_forms_tags%}
{% block extrastyle %}

	<!-- links for image cropper -->
	<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>

	<style>
		.unread {
			background-color: red;
		}
		
	</style>
	{{form.media}}
{% endblock %}
{%block pagename%}Company Profile: {{company.name}}
{%endblock%}
{%block content%}

			<!-- Content area -->
			<div class="content">
				<ul class="fab-menu fab-menu-fixed fab-menu-bottom-right" data-toggle="modal" data-target="#rating_form">
					<li>
						<a class="fab-menu-btn btn bg-teal-400 btn-float rounded-round btn-icon">
							<i class="fab-icon-open icon-star-full2"></i>
							<i class="fab-icon-close icon-star-full2"></i>
						</a>
					</li>
				</ul>
				<!-- Inner container -->
				<div class="d-md-flex align-items-md-start">

					<!-- Left sidebar component -->
					<div style="min-height: calc(130vh + 110px); max-height: calc(120vh + 160px);overflow-y: scroll;" class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-left wmin-300 border-0 shadow-0 sidebar-expand-md">

						<!-- Sidebar content -->
						<div class="sidebar-content">

							<!-- Navigation -->
							<div class="card">
								<div class="card-body bg-indigo-400 text-center card-img-top" style="background-size: contain;">
									<div class="card-img-actions d-inline-block mb-3">
										<img class="img-fluid rounded-circle" src="{%if object.logo%}{{object.logo.url}}{%endif%}" width="170" height="120" alt="">
										<div class="card-img-actions-overlay rounded-circle">
											
										</div>
									</div>

						    		<h6 class="font-weight-semibold mb-0">{{company.name}}</h6>
						    		<!-- <span class="d-block opacity-75">{{company.products.all}}</span> -->

					    			<div class="list-icons list-icons-extended mt-3">
				                    	<a href="#" class="list-icons-item text-white" data-popup="tooltip" title="" data-container="body" data-original-title="Google Drive"><i class="icon-google-drive"></i></a>
				                    	<a href="#" class="list-icons-item text-white" data-popup="tooltip" title="" data-container="body" data-original-title="Twitter"><i class="icon-twitter"></i></a>
				                    	<a href="#" class="list-icons-item text-white" data-popup="tooltip" title="" data-container="body" data-original-title="Github"><i class="icon-github"></i></a>
			                    	</div>
						    	</div>

								<div class="card-body p-0">
									
									<ul class="nav nav-sidebar mb-2">
										<li class="nav-item-header">Navigation</li>

										<li class="nav-item">
										<a href="#profile" class="nav-link active" data-toggle="tab">
 												<i class="icon-user"></i>
												 Company Profile
											</a>
										</li>
										<li class="nav-item">
											<a href="#address" class="nav-link" data-toggle="tab">
												<i class="icon-phone"></i>
												Company Address
											</a>
										</li>
										
										<li class="nav-item-divider"></li>
										<li class="nav-item">
											<a href="{%url 'admin:logout'%}" class="nav-link" data-toggle="tab">
												<i class="icon-switch2"></i>
												Logout
											</a>
										</li>
									</ul>
								</div>
							</div>
							<!-- /navigation -->

 
						</div>
						<!-- /sidebar content -->

					</div>
					<!-- /left sidebar component -->


					<!-- Right content -->
					<!-- company profile info -->
					<div style="min-height: calc(130vh + 110px); max-height: calc(120vh + 160px);overflow-y: scroll;" class="tab-content w-100 overflow-auto">
					 
						<div class="tab-pane fade active show" id="profile">
  
							<!-- Profile info -->
							<div class="card">
								<div class="card-header header-elements-inline">
									<h6 class="card-title">Company Information</h6>
									<div class="header-elements">
										<div class="list-icons">
											<a class="list-icons-item" data-action="collapse"></a>
											<a class="list-icons-item" data-action="reload"></a>
											<a class="list-icons-item" data-action="remove"></a>
										</div>
									</div>
								</div>
	
								<div class="card-body">
									 {{form|crispy}}
								</div>
							</div>
							<!-- /profile info -->
							
						</div>
					     
						<div class="tab-pane fade active show" id="address">
  
							<!-- Profile info -->
							<div class="card">
								<div class="card-header header-elements-inline">
									<h6 class="card-title">Company Address</h6>
									<div class="header-elements">
										<div class="list-icons">
											<a class="list-icons-item" data-action="collapse"></a>
											<a class="list-icons-item" data-action="reload"></a>
											<a class="list-icons-item" data-action="remove"></a>
										</div>
									</div>
								</div>
	
								<div class="card-body">
 								</div>
							</div>
							<!-- /profile info -->
							
						</div>
						  
					</div>
					<!-- /right content -->

				</div>
				<!-- /inner container -->
					
			</div>
			<div id="rating_form" class="modal fade" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Only for Institution expert observation.</h5>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
			
						<form action="{%url 'admin:rate_company' pk=object.id%}" enctype="multipart/form-data" method="POST">
							{%csrf_token%}
							
							<div class="modal-body">
								{%if object.company_condition%}
								<div class="form-group">
									<h4>Current Company Condition:<span>&nbsp;</span>{{object.company_condition.name}}</h4>
								</div>
								{%endif%}
								<div class="form-group row">
											<label>Update {{rating_form.company_condition.label}}</label>
												{{rating_form.company_condition}}
											<span class="form-text text-muted">{{rating_form.company_condition.help_text}}</span>
								</div>
								 
			
							</div>
			
							<div class="modal-footer">
								<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
								<button type="submit" id="submit_certificate" class="btn bg-primary">Submit form</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /content area -->
			<input id = "user_name" type="hidden" value="{{user.username}}">
			 
			<script>
			 
				$(document).ready(function () {
					$('#summernote').summernote();
					$('.summernote').summernote();
				});
				var cropX;
				var cropY;
				var cropWidth;
				var cropHeight;
				var modal_image  = document.getElementById("modal_image_field");
				var x = document.getElementById("#id_logo")
			 	
				$("#id_logo").change(function () {
					console.log("some thing")
				
					if (this.files && this.files[0]) {
						var reader = new FileReader();
						reader.readAsDataURL(this.files[0])
						
						reader.onload = function (e) {
										var c = document.getElementById('blogImage')
										console.log("the e targe file is ", e.target.result);
										modal_image.attributes['src'].value = ""	
										
										//console.log("the value of c src is "+ c.attributes['src'].value)
										 $("#modal_image_field").attr("src", e.target.result);
										$("#modalCrop").modal("show");
										e.target.result = "";	
									}
			
						console.log("all files ", this.files)
						console.log("Files of 0 ", this.files[0])
			
						}
					})
			
				$("#modalCrop").on("shown.bs.modal", function () {
					modalCropEdit = document.getElementById('modal_image_field')
					cropper = new Cropper(modalCropEdit,{
								viewMode: 1,
								aspectRatio: 3/1,
								minCropBoxWidth: 300,
								minCropBoxHeight: 100,
			
								crop(event){
									
									console.log("inside crop, the event is "+event)
									setImageCropProperties(
										modal_image_field,
										event.detail.x,
										event.detail.y,
										event.detail.width,
										event.detail.height)
								}
							})
				})
				var cancel = document.getElementById("cancel-btn")
				cancel.addEventListener("click", function(e){
					$("#modalCrop").modal("hide");
				})
				var confirm = document.getElementById("js-crop-and-upload-button")
				confirm.addEventListener("click",function(event){
			
					cropImage(cropX,cropY,cropWidth,cropHeight);
					console.log("finished cropping");
					$("#modalCrop").modal("hide");
			
				})
			
				function setImageCropProperties(image,x,y,width,height){
					console.log("Set image cropper called!")
					cropX = x;
					cropY = y;
					cropWidth = width;
					cropHeight = height;  
				}
				
				function cropImage(x,y,width,height){
					document.getElementById("x").value = cropX;
					document.getElementById("y").value = cropY;
					document.getElementById("width").value = cropWidth;
					document.getElementById("height").value = cropHeight;
				}
				
			</script>
			
{%endblock%}