<!DOCTYPE html>
<html lang="en">
{%load crispy_forms_tags%}
<!-- /login_registration_advanced.html , Fri, 28 Dec 2018 11:02:25 GMT -->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title></title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="/static/admin/global_assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="/static/admin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/static/admin/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
	<link href="/static/admin/assets/css/layout.min.css" rel="stylesheet" type="text/css">
	<link href="/static/admin/assets/css/components.min.css" rel="stylesheet" type="text/css">
	<link href="/static/admin/assets/css/colors.min.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="/static/admin/global_assets/js/main/jquery.min.js"></script>
	<script src="/static/admin/global_assets/js/main/bootstrap.bundle.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->

	<script src="/static/admin/assets/js/app.js"></script>
	<script src="/static/admin/global_assets/js/demo_pages/login.js"></script>

	<!-- /theme JS files -->
	<script src="/static/admin/global_assets/js/plugins/forms/wizards/steps.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
	<!-- <script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script> -->
	<script src="/static/admin/global_assets/js/plugins/forms/inputs/inputmask.js"></script>
	<script src="/static/admin/global_assets/js/plugins/forms/validation/validate.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/extensions/cookie.js"></script>
	<script src="/static/admin/global_assets/js/demo_pages/form_wizard.js"></script>
	 
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script src="/static/admin/global_assets/js/plugins/pickers/color/spectrum.js"></script>
    <script src="/static/admin/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="/static/admin/global_assets/js/demo_pages/picker_color.js"></script>
	<!-- summernote -->
	<link rel="stylesheet" href="/static/summernote/summernote-bs4.css">
	<script src="/static/summernote/summernote-bs4.js"></script>
</head>

<body>

	<!-- Main navbar -->
	<div class="navbar navbar-expand-md navbar-dark">
		<div class="navbar-brand">
			<a href="{%url 'admin:index'%}" class="d-inline-block">
				<img src="/static/admin/global_assets/images/logo_light.png" alt="">
			</a>
		</div>

		<div class="d-md-none">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
				<i class="icon-tree5"></i>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="navbar-mobile">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown">
					<a href="#" class="navbar-nav-link">
						<i class="icon-display4"></i>
						<span class="d-md-none ml-2">Go to website</span>
					</a>					
				</li>

				<li class="nav-item dropdown">
					<a href="#" class="navbar-nav-link">
						<i class="icon-user-tie"></i>
						<span class="d-md-none ml-2">Contact admin</span>
					</a>					
				</li>

				<li class="nav-item dropdown">
					<a href="#" class="navbar-nav-link">
						<i class="icon-cog3"></i>
						<span class="d-md-none ml-2">Options</span>
					</a>					
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content d-flex justify-content-center align-items-center">
				
					<div class="row">
						<div class="col-lg-10 offset-lg-1">
							<div class="card mb-0">
								<div class="card-body">
									<div class="text-center mb-3">
										<h5 class="mb-0">Create Company Profile</h5>
										<a style="float: right;" href="{%url 'admin:index' %}" class="btn btn-warning">SKIP</a>
									</div>
									<form id="companyform" class="wizard-form steps-enable-all" action="{%url 'admin:complete_company_profile'%}"
											method="POST" enctype="multipart/form-data" data-fouc>{%csrf_token%}
											<h6>Company Profile</h6>
											<fieldset>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="col-form-label">{{form.company_name.label|title}}</label>
															{{form.company_name}}
															<span class="form-text text-warning">{{form.company_name.errors}}</span>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label class="col-form-label">{{form.company_name_am.label|title}}</label>
															{{form.company_name_am}}
															<span class="form-text text-warning">{{form.company_name_am.errors}}</span>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-6">
														<div class="form-group ">
															<label class="col-form-label ">{{form.email.label|title}}</label>
															{{form.email}}
															<span class="form-text text-warning">{{form.email.errors}}</span>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group ">
															<label class="col-form-label ">{{form.phone_number.label|title}}</label>
															{{form.phone_number}}
															<span class="form-text text-warning">{{form.phone_number.errors}}</span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														<div class="form-group row">
															<label class="col-form-label ">Company Address</label>
																{{form.location}}
																<span class="form-text text-warning">{{form.location.errors}}</span>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="col-form-label ">{{form.city.label|title}}</label>
																{{form.city}}
																<span class="form-text text-warning">{{form.city.errors}}</span>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="col-form-label ">{{form.postal_code.label|title}}</label>
																{{form.postal_code}}
																<span class="form-text text-warning">{{form.postal_code.errors}}</span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="col-form-label ">{{form.certification.label|title}}</label>
																{{form.certification}}
																<span class="form-text text-warning">{{form.certification.errors}}</span>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="col-form-label ">{{form.product_category.label|title}}</label>
																{{form.product_category}}
																<span class="form-text text-warning">{{form.product_category.errors}}</span>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="col-form-label ">{{form.color.label|title}}</label>
																{{form.color}}
																<span class="form-text text-warning">{{form.color.errors}}</span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group ">
															<label class="col-form-label ">{{form.company_logo.label|title}}</label>
																{{form.company_logo}}
																<span class="form-text text-muted">Accepted formats:{{form.company_logo.help_text}}</span>
																<span class="form-text text-warning">{{form.company_logo.errors}}</span>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label class="col-form-label ">{{form.company_intro.label|title}}</label>
																{{form.company_intro}}
																<span class="form-text text-muted">Accepted formats:{{form.company_intro.help_text}}</span>
																<span class="form-text text-warning">{{form.company_intro.errors}}</span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														<div class="form-group ">
															<label class="col-form-label ">{{form.capital.label|title}}</label>
																{{form.capital}}
																<span class="form-text text-warning">{{form.capital.errors}}</span>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="col-form-label ">{{form.established_year.label|title}}</label>
																{{form.established_year}}
																<span class="form-text text-warning">{{form.established_year.errors}}</span>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="col-form-label ">{{form.number_of_employees.label|title}}</label>
																{{form.number_of_employees}}
																<span class="form-text text-warning">{{form.number_of_employees.errors}}</span>
														</div>
													</div>
												</div>
												
												<div class="form-group">
													<label class="col-form-label ">{{form.detail.label|title}}</label>
														{{form.detail|safe}}
														<span class="form-text text-warning">{{form.detail.errors}}</span>
												</div>
												<div class="form-group">
													<label class="col-form-label ">{{form.detail_am.label|title}}</label>
														{{form.detail_am|safe}}
														<span class="form-text text-warning">{{form.detail_am.errors}}</span>
												</div>
											</fieldset>

											<h6>Trade Capacity</h6>
											<fieldset>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label>{{form.incoterms.label|title}}</label>
															{{form.incoterms}}
															<span class="form-text text-warning">{{form.incoterms.errors}}</span>
														</div>
													</div>

													<div class="col-md-6">
														<div class="form-group">
															<label>{{form.incoterms_am.label|title}}</label>
															{{form.incoterms_am}}
															<span class="form-text text-warning">{{form.incoterms_am.errors}}</span>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label>{{form.terms_of_payment.label|title}}</label>
															{{form.terms_of_payment}}
															<span class="form-text text-warning">{{form.terms_of_payment.errors}}</span>
														</div>
													</div>

													<div class="col-md-6">
														<div class="form-group">
															<label>{{form.no_trading_staff.label|title}}</label>
															{{form.no_trading_staff}}
															<span class="form-text text-warning">{{form.no_trading_staff.errors}}</span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label>{{form.average_lead_time.label|title}}</label>
															{{form.average_lead_time}}
															<span class="form-text text-warning">{{form.average_lead_time.errors}}</span>
														</div>
													</div>

													<div class="col-md-6">
														<div class="form-group">
															<label>{{form.average_lead_time_am.label|title}}</label>
															{{form.average_lead_time_am}}
															<span class="form-text text-warning">{{form.average_lead_time_am.errors}}</span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label>{{form.export_yr.label|title}}</label>
															{{form.export_yr}}
															<span class="form-text text-warning">{{form.export_yr.errors}}</span>
														</div>
													</div>

													<div class="col-md-6">
														<div class="form-group">
															<label>{{form.export_percentage.label|title}}</label>
															{{form.export_percentage}}
															<span class="form-text text-warning">{{form.export_percentage.errors}}</span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label>{{form.main_market.label|title}}</label>
															{{form.main_market}}
															<span class="form-text text-warning">{{form.main_market.errors}}</span>
														</div>
													</div>

													<div class="col-md-6">
														<div class="form-group">
															<label>{{form.main_market_am.label|title}}</label>
															{{form.main_market_am}}
															<span class="form-text text-warning">{{form.main_market_am.errors}}</span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label>{{form.nearest_port.label|title}}</label>
															{{form.nearest_port}}
															<span class="form-text text-warning">{{form.nearest_port.errors}}</span>
														</div>
													</div>

													<div class="col-md-6">
														<div class="form-group">
															<label>{{form.nearest_port_am.label|title}}</label>
															{{form.nearest_port_am}}
															<span class="form-text text-warning">{{form.nearest_port_am.errors}}</span>
														</div>
													</div>
													
												</div>
											</fieldset>

											<h6>Production Capacity</h6>
											<fieldset>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label>{{form.r_and_d_capacity.label|title}}</label>
															{{form.r_and_d_capacity}}
															<span class="form-text text-warning">{{form.r_and_d_capacity.errors}}</span>
														</div>
													</div>

													<div class="col-md-6">
														<div class="form-group">
															<label>{{form.r_and_d_capacity_am.label|title}}</label>
															{{form.r_and_d_capacity_am}}
															<span class="form-text text-warning">{{form.r_and_d_capacity_am.errors}}</span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														<div class="form-group">
															<label>{{form.r_and_d_capacity.label|title}}</label>
															{{form.r_and_d_capacity}}
															<span class="form-text text-warning">{{form.r_and_d_capacity.errors}}</span>
														</div>
													</div>

													<div class="col-md-4">
														<div class="form-group">
															<label>{{form.no_production_lines.label|title}}</label>
															{{form.no_production_lines}}
															<span class="form-text text-warning">{{form.no_production_lines.errors}}</span>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label>{{form.anual_op_value.label|title}}</label>
															{{form.anual_op_value}}
															<span class="form-text text-warning">{{form.anual_op_value.errors}}</span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label>{{form.anual_op_main_products.label|title}}</label>
															{{form.anual_op_main_products}}
															<span class="form-text text-warning">{{form.anual_op_main_products.errors}}</span>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label>{{form.anual_op_main_products_am.label|title}}</label>
															{{form.anual_op_main_products_am}}
															<span class="form-text text-warning">{{form.anual_op_main_products_am.errors}}</span>
														</div>
													</div>
												</div>
											</fieldset>

								</div>
							</div>
						</div>
					</div>
				 
			</div>
			<!-- /content area -->


			<!-- Footer -->
			<div class="navbar navbar-expand-lg navbar-light">
				<div class="text-center d-lg-none w-100">
					<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
						<i class="icon-unfold mr-2"></i>
						Footer
					</button>
				</div>

				<div class="navbar-collapse collapse" id="navbar-footer">
					<span class="navbar-text">
						&copy; 2015 - 2018. <a href="#">Admin Templet</a> by <a href="" target="_blank">Admin</a>
					</span>

					<ul class="navbar-nav ml-lg-auto">
						<li class="nav-item"><a href="" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>
						<li class="nav-item"><a href="" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a></li>
						<li class="nav-item"><a href="" class="navbar-nav-link font-weight-semibold"><span class="text-pink-400"><i class="icon-cart2 mr-2"></i> Purchase</span></a></li>
					</ul>
				</div>
			</div>
			<!-- /footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->
	<script>
		$(document).ready(function () {
			$('#summernote').summernote();
			$('.summernote').summernote();
		});
	</script>

</body>

<!-- /login_registration_advanced.html , Fri, 28 Dec 2018 11:02:25 GMT -->
</html>
 