{%extends 'admin/base_site.html'%}
{% block extrastyle %}
<script src="/static/admin/global_assets/js/plugins/forms/wizards/steps.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/inputs/inputmask.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/validation/validate.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/extensions/cookie.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_wizard.js"></script>
{% endblock %}
{%block pagename%}Company Form {%endblock%}
{%block content%}

<!-- Content area -->
<div class="content">
	<!-- Starting step -->
	<div class="card">
		<div class="card-header bg-white header-elements-inline">
			<h6 class="card-title">Create Company Profile</span></h6>
			<div class="header-elements">
				<div class="list-icons">
					<a class="list-icons-item" data-action="collapse"></a>
					<a class="list-icons-item" data-action="reload"></a>
					<a class="list-icons-item" data-action="remove"></a>
				</div>
			</div>
		</div>

		<form id="companyform" class="wizard-form steps-enable-all" action="{%url 'admin:create_company_profile'%}"
			method="POST" enctype="multipart/form-data" data-fouc>{%csrf_token%}
			<h6>Company Profile</h6>
			<fieldset>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-form-label">{{form.company_name.label|title}}</label>
							{{form.company_name}}
							<span class="form-text text-warning">{{form.company_name.errors}}</span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-form-label">{{form.company_name_am.label|title}}</label>
							{{form.company_name_am}}
							<span class="form-text text-warning">{{form.company_name_am.errors}}</span>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group ">
							<label class="col-form-label ">{{form.email.label|title}}</label>
							{{form.email}}
							<span class="form-text text-warning">{{form.email.errors}}</span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group ">
							<label class="col-form-label ">{{form.phone_number.label|title}}</label>
							{{form.phone_number}}
							<span class="form-text text-warning">{{form.phone_number.errors}}</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group row">
							<label class="col-form-label ">Company Address</label>
								{{form.location}}
								<span class="form-text text-warning">{{form.location.errors}}</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="col-form-label ">{{form.city.label|title}}</label>
								{{form.city}}
								<span class="form-text text-warning">{{form.city.errors}}</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="col-form-label ">{{form.postal_code.label|title}}</label>
								{{form.postal_code}}
								<span class="form-text text-warning">{{form.postal_code.errors}}</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-form-label ">{{form.certification.label|title}}</label>
								{{form.certification}}
								<span class="form-text text-warning">{{form.certification.errors}}</span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-form-label ">{{form.products.label|title}}</label>
								{{form.products}}
								<span class="form-text text-warning">{{form.products.errors}}</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group ">
							<label class="col-form-label ">{{form.company_logo.label|title}}</label>
								{{form.company_logo}}
								<span class="form-text text-muted">Accepted formats:{{form.company_logo.help_text}}</span>
								<span class="form-text text-warning">{{form.company_logo.errors}}</span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="col-form-label ">{{form.company_intro.label|title}}</label>
								{{form.company_intro}}
								<span class="form-text text-muted">Accepted formats:{{form.company_intro.help_text}}</span>
								<span class="form-text text-warning">{{form.company_intro.errors}}</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group ">
							<label class="col-form-label ">{{form.capital.label|title}}</label>
								{{form.capital}}
								<span class="form-text text-warning">{{form.capital.errors}}</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="col-form-label ">{{form.established_year.label|title}}</label>
								{{form.established_year}}
								<span class="form-text text-warning">{{form.established_year.errors}}</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="col-form-label ">{{form.number_of_employees.label|title}}</label>
								{{form.number_of_employees}}
								<span class="form-text text-warning">{{form.number_of_employees.errors}}</span>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-form-label ">{{form.detail.label|title}}</label>
						{{form.detail|safe}}
						<span class="form-text text-warning">{{form.detail.errors}}</span>
				</div>
				<div class="form-group">
					<label class="col-form-label ">{{form.detail_am.label|title}}</label>
						{{form.detail_am|safe}}
						<span class="form-text text-warning">{{form.detail_am.errors}}</span>
				</div>
			</fieldset>

			<h6>Trade Capacity</h6>
			<fieldset>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>{{form.incoterms.label|title}}</label>
							{{form.incoterms}}
							<span class="form-text text-warning">{{form.incoterms.errors}}</span>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label>{{form.incoterms_am.label|title}}</label>
							{{form.incoterms_am}}
							<span class="form-text text-warning">{{form.incoterms_am.errors}}</span>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>{{form.terms_of_payment.label|title}}</label>
							{{form.terms_of_payment}}
							<span class="form-text text-warning">{{form.terms_of_payment.errors}}</span>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label>{{form.no_trading_staff.label|title}}</label>
							{{form.no_trading_staff}}
							<span class="form-text text-warning">{{form.no_trading_staff.errors}}</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>{{form.average_lead_time.label|title}}</label>
							{{form.average_lead_time}}
							<span class="form-text text-warning">{{form.average_lead_time.errors}}</span>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label>{{form.average_lead_time_am.label|title}}</label>
							{{form.average_lead_time_am}}
							<span class="form-text text-warning">{{form.average_lead_time_am.errors}}</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>{{form.export_yr.label|title}}</label>
							{{form.export_yr}}
							<span class="form-text text-warning">{{form.export_yr.errors}}</span>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label>{{form.export_percentage.label|title}}</label>
							{{form.export_percentage}}
							<span class="form-text text-warning">{{form.export_percentage.errors}}</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>{{form.main_market.label|title}}</label>
							{{form.main_market}}
							<span class="form-text text-warning">{{form.main_market.errors}}</span>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label>{{form.main_market_am.label|title}}</label>
							{{form.main_market_am}}
							<span class="form-text text-warning">{{form.main_market_am.errors}}</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>{{form.nearest_port.label|title}}</label>
							{{form.nearest_port}}
							<span class="form-text text-warning">{{form.nearest_port.errors}}</span>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label>{{form.nearest_port_am.label|title}}</label>
							{{form.nearest_port_am}}
							<span class="form-text text-warning">{{form.nearest_port_am.errors}}</span>
						</div>
					</div>
					 
				</div>
			</fieldset>

			<h6>Production Capacity</h6>
			<fieldset>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>{{form.r_and_d_capacity.label|title}}</label>
							{{form.r_and_d_capacity}}
							<span class="form-text text-warning">{{form.r_and_d_capacity.errors}}</span>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label>{{form.r_and_d_capacity_am.label|title}}</label>
							{{form.r_and_d_capacity_am}}
							<span class="form-text text-warning">{{form.r_and_d_capacity_am.errors}}</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>{{form.r_and_d_capacity.label|title}}</label>
							{{form.r_and_d_capacity}}
							<span class="form-text text-warning">{{form.r_and_d_capacity.errors}}</span>
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<label>{{form.no_production_lines.label|title}}</label>
							{{form.no_production_lines}}
							<span class="form-text text-warning">{{form.no_production_lines.errors}}</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>{{form.anual_op_value.label|title}}</label>
							{{form.anual_op_value}}
							<span class="form-text text-warning">{{form.anual_op_value.errors}}</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label>{{form.anual_op_main_products.label|title}}</label>
							{{form.anual_op_main_products}}
							<span class="form-text text-warning">{{form.anual_op_main_products.errors}}</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label>{{form.anual_op_main_products_am.label|title}}</label>
							{{form.anual_op_main_products_am}}
							<span class="form-text text-warning">{{form.anual_op_main_products_am.errors}}</span>
						</div>
					</div>
				</div>
			</fieldset>

		</form>
	</div>
	<!-- /starting step -->

</div>
<!-- /content area -->
<script>
	$(document).ready(function () {
		$(".summernote").summernote();
	});
</script>
{%endblock%}