{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags%}
{% block extrastyle %}
<script src="/static/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/inputs/inputmask.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/validation/validate.min.js"></script>
{{form.media}}
{% endblock %}
{%block pagename%}Inistitute Profile Form {%endblock%}
{%block nav%}<a href="{%url 'admin:create_fbpidi_company'%}" class="breadcrumb-item">Inistitute Form</a>{%endblock%}
{%block content%}

<!-- Content area -->
<div class="content">
	<!-- Starting step -->
	<div class="card">
		<div class="card-header bg-white header-elements-inline">
			<h6 class="card-title">Create Company Profile</span></h6>
			<div class="header-elements">
				<div class="list-icons">
					<a class="list-icons-item" data-action="collapse"></a>
					<a class="list-icons-item" data-action="reload"></a>
					<a class="list-icons-item" data-action="remove"></a>
				</div>
			</div>
		</div>

		<div class="card-body">
		<form id="fbpidiform" action="{%url 'admin:create_fbpidi_company'%}"
			method="POST" enctype="multipart/form-data">{%csrf_token%}			
			{{form|crispy}}
			<input id="submit" type="submit" class="btn btn-primary" value="Submit changes">
		</form>
		</div>
	</div>
	<!-- /starting step -->

</div>
<!-- /content area -->
<script>
	$(document).ready(function () {
		$(".summernote").summernote();

		$("#submit").click(function(){
			console.log("Hello There");
			$("#fbpidiform").submit();
		});
	});
	function isNumber(kkk)
  {
    
     $("#"+kkk).val($("#"+kkk).val().replace(/[^\d.]/g, ''));  
  }
</script>
{%endblock%}