{%extends 'admin/base_site.html'%}
{%load alert_template_tags%}
{%load crispy_forms_tags%}
{% block extrastyle %}
<script>
	var my_token = "{{csrf_token}}";
	var company_id = "{{object.id}}";
	var address_id = "{{object.get_company_address.id}}";
</script>
<!-- Theme JS files -->
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/user_pages_profile.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>
<script src="/static/admin/assets/js/company_detail.js"></script>
 
<link rel="stylesheet" href="/static/admin/cropperjs/dist/cropper.min.css">
<script type="module" src="/static/admin/cropperjs/dist/cropper.min.js"></script>
<!-- /theme JS files -->
{{form.media}}
{% endblock %}
{%block pagename%}Company - Profile{%endblock%}
{%block nav%}<a href="{%url 'admin:update_company_info' pk=object.id%}" class="breadcrumb-item">Company Detail</a>{%endblock%}
{%block industry%}active{%endblock%}
{%block content%}
	

			<!-- Content area -->
			<div class="content">
				<ul class="fab-menu fab-menu-fixed fab-menu-bottom-right" data-fab-toggle="click" data-fab-state="closed">
					<li>
						 
						<a target="_blank" title="Export PDF" href="{%url 'admin:get_company_pdf' pk=object.id%}"  class="fab-menu-btn btn bg-teal-400 btn-float rounded-round btn-icon">
							<i class="icon-file-pdf icon-paragraph-justify3"></i></a>
					</li>
				</ul>
				<!-- Inner container -->
				<div class="d-flex align-items-start flex-column flex-md-row">

					<!-- Left content -->
					<div class="tab-content w-100 overflow-auto order-2 order-md-1" 
						style="min-height: calc(120vh + 110px); max-height: calc(120vh + 140px);overflow-y: scroll;">

						<div class="tab-pane fade active show" id="profile">
							<div class="card">
								<div class="card-header header-elements-sm-inline">
									<h6 class="card-title">You Can Edit/Update Your Company Profile Here</h6>
								</div>

								<div class="card-body">
									 <form id='update_company_info' action="#" enctype="multipart/form-data" method="post">
										{%csrf_token%}
										<!-- {{form|crispy}} -->
										<div class="form-group row">
											<div class="col-md-6">
												<label for="">{{form.name.label}} *</label>
												{{form.name}}
											</div>
											<div class="col-md-6">
												<label for="">{{form.name_am.label}} *</label>
												{{form.name_am}}
											</div>					
										</div>
										<div class="form-group row">
											<label for="">{{form.geo_location.label}} *</label>
										</div>
										<div class="form-group row p-2 ml-2">
												{{form.geo_location}}					
										</div>
										
										<div class="form-group row">
											<div class="col-md-6">
												<label for="">{{form.contact_person.label}} *</label>
												{{form.contact_person}}
											</div>
											<div class="col-md-6">
												<label for="">{{form.ownership_form.label}} *</label>
												{{form.ownership_form}}
											</div>
										</div>
										
										<div class="form-group row">
											
											<div class="col-md-6">
												<label for="">{{form.established_yr.label}} *</label>
												{{form.established_yr}}
											</div>
											<div class="col-md-6">
												<label for="">{{form.category.label}} *</label>
												{{form.category}}									
										</div>
										</div>
										
										<div class="form-group row">
											
											<div class="col-md-6">
												<label>{{form.trade_license.label}} *</label>
													{{form.trade_license}} 
												<span class="form-text text-muted">{{form.trade_license.help_text}}b</span>
											</div>
											<div class="col-md-6">
												{{form.x}}
												{{form.y}}
												{{form.height}}
												{{form.width}}
												<label>{{form.logo.label}} *</label>
													{{form.logo}}
												<span class="form-text text-muted">{{form.logo.help_text}}b</span>
											</div>
											
										</div>
										<div class="form-group">
											<label for="">{{form.detail.label}} *</label>
											{{form.detail}}
										</div>
										<div class="form-group">
										<label for="">{{form.detail_am.label}} *</label>
										{{form.detail_am}}
									</div>
										<hr>
										<div class="form-group row">
											
											<div class="col-md-6">
												<label class="d-block font-weight-semibold">Does the company have expansion plan?</label>
												<label for=""><input type="radio" name="expn_plan" id="expn_yes"><span class="ml-2">Yes</span></label><span class="ml-4 mr-4"></span>
												<label for=""><input type="radio" name="expn_plan" id="expn_no" checked><span class="ml-2">No</span></label>
											</div>
											<div class="col-md-12" id="div_expn" style="display: none;">
												<label for="">If Yes Please Specify</label>
												<div class="form-group">
													{{form.expansion_plan.label}}
													{{form.expansion_plan}}
													<span class="form-text text-warning">{{form.expansion_plan.errors}}</span>
												</div>
											</div>
										</div>
										<hr>
										<div class="form-group row">
												<div class="col-md-6">
													<label>{{form.working_hours.label}} *</label>
														{{form.working_hours}}
														<span class="form-text text-warning">{{form.working_hours.errors}}</span>
												</div>
												<div class="col-md-6">
													<label>{{form.orgn_strct.label}} *</label>
													<div class="uniform-uploader">
														{{form.orgn_strct}}
														<span class="filename" style="user-select: none;">No file selected</span>
														<span class="action btn bg-warning" style="user-select: none;">Choose File</span>
													</div>
													<span class="form-text text-muted">{{form.orgn_strct.help_text}}</span>
													<span class="form-text text-warning">{{form.orgn_strct.errors}}</span>
												</div>					
										</div>
										<hr>
										
										<div class="form-group">
											<div></div>
											<label class="d-block font-weight-semibold">Do you have quality control laboratory?</label>
											<label for=""><input type="radio" name="lab" id="lab_yes"><span class="ml-2">Yes</span></label><span class="ml-4 mr-4"></span>
											<label for=""><input type="radio" name="lab" id="lab_no" checked><span class="ml-2">No</span></label>
											<div id="div_lab" style="display: none;">
												<label for="">Please Specifiy The Following</label>
												<div class="form-group">
													{{form.lab_test_analysis.label}}
													{{form.lab_test_analysis}}
													<span class="form-text text-warning">{{form.lab_test_analysis.errors}}</span>
												</div>
												<div class="form-group">
													{{form.lab_equipment.label}}
													{{form.lab_equipment}}
													<span class="form-text text-warning">{{form.lab_equipment.errors}}</span>
												</div>
											
											</div>
										</div>
										<hr>
										<div class="form-group">
											<label class="d-block font-weight-semibold">Does the company outsource test parameters and contract agreement?</label>
											<label for=""><input type="radio" name="outsource" id="outsrc_yes"><span class="ml-2">Yes</span></label><span class="ml-4 mr-4"></span>
											<label for=""><input type="radio" name="outsource" id="outsrc_no" checked><span class="ml-2">No</span></label>
											<div id="div_outsrc" style="display: none;">
												<label for="">Please Specifiy The Following</label>
												<div class="form-group">
													{{form.outsourced_test_param.label}}
													{{form.outsourced_test_param}}
													<span class="form-text text-warning">{{form.outsourced_test_param.errors}}</span>
												</div>
											
											</div>
										</div>
										<hr>
										<div class="form-group row">
											
											<div class="col-md-6">
												<label for="">{{form.management_tools.label}} *</label>
												{{form.management_tools}}
												<span class="form-text text-warning">{{form.management_tools.errors}}</span>
											</div>
											<div class="col-md-6">
												<label for="">{{form.certification.label}} *</label>
												{{form.certification}}
												<span class="form-text text-warning">{{form.certification.errors}}</span>
											</div>
											
										</div>
										<hr>
										<div class="form-group">
											<label class="d-block font-weight-semibold">Does your company conduct Research and Development?</label>
											<label for=""><input type="radio" name="research" id="rsrch_yes"><span class="ml-2">Yes</span></label><span class="ml-4 mr-4"></span>
											<label for=""><input type="radio" name="research" id="rsrch_no" checked><span class="ml-2">No</span></label>
											<div id="div_rsrch" style="display: none;">
												<label class="p-2" for="">Please Specifiy The Following</label>
												<div class="form-group">
													{{form.conducted_research.label}}
													{{form.conducted_research}}
													<span class="form-text text-warning">{{form.conducted_research.errors}}</span>
												</div>
												
											</div>
										</div>
										<hr>
										<div class="form-group">
											<label class="d-block font-weight-semibold">Do you have new product developed?</label>
											<label for=""><input type="radio" name="new_product" id="product_yes"><span class="ml-2">Yes</span></label><span class="ml-4 mr-4"></span>
											<label for=""><input type="radio" name="new_product" id="product_no" checked><span class="ml-2">No</span></label>
											<div id="div_product" style="display: none;">
												<label class="p-2" for="">Please Specifiy The Following</label>
												<div class="form-group">
													{{form.new_product_developed.label}}
													{{form.new_product_developed}}
													<span class="form-text text-warning">{{form.new_product_developed.errors}}</span>
												</div>
												
											</div>
										</div>
										<hr>
										
										<div class="form-group">
											<label class="d-block font-weight-semibold">Do you have properly available infrastructure?</label>
											
											<div class="ml-4 row">
												<div class="col-md-4">
													<label class="mr-2 font-weight-semibold" for=""><span class="mr-1">{{form.electric_power}}</span>{{form.electric_power.label}}</label>
												</div>
												<div class="col-md-4">
													<label class="mr-2 font-weight-semibold" for=""><span class="mr-1">{{form.water_supply}}</span>{{form.water_supply.label}}</label>
												</div>

												<div class="col-md-4">
													<label class="mr-2 font-weight-semibold" for=""><span class="mr-1">{{form.telecom}}</span>{{form.telecom.label}}</label>
													
												</div>
											</div>
										</div>
										<hr>
										<div class="form-group row ml-4">
											<div class="col-md-4">
												<label class="font-weight-semibold pr-2" for=""><span class="mr-1">{{form.marketing_department}}</span>{{form.marketing_department.label}}</label>
												
											</div>
											<div class="col-md-4">
												<label class="font-weight-semibold" for=""><span class="mr-1">{{form.e_commerce}}</span>{{form.e_commerce.label}}</label>
												
											</div>
											<div class="col-md-4">
												<label class="font-weight-semibold" for=""><span class="mr-1">{{form.active_database}}</span>{{form.active_database.label}}</label>
												
											</div>
											
										</div>
										<hr>
										<div class="form-group">
											<label class="d-block font-weight-semibold">Does the company have waste treatment and disposal system?</label>
											<label for=""><input type="radio" name="waste_trtmt" id="wastetrt_yes"><span class="ml-2">Yes</span></label><span class="ml-4 mr-4"></span>
											<label for=""><input type="radio" name="waste_trtmt" id="wastetrt_no" checked><span class="ml-2">No</span></label>
											<div id="div_waste_trtmt" style="display: none;">
												<label class="p-2" for="">Please Specifiy The Following</label>
												<div class="form-group">
													{{form.waste_trtmnt_system.label}}
													{{form.waste_trtmnt_system}}
													<span class="form-text text-warning">{{form.waste_trtmnt_system.errors}}</span>
												</div>
												
											</div>
										</div>
										<hr>
										<div class="form-group row ml-4">
											<div class="col-md-6">
												<label class="font-weight-semibold" for=""><span class="mr-1">{{form.efluent_treatment_plant}}</span>{{form.efluent_treatment_plant.label}}</label>
												
											</div>
											<div class="col-md-6">
												<label class="font-weight-semibold" for=""><span class="mr-1">{{form.env_mgmt_plan}}</span>{{form.env_mgmt_plan.label}}</label>
												
											</div>
											
										</div>
										<hr>
										
										<div class="form-group">
											<div class="row">
												<div class="col-md-6">
													<label class="d-block font-weight-semibold">Does your company measure its gas /carbon/ emission to the environment?</label>
													<label for=""><input type="radio" name="carbon_emision" id="ce_yes"><span class="ml-2">Yes</span></label><span class="ml-4 mr-4"></span>
													<label for=""><input type="radio" name="carbon_emision" id="ce_no" checked><span class="ml-2">No</span></label>
													
												</div>		
												<div class="col-md-6">
													<label>{{form.source_of_energy.label}} *</label>
														{{form.source_of_energy}}
														<span class="form-text text-warning">{{form.source_of_energy.errors}}</span>
												</div>
															
											</div>
											<div class="col-md-12" id="div_ce" style="display: none;">
												<label for="" class="p-2">Please Specify the following</label>
												<div class="form-group">
													<label for="">{{form.gas_carb_emision.label}}</label>
													{{form.gas_carb_emision}}
													<span class="form-text text-warning">{{form.gas_carb_emision.errors}}</span>
												</div>
											
											</div>
										</div>
										<hr>
										<div class="form-group">
											<label class="d-block font-weight-semibold">Is there any environmental issue complaint with the local community?</label>
											<label for=""><input type="radio" name="env_complaint" id="env_complaint_yes"><span class="ml-2">Yes</span></label><span class="ml-4 mr-4"></span>
											<label for=""><input type="radio" name="env_complaint" id="env_complaint_no" checked><span class="ml-2">No</span></label>
											<div id="div_env_complaint" style="display: none;">
												<label for="" class="p-2">Please Specify the following</label>
												<div class="form-group">
													<label for="">{{form.comunity_compliant.label}}</label>
													{{form.comunity_compliant}}
													<span class="form-text text-warning">{{form.comunity_compliant.errors}}</span>
												</div>
												
											</div>
										</div>
										<hr>
										<div class="form-group row ml-4">
											<div class="col-md-6">
												<label class="font-weight-semibold" for=""><span class="mr-1">{{form.compound_allot}}</span>{{form.compound_allot.label}}</label>
												
											</div>
											<div class="col-md-6">
												<label class="font-weight-semibold" for=""><span class="mr-1">{{form.env_focal_person}}</span>{{form.env_focal_person.label}}</label>
												
											</div>
											
										</div>
										<hr>
										<div class="form-group row ml-4">
											<div class="col-md-6">
												<label class="font-weight-semibold" for=""><span class="mr-1">{{form.safety_profesional}}</span>{{form.safety_profesional.label}}</label>
												
											</div>
											<div class="col-md-6">
												<label class="font-weight-semibold" for=""><span class="mr-1">{{form.notification_procedure}}</span>{{form.notification_procedure.label}}</label>
												
											</div>
											
										</div>
										<hr>
										<div class="form-group">
											<label class="d-block font-weight-semibold">Industry university linkage</label>
											<label for=""><input type="radio" name="linkage" id="linkage_yes"><span class="ml-2">Yes</span></label><span class="ml-4 mr-4"></span>
											<label for=""><input type="radio" name="linkage" id="linkage_no" checked><span class="ml-2">No</span></label>
											<div id="div_linkage" style="display: none;">
												<label for="" class="p-2">Please Specify the following</label>
												<div class="form-group">
													<label for="">{{form.university_linkage.label}}</label>
													{{form.university_linkage}}
													<span class="form-text text-warning">{{form.university_linkage.errors}}</span>
												</div>
											</div>
										</div>
										<hr>
										<div class="form-group">
											<label class="d-block font-weight-semibold">{{form.quality_defects.label}}</label>
													{{form.quality_defects}}
													<span class="form-text text-warning">{{form.quality_defects.errors}}</span>
										</div>
										<hr>
										<div class="form-group">
											<label class="d-block font-weight-semibold">{{form.gas_waste_mgmnt_measure.label}}</label>
													{{form.gas_waste_mgmnt_measure}}
													<span class="form-text text-warning">{{form.gas_waste_mgmnt_measure.errors}}</span>
										</div>
										<hr>
										<div class="form-group row ml-4">
											<div class="col-md-6">
												<label class="font-weight-semibold" for=""><span class="mr-1">{{form.recall_system}}</span>{{form.recall_system.label}}</label>
												
											</div>
											<div class="col-md-6">
												<label class="font-weight-semibold" for="">{{form.support_required.label}} *</label>
												{{form.support_required}}
												<span class="form-text text-warning">{{form.support_required.errors}}</span>
											</div>
											
										</div>
										<hr>
										<div>
											<button id="submit_update" type="submit" class="btn btn-success btn-md">Save Chages <i class="fa fa-mark"></i></button>
										</div>
									</form>
								</div>
								<div class="card-footer">
									 
								</div>
							</div>

					    </div>
						{%include 'admin/company/company_form_tabs.html'%}
					    

					</div>
					<!-- /left content -->


					<!-- Right sidebar component -->
					<div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-right wmin-300 border-0 shadow-0 order-1 order-md-2 sidebar-expand-md">

						<!-- Sidebar content -->
						<div class="sidebar-content">
							<div class="card-body bg-indigo-400 text-center card-img-top" style="background-size: contain;">
								<div class="card-img-actions d-inline-block mb-3">
									<img class="img-fluid rounded-circle" src="{%if object.logo%}{{object.logo.url}}{%endif%}" width="170" height="120" alt="">
									<div class="card-img-actions-overlay rounded-circle">
										
									</div>
								</div>

								<h6 class="font-weight-semibold mb-0">{{company.name}}</h6>
								<!-- <span class="d-block opacity-75">{{company.products.all}}</span> -->

								<!-- <div class="list-icons list-icons-extended mt-3">
									<a href="#" class="list-icons-item text-white" data-popup="tooltip" title="" data-container="body" data-original-title="Google Drive"><i class="icon-google-drive"></i></a>
									<a href="#" class="list-icons-item text-white" data-popup="tooltip" title="" data-container="body" data-original-title="Twitter"><i class="icon-twitter"></i></a>
									<a href="#" class="list-icons-item text-white" data-popup="tooltip" title="" data-container="body" data-original-title="Github"><i class="icon-github"></i></a>
								</div> -->
							</div>
					    	<!-- /user card -->
							<div class="card">
								
								<div class="card-header bg-transparent header-elements-inline">
									<span class="card-title font-weight-semibold">Yearly and Daily Data</span>
									<div class="header-elements">
										<div class="list-icons">
					                		<a class="list-icons-item" data-action="collapse"></a>
				                		</div>
			                		</div>
								</div>

								<div class="card-body p-0">
									<ul class="nav nav-sidebar my-2">
										<li class="nav-item">
											<a href="#" data-toggle="tab" data-target="#profile" class="nav-link">
												<i class="icon-office"></i>
												Company Information
											</a>
										</li>
										<li class="nav-item">
											{%if object.get_company_address%}
											<a href="#" id="edit_address" data-toggle="tab" data-target="#address" class="nav-link">
												<i class="icon-phone"></i>
												 Company Address 
											</a>
											{%else%}
											<a href="#" data-toggle="tab" data-target="#address" class="nav-link">
												<i class="icon-phone"></i>
												 Company Address
											</a>
											{%endif%}
										</li>
										<li class="nav-item">
											<a href="#" data-toggle="tab" data-target="#inv_capital_form_tab" class="nav-link">
												<i class="icon-cash3"></i>
												Investment Capital
											</a>
										</li>
										<li class="nav-item">
											<a href="#" data-toggle="tab" data-target="#certificate_form_tab" class="nav-link">
												<i class="icon-certificate"></i>
												Certificate
												<!-- <span class="badge bg-warning badge-pill ml-auto"><i class="fa fa-plus"></i>add</span> -->
											</a>
										</li>
										<li class="nav-item">
											<a href="#" data-toggle="tab" data-target="#employees_form_tab" class="nav-link">
												<i class="icon-users4"></i>
												Employees
												{%if object.id|alert_employees_data == False%}
												<span class="badge bg-warning badge-pill ml-auto">Add last year data</span>
												{%endif%}
											</a>
										</li>
										<li class="nav-item">
											<a href="#" data-toggle="tab" data-target="#createdjob_form_tab" class="nav-link">
												<i class="icon-task"></i>
												Created Jobs
												{%if object.id|alert_job_created_data == False%}
												<span class="badge bg-warning badge-pill ml-auto"><small>Add The last Quarter Data</small></span>
												{%endif%}
											</a>
										</li>
										<li class="nav-item">
											<a href="#" data-toggle="tab" data-target="#education_status_form_tab" class="nav-link">
												<i class="icon-user-tie"></i>
												Employee Education Status
												{%if object.id|alert_edu_status_data == False%}
												<span class="badge bg-warning badge-pill ml-auto"><small>Add the last quarter data</small></span>
												{%endif%}
											</a>
										</li>
										<li class="nav-item">
											<a href="#" data-toggle="tab" data-target="#femaleposn_form_tab" class="nav-link">
												<i class="icon-users4"></i>
												Females Employees
												{%if object.id|alert_female_emp_data == False%}
												<span class="badge bg-warning badge-pill ml-auto"><small>add the last quarter data</small></span>
												{%endif%}
											</a>
										</li>
										<li class="nav-item">
											<a href="#" data-toggle="tab" data-target="#srcamnt_input_form_tab" class="nav-link">
												<i class="icon-stack2"></i>
												Source & Ammount of inputs
												<!-- <span class="badge bg-warning badge-pill ml-auto"><i class="fa fa-plus"></i>add</span> -->
											</a>
										</li>
										<li class="nav-item">
											<a href="#" data-toggle="tab" data-target="#power_consumption_form_tab" class="nav-link">
												<i class="icon-power2"></i>
												Daily Power Consumption
												<!-- <span class="badge bg-warning badge-pill ml-auto"><i class="fa fa-plus"></i>add</span> -->
											</a>
										</li>
										<li class="nav-item">
											<a href="#" data-toggle="tab" data-target="#destination_form_tab" class="nav-link">
												<i class="icon-location3"></i>
												Market Destination
												<!-- <span class="badge bg-warning badge-pill ml-auto"><i class="fa fa-plus"></i>add</span> -->
											</a>
										</li>
										<li class="nav-item">
											<a href="#" data-toggle="tab" data-target="#target_form_tab" class="nav-link">
												<i class="icon-target "></i>
												Target Market
												<!-- <span class="badge bg-warning badge-pill ml-auto"><i class="fa fa-plus"></i>add</span> -->
											</a>
										</li>
										
									</ul>
								</div>
							</div> 
							<!-- /balance changes -->

						</div>
						<!-- /sidebar content -->

					</div>
					<!-- /right sidebar component -->

				</div>
				<!-- /inner container -->

			</div>
			<!-- /content area -->
			{%include 'admin/company/company_form_modals.html'%}
		<!-- Modal Area End -->
				<div class="modal fade" id="modalCrop">
					<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>
						<div class="modal-body">
						<img src="" id="image" style="max-width: 100%;">
						</div>
						<div class="modal-footer">
						<button type="button" id= "cancel-btn" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" id="js-crop-and-upload-button" class="btn btn-primary js-crop-and-upload">Save Croped</button>
						</div>
					</div>
					</div>
				</div>
			 <script>
				$(document).ready(function(){
					$("#edit_address").click(function(){
						$('select[name="region"]').find('option[value="{{object.get_company_address.region.id}}"]').attr("selected",true);
						$("#id_city_town").val("{{object.get_company_address.city_town}}".toUpperCase());
						$("#id_subcity_zone").val("{{object.get_company_address.subcity_zone}}".toUpperCase());
						$("#id_woreda").val("{{object.get_company_address.woreda}}".toUpperCase());
						$("#id_kebele").val("{{object.get_company_address.kebele}}".toUpperCase());
						$("#id_local_area").val("{{object.get_company_address.local_area}}".toUpperCase());
						$("#id_phone_number").val("{{object.get_company_address.phone_number}}".toUpperCase());
						$("#id_fax").val("{{object.get_company_address.fax}}".toUpperCase());
						$("#id_email").val("{{object.get_company_address.email}}".toUpperCase());
						$("#id_facebooklink").val("{{object.get_company_address.facebooklink}}".toUpperCase());
						$("#id_twiterlink").val("{{object.get_company_address.twiterlink}}".toUpperCase());
						$("#id_instagramlink").val("{{object.get_company_address.instagramlink}}".toUpperCase());
						$("#id_linkedinlink").val("{{object.get_company_address.linkedinlink}}".toUpperCase());
						$("#id_googlelink").val("{{object.get_company_address.googlelink}}".toUpperCase());
					});
					var cropper;
					var imageFile;
					var baseb4ImageString;
					var cropX;
					var cropY;
					var cropWidth;
					var cropHeight;

					var imageField = document.getElementById('#id_logo')
					var modalCropEdit = document.getElementById('image')
					var force = document.getElementById('force')
					$("#id_logo").change(function () {
						if (this.files && this.files[0]) {

							var reader = new FileReader();
							reader.onload = function (e) {

								$("#image").attr("src", e.target.result);
								$("#modalCrop").modal("show");
							}
							reader.readAsDataURL(this.files[0])

						}
					});
					
					$("#modalCrop").on("shown.bs.modal", function () {
						modalCropEdit = document.getElementById('image')
						cropper = new Cropper(modalCropEdit, {
							viewMode: 1,
							aspectRatio: 1 / 1,
							minCropBoxWidth: 200,
							minCropBoxHeight: 200,
							built: function () {
								$("#image").cropper('setCropBoxData', { width: 640 });
							},
							cropmove: function () {
								$("#image").cropper('setCropBoxData', { width: 640 });
							},

							crop(event) {
								setImageCropProperties(
									image,
									event.detail.x,
									event.detail.y,
									event.detail.width,
									event.detail.height)
							}
						})
					})


					function setImageCropProperties(image, x, y, width, height) {
						imageFile = image;
						cropX = x;
						cropY = y;
						cropWidth = width;
						cropHeight = height;
					}
					function cropImage(x, y, width, height) {
						var x = document.getElementById("id_x")
						x.value = cropX

						var y = document.getElementById("id_y")
						y.value = cropY

						var width = document.getElementById("id_width")
						width.value = cropWidth

						var height = document.getElementById("id_height")
						height.value = cropHeight
					
					}
					var confirm = document.getElementById("js-crop-and-upload-button")
					confirm.addEventListener("click", function (event) {

						cropImage(cropX, cropY, cropWidth, cropHeight)
						$("#modalCrop").modal("hide");

					});


				 });


			 </script>
{%endblock%}