{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags %}

{%block pagename%}<span class="font-weight-semibold">Industries</span>{%endblock%}
{%block nav%}<a href="{%url 'admin:companies'%}" class="breadcrumb-item">Companies</a>{%endblock%}
{%block industries%}active{%endblock%}
{%block content%}

			<!-- Content area -->
			<div class="content">
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Registered Industries List</h5>
						<div class="header-elements">
							<div class="list-icons">
								{% if user.is_superuser %}
								<a href="{%url 'admin:create_company_profile'%}" class="btn bg-teal btn-sm rounded-round"><i
										class="icon-add mr-2"></i>Add New Industry</a>
								{% endif %}
							</div>

						</div>
					</div>
				</div>
				<!-- Form inputs -->
				<div class="row">
					
					{%for company in object_list%}
					<div class="col-xl-3 col-sm-6">
						<div class="card" style="height: 350px;">
							<div class="card-body text-center">
								<div class="card-img-actions d-inline-block mb-3">
									<img class="img-fluid rounded-circle" src="{%if company.logo%}{{company.logo.url}}{%endif%}" style="width: 200px;height: 200px;" alt="">
									<a href="{%url 'admin:company_detail' pk=company.id%}"><div class="card-img-actions-overlay card-img rounded-circle">
										
									</div></a>
								</div>

					    		<h6 class="font-weight-semibold mb-0">{{company.name}}</h6>
					    		<span class="d-block text-muted">{{company.get_company_address.email|title}}</span>

				    			<div class="list-icons list-icons-extended mt-3">
			                    	<a href="#" class="list-icons-item" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a>
			                    	<a href="#" class="list-icons-item" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a>
			                    	<a href="#" class="list-icons-item" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a>
		                    	</div>
					    	</div>
				    	</div>
					</div>
					{%endfor%}
				</div>
				 
				<!-- /form inputs -->
				<div class="d-flex justify-content-center pt-3 mb-3">
					<ul class="pagination">
						{% if page_obj.has_previous %}
						<li class="page-item"><a href="?page=1" class="page-link">&laquo;</a></li>
						<li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link"><i class="icon-arrow-small-left"></i></a></li>
						{%endif%}
						<li class="page-item active"><a href="#" class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
						{% if page_obj.has_next %}
						<li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link"><i class="icon-arrow-small-right"></i></a></li>
						<li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">&raquo;</a></li>
						{%endif%}
					</ul>
				</div>
			</div>
			<!-- /content area -->
{%endblock%}