{%extends 'admin/base_site.html'%}
{%load core_template_tags%}
{% block extrastyle %}
<!-- Theme JS files -->
<script src="/static/admin/global_assets/js/plugins/visualization/echarts/echarts.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/ui/moment/moment.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/ui/fullcalendar/fullcalendar.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/user_pages_profile.js"></script>
<!-- /theme JS files -->

{% endblock %}
{%block pagename%}Company - Profile{%endblock%}
{%block content%}
	

			<!-- Content area -->
			<div class="content">

				<!-- Inner container -->
				<div class="d-flex align-items-start flex-column flex-md-row">

					<!-- Left content -->
					<div class="tab-content w-100 overflow-auto order-2 order-md-1">

						<div class="tab-pane fade active show" id="activity">

							<!-- Timeline -->
							<div class="timeline timeline-left">
								<div class="timeline-container">

									<!-- Sales stats -->
									<div class="timeline-row">
										<!-- <div class="timeline-icon">
											<a href="#"><img src="/static/admin/global_assets/images/demo/users/face24.jpg" alt=""></a>
										</div> -->

										<div class="card">
											<div class="card-header header-elements-sm-inline">
												<h6 class="card-title">Weekly statistics</h6>
												<div class="header-elements">
													<span><i class="icon-history mr-2 text-success"></i> Updated 3 hours ago</span>

													<div class="list-icons ml-3">
								                		<a class="list-icons-item" data-action="reload"></a>
								                	</div>
							                	</div>
											</div>

											<div class="card-body">
												<div class="chart-container">
													<div class="chart has-fixed-height" id="weekly_statistics"></div>
												</div>
											</div>
										</div>
									</div>
									<!-- /sales stats -->


									<!-- Blog post -->
									<div class="timeline-row">
										<!-- <div class="timeline-icon">
											<img src="/static/admin/global_assets/images/demo/users/face12.jpg" alt="">
										</div> -->

										<div class="card">
											<div class="card-header header-elements-sm-inline">
												<h6 class="card-title">{{company.company_name|title}}</h6>
											</div>

											<div class="card-body">
												<div class="card-img-actions mb-3">
													{{company.detail|safe}}
												</div>
												<div class="card-img-actions mb-3">
													{%if company.company_intro%}
													<video controls autoplay="true" width="600">
														<source src="{{company.company_intro.url}}" type="">
													</video>
													<!-- <video width="500" preload="auto" autoplay="true" src="{{company.company_intro.url}}"></video> -->
													{%endif%}
												</div>
												
											</div>
											{%if user.is_superuser%}
											{%else%}
											<div class="card-footer">
												{%if perms.accounts.delete_company%}
												<div class="" style="float: left;">
													<a href="{%url 'admin:delete' model_name='company' id=company.id%}" class="btn btn-danger">Delete Company Profile</a>
												</div>
												{%endif%}
												{%if perms.accounts.change_company%}
												<div class="" style="float: right;">
													<a href="{%url 'admin:comp_profile' option='edit' id=company.id%}" class="btn btn-warning">Edit Company Profile</a>
												</div>
												{%endif%}
											</div>
											{%endif%}
										</div>
									</div>
									<!-- /blog post -->
									
								</div>
						    </div>
						    <!-- /timeline -->

					    </div>

					    <div class="tab-pane fade" id="schedule">

				    		<!-- Available hours -->
							<div class="card">
								<div class="card-header header-elements-inline">
									<h6 class="card-title">Available hours</h6>
									<div class="header-elements">
										<div class="list-icons">
					                		<a class="list-icons-item" data-action="collapse"></a>
					                		<a class="list-icons-item" data-action="reload"></a>
					                		<a class="list-icons-item" data-action="remove"></a>
					                	</div>
				                	</div>
								</div>

								<div class="card-body">
									<div class="chart-container">
										<div class="chart has-fixed-height" id="available_hours"></div>
									</div>
								</div>
							</div>
							<!-- /available hours -->


							<!-- Schedule -->
							<div class="card">
								<div class="card-header header-elements-inline">
									<h5 class="card-title">My schedule</h5>
									<div class="header-elements">
										<div class="list-icons">
					                		<a class="list-icons-item" data-action="collapse"></a>
					                		<a class="list-icons-item" data-action="reload"></a>
					                		<a class="list-icons-item" data-action="remove"></a>
					                	</div>
				                	</div>
								</div>

								<div class="card-body">
									<div class="my-schedule"></div>
								</div>
							</div>
							<!-- /schedule -->

				    	</div>

					</div>
					<!-- /left content -->


					<!-- Right sidebar component -->
					<div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-right wmin-300 border-0 shadow-0 order-1 order-md-2 sidebar-expand-md">

						<!-- Sidebar content -->
						<div class="sidebar-content">

							<!-- User card -->
							<div class="card">
								<div class="card-body text-center">
									<div class="card-img-actions d-inline-block mb-3">
										<img class="img-fluid rounded-circle" src="{{company.company_logo.url}}" width="170" height="170" alt="">
										<div class="card-img-actions-overlay card-img rounded-circle">
										</div>
									</div>

						    		<h6 class="font-weight-semibold mb-0">{{company.company_name}}</h6>

					    			<div class="list-icons list-icons-extended mt-3">
				                    	<a href="#" class="list-icons-item" data-popup="tooltip" title="Google Drive" data-container="body"><i class="icon-google-drive"></i></a>
				                    	<a href="#" class="list-icons-item" data-popup="tooltip" title="Twitter" data-container="body"><i class="icon-twitter"></i></a>
				                    	<a href="#" class="list-icons-item" data-popup="tooltip" title="Github" data-container="body"><i class="icon-github"></i></a>
			                    	</div>
						    	</div>
					    	</div>
					    	<!-- /user card -->
							<div class="card">
								<div class="card-header bg-transparent header-elements-inline">
									<span class="card-title font-weight-semibold">Company Contact</span>
									<div class="header-elements">
										<div class="list-icons">
					                		<a class="list-icons-item" data-action="collapse"></a>
				                		</div>
			                		</div>
								</div>

								<div class="card-body p-0">
									<ul class="nav nav-sidebar my-2">
										<li class="nav-item">
											<a href="#" class="nav-link">
												<i class="icon-phone"></i>
												 Phone
												 <span class="badge bg-warning badge-pill ml-auto">{{company.phone_number}}</span>
											</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link">
												<i class="icon-envelope"></i>
												Email
												<span class="text-muted font-size-sm font-weight-normal ml-auto">{{company.email}}</span>
											</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link">
												<i class="icon-location3"></i>
												Location
												<span class="badge bg-danger badge-pill ml-auto">{{company.location}}</span>
											</a>
										</li>
										
									</ul>
								</div>
							</div>

							<!-- Navigation -->
							<div class="card">
								<div class="card-header bg-transparent header-elements-inline">
									<span class="card-title font-weight-semibold">Activities</span>
									<div class="header-elements">
										<div class="list-icons">
					                		<a class="list-icons-item" data-action="collapse"></a>
				                		</div>
			                		</div>
								</div>

								<div class="card-body p-0">
									<ul class="nav nav-sidebar my-2">
										<li class="nav-item">
											<a href="#" class="nav-link">
												<i class="icon-paste"></i>
												 Sold
												 <span class="badge bg-warning badge-pill ml-auto">32</span>
											</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link">
												<i class="icon-cash3"></i>
												Quotes
												<span class="badge bg-primary badge-pill ml-auto">82</span>
											</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link">
												<i class="icon-cart"></i>
												Orders
												<span class="badge bg-danger badge-pill ml-auto">29</span>
											</a>
										</li>
										<li class="nav-item">
											<a href="{%url 'admin:admin_products' user_type=company.id%}" class="nav-link">
												<i class="icon-stack"></i>
												Products
												<span class="badge bg-success badge-pill ml-auto">{{company|company_product_count}}</span>
											</a>
										</li>

										<li class="nav-item-divider"></li>

										<li class="nav-item">
											<a href="#" class="nav-link">
												<i class="icon-calendar3"></i>
												Events
												<span class="badge bg-teal-400 badge-pill ml-auto">48</span>
											</a>
										</li>
										
									</ul>
								</div>
							</div>
							<!-- /navigation -->

							<!-- Balance changes -->
							<div class="card">
								<div class="card-header bg-transparent header-elements-inline">
									<span class="card-title font-weight-semibold">Orders Summary</span>
									<div class="header-elements">
										<span><i class="icon-arrow-down22 text-danger"></i> <span class="font-weight-semibold">- 29.4%</span></span>
			                		</div>
								</div>

								<div class="card-body">
									<div class="chart-container">
										<div class="chart has-fixed-height" id="balance_statistics"></div>
									</div>
								</div>
							</div>
							<!-- /balance changes -->

						</div>
						<!-- /sidebar content -->

					</div>
					<!-- /right sidebar component -->

				</div>
				<!-- /inner container -->

			</div>
			<!-- /content area -->
{%endblock%}