{%extends 'admin/base_site.html'%}
{%load core_template_tags%}
{% load admin_template_tags %}
{%load crispy_forms_tags%}
{% block extrastyle %}

	<!-- links for image cropper -->
	<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>

	<script src="/static/admin/global_assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="/static/admin/global_assets/js/plugins/pickers/daterangepicker.js"></script>
    <script src="/static/admin/global_assets/js/plugins/pickers/anytime.min.js"></script>
    <script src="/static/admin/global_assets/js/plugins/pickers/pickadate/picker.js"></script>
    <script src="/static/admin/global_assets/js/plugins/pickers/pickadate/picker.date.js"></script>
    <script src="/static/admin/global_assets/js/plugins/pickers/pickadate/picker.time.js"></script>
    <script src="/static/admin/global_assets/js/plugins/pickers/pickadate/legacy.js"></script>
    <script src="/static/admin/global_assets/js/plugins/notifications/jgrowl.min.js"></script>
	<script src="/static/admin/global_assets/js/demo_pages/picker_date.js"></script>
    <script src="/static/admin/global_assets/js/plugins/ui/fab.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/ui/sticky.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/ui/prism.min.js"></script>
	<script src="/static/admin/global_assets/js/demo_pages/extra_fab.js"></script>

	<style>
		.unread {
			background-color: red;
		}
		
	</style>
{{form.media}}
{% endblock %}
{%block pagename%}Inquiry List{%endblock%}
{%block nav%}<a href="{%url 'admin:admin_inquiry_list'%}" class="breadcrumb-item">Inquiry List</a>{%endblock%}
{%block inquiry%}active{%endblock%}
{%block content%}

<div class="card">
    <div class="card-header bg-transparent header-elements-inline">
        <h3 class="card-title"> My inquiry List</h6>
    </div>


    <!-- Action toolbar -->
    <div class="bg-light">
        <div class="navbar navbar-light bg-light navbar-expand-lg py-lg-2">
            <div class="text-center d-lg-none w-100">
                <button type="button" class="navbar-toggler w-100" data-toggle="collapse" data-target="#inbox-toolbar-toggle-multiple">
                    <i class="icon-circle-down2"></i>
                </button>
            </div>

            <div class="navbar-collapse text-center text-lg-left flex-wrap collapse" id="inbox-toolbar-toggle-multiple">
                <div class="mt-3 mt-lg-0">
                    

                    <div class="btn-group ml-3 mr-lg-3">
                        <form action = "{% url 'admin:admin_inquiry_list' %} " method = "GET" >
                            
                            <button type="submit" class="btn btn-light"><a href="" class="dropdown-item"><span class="d-none d-lg-inline-block ml-2">All</span></a></button>
                        </form>

                        <form action = "{% url 'admin:admin_inquiry_list' %} " method = "GET" >
                            <input type="hidden" name= "unreplied_only"  value='unreplied_only'>
                            <button  type="submit" class="btn btn-light"><a href="" class="dropdown-item"><i class="icon-spam"></i> <span class="d-none d-lg-inline-block ml-2">Unreplied</span></a></button>
                        </form>

                        <form action = "{% url 'admin:admin_inquiry_list' %} " method = "GET" >
                            <input type="hidden" name= "replied_only"  value='replied_only'>
                            <button  type="submit" class="btn btn-light"><a href="" class="dropdown-item"> <span class="d-none d-lg-inline-block ml-2">Replied</span></a></button>
                        </form>
                    </div>


                </div>

                
            </div>
        </div>
    </div>
    <!-- /action toolbar -->
           

    <!-- Table -->
    
    
    <div class="table-responsive">
        <table class="table table-inbox">
            <thead>	
                <tr class="table-inbox-name" style='min-height: 10000px;'>
                        <th>#</th>
                        <th><b>Sender Email</b></th>
                        <th><b>Subject</b></th>
                        <th><b>Product/Category</b></th>
                        <th><b>Quantity</b></th>
                        <th><b>Status</b></th>
                        <th><b>Request Date</b></th>
                        <th class="text-center">Actions</th>
                </tr>		
            </thead>							
            <tbody >
                
            
                {% for inquiry in object_list %}
                        {% if inquiry.replied == False %}
                            <tr class = "unread" > 
                        {% else %}
                            <tr style="background-color: rgb(228, 228, 228);"> 
                        {% endif %}
                                <td>{{forloop.counter}}</td>
                            
                                <td >
                                    <a   data-toggle="modal" data-target="#compose{{inquiry.id}}">
                                        {{inquiry.sender_email}}
                                    </a>
                                </td>
                                <td >
                                    <a  data-toggle="modal" data-target="#compose{{inquiry.id}}" >
                                        {{inquiry.subject|safe|truncatechars_html:20}}
                                    </a>
                                </td>
                                <td class="table-inbox-message">
                                    {% if inquiry.product %}
                                        {{inquiry.product.name|safe|truncatechars_html:10}} (product)
                                    {% else %} 
                                    {{inquiry.category.category_name|safe|truncatechars_html:10 }} (Category)
                                     {% endif %}
                                </td>

                                <td class="table-inbox-message">
                                    {{inquiry.quantity}}
                                   
                                </td>
                                <td >

                                    <a href=""  data-toggle="modal" data-target="#compose{{inquiry.id}}" >
                                        
                                        <div class="letter-icon-title text-default">
                                            {% if inquiry.replied %}
                                                Replied
                                            {% else %}
                                                Not Replied
                                            {% endif %}
                                        </div>
                                    </a>
                                </td>
                                <td class="table-inbox-time">
                                    <p class  = "mr-3"> {{inquiry.created_date}}</p>
                                </td>

                                <td class="text-center">
                                    <div class="list-icons">
                                        <div class="dropdown">
                                            <a href="#" class="list-icons-item" data-toggle="dropdown">
                                                <i class="icon-menu9"></i>
                                            </a>
                                                
                                            <div class="dropdown-menu dropdown-menu-right">
                                        
                                            
                                            <a href="#compose{{inquiry.id}}" data-toggle="modal" data-target="#compose{{inquiry.id}}" class="dropdown-item" ><i class="icon-eye"></i>View Detail</a>
                                            <a  class="dropdown-item" onclick="chat_reply('{{inquiry.id}}', 'chat')" ><i class="icon-trash" ></i>Chat Reply</a>
                                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#compose{{inquiry.id}}" ><i class="icon-trash"></i>Direct Reply</a>
                                            <a  href="mailto:{{inquiry.sender_email}}" class="dropdown-item" onclick="email_reply('{{inquiry.id}}', 'email')" ><i class="icon-trash"></i>Email Reply</a>
                                            
    
                                            </div>
                                        </div>
                                    </div>
                                </td>




                            </tr>     
                            
                         <!--  compse reply modal -->
                         <div id="compose{{inquiry.id}}" class="modal fade" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form action = "{% url 'admin:admin_inquiry_reply' pk=inquiry.id %}" method = "POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                            <h5 class="modal-title"><b>Compose Replay</b> </h5>
                                        
                                        </div>					
                                        <div class="modal-body">
                                                <div  style="padding-left: 20px;">
                                                    <!-- <h5 style = "color:black"> <b>Sender Name :</b> {{inquiry.name}}</h5> -->
                                                    <h5 style = "color:black"> <b>Sender Email :</b> <p style = "display:inline; color:rgb(91, 91, 201)">{{inquiry.sender_email}}</p> </h5>
                                                    <br>
                                                    <h5 style = "color:black"><b>Subject :</b></h5>
                                                    <div class="form-group">
                                                        <!-- <blockquote><p>{{inquiry.subject}}</p></blockquote> -->
                                                        <input class =" form form-control"  style= "color:black; height:auto;" disabled="True" value= '" {{inquiry.subject}} "' >
                                                        
                                                    </div>
                                                    <br>
                                                    <h5 style = "color:black"><b>Inquiry Content :</b></h5>
                                                    <div class="form-group">
                                                        
                                                        <textarea  rows="10" class =" form form-control"  style="color:black; height:auto" disabled="True">{{inquiry.content}}</textarea> 
                                                    </div>
                                                    <br>
                                                
                                                   
                                                    <br>
                                                    {% if inquiry.replied %}
                                                    <h5><p>Your previous reply, You can resend another replay, by editing.</p></h5>
                                                    
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="reply_message" rows="10" placeholder="Reply Message" required>{{inquiry.productinquiryreply_set.first.reply}}</textarea>
                                                    </div>
                                                    {% else %}
                                                    <h5><p>Write Your Replay Here</p></h5>
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="reply_message" rows="10" placeholder="Reply Message" required></textarea>
                                                    </div>
                                                    {% endif %}
        
                                                    
                                                </div>
                                                            
                                        </div>
        
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                            {% if inquiry.replied %}
                                                <button type="submit" class="btn bg-primary">Replay Again</button>
                                            {% else %}
                                            <button type="submit" class="btn bg-primary">Replay</button>
                                             {% endif %}
                                        </div>
                                    </form>
        
                                </div>
                            </div>
                        </div>
                               
                {% endfor%}
            </tbody>
        </table>
    </div>
    <!-- /table -->

</div>
<script>
    function email_reply(inquiry_id)
            {
                    fetch("{% url 'admin:linked_inquiry_relply' %}",
                    {
                        method:"POST",
                        credentials: 'same-origin',
                        headers:{
                            "content-Type":'application/json',
                            'X-CSRFToken':'{{csrf_token}}'
                        },
                        body:JSON.stringify({
                            'id': inquiry_id,
                            'type':'email'
                            
                        })
                    }
                    )
					
				}
    function chat_reply(inquiry_id, type)
				{
                    fetch("{% url 'admin:linked_inquiry_relply' %}",
                    {
                        method:"POST",
                        credentials: 'same-origin',
                        headers:{
                            "content-Type":'application/json',
                            'X-CSRFToken':'{{csrf_token}}'
                        },
                        body:JSON.stringify({
                            'id': inquiry_id,
                            'type':type
                            
                        })
                    }
                    ).then(e => e.json()).then(result=>{
                        if (result['error'] == false)        
                            window.location.pathname = '/chat/with/' + result['username']+'/';  
                        
                        else
                            window.alert("yes error");    
                       
                        });   
					
				}
				
                
</script>

{% endblock %}




