{%load crispy_forms_tags%}
<div id="inv_capital_form_modal" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Current Investment Capital Data</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<form id="inv_capital_form" action="#" method="POST">

				{%csrf_token%}
				<div class="modal-body">
					<div class="form-group">
						<span class="form-text text-warning" id="errors_invcap"></span>
						<span class="form-text text-success" id="success_invcap"></span>
					</div>
					 
					<div class="form-group">
						<div class="row">
							<div class="col-sm-4">
								{{inv_capital_form.machinery_cost.label}}
								 {{inv_capital_form.machinery_cost}}
							</div>
							<div class="col-sm-4">
								{{inv_capital_form.building_cost.label}}
								{{inv_capital_form.building_cost}}
							</div>

							<div class="col-sm-4">
								{{inv_capital_form.working_capital.label}}
								 {{inv_capital_form.working_capital}}
							</div>
						</div>
					</div>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
					<button type="submit" id="submit_inv_capital" class="btn bg-primary">Submit form</button>
				</div>
			</form>
		</div>
	</div>
</div>
 

<div id="employees_form_modal" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Number Of Employees Based on their Employment Type</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<form id="employee_form" action="#" enctype="multipart/form-data" method="POST">
				{%csrf_token%}
				
				<div class="modal-body">
					<div class="form-group">
						<span class="form-text text-warning" id="errors_employee"></span>
						<span class="form-text text-success" id="success_employee"></span>
					</div>
					 
                    <div class="form-group">
						<div class="row">
							<div class="col-sm-4">
								<label for="">{{employees_form.employment_type.label}}</label>
								 {{employees_form.employment_type}}
							</div>
                            <div class="col-sm-4">
								<label for="">{{employees_form.male.label}}</label>
								 {{employees_form.male}}
							</div>
							<div class="col-sm-4">
								<label for="">{{employees_form.female.label}}</label>
								 {{employees_form.female}}
							</div>

							 
						</div>
					</div>
					 

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
					<button type="submit" id="submit_employee" class="btn bg-primary">Submit form</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="createdjob_form_modal" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Jobs Created This Year</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<span></span>
			<form id="jobcreated_form" action="#" enctype="multipart/form-data" method="POST">
				{%csrf_token%}
				
				<div class="modal-body">
					<div class="form-group">
						<span class="form-text text-warning" id="errors_jobs"></span>
						<span class="form-text text-success" id="success_jobs"></span>
					</div>
					 
                    <div class="form-group">
						<div class="row">
							
							<div class="col-sm-4">
								<label for="">{{job_created_form.job_type.label}}</label>
								 {{job_created_form.job_type}}
							</div>
							<div class="col-sm-4">
								<label for="">{{job_created_form.male.label}}</label>
								 {{job_created_form.male}}
							</div>

							<div class="col-sm-4">
								<label for="">{{job_created_form.female.label}}</label>
								 {{job_created_form.female}}
							</div>		
						</div>
					</div>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
					<button type="submit" id="submit_jobs" class="btn bg-primary">Submit form</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="education_status_form_modal" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Employees Educational Status</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<span></span>
			<form id="education_stat_form" action="#" enctype="multipart/form-data" method="POST">
				{%csrf_token%}
				
				<div class="modal-body">
					<div class="form-group">
						<span class="form-text text-warning" id="errors_education"></span>
						<span class="form-text text-success" id="success_education"></span>
					</div>
					 
					<div class="form-group">
						<div class="row">
							<div class="col-sm-4">
								<label for="">{{edication_form.education_type.label}}</label>
								 {{edication_form.education_type}}
							</div>
                            <div class="col-sm-4">
								<label for="">{{edication_form.male.label}}</label>
								 {{edication_form.male}}
							</div>
							<div class="col-sm-4">
								<label for="">{{edication_form.female.label}}</label>
								 {{edication_form.female}}
							</div>
						</div>
					</div>
					 

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
					<button type="submit" id="submit_education" class="btn bg-primary">Submit form</button>
				</div>
			</form>
		</div>
	</div>
</div>
 
<div id="address_form_modal" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Project Address Form</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<span></span>
			<form {%if object.get_company_address%} id="address_form_update"{%else%}id="company_address_form"{%endif%} action="#" enctype="multipart/form-data" method="POST">
				{%csrf_token%}
				
				<div class="modal-body">
					<div class="form-group">
						<span class="form-text text-warning" id="errors_span"></span>
						<span class="form-text text-success" id="success_span"></span>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-4">
								<label for="">{{address_form.region.label}}</label>
								 {{address_form.region}}
							</div>
							<div class="col-sm-4">
								<label for="">{{address_form.city_town.label}}</label>
								 {{address_form.city_town}}
								 <span class="form-text text-muted">{{address_form.city_town.help_text}}</span>
							</div>

							<div class="col-md-4">
								<label>{{address_form.subcity_zone.label}}</label>
									{{address_form.subcity_zone}}
									<span class="form-text text-muted">{{address_form.subcity_zone.help_text}}</span>									
							</div>		
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-4">
								<label for="">{{address_form.woreda.label}}</label>
								 {{address_form.woreda}}
							</div>
							<div class="col-sm-4">
								<label for="">{{address_form.kebele.label}}</label>
								 {{address_form.kebele}}
								 <span class="form-text text-muted">{{address_form.kebele.help_text}}</span>
							</div>

							<div class="col-md-4">
								<label>{{address_form.local_area.label}}</label>
									{{address_form.local_area}}
									<span class="form-text text-muted">{{address_form.local_area.help_text}}</span>									
							</div>		
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-4">
								<label for="">{{address_form.phone_number.label}}</label>
								 {{address_form.phone_number}}
							</div>
							<div class="col-sm-4">
								<label for="">{{address_form.fax.label}}</label>
								 {{address_form.fax}}
								 <span class="form-text text-muted">{{address_form.fax.help_text}}</span>
							</div>

							<div class="col-md-4">
								<label>{{address_form.email.label}}</label>
									{{address_form.email}}
									<span class="form-text text-muted">{{address_form.email.help_text}}</span>									
							</div>		
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							
							<div class="col-sm-4">
								<label for="">{{address_form.website.label}}</label>
								 {{address_form.website}}
							</div>
							<div class="col-sm-4">
								<label for="">{{address_form.facebooklink.label}}</label>
								 {{address_form.facebooklink}}
							</div>
							<div class="col-sm-4">
								<label for="">{{address_form.twiterlink.label}}</label>
								 {{address_form.twiterlink}}
								 <span class="form-text text-muted">{{address_form.twiterlink.help_text}}</span>
							</div>
							
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-4">
								<label>{{address_form.instagramlink.label}}</label>
									{{address_form.instagramlink}}
									<span class="form-text text-muted">{{address_form.instagramlink.help_text}}</span>									
							</div>	
							<div class="col-sm-4">
								<label for="">{{address_form.linkedinlink.label}}</label>
								 {{address_form.linkedinlink}}
							</div>
							<div class="col-sm-4">
								<label for="">{{address_form.googlelink.label}}</label>
								 {{address_form.googlelink}}
								 <span class="form-text text-muted">{{address_form.googlelink.help_text}}</span>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
					<button type="submit" id="submit_address" class="btn bg-primary">Submit form</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="inv_capital_form_modal" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Investment Capital Data For Investment Project</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<form id="inv_capital_form" action="#" method="POST">

				{%csrf_token%}
				<div class="modal-body">
				
					<div class="form-group">
						<div class="row">
							<div class="col-sm-4">
								{{inv_capital_form.machinery_cost.label}}
								 {{inv_capital_form.machinery_cost}}
							</div>
							<div class="col-sm-4">
								{{inv_capital_form.building_cost.label}}
								{{inv_capital_form.building_cost}}
							</div>

							<div class="col-sm-4">
								{{inv_capital_form.working_capital.label}}
								 {{inv_capital_form.working_capital}}
							</div>
						</div>
					</div>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
					<button type="submit" id="submit_inv_capital" class="btn bg-primary">Submit form</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="land_aqsn_form_modal" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Land Acquisition Data</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			
			<form id="land_aquistion_form" action="#" enctype="multipart/form-data" method="POST">
				{%csrf_token%}
				
				<div class="modal-body">
					<div class="form-group">
						<span class="form-text text-warning" id="errors_aqsn"></span>
						<span class="form-text text-success" id="success_aqsn"></span>
					</div>
					{{land_aquisition|crispy}}
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
					<button type="submit" id="submit_employee" class="btn bg-primary">Submit form</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="land_usage_form_modal" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Land size and usage</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			
			<form id="usage_form" action="#" enctype="multipart/form-data" method="POST">
				{%csrf_token%}
				
				<div class="modal-body">
					<div class="form-group">
						<span class="form-text text-warning" id="errors_usage"></span>
						<span class="form-text text-success" id="success_usage"></span>
					</div>
					{{usage_form|crispy}}
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
					<button type="submit" id="submit_employee" class="btn bg-primary">Submit form</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="status_form_modal" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">The current state of the project </h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			
			<form id="status_form" action="#" enctype="multipart/form-data" method="POST">
				{%csrf_token%}
				
				<div class="modal-body">
					<div class="form-group">
						<span class="form-text text-warning" id="errors_status"></span>
						<span class="form-text text-success" id="success_status"></span>
					</div>
					{{pstate_form|crispy}}
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
					<button type="submit" id="submit_employee" class="btn bg-primary">Submit form</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="product_form_modal" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Product Quantity</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			
			<form id="product_form" action="#" enctype="multipart/form-data" method="POST">
				{%csrf_token%}
				
				<div class="modal-body">
					<div class="form-group">
						<span class="form-text text-warning" id="errors_product"></span>
						<span class="form-text text-success" id="success_product"></span>
					</div>
					{{product_form|crispy}}
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
					<button type="submit" id="submit_employee" class="btn bg-primary">Submit form</button>
				</div>
			</form>
		</div>
	</div>
</div>