{%load admin_template_tags%}

<div class="collapse navbar-collapse" id="navbar-mobile">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                <i class="icon-paragraph-justify3"></i>
            </a>
        </li>

        <!-- <li class="nav-item dropdown">
            <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                <i class="icon-git-compare"></i>
                <span class="d-md-none ml-2">Git updates</span>
                <span class="badge badge-pill bg-warning-400 ml-auto ml-md-0">9</span>
            </a>

            <div class="dropdown-menu dropdown-content wmin-md-350">
                <div class="dropdown-content-header">
                    <span class="font-weight-semibold">Git updates</span>
                    <a href="#" class="text-default"><i class="icon-sync"></i></a>
                </div>

                <div class="dropdown-content-body dropdown-scrollable">
                    <ul class="media-list">
                        <li class="media">
                            <div class="mr-3">
                                <a href="#" class="btn bg-transparent border-primary text-primary rounded-round border-2 btn-icon"><i class="icon-git-pull-request"></i></a>
                            </div>

                            <div class="media-body">
                                Drop the IE <a href="#">specific hacks</a> for temporal inputs
                                <div class="text-muted font-size-sm">4 minutes ago</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="mr-3">
                                <a href="#" class="btn bg-transparent border-warning text-warning rounded-round border-2 btn-icon"><i class="icon-git-commit"></i></a>
                            </div>
                            
                            <div class="media-body">
                                Add full font overrides for popovers and tooltips
                                <div class="text-muted font-size-sm">36 minutes ago</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="mr-3">
                                <a href="#" class="btn bg-transparent border-info text-info rounded-round border-2 btn-icon"><i class="icon-git-branch"></i></a>
                            </div>
                            
                            <div class="media-body">
                                <a href="#">Chris Arney</a> created a new <span class="font-weight-semibold">Design</span> branch
                                <div class="text-muted font-size-sm">2 hours ago</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="mr-3">
                                <a href="#" class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon"><i class="icon-git-merge"></i></a>
                            </div>
                            
                            <div class="media-body">
                                <a href="#">Admin</a> merged <span class="font-weight-semibold">Master</span> and <span class="font-weight-semibold">Dev</span> branches
                                <div class="text-muted font-size-sm">Dec 18, 18:36</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="mr-3">
                                <a href="#" class="btn bg-transparent border-primary text-primary rounded-round border-2 btn-icon"><i class="icon-git-pull-request"></i></a>
                            </div>
                            
                            <div class="media-body">
                                Have Carousel ignore keyboard events
                                <div class="text-muted font-size-sm">Dec 12, 05:46</div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="dropdown-content-footer bg-light">
                    <a href="#" class="text-grey mr-auto">All updates</a>
                    <div>
                        <a href="#" class="text-grey" data-popup="tooltip" title="Mark all as read"><i class="icon-radio-unchecked"></i></a>
                        <a href="#" class="text-grey ml-2" data-popup="tooltip" title="Bug tracker"><i class="icon-bug2"></i></a>
                    </div>
                </div>
            </div>
        </li> -->
    </ul>

    <span class="badge bg-success ml-md-3 mr-md-auto">Online</span>

    <ul class="navbar-nav">
         
         
        <li class="nav-item dropdown">
            <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
               <i class="icon-bubbles4"></i>
                <span id = "num_unread_messages" class="badge badge-pill bg-warning-400 ml-auto ml-md-0"></span>
            </a>
            <div style = "padding: 10px;   width: 300px;"  class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-350">
                <div class="dropdown-content-header">
                    <span class="font-weight-semibold"><a href="{% url 'admin:admin_chat_list' %}"> List of Chats</a></span>
                    <a href="{% url 'admin:admin_chat_list' %}" class="text-default"><i class="icon-compose"></i></a>
                </div>
                <div class="dropdown-content-body dropdown-scrollable">
                    <ul id = "list_of_senders" style = "width: 100%;" class="media-list"> 
                    
                    </ul>
                </div>
                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                
               <i class="fa fa-envelope"></i>
               {% count_unread_inbox user.get_company as unread_inbox %}
               
                {% if unread_inbox > 0 %}
                <span id = "num_unread_inbox" class="badge badge-pill bg-warning-400 ml-auto ml-md-0">{{unread_inbox}}</span>
                {% endif %}
            </a>
            <div style = "padding: 10px;   width: 300px;"  class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-350">
                <div class="dropdown-content-header">
                    <span class="font-weight-semibold"><a href="{% url 'admin:admin_inbox_list' %}"> List of Messages </a></span>
                    <a href="{% url 'admin:admin_inbox_list' %}" class="text-default"><i class="icon-compose"></i></a>
                </div>
                <div class="dropdown-content-body dropdown-scrollable">
                    <ul id = "list_of_messages" style = "width: 100%;" class="media-list"> 
                    
                    </ul>
                </div>
                
            </div>
        </li>
        
        {% block usertools %}
         {%comment%}    {% if has_permission %} {%endcomment%}
        <li class="nav-item dropdown dropdown-user">
            <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                {%if user.profile_image != ""%}
                <!-- /static/admin/global_assets/images/demo/users/face11.jpg -->
                <img src="{{user.profile_image.url}}" class="rounded-circle mr-2" height="34" alt="">
                {%endif%}
                <span>{% firstof user.get_short_name user.get_username %}</span>
            </a>

            <div class="dropdown-menu dropdown-menu-right">
                <a href="{% url 'admin:my_profile' pk=user.id%}" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
                {%if user.is_superuser%}
                {% if user.get_company == None%}
                <a href="{%url 'admin:create_fbpidi_company'%}" class="dropdown-item"><i class="icon-coins"></i> My Company</a>
                {%else%}
                <a href="{%url 'admin:view_fbpidi_company' pk=user|get_company_id%}" class="dropdown-item"><i class="icon-coins"></i> My Company</a>
                {%endif%}
                {%else%}
               <a href="{%url 'admin:update_company_info' pk=user|get_company_id%}" class="dropdown-item"><i class="icon-coins"></i> My Company</a>
               {%endif%}
               
                <a href="{% url 'admin:admin_chat_list' %}" class="dropdown-item"><i class="icon-comment-discussion"></i> My Chats  <span id = "num_unread_messages" class="badge badge-pill bg-blue ml-auto"></span></a>
               <!-- <a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span id = "unread_messages" class="badge badge-pill bg-blue ml-auto">{{unread_messages_count}}</span></a> -->
               <div class="dropdown-divider"></div>
                <a href="{% url 'admin:password_change' %}" class="dropdown-item"><i class="icon-cog5"></i>Change Password</a>
                 <a href="{% url 'admin:logout' %}?next={%url 'admin:login'%}" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
            </div>
        </li>
        {%comment%}   {%endif%}{%endcomment%}
        {%endblock%}
    </ul>



    
    <script>
        setInterval(check_inbox, 2000);
        function check_inbox(){
                fetch( "{% url 'list_unread_messages'  %}").then(e=>e.json()).then(data =>
                {   num_unread_messages = data['num']
                    if (num_unread_messages > 0)
                        document.getElementById("num_unread_messages").innerHTML = num_unread_messages
                     // first clear the list area 
                    document.getElementById('list_of_senders').innerHTML = "";
                    for (unread_message of data['unread_messages']){
                        console.log("from for loop"+unread_message.sender_name+" "+unread_message.message)
                        append_unread_messages(unread_message);
                    }

                });
            }

        function append_unread_messages(message_obj){
            console.log("from appende meesages"+message_obj)
        
        var li_item = document.createElement('li');
        li_item.id = message_obj.content;
        var li_card_item = document.createElement('div');
        li_card_item.className = "card card-body "
        li_card_item.style['padding']="5px";
        li_card_item.style['margin']="0px 0px 5px";
            var img_div = document.createElement('div');
                var image_anchor = document.createElement('a');
                    var image_item = document.createElement('img');

                var chat_div = document.createElement('div');
                        var name_anch = document.createElement('a');
                        var count_area = document.createElement('p');
            var time_area = document.createElement('small');           
              
    //    ######################## setting values
                image_item.src = message_obj.sender_image;
                image_item.className = "rounded-circle mr-2"
                image_item.width = "36";
                image_item.height = "36";
               
            image_anchor.href = "/chat/with/"+message_obj.sender_name+"/";
            image_anchor.style['display'] = 'inline'
            image_anchor.appendChild(image_item);

        img_div.style['display'] ='inline'
        img_div.appendChild(image_anchor)
            name_anch.href = "/chat/with/"+message_obj.sender_name+"/";
            name_anch.target = "blank";
            name_anch.className = "mr-3";
            name_anch.textContent = message_obj.sender_name;
            count_area.className = "badge bg-danger badge-pill ml-auto float-right";
            count_area.style['color'] = "white"
            count_area.textContent = message_obj.count;
            
        img_div.appendChild(name_anch) 
        img_div.appendChild(count_area)
        
        time_area.textContent = message_obj.time;
        time_area.className = "text-muted float-right font-size-sm";

        chat_div.className = "media-body";
        chat_div.appendChild(time_area);
        
        li_card_item.appendChild(img_div);
        li_card_item.appendChild(chat_div)
        li_item.className = "media";
        li_item.appendChild(li_card_item);
        
        ul_item =document.getElementById('list_of_senders')
        ul_item.appendChild(li_item);

    }
    

    </script>

   
</div>




