{%load admin_template_tags%}

<div class="collapse navbar-collapse" id="navbar-mobile">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                <i class="icon-paragraph-justify3"></i>
            </a>
        </li>

        <!-- <li class="nav-item dropdown">
            <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                <i class="icon-git-compare"></i>
                <span class="d-md-none ml-2">Git updates</span>
                <span class="badge badge-pill bg-warning-400 ml-auto ml-md-0">9</span>
            </a>

            <div class="dropdown-menu dropdown-content wmin-md-350">
                <div class="dropdown-content-header">
                    <span class="font-weight-semibold">Git updates</span>
                    <a href="#" class="text-default"><i class="icon-sync"></i></a>
                </div>

                <div class="dropdown-content-body dropdown-scrollable">
                    <ul class="media-list">
                        <li class="media">
                            <div class="mr-3">
                                <a href="#" class="btn bg-transparent border-primary text-primary rounded-round border-2 btn-icon"><i class="icon-git-pull-request"></i></a>
                            </div>

                            <div class="media-body">
                                Drop the IE <a href="#">specific hacks</a> for temporal inputs
                                <div class="text-muted font-size-sm">4 minutes ago</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="mr-3">
                                <a href="#" class="btn bg-transparent border-warning text-warning rounded-round border-2 btn-icon"><i class="icon-git-commit"></i></a>
                            </div>
                            
                            <div class="media-body">
                                Add full font overrides for popovers and tooltips
                                <div class="text-muted font-size-sm">36 minutes ago</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="mr-3">
                                <a href="#" class="btn bg-transparent border-info text-info rounded-round border-2 btn-icon"><i class="icon-git-branch"></i></a>
                            </div>
                            
                            <div class="media-body">
                                <a href="#">Chris Arney</a> created a new <span class="font-weight-semibold">Design</span> branch
                                <div class="text-muted font-size-sm">2 hours ago</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="mr-3">
                                <a href="#" class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon"><i class="icon-git-merge"></i></a>
                            </div>
                            
                            <div class="media-body">
                                <a href="#">Admin</a> merged <span class="font-weight-semibold">Master</span> and <span class="font-weight-semibold">Dev</span> branches
                                <div class="text-muted font-size-sm">Dec 18, 18:36</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="mr-3">
                                <a href="#" class="btn bg-transparent border-primary text-primary rounded-round border-2 btn-icon"><i class="icon-git-pull-request"></i></a>
                            </div>
                            
                            <div class="media-body">
                                Have Carousel ignore keyboard events
                                <div class="text-muted font-size-sm">Dec 12, 05:46</div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="dropdown-content-footer bg-light">
                    <a href="#" class="text-grey mr-auto">All updates</a>
                    <div>
                        <a href="#" class="text-grey" data-popup="tooltip" title="Mark all as read"><i class="icon-radio-unchecked"></i></a>
                        <a href="#" class="text-grey ml-2" data-popup="tooltip" title="Bug tracker"><i class="icon-bug2"></i></a>
                    </div>
                </div>
            </div>
        </li> -->
    </ul>

    <span class="badge bg-success ml-md-3 mr-md-auto">Online</span>

    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                <i class="icon-people"></i>
                <span class="d-md-none ml-2">Users</span>
            </a>
            
            <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-300">
                <div class="dropdown-content-header">
                    <span class="font-weight-semibold">Users online</span>
                    <a href="#" class="text-default"><i class="icon-search4 font-size-base"></i></a>
                </div>

                <div class="dropdown-content-body dropdown-scrollable">
                    <ul class="media-list">
                        <li class="media">
                            <div class="mr-3">
                                <img src="/static/admin/global_assets/images/demo/users/face18.jpg" width="36" height="36" class="rounded-circle" alt="">
                            </div>
                            <div class="media-body">
                                <a href="#" class="media-title font-weight-semibold">Jordana Ansley</a>
                                <span class="d-block text-muted font-size-sm">Lead web developer</span>
                            </div>
                            <div class="ml-3 align-self-center"><span class="badge badge-mark border-success"></span></div>
                        </li>

                        <li class="media">
                            <div class="mr-3">
                                <img src="/static/admin/global_assets/images/demo/users/face24.jpg" width="36" height="36" class="rounded-circle" alt="">
                            </div>
                            <div class="media-body">
                                <a href="#" class="media-title font-weight-semibold">Will Brason</a>
                                <span class="d-block text-muted font-size-sm">Marketing manager</span>
                            </div>
                            <div class="ml-3 align-self-center"><span class="badge badge-mark border-danger"></span></div>
                        </li>

                    </ul>
                </div>

                <div class="dropdown-content-footer bg-light">
                    <a href="#" class="text-grey mr-auto">All users</a>
                    <a href="#" class="text-grey"><i class="icon-gear"></i></a>
                </div>
            </div>

        </li>
      
       
        <li class="nav-item dropdown">
            <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
            
                <i class="icon-bubbles4"></i>
                <span class="d-md-none ml-2">Messages</span>
                <span id = "unread_messages_list" class="badge badge-pill bg-warning-400 ml-auto ml-md-0">{% count_unread_messages user %}</span>
               
            </a>
            
            
            <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-350">
                <div class="dropdown-content-header">
                    <span class="font-weight-semibold">Messages</span>
                    <a href="#" class="text-default"><i class="icon-compose"></i></a>
                </div>
                <div class="dropdown-content-body dropdown-scrollable">
                    <ul id = "list_of_senders" class="media-list">
                        
                              
                    </ul>
                </div>
               

                <div class="dropdown-content-footer justify-content-center p-0">
                    <a href="#" class="bg-light text-grey w-100 py-2" data-popup="tooltip" title="Load more"><i class="icon-menu7 d-block top-0"></i></a>
                </div>
            </div>
        </li>
        {% block usertools %}
    {%comment%}    {% if has_permission %} {%endcomment%}
        <li class="nav-item dropdown dropdown-user">
            <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                {%if user.profile_image != ""%}
                <!-- /static/admin/global_assets/images/demo/users/face11.jpg -->
                <img src="{{user.profile_image.url}}" class="rounded-circle mr-2" height="34" alt="">
                {%endif%}
                <span>{% firstof user.get_short_name user.get_username %}</span>
            </a>

            <div class="dropdown-menu dropdown-menu-right">
                <a href="{% url 'admin:my_profile' pk=user.id%}" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
               <a href="{{user|my_company_link}}" class="dropdown-item"><i class="icon-coins"></i> My Company</a>
                {% if user.is_superuser %}
                <a href="{% url 'admin:view_fbpidi_company' %}" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span id = "unread_messages" class="badge badge-pill bg-blue ml-auto">{{unread_messages_count}}</span></a>
              
                {%else%}
               <a href="{% url 'admin:view_company_profile_active_tab' active_tab='inbox' %}" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span id = "unread_messages" class="badge badge-pill bg-blue ml-auto">{{unread_messages_count}}</span></a>
               {%endif%}
               <div class="dropdown-divider"></div>
                <a href="{% url 'admin:password_change' %}" class="dropdown-item"><i class="icon-cog5"></i>Change Password</a>
                 <a href="{% url 'admin:logout' %}?next={%url 'admin:login'%}" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
            </div>
        </li>
        {%comment%}   {%endif%}{%endcomment%}
        {%endblock%}
    </ul>
</div>

<script src="/static/admin/global_assets/js/demo_pages/chat_layouts.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/reconnecting-websocket.js"></script>

<script>
    // const group_name = JSON.parse(document.getElementById('g_name').textContent);
    // var username = document.getElementById("username").value
            const unread_socket = new ReconnectingWebSocket(
                'ws://'
                + window.location.host
                + '/ws/unread_messages/'
            );
            var status = ""
            function check_unread_messages(){
             
                     unread_socket.send(JSON.stringify({
                                'command':'fetch_unread_messages',
                            }));
             
                 
            }

            unread_socket.onopen = function(e){
                        console.log("on open called!")
                        check_unread_messages(); 
                        status = "ok"
                    }

            unread_socket.onmessage = function(e) { 
                console.log("on message!")
                const data = JSON.parse(e.data);
                var unread_messages = data['unread_messages'];
                var number_of_unread_messages = data['num'];
                document.getElementById("unread_messages_list").innerText = number_of_unread_messages;
                console.log(unread_messages)
                document.getElementById('list_of_senders').innerHTML = "";
                unread_messages.forEach(append_unread_messages);
                var check_unread_messages_periodically = setInterval(check_unread_messages, 2000 );

            };
 
            unread_socket.onclose = function(e) {
                status = "";
                // var el = document.createElement('div');
                // el.setAttribute("style", "padding:1%; width: 30%; height:5%; position:absolute; font-size:13px; top:40%; left:40%; background-color: rgb(228, 228, 228); color:black;");
                // el.innerHTML = "Lost connection with FBPIDI system! \n Trying to Reconnect...";
                // document.body.appendChild(el);

                // setTimeout( function(){ el.parentNode.removeChild(el);}, 5000);
      
                console.log('Chat socket closed unexpectedly, from room.html');
                
    };

   

    function append_unread_messages(message_obj){
        
        var li_item = document.createElement('li');
        li_item.id = message_obj.content;
            var img_div = document.createElement('div');
                var image_anchor = document.createElement('a');
                    var image_item = document.createElement('img');

            var chat_div = document.createElement('div');
                var second_div = document.createElement('div');
                    var name_anch = document.createElement('a');
                    var count_area = document.createElement('p');
            
                var time_area = document.createElement('small');
                var chat_area = document.createElement('p');
              
    //    ######################## setting values
                image_item.src = message_obj.sender_image;
                image_item.className = "rounded-circle"
                image_item.width = "36";
                image_item.height = "36";

            image_anchor.href = message_obj.sender_image;
            image_anchor.appendChild(image_item);

        img_div.className = "mr-3 position-relative";
        img_div.appendChild(image_anchor)


            name_anch.href = "/chat/"+message_obj.chat_group+"/";
            name_anch.target = "blank";
            name_anch.textContent = message_obj.sender_name;
            count_area.className = "badge bg-danger badge-pill ml-auto";
            count_area.textContent = message_obj.count;

        second_div.className = "media-title";
        second_div.appendChild(name_anch) 
        second_div.appendChild(count_area)

      
        chat_area.textContent = message_obj.content;
        chat_area.className = "text-muted float-right font-size-sm";
        time_area.textContent = message_obj.time;
        time_area.className = "text-muted";

        chat_div.className = "media-body";
        chat_div.appendChild(second_div);
        chat_div.appendChild(time_area);
        chat_div.appendChild(chat_area);

        li_item.className = "media";
        li_item.appendChild(img_div);
        li_item.appendChild(chat_div)

        
        ul_item =document.getElementById('list_of_senders')
        ul_item.appendChild(li_item);

    }
            
     
</script>




