
{%extends 'frontpages/layout.html'%}
{%load i18n%}
{%load core_template_tags%} 
{%block content%}
{% get_current_language as LANGUAGE_CODE %}
		<!--Breadcrumb-->
		<section>
			<div class="bannerimg cover-image bg-background3" data-image-src="/static/frontpages/images/banners/banner2.jpg">
				<div class="header-text mb-0">
					<div class="container">
						<div class="text-center text-white">
							<h2>{% trans "Appying to" %} </h2><h4>{{vacancy.title|safe}}</h4> 
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Breadcrumb-->

		<!--User dashboard-->
		<section class="sptb">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-lg-12 col-md-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title"><b>{% trans "Categories" %}</b></h3>
							</div>
							{%for cat in category%}
							<div class="card-body p-0">
								<div class="list-catergory">
									<div class="item-list">
										<ul class="list-group mb-0">
											<li class="list-group-item">
												<a href="{%url 'vacancy_search' id=cat.id%}" class="text-dark" title=" {{cat}}">
													 {{cat|safe|truncatechars_html:25}}
													<span class="badgetext badge badge-pill badge-light mb-0 mt-1">{{cat.countjobs}}</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							{%endfor%}
						</div>
						

					</div>
					<div class="col-xl-9 col-lg-12 col-md-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">{% trans "Job application form" %}</h3>

							</div>
							{% if job.errors %}
								<p>Re-Check The Follwoing Fields!  </p>
								{% for error in job.errors %}
								<div class="alert alert-warning" role="alert">
									<button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
									<span class="font-weight-semibold">{{error}} </span>
								</div>

								{% endfor %}
							{% endif %}

							<div class="card-body">
								<div class="card-pay">
								<form action="" method="POST" enctype="multipart/form-data">
									{%csrf_token%}
									<div class="tab-content">
										<div class="tab-pane active show" id="tab1">
											
											<div class="form-group">
												<label class="col-form-label "> {% trans "Status" %} *</label>
													<div class="input-group">

													{{job.status}}
													
												</div>
											</div>
											
											
											<div class="form-group">
												<label class="form-label">{% trans "The institute you learned in" %} *</label>
												<div class="input-group">
													{{job.institiute}}
													
												</div>
											</div>
											<div class="form-group">
												<label class="form-label">{% trans "The field you are an expert in" %} *</label>
												<div class="input-group">
													{{job.field}}
													
												</div>
											</div>
											<div class="form-group">
												<label class="form-label">{% trans "Grade" %} *</label>
												<div class="input-group">
													{{job.grade}}
													
												</div>
											</div>

											<div class="form-group">
												<label class="form-label">{% trans "experiance (in years)" %} *</label>
												<div class="input-group">
													{{job.experiance}}
													
												</div>
											</div>

											<div class="form-group">
												<label class="form-label">{% trans "Introduce your self" %} *</label>
												<div class="input-group">
													{{job.bio}}
													
												</div>
											</div>

											<div class="form-group">
											<label class="form-label">{% trans "Upload your CV" %} *</label>
											<div class="col-lg-10">
													{{job.cv}}
												
											</div>
											</div>
															

										<div class="form-group">
									<label class="form-label">{% trans "Upload your Documents (This is for certifivates and other documents)" %}</label>
											<div class="col-lg-10">
												{{job.documents}}
												
											</div>
									</div>

											 
											
											<div class="text-right">
					<button style="padding-left: 10%; padding-right: 10%;" type="submit"
						class="btn btn-primary rounded-round">{% trans "Submit" %} </button>
								</div>
										</div>
									</div>
								</form>
									
							</div>	
						</div>
						</div>
						</div>
						</div>
						</div>
						</section>
						
		<!--/User dashboard-->

		
<script>
	$(document).ready(function () {
		$('#summernote').summernote();
		$('.summernote').summernote();
	});

	function isNumber(kkk)
  {
    
     $("#"+kkk).val($("#"+kkk).val().replace(/[^\d.]/g, ''));  
  }


</script>

{%endblock%}