{%extends 'frontpages/layout.html'%}
{%load i18n%}
{%load core_template_tags%} 
{%block content%}
{% get_current_language as LANGUAGE_CODE %}
		<!--Breadcrumb-->
		<section>
			<div class="bannerimg cover-image bg-background3" data-image-src="/static/frontpages/images/banners/banner2.jpg">
				<div class="header-text mb-0">
					<div class="container">
						<div class="text-center text-white">
							<h1 class="">{% trans "Vacancy" %}  </h1>
							<ol class="breadcrumb text-center">
								{%if message %}
									{{message}}
								{%endif%} 
							</ol>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Breadcrumb-->

		<!--user dashboard-->
		<section class="sptb">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-lg-12 col-md-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">{% trans "Categories" %} </h3>
							</div>
							{%for cat in category%}
							<div class="card-body p-0">
								<div class="list-catergory">
									<div class="item-list">
										<ul class="list-group mb-0">
											<li class="list-group-item">
												<a href="{%url 'vacancy_search' id=cat.id%}" class="text-dark" title="{{cat|safe}}">
													{{cat|safe|truncatechars_html:25}}
													<span class="badgetext badge badge-pill badge-light mb-0 mt-1">{{cat.countjobs}}</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							{%endfor%}
							
						</div> </div>
								

							
					<div class="col-xl-9 col-lg-12 col-md-12">
						

						<div class="col-lg-12">

                            <div class="card position-relative">

                                <div class="card-header py-3">
                                    <h3 class="card-title">{% print_translated vacancy.title|safe vacancy.title_am|safe LANGUAGE_CODE%}</h3>
									
                                </div>
                                <div class="card-body">
									<div class="mb-4">
                                    	<b>{% trans "Campany" %} </b>:{{vacancy.company}} 
                                    </div>
                                    <div class="mb-3">
                                       <b>{% trans "Cateory" %} </b>: <code>{{vacancy.category|safe}}</code>
                                    </div>
                                    <div class="mb-3">
                                    <b>Employee Type</b>:{{vacancy.employement_type}}</div>
                                    
                                    <div class='mb-4'>
                                    	<b>{% trans "Location" %} </b>:{{vacancy.location}}
                                    </div>
                                    <div class='mb-4'>
                                    	<b>{% trans "Salary" %} </b>:{{vacancy.salary}}
                                    </div>
									<div class='mb-4 '>
                                    	
                                    	<b>{% trans "Starting date" %} </b>:{{vacancy.starting_date.date}}
                                    </div>
                                    <div class='mb-5 '>
                                    	
                                    	<b>{% trans "Ending date" %} </b>:{{vacancy.ending_date.date}}
                                    </div>

                                    <div class='mb-4 header'>
                                    	
                                    	<h4><b>{% trans "Requirement" %} </b></h4>:
                                    	<span  class="mb-3">{% print_translated vacancy.requirement|safe vacancy.requirement_am|safe LANGUAGE_CODE%}</span>
                                    
									</div>
                                    
                                    <div class='mb-4 header' >
                                    	
                                    	<h4><b>{% trans "Description" %}</b> </h4>:
                                    	<span  class="mb-3">{% print_translated vacancy.description|safe vacancy.description_am|safe LANGUAGE_CODE%}</span>
                                    </div>
                                    
                                </div>
                                <div class="card-footer">
									{% if applied %}
									<button class="btn btn-secondary" disabled = "true" >{% trans "You have already  applied" %} </button>
									{% else %}
										{% if user.is_authenticated %}
											<a href="{%url 'applications'  model_name='Vacancy' id=vacancy.id%}" class="btn btn-secondary">{% trans "Apply" %} </a>
										{% else %}
											<a href="{%url 'applications'  model_name='Vacancy' id=vacancy.id%}" class="btn btn-secondary">{% trans "Login and Apply" %} </a>
									
										{% endif %}
									{% endif %}
							
								</div>
                            </div>

                        </div>
						 


					</div>
				</div>
			</div>
		</section>

		
{%endblock%}