{%extends 'admin/base_site.html'%}
{% block extrastyle %}

<!-- Theme JS files -->
<script src="/static/admin/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/datatables_advanced.js"></script>
<!-- /theme JS files -->

{% endblock %}
{%block pagename%}Forum Comments List{%endblock%}
{%block content%}

<!-- Content area -->
<div class="content">

	<!-- Page length options main category -->
	
	<!-- /page length options -->

	<!-- Page length options sub-category-->
	
	<div class="card">
		<div class="card-header header-elements-inline">
			<h5 class="card-title">Forum Comments</h5>
			<div class="header-elements">
				
			</div>
		</div>

		<table class="table datatable-show-all">
			<thead>

				<tr>
					<th>#</th>
					<th>Title</th>
					<th>Forum question</th>
					<th>Created by</th>
					<th>Created date</th>
					<th>Replays</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead> 
			<tbody>
				{%for comment in researchprojectcategorys%}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{comment.comment|safe|truncatechars_html:20}}</td>
					<td>{{comment.forum_question|safe|truncatechars_html:20}}</td>
					<td>{{comment.created_by.username}}</td>
					<td>{{comment.created_date}}</td>
					<td><a class="mr-0" href="{%url 'admin:Comment_replays' id=comment.id%}"><i class="fa fa-comment-o text-muted mr-2"></i>{{comment.count_comment_replays}}
					</a></td>
					
					<td class="text-center">
						<div class="list-icons">
							<div class="dropdown">
								<a href="#" class="list-icons-item" data-toggle="dropdown">
									<i class="icon-menu9"></i>
								</a>
									
								<div class="dropdown-menu dropdown-menu-right">
									{% if user.is_superuser or user.get_company == comment.created_by.get_company %}

									{% if perms.collaborations.delete_forumcomments %} 
									<a href="{%url 'admin:delete' model_name='ForumCommentsAdmin' id=comment.id%}" class="dropdown-item" onclick="return confirm('Are you sure you want to Delete this')"><i class="icon-trash"></i>Delete Comment</a>
									{%endif%}
									{%endif%}
									{% if user.is_superuser or user.get_company == comment.created_by.get_company %}
									
									{% if perms.collaborations.change_forumcomments %} 
									<a href="{%url 'admin:forum_comment_detail' model_name='ForumCommentsAdmin' id=comment.id%}" class="dropdown-item"  >
										<i class="icon-pencil"></i>Edit Comment</a>
										{%endif%}
									
									{%endif%}
								</div>
							</div>
						</div>
					</td>
				</tr>
				{%endfor%}
			</tbody>
		</table>
	</div>
	<!-- /page length options -->


</div>
<!-- /content area -->
{%endblock%}