{% load i18n %}

{% if app_list %}
<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu" title="Main"></i></li>
  {% for app in app_list %}
  {% if user.is_admin == False%}
    {%if app.name == "Accounts" %}
    {%elif  app.name == "Administration" %}
    {%elif  app.name == "Authentication and Authorization"%}
    {%else%}
    <li class="nav-item nav-item-submenu">
      <a href="href="{{ app.app_url }}" class="nav-link" title="{% blocktranslate with name=app.name %}Models in the {{ name }} application{% endblocktranslate %}"><i class="icon-copy"></i> <span>{{ app.name }}</span></a>
  
      <ul class="nav nav-group-sub" data-submenu-title="Layouts">
        {% for model in app.models %}
        {%if model.admin_url%}
        <li class="nav-item"><a href="{{ model.admin_url }}" class="nav-link">{{ model.name }}</a></li>
        {%else%}
        <li class="nav-item"><a href="#" class="nav-link">{{ model.name }}</a></li>
        {%endif%}
        {% endfor %}
      </ul>
    </li>
    {%endif%}
  {%else%}
  <li class="nav-item nav-item-submenu">
    <a href="href="{{ app.app_url }}" class="nav-link" title="{% blocktranslate with name=app.name %}Models in the {{ name }} application{% endblocktranslate %}"><i class="icon-copy"></i> <span>{{ app.name }}</span></a>

    <ul class="nav nav-group-sub" data-submenu-title="Layouts">
      {% for model in app.models %}
      {%if model.admin_url%}
      <li class="nav-item"><a href="{{ model.admin_url }}" class="nav-link">{{ model.name }}</a></li>
      {%else%}
      <li class="nav-item"><a href="#" class="nav-link">{{ model.name }}</a></li>
      {%endif%}
      {% endfor %}
    </ul>
  </li>
  {%endif%}

    <!-- <div class="app-{{ app.app_label }} module{% if app.app_url in request.path %} current-app{% endif %}">
      <table>
        <caption>
          <a href="{{ app.app_url }}" class="section" title="{% blocktranslate with name=app.name %}Models in the {{ name }} application{% endblocktranslate %}">{{ app.name }}</a>
        </caption>
        {% for model in app.models %}
          <tr class="model-{{ model.object_name|lower }}{% if model.admin_url in request.path %} current-model{% endif %}">
            {% if model.admin_url %}
              <th scope="row"><a href="{{ model.admin_url }}"{% if model.admin_url in request.path %} aria-current="page"{% endif %}>{{ model.name }}</a></th>
            {% else %}
              <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
              <td><a href="{{ model.add_url }}" class="addlink">{% translate 'Add' %}</a></td>
            {% else %}
              <td></td>
            {% endif %}

            {% if model.admin_url and show_changelinks %}
              {% if model.view_only %}
                <td><a href="{{ model.admin_url }}" class="viewlink">{% translate 'View' %}</a></td>
              {% else %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% translate 'Change' %}</a></td>
              {% endif %}
            {% elif show_changelinks %}
              <td></td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    </div> -->
  {% endfor %}
{% else %}
  <p>{% translate 'You don’t have permission to view or edit anything.' %}</p>
{% endif %}
