{%extends 'frontpages/layout.html'%}

{%block content%}
		<!--Breadcrumb-->
		<section>
			<div class="bannerimg cover-image bg-background3" data-image-src="/static/frontpages/images/banners/banner2.jpg">
				<div class="header-text mb-0">
					<div class="container">
						<div class="text-center text-white">
							<h1 class="">Forum </h1>
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Breadcrumb-->

		<!--Add listing-->
		<section class="sptb">
			<div class="container">
				<div class="row">
					<!--Left Side Content-->
					<div class="col-xl-4 col-lg-4 col-md-12">
						<div class="card">
						 <form action="{%url 'forum_search' %}" method="POST" enctype="multipart/form-data">
						 	{%csrf_token%}
							<div class="card-body">
								<div class="input-group">
									<input type="text" name="search" class="form-control br-tl-3  br-bl-3" placeholder="Search" required>
									<div class="input-group-append ">
										
										<button type="submit" class="btn btn-secondary br-tr-3  br-br-3">
											Search
										</button></a>
									</div>
								</div>
							</div>
						</form>
						</div>
						
						<div class="card">
							<div class="card-header">
                                    <h3 class="card-title">Forums you created </h3> 
							</div>
							<div class="card-body p-0">
								<div class="list-catergory">
									<div class="item-list">
										<ul class="list-group mb-0">

											{%for forum in usercreated%}
											
											<li class="list-group-item border-bottom-0">
												<a href="{%url 'forum_detail' id=forum.id %}" class="text-dark">
													 {{forum.title|safe|truncatechars_html:20}}
													<span class="badgetext badge badge-pill badge-light mb-0 mt-1">{{forum.countComment}}</span>
												</a>

											</li> 
											
											<li>
												<span class="badgetext badge badge-pill badge-light mb-0 mt-1">
												<a href="{%url 'admin:delete' model_name='ForumQuestion' id=forum.id%}" class = "btn btn-secondary btn-sm mt-4" onclick="return confirm('are you sure you want to delete this')"><i class="icon-trash"></i> </a>
											
												<a href="{%url 'forum_edit' id=forum.id%}" style = "padding:5px; margin-left: 10px;" class = "btn btn-secondary btn-sm mt-4"  >
												<i class="icon-pencil" style="margin-right: 5px;" ></i> 
											</a></span>
											</li>
											 

											{%endfor%}

										</ul>
									</div>
								</div>
							</div>
                        </div>
                        
						
					</div>
					<!--/Left Side Content-->

                    

					

					<div class="col-xl-8 col-lg-8 col-md-12">
						<!--Add Lists-->
						

						<div class="card">
							<div class="card-body">
								<div class="col-xl-11 col-lg-12 col-md-12">
								<a href="{%url 'forum_form' %}"><button style="padding-left: 40%; padding-right: 40%;" type="submit" 
								href="{%url 'forum_form' %}" 
									class="btn btn-primary rounded-round">
									<h5>Start New Forum Question </h5>
								</button>
								</a>
							</div>
							</div>
						</div>
						<div class="row">
							<!----
							title = models.CharField(max_length=500,null=False)
    description = models.TextField(null=False)
    detail = models.TextField(null=False)
    status = models.CharField(max_length=100,null=False)
    accepted = models.CharField(max_length=100,null=False)
    user = models.ForeignKey(settings.AUTH_USER_MODEL, on_delete=models.CASCADE)
-->
							<div class="col-xl-12 col-lg-12 col-md-12">
								{%for forum in forums%}
								<div class="card">
									<div class="card-head">
										<h3 style = "margin-left:20px;margin-top:20px; ">{{forum.title}}</h3>
									</div>
									<div class="card-body">
										<div class="item7-card-desc d-flex mb-2">
											<a href="#"><i class="fa fa-calendar-o text-muted mr-2"></i>{{forum.created_date}}</a>
											<div class="ml-auto">
												<a class="mr-0" href="#"><i class="fa fa-comment-o text-muted mr-2"></i>{{forum.countComment}} </a>
											</div>
										</div>



										<h4 class="font-weight-semibold" >{{forum.description|safe|truncatechars_html:30}}</h4>
										{% if forum.created_by != user %}
										<a class="mr2" href="/chat/with/{{forum.created_by.username}}/" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chat with forum creator"><i style = "color:blue;" class="fa fa-comments fa-"></i></a>
										{% endif %}

										<a href="{%url 'forum_detail' id=forum.id %}" class="btn btn-secondary btn-sm">Read More</a>
									</div>
								</div>
								{%endfor%}
                            </div>

                            
						</div>
						<div class="d-sm-flex">
							<h6 class="mb-0 mt-3">Showing 1 to 6 of 30 entries</h6>
							<ul class="pagination mb-lg-0 mb-5 ml-auto">
								<li class="page-item page-prev disabled">
									<a class="page-link" href="#" tabindex="-1">Prev</a>
								</li>
								<li class="page-item active"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item page-next">
									<a class="page-link" href="#">Next</a>
								</li>
							</ul>
						</div>
					</div>
					<!--/Add Lists-->
				</div>
			</div>
		</section>
		<!--Add Listing-->

	
		{%endblock%}