{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags %}
{% block extrastyle %}
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>
{% endblock %}

{%block pagename%}Choice Form.{%endblock%}
{%block collaborations%}nav-item-expanded nav-item-open{%endblock%}

{%block content%}

<!-- Content area -->
<div class="content">
	{%if edit %}
		<div class="card">
			<div class= "text-right" class="card-header header-elements-inline">	
				{% if user.get_company == choice.created_by.get_company or user.is_superuser %}
					{% if perms.collaborations.delete_choices  %}				
					<form action="{% url 'admin:delete' model_name='Choices' id=choice.id %}" method="GET" enctype="multipart/form-data" >
						{%csrf_token%}
						<div  style="margin-top: 15px;" class="text-right">
							<button style="padding-left: 2%; margin-right:3%; margin-top: 2%; padding-right: 2%; background-color: maroon;" type="submit"
							class="btn btn-primary rounded-round col-lg-2" onclick="return confirm ('Are you sure you want to delete this choice?')">Delete Choice </button>
						</div>
					</form>
					{%endif%}
				{% endif %}
			</div>
				
			<div class="card-body">
							<h3 style="padding-left:20px; margin-top: 15px;" ><b style="margin-right: 10px;">Title: </b> <a href="#"><b>{{choice.choice_name}}</b></a></h3>
							
							<div style="padding-left:20px;" class="item7-card-desc d-flex mb-2 mt-3"> 
									<h6 class="mr-3"> <b style = " margin-right:5px;">Choice created at :</b>                                   
											<a href="#"><i class="fa fa-calendar-o text-muted mr-2"></i>{{choice.created_date.date}}</a>
									</h6>
									
									<h6><b style = " margin-right:5px;">Total Votes :</b>
                                    	<a href="#"><i class="fa fa-star text-muted mr-2" style="margin-left: 10px;"></i>{{choice.count_votes}}</a>
                                    </h6>
							</div>
							<br>
	
				<form action="{%url 'admin:edit_choice'  %}" method="POST" enctype="multipart/form-data">
					<fieldset class="mb-3 ml-3 mr-3">
						<legend class="text-uppercase font-size-sm font-weight-bold"><h3><b>Edit Chioce </b></h3></legend>
						

						{%csrf_token%}
						<div class="form-group row">
							<label class="col-form-label col-lg-3">Choice name<Title></Title>(English) </label>
							<div class="col-lg-9">
								<input required type="text" name="choice_name" class="form-control" value="{{choice.choice_name}}" >
							</div>
						</div>
						<div class="form-group row">
							<label class="col-form-label col-lg-3">Choice name(Amharic) </label>
							<div class="col-lg-9">
								<input required type="text" name="choice_name_am" class="form-control" value="{{choice.choice_name_am}}" >
							</div>
						</div>
	
						<div class="form-group row">
							<label class="col-form-label col-lg-3">Choice Description(English) </label>
							<div class="col-lg-9">
								<textarea required name="description" id="summernote" cols="30"
									rows="10">{{choice.description|safe}}</textarea>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-form-label col-lg-3">Choice Description(Amharic) </label>
							<div class="col-lg-9">
								<textarea required name="description_am" class="summernote" cols="30"
									rows="10">{{choice.description_am|safe}}</textarea>
							</div>
						</div>

						<input name="choice" hidden value = "{{choice.id}}"/>

						
					</fieldset>
					
					<div class="text-right">
						<button style="padding-left: 2%; padding-right: 2%;" type="submit"
						class="btn btn-primary rounded-round col-lg-2" onclick="return confirm ('Are you sure you want to Edit this choice?')">Edit Choice </button>
					</div>

					
				</form>
				
				<br>
				<form action="{% url 'admin:admin_polls' %}" method="GET" enctype="multipart/form-data" >
					{%csrf_token%}
					<div class="text-right">
						<button style="padding-left: 2%; padding-right: 2%; background-color: grey;" type="submit"
							class="btn btn-primary rounded-round col-lg-2">Cancel </button>
					</div>
				</form>
				
			</div>
		</div>

	{% else %}
	<div class="card">

		<div class="card-body">
                                <!-- path('add_choice/<id>', add_choice.as_view(), name = "add_choice") -->

			<form action="{%url 'admin:add_choice' id=poll.id%}" method="POST" enctype="multipart/form-data">
				<fieldset class="mb-3 ml-3 mr-3">
					<legend class="text-uppercase font-size-sm font-weight-bold">Create new choice for {{poll.title}}</legend>
					<p class="mb-4"> All Fields ending with * are required. You are required to fill fields in English and Amharic</p>
                    {{form.errors}}
                 
                    {%csrf_token%}
				  
					
					<div class="form-group row">
						<label class="col-form-label col-lg-3">{{form.choice_name.label|title}} *</label>
						<div class="col-lg-9">
							{{form.choice_name}}
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-lg-3">{{form.choice_name_am.label|title}} *</label>
						<div class="col-lg-9">
							{{form.choice_name_am}}
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-lg-3">{{form.description.label|title}} *</label>
						<div class="col-lg-9">
							{{form.description}}
						</div>
					</div>
					 
					<div class="form-group row">
						<label class="col-form-label col-lg-3">{{form.description_am.label|title}} *</label>
						<div class="col-lg-9">
							{{form.description_am}}
						</div>
					</div>

					
					
				</fieldset>

				<div class="text-right">
					<button style="padding-left: 5%; padding-right: 5%;" type="submit"
						class="btn btn-primary rounded-round">Add Choice </button>
				</div>
			</form>
		</div>
	</div>
	
	{% endif %}
</div>
{%endblock%}