{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags %}
{% block extrastyle %}
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>
{% endblock %}
{%block pagename%}Polls Form{%endblock%}
{%block collaborations%}nav-item-expanded nav-item-open{%endblock%}
{%block content%}

<!-- Content area -->
<div class="content">

	{% if edit and perms.collaborations.change_pollsquestion %}
			<div class="card">
				<div class="card-body">		
					<form action="{%url 'admin:edit_poll'  id=poll.id %}" method="POST" enctype="multipart/form-data">
						<fieldset class="mb-3 ml-3 mr-3">
							{{form.errors}}
							<legend class="text-uppercase font-size-sm font-weight-bold">Edit "{{poll.title}}"  poll</legend>	
							{%csrf_token%}
							<div class="form-group row">
								<label class="col-form-label col-lg-3">Poll <Title></Title>(English) </label>
								<div class="col-lg-9">
									<input required type="text" name="title" class="form-control" value="{{poll.title}}" id="">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-lg-3">Poll Title(Amharic) </label>
								<div class="col-lg-9">
									<input required type="text" name="title_am" class="form-control" value="{{poll.title_am}}" id="">
								</div>
							</div>
		
							<div class="form-group row">
								<label class="col-form-label col-lg-3">Poll Description(English) </label>
								<div class="col-lg-9">
									<textarea required name="description" id="summernote" cols="30"
										rows="10">{{poll.description|safe}}</textarea>
								</div>
							</div>

							<div class="form-group row">
								<label class="col-form-label col-lg-3">poll Description(Amharic) </label>
								<div class="col-lg-9">
									<textarea required name="description_am" class="summernote" cols="30"
										rows="10">{{poll.description_am|safe}}</textarea>
								</div>
							</div>	
						</fieldset>
		
						<div class="text-right">
							<button style="padding-left: 5%; padding-right: 5%;" type="submit"
								class="btn btn-primary rounded-round col-lg-2" onclick="return confirm ('Are you sure you want to Edit this Poll?')">Edit Poll </button>
						</div>
					</form>
					<br>
					<form action="{% url 'admin:admin_polls' %}" method="GET" enctype="multipart/form-data" >
						{%csrf_token%}
						<div class="text-right">
							<button style="padding-left: 5%; padding-right: 5%; background-color: grey;" type="submit"
								class="btn btn-primary rounded-round col-lg-2">Cancel </button>
						</div>
					</form>
					<br>
					<br><br><br>
					{% if poll.count_choices > 0 %}
						<h3 class = "text-center"> Select the choice you want to Edit or Delete</h3>

						<form action="{%url 'admin:edit_choice'  %}" method="GET" enctype="multipart/form-data">
							
							<fieldset style="padding-left: 20px;">
								
								<div class="form-group row" >
									<p class="col-form-label col-lg-3"><b>Edit Poll Choices </b></p>
									<div style="width: 80%;">
										<div class="col-lg-9" style="width: 95%; display: inline-block;">
											<select required name="choice" class="form-control form-control-uniform" data-fouc>
												{%for choice in poll.choices.all%}
													<option  value="{{choice.id}}">{{choice.choice_name}}</option>
													<div class="list-icons" style="width: 2%; display: inline-block;" >
														<div class="dropdown">
															<a href="#" class="list-icons-item" data-toggle="dropdown">
																<i class="icon-menu9"></i>
															</a>
														</div>
													</div>
												{%endfor%}
				
											</select>
										</div>
									</div>		
								</div>
							</fieldset>
							
							<div class="text-right">
								{% if user.is_superuser or user.get_commpany == poll.company %} 
									{% if perms.collaborations.delete_pollsquestion %}
								<button style="padding-left: 5%; padding-right: 5%; margin-bottom: 20px;" type="submit"
									class="btn btn-primary rounded-round">Edit/Delete this choice </button>
									{% endif %}
								{% endif %}
							</div>

							
						</form>
					{%else%}
					<div class="text-right">
						<h3 class = "text-center"> No Choice to Edit or Delete</h3>
						<div class="list-icons">
							<a href="{%url 'admin:add_choice' id=poll.id %}" class="btn bg-teal btn-sm rounded-round"><i class="icon-add mr-2"></i>Add New Choice</a>
						</div>							
					</div>
					{%endif%}
						
				</div>
			</div>
		
	{%else%}
		
			<div class="card">
				<div class="card-body">

					<form action="{%url 'admin:create_poll'%}" method="POST" enctype="multipart/form-data">
						<fieldset class="mb-3 ml-3 mr-3">
							{{form.errors}}
							<legend class="text-uppercase font-size-sm font-weight-bold">Create new Poll</legend>
							<p class="mb-4"> All Fields ending with * are required. You are required to fill fields in English and Amharic</p>
							
						
							{%csrf_token%}
						
							
							<div class="form-group row">
								<label class="col-form-label col-lg-3">{{form.title.label|title}} *</label>
								<div class="col-lg-9">
									{{form.title}}
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-lg-3">{{form.title_am.label|title}} *</label>
								<div class="col-lg-9">
									{{form.title_am}}
								</div>
							</div>
							<div class="form-group row">
								<label class="col-form-label col-lg-3">{{form.description.label|title}} *</label>
								<div class="col-lg-9">
									{{form.description|safe}}
								</div>
							</div>
							
							<div class="form-group row">
								<label class="col-form-label col-lg-3">{{form.description_am.label|title}} *</label>
								<div class="col-lg-9">
									{{form.description_am|safe}}
								</div>
							</div>
							
						</fieldset>

						<div class="text-right">
							<button style="padding-left: 10%; padding-right: 10%;" type="submit"
								class="btn btn-primary rounded-round">Create Poll </button>
						</div>
					</form>
				</div>
			</div>
		
		
		
	{%endif%}
</div>
<!-- /content area -->
<script>
	$(document).ready(function () {
		$('#summernote').summernote();
		$('.summernote').summernote();
	});
</script>

{%endblock%}