{%extends 'admin/base_site.html'%}
{% block extrastyle %}

	<!-- Theme JS files -->
	<script src="/static/admin/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
	<script src="/static/admin/global_assets/js/demo_pages/datatables_advanced.js"></script>
	<!-- /theme JS files -->
 
{% endblock %}
{%block pagename%}Latest Polls list{%endblock%}
{%block collaborations%}nav-item-expanded nav-item-open{%endblock%}
{%block content%}

			<!-- Content area -->
			<div class="content">
				
				<!-- Page length options main category -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Polls</h5>
						<div class="header-elements">
							{%if perms.collaborations.add_pollsquestion%}
							<div class="list-icons">
								<a href="{%url 'admin:create_poll' %}" class="btn bg-teal btn-sm rounded-round"><i class="icon-add mr-2"></i>Add New</a>
							</div>
							{%endif%}
						</div>
					</div>
					

					<table class="table datatable-show-all">
						<thead>
							<tr><th>#</th>
								<th>Poll Title</th>
                                <th>Choices</th>
                                <th>Votes</th>
								<th>Created By</th>
								<th>Created Date</th>
								<th class="text-center">Actions</th>
							</tr>
						</thead>
						<tbody>
					
							{%for poll in polls%}
							<tr>
								<td>{{forloop.counter}}</td>
								<td>{{poll.title}}</td>
								<td>{{poll.count_choices}}</td>
                                <td>{{poll.count_votes}}</td>
                                <td>{{poll.created_by.username}}</td>
								<td><span class="badge badge-success">{{poll.created_date}}</span></td>
								<td class="text-center">
									<div class="list-icons">
										<div class="dropdown">
											<a href="#" class="list-icons-item" data-toggle="dropdown">
												<i class="icon-menu9"></i>
											</a>

											<div class="dropdown-menu dropdown-menu-right">
												
													{% if perms.collaborations.view_pollsquestion %}
													<a href="{%url 'admin:detail_poll' pk=poll.id%}" class="dropdown-item"><i class="icon-eye"></i>View Poll Detail</a>
													{% endif %}
													{% if user.get_company == poll.company  or user.is_superuser %}
														{% if perms.collaborations.change_pollsquestion %}
															{% if  poll.count_votes == 0  %}
															<a  href="{%url 'admin:edit_poll' id=poll.id%}" class="dropdown-item"><i class="icon-pencil"></i>Edit Poll</a>
															{% else %}
															<a  href="#" class="dropdown-item"><i class="icon-pencil"></i>Cannot be edited, vote started!</a>
															{% endif %}
														{% endif %}
														{% if perms.collaborations.add_choices %}
														<a href="{%url 'admin:add_choice' id=poll.id%}" class="dropdown-item"><i class="icon-plus3"></i>Add New Choice</a>
														{% endif %}
	
														{% if perms.collaborations.delete_pollsquestion %}
														<a href="{%url 'admin:delete' model_name='PollsQuestion' id=poll.id %}" class="dropdown-item" onclick="return confirm ('Are you sure you want to delete this Poll?')"><i class="icon-trash"></i>Delete Poll</a>
														{%endif%}

													{% endif %}
											
											</div>
										</div>
									</div>
								</td>
							</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
				<!-- /page length options -->
				
				
			</div>
{%endblock%}

