{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags %}
{% load core_template_tags %}
{% block extrastyle %}
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>
{% endblock %}
{%block pagename%}View Research{%endblock%}
{%block content%}

<!-- Content area -->
<div class="content">
				<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="card">
							<div class="card-head">
								<div class= "text-right" class="card-header header-elements-inline">	
							<div class="list-icons">
										{% if perms.collaborations.change_research%} 
										{% if user.is_superuser %}
										{% if forms.accepted == "PENDING" %}
								<a href="{%url 'admin:research_approve' id=forms.id %}" class="btn bg-teal btn-sm rounded-round" style = "margin-top: 20px; margin-right: 10px;"> APPROVE</a>
								{%endif%}
								{%endif%}
								{%endif%}

								{% if perms.collaborations.change_research%} 
								{% if user.is_superuser %}
								{% if forms.accepted == "APPROVED" %}
								<a href="{%url 'admin:research_pending' id=forms.id %}" class="btn bg-teal btn-sm rounded-round" style = "margin-top: 20px; margin-right: 10px;"> Back to pending</a>
								{%endif%}
								{%endif%}
								{%endif%}

									</div>
									<div class="list-icons">
										{% if user.is_superuser or user.get_company == forms.created_by.get_company %}
								<a href="{%url 'admin:research_detail'  model_name='Research' id=forms.id%}" class="btn bg-teal btn-sm rounded-round" style = "margin-top: 20px;margin-right: 10px;"> EDIT</a>
									{%endif%}
									</div>
									
									<div class="list-icons">
										{% if user.is_superuser or user.get_company == forms.created_by.get_company %}
								<a href="{%url 'admin:delete' model_name='Research' id=forms.id%}" class="btn bg-teal btn-sm rounded-round" onclick="return confirm('Are you sure you want to Delete this')" style = "margin-top: 20px; margin-right: 20px; ">DELETE</a>
								{%endif%}
                                    </div>
                                
					</div>
								<div class="col-xl-6 col-lg-6 col-md-6">
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6">
								
										<h2>{{forms.title}}</h2>
										</div>
									</div>
							<div class="card-body">
								<div>
										<p>CATEGORY:{{forms.category}}</p>
									</div>
									{%if forms.attachements%}
									<div class="mb-4">
                                    	<a href="{{forms.attachements.url}}" download="{{forms.attachements.url}}"> 
                                   			
                                   			<b>Documents</b>
                     					</a>
                                    </div>
                                    {%endif%}
								<div>
									<a href=""><i class="fa fa-calendar-o text-muted mr-2"></i>{{forms.timestamp}}</a>
									<i class="fa fa-user text-muted mr-2">{{forms.created_by.username}}</i>
									<div>
										<label class="col-form-label col-lg-3"> </label>
										<h5>{{forms.description|safe}}</h5>
									</div>
									
									
								</div> 
								
							</div>
						</div>
						{%if forms.researchfiles%}
						<div class="card">
						<label class="col-form-label col-lg-3"> Research Files*</label>
		                
		                <div class="card-body" >    
		                        <div class="media-body">
		                        	<div class="mt-4 mb-3 row">
		                                {%for file in forms.researchfiles%}
					                <div class="col-sm-6 col-lg-3">
					                	
					                    <div class="card">
					                        <div class="card-img-actions m-1">
					                        	
					                            <a href="{{file.attachement.url}}" download="{{file.attachement.url}}">

										{% file_type file.attachement.url as file_type%}
										{% if file_type  == 'image' %}
											<i  style = "color: rgb(86, 115, 132); border: hidden; size: 200px; " class = "fa fa-image fa-4x"></i>
										{% elif file_type  == 'video' %}
											<i  style = "color: rgb(86, 115, 132); border: hidden; size: 200px; " class = "fa fa-play-circle fa-4x"></i>
										{% elif file_type == 'audio' %}
											<i  style = "color: rgb(86, 115, 132); border: hidden; size: 200px; " class = "fa fa-music fa-4x"></i>
										{% elif file_type == 'word' %}
											<i  style = "color: rgb(86, 115, 132); border: hidden; size: 200px; " class = "fa fa-file-word-o fa-4x"></i>
										{% elif file_type == 'pdf'  %}
											<i  style = "color: rgb(86, 115, 132); border: hidden; size: 200px; " class = "fa fa-file-pdf-o fa-4x"></i>
										{% elif file_type == 'excel'%}
										<i  style = "color: rgb(86, 115, 132); border: hidden; size: 200px; " class = "fa fa-file-excel-o fa-4x"></i>
										{% elif file_type == 'exe' %}
										<i  style = "color: rgb(86, 115, 132); border: hidden; size: 200px; " class = "icon-cogs fa-4x"></i>
										{% else %}
											<i  style = "color: rgb(86, 115, 132); border: hidden; size: 200px; " class = "fa fa-file fa-4x"></i>
										{% endif %}
										{{file.attachement.name}}
									</a>
					                        </div>
					                    </div>
					                </div>

					                {%endfor%}
            					</div>
		                            
		                            
		                        </div>
		                    
		                </div>
		                      
		            </div> 
							{%endif%}
						</div>
					</div>
	
<!-- /content area -->
<script>
	$(document).ready(function () {
		$('#summernote').summernote();
		$('.summernote').summernote();
	});
</script>
{%endblock%}