{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags %}
{% block extrastyle %}
	<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>

	<script src="/static/admin/global_assets/js/plugins/forms/wizards/steps.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/forms/inputs/inputmask.js"></script>
	<script src="/static/admin/global_assets/js/plugins/forms/validation/validate.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/extensions/cookie.js"></script>
	<script src="/static/admin/global_assets/js/demo_pages/form_wizard.js"></script>
{% endblock %}
{%block pagename%}Company Profile{%endblock%}
{%block content%}

			<!-- Content area -->
			<div class="content">

				<!-- Form inputs -->
				{%if edit%}
				<div class="card">
					
					<div class="card-body">
						
						<form action="{%url 'admin:comp_profile' option='edit' id=company.id %}" method="POST" enctype="multipart/form-data">
							<fieldset class="mb-3 ml-3 mr-3">
								<legend class="text-uppercase font-size-sm font-weight-bold">Edit a Company Profile</legend>
								{{form.errors}}
								{%csrf_token%}
								<input type="hidden" value="{{company.id}}" name="comp_id" id="">
								{%if user.is_admin%}
								
								<!-- <div style="display: none;" class="form-group row">
									<label class="col-form-label col-lg-2">Company Type</label>
									<div class="col-lg-10">
										<select required name="company_type" class="form-control form-control-uniform" data-fouc>
											<option value="">Select Company Type</option>
											<option value="supplier">Supplier</option>
											<option value="manufacturer">Manufacturer</option>
										</select>
									</div>
								</div> -->
								{%endif%}
								<div class="form-group row">
									<label class="col-form-label col-lg-3">Company Name(English)</label>
									<div class="col-lg-9">
										<input type="text" name="company_name" class="form-control" value="{{company.company_name}}" id="">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-3">Company Name(Amharic)</label>
									<div class="col-lg-9">
										<input type="text" name="company_name_am" class="form-control" value="{{company.company_name_am}}" id="">
									</div>
								</div>

		                        <div class="form-group row">
		                        	<label class="col-form-label col-lg-3">Email Address</label>
		                        	<div class="col-lg-9">
			                            <input type="text" name="email" class="form-control" value="{{company.email}}" id="">
		                            </div>
								</div>
								<div class="form-group row">
		                        	<label class="col-form-label col-lg-3">Phone Number</label>
		                        	<div class="col-lg-9">
										<input type="text" name="phone_number" class="form-control" value="{{company.phone_number}}" id="">
		                            </div>
								</div>
								<div class="form-group row">
		                        	<label class="col-form-label col-lg-3">Company Address</label>
		                        	<div class="col-lg-9">
			                            <input type="text" name="location" class="form-control" value="{{company.location}}" id="">
		                            </div>
								</div>
								<div class="form-group row">
									<div class="col-12">
										<img src="{{company.company_logo.url}}"  width="100" class="rounded-circle" height="100" alt="">
									</div>
		                        	<label class="col-form-label col-lg-3">Company Logo</label>
		                        	<div class="col-lg-9">
										<input type="file" name="company_logo" class="form-input-styled" data-fouc=""> 
		                            </div>
								</div>
								<div class="form-group row">
		                        	<label class="col-form-label col-lg-3">Company Intro</label>
		                        	<div class="col-lg-9">
										<input type="file" name="company_intro" class="form-input-styled" data-fouc=""> 
		                            </div>
		                        </div>
								<div class="form-group row">
									<label class="col-form-label col-lg-3">Company Description(English)</label>
									<div class="col-lg-9">
										<textarea name="detail" id="summernote" cols="30" rows="10">{{company.detail|safe}}</textarea>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-3">Company Description(Amharic)</label>
									<div class="col-lg-9">
										<textarea name="detail_am" class="summernote" cols="30" rows="10">{{company.detail_am|safe}}</textarea>
									</div>
								</div>
							</fieldset>

							<div class="text-right">
								<button style="padding-left: 10%; padding-right: 10%;" type="submit" class="btn btn-primary rounded-round">Submit </button>
							</div>
						</form>
					</div>
				</div>
				{%else%}
				<div class="card">
					
					<div class="card-body">
						
						<form action="{%url 'admin:comp_profile' option='create' id=1 %}" method="POST" enctype="multipart/form-data">
							<fieldset class="mb-3 ml-3 mr-3">
								<legend class="text-uppercase font-size-sm font-weight-bold">Create a Company Profile</legend>
								{{form.errors}}
								{%csrf_token%}
								{%if user.is_admin%}
								<div class="form-group row">
									<label class="col-form-label col-lg-2">Company Type</label>
									<div class="col-lg-10">
										<select required name="company_type" class="form-control form-control-uniform" data-fouc>
											<option value="">Select Company Type</option>
											<option value="supplier">Supplier</option>
											<option value="manufacturer">Manufacturer</option>
										</select>
									</div>
								</div>
								{%endif%}
								<div class="form-group row">
									<label class="col-form-label col-lg-3">{{form.company_name.label|title}}</label>
									<div class="col-lg-9">
										{{form.company_name}}
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-3">{{form.company_name_am.label|title}}</label>
									<div class="col-lg-9">
										{{form.company_name_am}}
									</div>
								</div>
		
								<div class="form-group row">
									<label class="col-form-label col-lg-3">{{form.email.label|title}}</label>
									<div class="col-lg-9">
										{{form.email}}
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-3">{{form.phone_number.label|title}}</label>
									<div class="col-lg-9">
										{{form.phone_number}}
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-3">Company Address</label>
									<div class="col-lg-9">
										{{form.location}}
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-3">{{form.company_logo.label|title}} (JPG,PNG images with less than 5MB) </label>
									<div class="col-lg-9">
										{{form.company_logo}}
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-3">{{form.company_intro.label|title}}(Video Files with less than 10MB)</label>
									<div class="col-lg-9">
										{{form.company_intro}}
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-3">{{form.detail.label|title}}</label>
									<div class="col-lg-9">
										{{form.detail|safe}}
									</div>
								</div>
								<div class="form-group row">
									<label class="col-form-label col-lg-3">{{form.detail_am.label|title}}</label>
									<div class="col-lg-9">
										{{form.detail_am|safe}}
									</div>
								</div>
							</fieldset>

							<div class="text-right">
								<button style="padding-left: 10%; padding-right: 10%;" type="submit" class="btn btn-primary rounded-round">Submit </button>
							</div>
						</form>
					</div>
				</div>
				{%endif%}

				<!-- /form inputs -->

			</div>
			<!-- /content area -->
			<script>
				$(document).ready(function () {
					$('#summernote').summernote();
					$('.summernote').summernote();
				});
			</script>
{%endblock%}