{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags %}
{% block extrastyle %}
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>
{% endblock %}
{%block pagename%}Create Blog{%endblock%}
{%block content%}

<!-- Content area -->
<div class="content">

	 
	<div class="card">

		<div class="card-body">

			<form action="" method="POST" enctype="multipart/form-data">
				<fieldset class="mb-3 ml-3 mr-3">
					<legend class="text-uppercase font-size-sm font-weight-bold">Edit Blog</legend>
					<p class="mb-4"> All Fields ending with * are required. You are required to fill fields in English and Amharic</p>
					{{form.errors}}
					{%csrf_token%}
					<div class="form-group row">
						<label class="col-form-label col-lg-3">Questions *</label>
						<div class="col-lg-9">
							<input type="text" name="questions" class="form-control" value="{{faq.questions}} " id="">
						 

						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-lg-3">Questions Amharic *</label>
							<div class="col-lg-9">
							<input type="text" name="questions_am" class="form-control" value="{{faq.questions_am}}" id="">
						</div>
							
					</div> 
					<div class="form-group row">
						<label class="col-form-label col-lg-3">Answer *</label>
						
							<div class="col-lg-9">
							<textarea id="summernote" name="answers" >{{faq.answers}}</textarea>
						
							
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-lg-3">Answer amharic *</label>
						
							<div class="col-lg-9">
								<textarea id="summernote" name="answers_am" >{{faq.answers_am}}</textarea>
						</div>
					</div>


					
						
				</fieldset>

				<div class="text-right">
					<button style="padding-left: 10%; padding-right: 10%;" type="submit"
						class="btn btn-primary rounded-round" onclick="return confirm('are you sure you Done with editing')">Submit </button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /content area -->
<script>
	$(document).ready(function () {
		$('#summernote').summernote();
		$('.summernote').summernote();
	});
</script>
{%endblock%}