{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags %}
{% block extrastyle %}
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>
{% endblock %}
{%block pagename%}View FAQ{%endblock%}
{%block content%}

<!-- Content area -->
<div class="content">
				<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="card">
							<div class="card-head">
								<div class= "text-right" class="card-header header-elements-inline">	
							<div class="list-icons"> 
										{% if perms.collaborations.change_faqs and forms.status == "PENDDING" %} 
										
										{% if user.is_superuser %} 
										  
								<a href="{%url 'admin:approve_Faqs' id=forms.id %}" class="btn bg-teal btn-sm rounded-round" style = "margin-top: 20px; margin-right: 10px;"> APPROVE</a>
										{%endif%}

										{%endif%}

										{% if perms.collaborations.change_faqs and forms.status == "APPROVE" %} 
										
										{% if user.is_superuser %} 
										  
								<a href="{%url 'admin:pending_Faqs' id=forms.id %}" class="btn bg-teal btn-sm rounded-round" style = "margin-top: 20px; margin-right: 10px;"> Back to Pendding</a>
										{%endif%}

										{%endif%}

									</div>
									<div class="list-icons">
										{% if user.is_superuser or user.get_company == forms.user.get_company %}

										{% if perms.collaborations.change_faq %}
								<a href="{%url 'admin:faqs_detail'  model_name='Research' id=forms.id%}" class="btn bg-teal btn-sm rounded-round" style = "margin-top: 20px;margin-right: 10px;"> EDIT</a>
									{%endif%}

									{%endif%}
									</div>
									
									<div class="list-icons">
										{% if user.is_superuser or user.get_company == forms.user.get_company %}

										{% if perms.collaborations.delete_faq %}
								<a href="{%url 'admin:delete' model_name='Faqs' id=forms.id%}" class="btn bg-teal btn-sm rounded-round" onclick="return confirm('Are you sure you want to Delete this item?')" style = "margin-top: 20px; margin-right: 20px; ">DELETE</a>
								{%endif%}
								{%endif%}
                                    </div> 
                                
					</div>
								
							<div  class="card-body">
										 </br>
										<h5 style="background-color:tomato;">Question In English:</h5> <h4>{{forms.questions}}</h4>
										</br>
										<h5 style="background-color:tomato;">Question In Amharic:</h5> <h4>{{forms.questions_am}}</h4>
										</br>
							</div>

										 
								
							<div class="card-body">
								 
										 <h5 style="background-color:powderblue;">Answer In English:</h5> </h5>  
										<p>{{forms.answers|safe}}</p>
									 
								 
									 
										<h5 style="background-color:powderblue;">Answer In Amharic:<h5> </h5>  
										<p>{{forms.answers_am|safe}}</p>
									 
								
							</div>
						</div>

							
						</div>
					</div>
	
{%endblock%}