{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags %}
{% block extrastyle %}
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/inputs/inputmask.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/validation/validate.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/inputs/duallistbox/duallistbox.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_dual_listboxes.js"></script>
{% endblock %}
{%block pagename%}Manage Group{%endblock%}
{%block nav%}
<a href="{%url 'admin:view_group'%}" class="breadcrumb-item">Roles</a>
<span class="breadcrumb-item active">Role Form</span>
{%endblock%}
{%block content%}

			<!-- Content area -->
			<div class="content">
				<div class="card">
					<div class="card-body">
						
						<form action="{%url 'admin:update_group' pk=group.id%}" method="POST">
							{%csrf_token%}
								<input type="text" name="group_name" disabled value="{{group.name}}" id="group_name" placeholder="Group Name Here"  class="form-control">
								<hr>
								<select name="permissions" class="form-control listbox" multiple="multiple" id="">
									{%for perm in permisions%}
									<option value="{{perm.id}}">{{perm.name|title}}</option>
									{%endfor%}
								</select>

							<div class="text-right">
								<button style="padding-left: 10%; padding-right: 10%;" type="button" class="btn33 btn btn-primary rounded-round">Submit </button>
							</div>
						</form>
					</div>
				</div>
				 

			</div>
			<!-- /content area -->
			<script>
				var my_token = "{{csrf_token}}";
				$(document).ready(function() {
					$('#summernote').summernote();
					$('.summernote').summernote();

					var selected_permissions_list = [];
					var assigned_option = "";
					var group_permissions =  "{{group.permissions.all}}";
					{%for gp in group.permissions.all%}
					assigned_option +="<option value='{{gp.id}}'>{{gp.name}}</option>";
					{%endfor%}

					$("#bootstrap-duallistbox-selected-list_permissions").append(assigned_option);
					$(".btn33").click(function(){
						if($("#group_name").val() == "") {alert("Group Name is Required");}else{
							group_name = $("#group_name").val();
						$("#bootstrap-duallistbox-selected-list_permissions option").each(function() {
							selected_permissions_list.push($(this).val());

						});

						$.ajax({
							url:"{%url 'admin:update_group' pk=group.id%}",
							type : "POST",
							headers: { "X-CSRFToken": my_token },
							data : {
								'sel_perm_list':selected_permissions_list
							},
							success:function(result){
								alert(result['message']);
							},
						});
						}
						
					});
				});
			  </script>
{%endblock%}

