{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags %}
{% block extrastyle %}
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>

<script src="/static/admin/global_assets/js/plugins/ui/moment/moment.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/pickers/daterangepicker.js"></script>
	<script src="/static/admin/global_assets/js/plugins/pickers/anytime.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/pickers/pickadate/picker.js"></script>
	<script src="/static/admin/global_assets/js/plugins/pickers/pickadate/picker.date.js"></script>
	<script src="/static/admin/global_assets/js/plugins/pickers/pickadate/picker.time.js"></script>
	<script src="/static/admin/global_assets/js/plugins/pickers/pickadate/legacy.js"></script>
	<script src="/static/admin/global_assets/js/plugins/notifications/jgrowl.min.js"></script>
	<script src="/static/admin/global_assets/js/demo_pages/picker_date.js"></script>
{% endblock %}
{%block pagename%} Vacancy{%endblock%}
{%block content%}

<!-- Content area -->
<div class="content">

	
	<div class="card">
 
		<div class="card-body">

			<form action="/admin/Vacancy-list/" method="POST" enctype="multipart/form-data">
				<fieldset class="mb-3 ml-3 mr-3">
					<legend class="text-uppercase font-size-sm font-weight-bold">Create Vacancy</legend>
					<p class="mb-4"> All Fields ending with * are required. You are required to fill fields in English and Amharic</p>
					{%if vacancy.errors%}
					<div class="alert alert-danger" role="alert"> 
					  {{vacancy.errors}}
					</div>
					{% endif %}
					{%csrf_token%}
					<div class="form-group row">
						<label class="col-form-label col-lg-3">Vacancy Title (English) *</label>
						<div class="col-lg-9">
							{{vacancy.job_title}}
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-lg-3">Vacancy Title (Amharic) *</label>
						<div class="col-lg-9">
							{{vacancy.job_title_am}}
						</div>
					</div>  
					<div class="form-group row">
						<label class="col-form-label col-lg-3">Vacancy Discription (English) *</label>
						<div class="col-lg-9">
							{{vacancy.description}}
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-lg-3">Vacancy Discription (Amharic) *</label>
						<div class="col-lg-9">
							{{vacancy.description_am}}
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-lg-3">Vacancy Requirements (English)*</label>
						<div class="col-lg-9">
							{{vacancy.requirement}}
						</div>
					</div>

					<div class="form-group row">
						<label class="col-form-label col-lg-3">Vacancy Requirements (Amharic) *</label>
						<div class="col-lg-9">
							{{vacancy.requirement_am}}
						</div>
					</div>

					<div class="form-group row">
						<label class="col-form-label col-lg-3"> Location *</label>
						<div class="col-lg-9">
							{{vacancy.location}}
						</div>
					</div>

					<div class="form-group row">
						<label class="col-form-label col-lg-3"> Salary (in birr) *</label>
						<div class="col-lg-9" name="salary" onkeyup="isNumber('salary')">
							{{vacancy.salary}} 
						</div>
					</div> 

					<div class="form-group row">
						<label class="col-form-label col-lg-3">Vacancy Category *</label>
						<div class="col-lg-9">
							{{vacancy.category}}
						</div>
					</div>

					<div class="form-group row">
						<label class="col-form-label col-lg-3"> Employement Type *</label>
						<div class="col-lg-9"> 
							{{vacancy.employement_type}}
						</div>
					</div>

					
					  <div class="form-group row">
						<label class="col-form-label col-lg-3">Starting Date  *</label>
						<div class="col-lg-9">
							<span class="input-group-prepend">
											<span class="input-group-text"><i class="icon-calendar22"></i></span>
										
								<input type="text" name="starting_date" class="form-control daterange-single" value="">
								</span>
						</div>
							
					</div>

					<div class="form-group row">
						<label class="col-form-label col-lg-3">Ending Date  *</label>
						<div class="col-lg-9">
							<span class="input-group-prepend">
											<span class="input-group-text"><i class="icon-calendar22"></i></span>
										
								<input type="text" name ="ending_date" class="form-control daterange-single" value="">
							</span>
						</div>
							
					</div>
					 

							
						
				</fieldset>

				
				<div class="text-right">
					<input style="padding-left: 10%; padding-right: 10%;" type="submit"
					class="btn btn-primary rounded-round" value="Submitt" />
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /content area -->
<script>
	$(document).ready(function () {
		$('#summernote').summernote();
		$('.summernote').summernote();

	});


</script>
{%endblock%}