{%extends 'admin/base_site.html'%}
{% block extrastyle %}

	<!-- Theme JS files -->
	<script src="/static/admin/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
	<script src="/static/admin/global_assets/js/demo_pages/datatables_advanced.js"></script>
	<!-- /theme JS files -->
 
{% endblock %}
{%block pagename%}Latest polls list{%endblock%}
{%block content%}
			<!-- <section>
				<div class="bannerimg cover-image bg-background3" data-image-src="/static/frontpages/images/banners/banner2.jpg">
					<div class="header-text mb-0">
						<div class="container">
							<div class="text-center " style="color: lightskyblue;">
								<h1 class="">Polls-List</h1>
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/admin/">Home</a></li>
									<li class="breadcrumb-item active " aria-current="page""><a href="/admin/polls/">Polls</a></li>
									<li class="breadcrumb-item active " aria-current="page">Poll-Details</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</section> -->

			<!-- Content area -->
			<div class="content">
				
				<!-- Page length options main category -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Polls</h5>
						<div class="header-elements">
							{%if perms.collaborations.add_pollsquestion%}
							<div class="list-icons">
								<a href="{%url 'admin:create_poll' %}" class="btn bg-teal btn-sm rounded-round"><i class="icon-add mr-2"></i>Add New</a>
							</div>
							{%endif%}
						</div>
					</div>
					

					<table class="table datatable-show-all">
						<thead>
							<tr>
								<th>Poll Title</th>
                                <th>Description</th>
                                <th>Choices</th>
                                <th>Votes</th>
								<th>Created By</th>
								<th>Created Date</th>
								<th class="text-center">Actions</th>
							</tr>
						</thead>
						<tbody>
							{%if polls %}
							{%for poll in polls%}
							<tr>
								<td>{{poll.title}}</td>
								<td><div class="summernote">{{poll.description|safe|truncatewords:5}}</div></td>
                                <td>{{poll.count_choices}}</td>
                                <td>{{poll.count_votes}}</td>
                                <td>{{poll.user.username}}</td>
								<td><span class="badge badge-success">{{poll.timestamp}}</span></td>
								<td class="text-center">
									<div class="list-icons">
										<div class="dropdown">
											<a href="#" class="list-icons-item" data-toggle="dropdown">
												<i class="icon-menu9"></i>
											</a>

											<div class="dropdown-menu dropdown-menu-right">
												
													
													<a href="{%url 'admin:detail_poll' id=poll.id%}" class="dropdown-item"><i class="icon-eye"></i>View Poll Detail</a>
													{% if poll.user == user %}
														{% if poll.count_votes != 0 %}
															<a style="pointer-events: none;color: currentColor; cursor: not-allowed; opacity: 0.5; text-decoration: none;" href="{%url 'admin:edit_poll' id=poll.id%}" class="dropdown-item"><i class="icon-pencil"></i>Edit Poll</a>
														{% else %}
															<a href="{%url 'admin:edit_poll' id=poll.id%}" class="dropdown-item"><i class="icon-pencil"></i>Edit Poll</a>
														{% endif %}
													
														{% if perms.collaborations.add_choices and poll.user == user%}
														<a href="{%url 'admin:add_choice' id=poll.id%}" class="dropdown-item"><i class="icon-plus3"></i>Add New Choice</a>
														{% endif %}
	
	
														{% if perms.collaborations.delete_pollsquestion and poll.user == user%}
														<a href="{%url 'admin:delete_poll'  id=poll.id %}" class="dropdown-item" onclick="return confirm ('Are you sure you want to delete this Poll?')"><i class="icon-trash"></i>Delete Poll</a>
														{%endif%}

													{% endif %}

													
												
											</div>
										</div>
									</div>
								</td>
							</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
				<!-- /page length options -->
				
				{%endif%}
 
			</div>
			<!-- /content area -->
			<!-- <script>
				$(document).ready(function() {
					$('.summernote').summernote('code', 'html_tags_string_from_db');
				});
			  </script> -->
{%endblock%}

