{%extends 'admin/base_site.html'%}
{%load core_template_tags%}
{% block extrastyle %}

<!-- Theme JS files -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/datatables_advanced.js"></script>
<!-- /theme JS files -->
	<style>
		.card{
			height: 150px;
		}
	</style>
	<script>
           

		$(function () {

			var $subsectorCompanyChart = $("#subsector-company-chart");
		  $.ajax({
			url: $subsectorCompanyChart.data("url"),
			success: function (data) {
	
			  var ctx = $subsectorCompanyChart[0].getContext("2d");
	
			  new Chart(ctx, {
				type: 'doughnut',
				data: {
				  labels: data.labels,
				  datasets: [{
					label: 'Companies',
					backgroundColor: [ '#03e8fc', '#F44336', '#6ceb87', '#FF9800', '#4CAF50'],
					data: data.data
				  }]          
				},
				options: {
				  responsive: true,
				  legend: {
					position: 'top',
				  },
				  title: {
					display: true,
					text: 'Number of Industries by Sub Sector'
				  }
				}
			  });
	
			}
		  });
	
		  var $populationChart = $("#certification-chart");
		  $.ajax({
			url: $populationChart.data("url"),
			success: function (data) {
	
			  var ctx = $populationChart[0].getContext("2d");
	
			  new Chart(ctx, {
				type: 'bar',
				data: {
				  labels: data.labels,
				  datasets: [{
					label: 'Companies',
					backgroundColor: [ '#2196F3;', '#F44336', '#FF7043', '#FF9800', '#4CAF50'],
					data: data.data
				  }]          
				},
				options: {
				  responsive: true,
				  legend: {
					position: 'top',
				  },
				  title: {
					display: true,
					text: 'Number of Industries by Certification'
				  }
				}
			  });
	
			}
		  });

		  var $mgmtToolChart = $("#tools-chart");
			$.ajax({
			url: $mgmtToolChart.data("url"),
			success: function (data) {

				var ctx = $mgmtToolChart[0].getContext("2d");

				new Chart(ctx, {
				type: 'line',
				data: {
					labels: data.labels,
					datasets: [{
					label: 'Industries',
					backgroundColor: [ '#2196F3;', '#F44336', '#FF7043', '#FF9800', '#4CAF50'],
					data: data.data
					}]          
				},
				options: {
					responsive: true,
					legend: {
					position: 'top',
					},
					title: {
					display: true,
					text: 'Number of Industries by Management Tools'
					}
				}
				});

			}
			});
	
		});
	
	  </script>

{% endblock %}
{%block pagename%}Report List{%endblock%}
{%block content%}

<!-- Content area -->
<div class="content">
	<div class="row">
		<div class="col-lg-4">

			<!-- Members online -->
			<div class="card bg-teal-400">
				<div class="card-body">
					<div class="d-flex">
						<h3 class="font-weight-semibold mb-0">{{user|company_count}} Companies</h3>
						<a href="{%url 'admin:filter_by_ownership'%}" class="btn btn-pink rounded-round"><span class="badge bg-teal-800 badge-pill align-self-center ml-auto">View Report</span></a> 
					</div>

					<div>
						Share of Companies by Ownership
						<!-- <div class="font-size-sm opacity-75">489 avg</div> -->
					</div>
				</div>

				 
			</div>
			<!-- /members online -->

		</div>

		<div class="col-lg-4">

			<!-- Current server load -->
			<div class="card bg-pink-400">
				<div class="card-body">
					<div class="d-flex">
						<div class="list-icons ml-auto">
							<div class="list-icons-item dropdown">
								<a href="{%url 'admin:get_by_region_sector'%}" class="list-icons-item"><i class="icon-file-text2"></i></a>
								 
							</div>
						</div>
					</div>

					<div>
						Number of Industries by Region & Sector
					</div>
				</div>
				<div id="members-online"></div>
			</div>
			<!-- /current server load -->

		</div>

		<div class="col-lg-4">

			<!-- Today's revenue -->
			<div class="card bg-blue-400">
				<div class="card-body">
					<div class="d-flex">
						<div class="list-icons ml-auto">
							<a class="list-icons-item" href="{%url 'admin:filter_by_working_hour'%}"><i class="icon-file-text3"></i></a>
						</div>
					</div>

				<div>Number of Companies By Working Hour</div>					 
				</div>
				<div id="server-load"></div>
			</div>
			<!-- /today's revenue -->

		</div>
	</div>
	<div class="row">
		  
		 
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">
						<li class="nav-item"><a href="{%url 'admin:get_by_inv_capital' option='by_sector' sector='all' %}" class="btn btn-primary rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Investment Capital Report By Sector
					</div>
				</div>
			</div>
			 
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">
						<li class="nav-item"><a href="{%url 'admin:get_production_capacity' product='all'%}" class="btn btn-primary rounded-round">View Report</a></li>
					</ul>
	
					<div class="tab-content">
						Production Capacity Report By Prouct
					</div>
				</div>
			</div>
			 
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_capital_utilization' option='by_sector' sector='all'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Capital Utilization Report Data
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-sm-8 mb-2">
			<div class="card" style="height: 100%;">
				<div class="card-body">
					<div id="container" style="width: 100%;">
						<canvas id="subsector-company-chart" data-url="{% url 'admin:company_subsector_chart' %}"></canvas>
						 
						
					</div>
					<ul class="nav nav-pills nav-justified">	
						Company Distribution by Sectors Established year & Trade License					
						<li class="nav-item"><a href="{%url 'admin:company_list_report'%}" class="btn bg-primary btn-sm rounded-round">View Report Detail</a></li>
					</ul>

					 
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="card bg-teal-800">
						<div class="card-body">
							<ul class="nav nav-pills nav-justified">						
								<li class="nav-item"><a href="{%url 'admin:get_change_capital_utilization' option='by_sector' sector='all'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
							</ul>
		
							<div class="tab-content">
								Change in Capital Utilization Report Data
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="card bg-primary-400">
						<div class="card-body">
							<ul class="nav nav-pills nav-justified">						
								<li class="nav-item"><a href="{%url 'admin:average_extraction_rate' product='all'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
							</ul>
		
							<div class="tab-content">
								Average Extraction Rate
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="col-md-12 col-sm-12">
					<div class="card bg-pink-400" >
						<div class="card-body " >
							<ul class="nav nav-pills nav-justified">						
								<li class="nav-item"><a href="{%url 'admin:get_gvp_data' option='by_sector' sector='all'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
							</ul>
		
							<div class="tab-content">
								Gross Value of Production Data
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>

		</div>
	<div class="row">
		 
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_number_emp' option='by_sector' sector='all'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Number Of Employees by Sector
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_num_emp_female' option='by_sector' sector='all'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Number Of Female Employees by Sector
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_num_emp_foreign' option='by_sector' sector='all'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Number Of Foreign Employees by Sector
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card bg-teal-800">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_num_jobs' option='by_sector' sector='all'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Number Of Jobs Created by Sector
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_education_status'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Number/Share Of Employees Educational Status
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card bg-primary-400">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_women_in_psn'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Number/Share Of Female Employees In Middle and Higher Position
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		 
		
		
	</div>
	<div class="row">
		
		<div class="col-md-4 col-sm-4">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="card">
						<div class="card-body">
							<ul class="nav nav-pills nav-justified">						
								<li class="nav-item"><a href="{%url 'admin:get_input_available' product='all'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
							</ul>
		
							<div class="tab-content">
								Available Inputs
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="card">
						<div class="card-body">
							<ul class="nav nav-pills nav-justified">						
								<li class="nav-item"><a href="{%url 'admin:get_input_share' product='all'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
							</ul>
		
							<div class="tab-content">
								Share of Local Inputs
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-md-12 col-sm-12">
					<div class="card">
						<div class="card-body">
							<ul class="nav nav-pills nav-justified">						
								<li class="nav-item"><a href="{%url 'admin:get_number_companies' option='research'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
							</ul>
		
							<div class="tab-content">
								Number of Industries With Filtering Option
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8 col-sm-8 mt-2 mb-2">
			<div class="card " style="height: 100%;">
				<div class="card-body">
					<div id="container" style="width: 100%;">
						<canvas id="tools-chart" data-url="{% url 'admin:mgmt_tools_chart' %}"></canvas>
						
					</div>
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_comp_mgmg_tool'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>
					<!-- 
					<div class="tab-content">
						Number Of Industries By Management Tools
					</div> -->
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-md-8 col-sm-8">
			<div class="card" style="height: 90%;">
				<div class="card-body">
					<div id="container" style="width: 100%;">
						<canvas id="certification-chart" data-url="{% url 'admin:certification_chart' %}"></canvas>
						 
						
					</div>
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_comp_certfication'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<!-- <div class="tab-content">
						Number of Industries Based on Certifications
					</div> -->
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-lg-4">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="card">
						<div class="card-body">
							<ul class="nav nav-pills nav-justified">						
								<li class="nav-item"><a href="{%url 'admin:get_unit_price' product='all'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
							</ul>
		
							<div class="tab-content">
								Average Unit Price
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="card bg-blue-400">
						<div class="card-body">
							<ul class="nav nav-pills nav-justified">						
								<li class="nav-item"><a href="{%url 'admin:get_comp_energy_source'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
							</ul>
		
							<div class="tab-content">
								Number of Industries By Source of energy
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-lg-12 mb-0">
					<div class="card bg-teal-400">
						<div class="card-body">
							<div class="d-flex">
								<a href="{%url 'admin:get_comp_by_destination'%}" class="btn btn-pink rounded-round"><span class="badge bg-teal-800 badge-pill align-self-center ml-auto">View Report</span></a> 
							</div>
		
							<div>
								Number of Industries By Market Destination
								<!-- <div class="font-size-sm opacity-75">489 avg</div> -->
							</div>
						</div>
		
						 
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<div class="card bg-primary-400">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_comp_by_target'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Number/Share Of Industries By Market Target
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6">
			<div class="card bg-green-400">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="#" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Placeholder For More Reports
					</div>
				</div>
			</div>
		</div>
	</div>
	
	 
</div>
<!-- /content area -->
{%endblock%}
