{%extends 'admin/base_site.html'%}
{%load core_template_tags%}
{% block extrastyle %}

<!-- Theme JS files -->
<script src="/static/admin/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/datatables_advanced.js"></script>
<!-- /theme JS files -->
	<style>
		.card{
			height: 150px;
		}
	</style>

{% endblock %}
{%block pagename%}Report List{%endblock%}
{%block content%}

<!-- Content area -->
<div class="content">
	<div class="row">
		<div class="col-lg-4">

			<!-- Members online -->
			<div class="card bg-teal-400">
				<div class="card-body">
					<div class="d-flex">
						<h3 class="font-weight-semibold mb-0">{{user|company_count}} Companies</h3>
						<a href="{%url 'admin:filter_by_ownership'%}" class="btn rounded-round"><span class="badge bg-teal-800 badge-pill align-self-center ml-auto">View Report</span></a> 
					</div>

					<div>
						Share of Companies by Ownership
						<!-- <div class="font-size-sm opacity-75">489 avg</div> -->
					</div>
				</div>

				<div class="container-fluid">
					<div id="server-load"></div>
				</div>
			</div>
			<!-- /members online -->

		</div>

		<div class="col-lg-4">

			<!-- Current server load -->
			<div class="card bg-pink-400">
				<div class="card-body">
					<div class="d-flex">
						<h3 class="font-weight-semibold mb-0">49.4%</h3>
						<div class="list-icons ml-auto">
							<div class="list-icons-item dropdown">
								<a href="#" class="list-icons-item dropdown-toggle"
								   data-toggle="dropdown"><i class="icon-cog3"></i></a>
								<div class="dropdown-menu dropdown-menu-right">
									<a href="#" class="dropdown-item"><i class="icon-sync"></i> Update
										data</a>
									<a href="#" class="dropdown-item"><i
											class="icon-list-unordered"></i> Detailed log</a>
									<a href="#" class="dropdown-item"><i class="icon-pie5"></i>
										Statistics</a>
									<a href="#" class="dropdown-item"><i class="icon-cross3"></i> Clear
										list</a>
								</div>
							</div>
						</div>
					</div>

					<div>
						Current server load
						<div class="font-size-sm opacity-75">34.6% avg</div>
					</div>
				</div>

				<div id="server-load"></div>
			</div>
			<!-- /current server load -->

		</div>

		<div class="col-lg-4">

			<!-- Today's revenue -->
			<div class="card bg-blue-400">
				<div class="card-body">
					<div class="d-flex">
						<h3 class="font-weight-semibold mb-0">$18,390</h3>
						<div class="list-icons ml-auto">
							<a class="list-icons-item" data-action="reload"></a>
						</div>
					</div>

					<div>
						Today's revenue
						<div class="font-size-sm opacity-75">$37,578 avg</div>
					</div>
				</div>

				<div id="today-revenue"></div>
			</div>
			<!-- /today's revenue -->

		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_by_region_sector'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Number of Industries By Region and Sectors
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">
						<li class="nav-item"><a href="{%url 'admin:filter_by_ownership'%}" class="btn btn-primary rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Share of Companies by Ownership
					</div>
				</div>
			</div>
			 
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">
						<li class="nav-item"><a href="{%url 'admin:filter_by_working_hour'%}" class="btn btn-primary rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Number of Companies By Working Hour
					</div>
				</div>
			</div>
			 
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">
						<li class="nav-item"><a href="{%url 'admin:get_by_inv_capital'%}" class="btn btn-primary rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Investment Capital Report By Sector
					</div>
				</div>
			</div>
			 
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">
						<li class="nav-item"><a href="{%url 'admin:get_production_capacity' product='all'%}" class="btn btn-primary rounded-round">View Report</a></li>
					</ul>
	
					<div class="tab-content">
						Production Capacity Report By Prouct
					</div>
				</div>
			</div>
			 
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:company_list_report'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						 Company Distribution by Sectors Established year & Trade License
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_capital_utilization' option='by_sector' sector='all'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Capital Utilization Report Data
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_change_capital_utilization' option='by_sector' sector='all'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Change in Capital Utilization Report Data
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:average_extraction_rate' product='all'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Average Extraction Rate
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_gvp_data' option='by_sector' sector='all'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Gross Value of Production Data
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_unit_price' product='all'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Average Unit Price
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_number_emp' option='by_sector' sector='all'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Number Of Employees by Sector
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_num_emp_female' option='by_sector' sector='all'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Number Of Female Employees by Sector
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_num_emp_foreign' option='by_sector' sector='all'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Number Of Foreign Employees by Sector
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_num_jobs' option='by_sector' sector='all'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Number Of Jobs Created by Sector
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_education_status'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Number/Share Of Employees Educational Status
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_women_in_psn'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Number/Share Of Female Employees In Middle and Higher Position
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_input_available' product='all'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Available Inputs
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_input_share' product='all'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Share of Local Inputs
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_comp_certfication'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Number of Industries Based on Certifications
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_number_companies' option='research'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Number of Industries With Filtering Option
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_comp_mgmg_tool'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Number Of Industries By Management Tools
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_comp_energy_source'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Number of Industries By Source of energy
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4">
			<div class="card">
				<div class="card-body">
					<ul class="nav nav-pills nav-justified">						
						<li class="nav-item"><a href="{%url 'admin:get_comp_by_destination'%}" class="btn bg-orange btn-sm rounded-round">View Report</a></li>
					</ul>

					<div class="tab-content">
						Number of Industries By Market Destination
					</div>
				</div>
			</div>
		</div>
	</div>
	
	 
</div>
<!-- /content area -->
{%endblock%}
