{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags %}
{% block extrastyle %}
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/inputs/duallistbox/duallistbox.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_dual_listboxes.js"></script>
{% endblock %}
{%block pagename%}List Of Roles{%endblock%}
{%block content%}

<!-- Content area -->
<div class="content">

	<div class="card">
		<form action="{%url 'roles_list' %}" method="POST" enctype="multipart/form-data">
			{%csrf_token%}
			<div class="card-header header-elements-inline">
				 <h5 class="card-title">Asign Roles to: </h5> 
				
				
				<div class="header-elements">
							<select id="groups" class="form-control form-control-uniform">
								<option value="">Super Admin</option>
								<option value="">Company Admin</option>
								<option value="">Store Keeper</option>
							</select>
				</div>
			</div>

			<div class="card-body">
				<p class="mb-3">New Roles</p>

				<select multiple="multiple" class="form-control listbox-tall" data-fouc>
					{%for role in roles%}

					<option value="{{role.id}}">{{role}}</option>
					{%endfor%}
					<!-- {%for arole in asigned_roles%}

					<option value="{{arole.id}}" selected>{{arole.roles}}</option>
					{%endfor%} -->
				</select>
			</div>
			<div class="text-right p-4">
				<button type="button" id="check" class="btn btn-primary">Save Changes</button>
			</div>
		</form>
	</div>

</div>
<!-- /content area -->
<script>
	$(document).ready(function () {
		$("#check").click(function () {
			var assign_role = new Array();
			var userid = "{{role_user.id}}"
			var my_token = "{{csrf_token}}"
			$("#bootstrap-duallistbox-selected-list_ option").each(function () {
				assign_role.push($(this).val());

			});
			// console.log(my_token)
			// alert("adasf");
			$.ajax({
				url: "{%url 'roles_list'%}",
				headers: { "X-CSRFToken": my_token },
				type: "POST",
				data: {
					// CSRF:"{%csrf_token%}",
					new_roles: assign_role,
					groups:$("#groups").val(),
				},
				success: function (result) {
					alert(result)
				},
				error: function (result) {

				}
			});
		});
		//  document.getElementsByName
	});
</script>
{%endblock%}