{%extends 'admin/base_site.html'%}
{% block extrastyle %}

	<!-- Theme JS files -->
	<script src="/static/admin/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
	<script src="/static/admin/global_assets/js/demo_pages/datatables_advanced.js"></script>
	<!-- /theme JS files -->
 
{% endblock %}
{%block pagename%}Users List{%endblock%}
{%block content%}

			<!-- Content area -->
			<div class="content">

				<!-- Page length options main category -->
				{%if user.is_admin%}
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Users</h5>
						{%if user.is_admin%}
						<div class="header-elements">
							<div class="list-icons">
								<a href="{% url 'create_user' admin_type='super_admin'%}" class="btn bg-teal btn-sm rounded-round"><i class="icon-add mr-2"></i>Add New User</a>
		                	</div>
						</div>
						{%endif%}
					</div>

					<table class="table datatable-show-all">
						<thead>
							<tr>
								<th>Profile</th>
								<th>Full Name</th>
								<th>Email Address</th>
								<th>Phone Number</th>
								<th>User-Name</th>
								<th>Company Type</th>
								<th class="text-center">Actions</th>
							</tr>
						</thead>
						<tbody>
							{%for usr in users%}
							<tr>
								<td>
									{%for pimg in pimages%}
										 {%if pimg.user == usr%}
										 
										 <div class="mr-3">
											<a href="{%url 'user_detail' option='profile_dtl' id=usr.id%}">
												<img src="{{pimg.profile_image.url}}" class="rounded-circle" alt="" width="40" height="40">
											</a>
										</div>
									 {%endif%}
									 {%endfor%}
								</td>
								<td>{{usr.first_name|title}} {{usr.last_name|title}}</td>
								<td>{{usr.email}}</td>
								<td>{{usr.phone_number}}</td>
								<td><a href="{%url 'user_detail' option='profile_dtl' id=usr.id%}">@{{usr.username}}</a></td>
								<td>
									{%if usr.is_suplier%}Supplier{%elif usr.is_manufacturer%}Manufacturer
									{%elif usr.is_admin%}Super Admin{%else%}Customer{%endif%}

								</td>
								<td class="text-center">
									<div class="list-icons">
										<div class="dropdown">
											<a href="{%url 'delete' model_name='user_account' id=usr.id%}" class="btn btn-xs btn-danger"><i class="icon-trash"></i></a>
										</div>
									</div>
								</td>
							</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
				{%else%}
				
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Your Company Users</h5>
						<div class="header-elements">
							<div class="list-icons">
								<a href="{% url 'create_user' admin_type='comp_admin'%}" class="btn bg-teal btn-sm rounded-round"><i class="icon-add mr-2"></i>Add New User</a>
		                	</div>
						</div>
					</div>

					<table class="table datatable-show-all">
						<thead>
							
							<tr>
								<th>Profile</th>
								<th>Full Name</th>
								<th>Email Address</th>
								<th>Phone Number</th>
								<th>User_Name</th>
								<th>User Role</th>
								<th class="text-center">Actions</th>
							</tr>
							
						</thead>
						<tbody>
							{%if users == 'users'%}{%else%}
							{%for usr in users%}
							<tr>
								<td>
									{%for pimg in pimages%}
										 {%if pimg.user == usr%}
										 
										 <div class="mr-3">
											<a href="{%url 'user_detail' option='profile_dtl' id=usr.id%}">
												<img src="{{pimg.profile_image.url}}" class="rounded-circle" alt="" width="40" height="40">
											</a>
										</div>
									 {%endif%}
									 {%endfor%}
								</td>
								<td>{{usr.first_name|title}} {{usr.last_name|title}}</td>
								<td>{{usr.email}}</td>
								<td>{{usr.phone_number}}</td>
								<td><a href="{%url 'user_detail' option='profile_dtl' id=usr.id%}">@{{usr.username}}</a></td>
								<td>
									{{usr.group_name.name}}
								</td>
								<td class="text-center">
									<div class="list-icons">
										<div class="dropdown">
											<a href="{%url 'delete' model_name='user_account' id=usr.id%}" class="btn btn-xs btn-danger"><i class="icon-trash"></i></a>
										</div>
									</div>
								</td>
							</tr>
							{%endfor%}
							{%endif%}
						</tbody>
					</table>
				</div>
				
				{%endif%}
				<!-- /page length options -->
 
			</div>
			<!-- /content area -->
{%endblock%}