{%extends 'admin/base_site.html'%}
{% block extrastyle %}

<!-- Theme JS files -->
<script src="/static/admin/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/datatables_advanced.js"></script>
<!-- /theme JS files -->

{% endblock %} 
{%block pagename%}Announcement List{%endblock%}
{%block nav%}
    <a href="{%url 'admin:anounce_list'%}" class="breadcrumb-item">Announcement List</a>
{%endblock%}

{%block collaborations%}nav-item-expanded nav-item-open{%endblock%}
{%block content%}

<!-- Content area -->
<div class="content">
	<div class="card">
		<div class="card-header header-elements-inline">
			<h5 class="card-title">Announcements</h5>
			<div class="header-elements">
				<div class="list-icons">
					

							{% if  perms.collaborations.add_announcement  %}
							<a href="{% url 'admin:anounce_Create' %}" class="btn bg-teal btn-sm rounded-round"><i class="icon-add mr-2"></i>Add New</a>
							{%endif%}
				</div>
			</div>
		</div>

		<table class="table datatable-show-all">
			<thead>
				<tr>
					<th>#</th>
					<th>Title</th>
					<th>Title_am</th>
					<th>Created by </th>
					<th>Created date</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead> 
			<tbody>
				{%for Announcement in Announcements%}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{Announcement.title|safe|truncatechars_html:20}}</td>
					<td>{{Announcement.title_am|safe|truncatechars_html:20}}</td>
					<td>{{Announcement.created_by.first_name|safe}} {{Announcement.created_by.last_name|safe}}</td>
					<td>{{Announcement.created_date}}</td>
					<td class="text-center">
						<div class="list-icons">
							<div class="dropdown">
								<a href="#" class="list-icons-item" data-toggle="dropdown">
									<i class="icon-menu9"></i>
								</a>
									
								<div class="dropdown-menu dropdown-menu-right">
								{% if user.is_superuser or user.get_company == Announcement.created_by.get_company %}
								
									{% if perms.collaborations.change_announcement %}
										<a href="{%url 'admin:anounce_Detail'   id=Announcement.id%}" class="dropdown-item"><i class="icon-pencil"></i>View/ Edit Item</a>	
									{% endif %}

									{% if perms.collaborations.delete_announcement %}
										<a href="{%url 'admin:delete' model_name='Announcement' id=Announcement.id%}" class="dropdown-item" onclick="return confirm ('Are you sure you want to delete this Announcement?')"><i class="icon-trash"></i>Delete Item</a>
									{% endif %}		
									
								{%endif%}
								</div>
							</div>
						</div>
					</td>
				</tr>
				{%endfor%}
			</tbody>
		</table>
	</div>
	<!-- /page length options -->


</div>
<!-- /content area -->
{%endblock%}