{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags %}
{% block extrastyle %}
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>

  <!-- file selecting js -->
  <script src="/static/admin/global_assets/js/demo_pages/user_pages_profile_tabbed.js"></script>
  <!-- /file selecting js  -->
<link rel="stylesheet" href="/static/admin/cropperjs/dist/cropper.min.css">
<script type="module" src="/static/admin/cropperjs/dist/cropper.min.js"></script>
<!------------>
{% endblock %}
{%block pagename%}Edit Announcement{%endblock%}
{%block nav%}
    <a href="{%url 'admin:anounce_list'%}" class="breadcrumb-item">Announcement List</a>
	<a href="" class="breadcrumb-item">Announcement Detail</a>
	
{%endblock%}

{%block collaborations%}nav-item-expanded nav-item-open{%endblock%}
{%block content%}

<!-- Content area -->
<div class="content">
	<div class="card">
		<div class="card-body">
			<form action="" method="POST" enctype="multipart/form-data">
				<fieldset class="mb-3 ml-3 mr-3">
					<legend class="text-uppercase font-size-sm font-weight-bold">Edit Announcement</legend>

					{{announcement.errors}}
					{%csrf_token%}
					{%if announcement.errors%}
					<div class="alert alert-danger" role="alert">
					  {{announcement.errors}}
					</div>
					{% endif %}
					{%csrf_token%}
					<div class="form-group row">
						<label class="col-form-label col-lg-3">Announcement Title (English)*</label>
						<div class="col-lg-9">
							<input type="text" name="title" class="form-control" value="{{announcement.title}} " id="">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-lg-3">Announcement Title (Amharic) *</label>
							<div class="col-lg-9">
							<input type="text"required name="title_am" class="form-control" value="{{announcement.title_am}}" id="">
						</div>
							
					</div> 

					<div class="form-group row">
						<label class="col-form-label col-lg-3">Announcement Content (English)*</label>
						<div class="col-lg-9">
								<textarea  required class="summernote" name="description" >{{announcement.description}}</textarea>
						</div>
							
					</div>

					<div class="form-group row">
						<label class="col-form-label col-lg-3">Announcement Content (Amharic) *</label>
						<div class="col-lg-9">
								<textarea required class="summernote" name="description_am" >{{announcement.description_am}}</textarea>
						</div>
							
					</div>
					
					<p><b>Current Image : </b> <a target = "blank" href="{{announcement.image.url}}"> {{announcement.image.name}}</a></p>
					<label class="col-form-label col-lg-3">Change image:</label>
						  <div class="col-lg-9">
							<div class="uniform-uploader">{{form.image}}<span
								class="filename" style="user-select: none;">No file selected</span><span
								class="action btn bg-warning" style="user-select: none;">Choose File</span>
							</div>
						  </div>
						  <input type="hidden" name="x" id="x" value="">
							<input type="hidden" name="y" id="y" value="" >
							<input type="hidden" name="width" id="width" value="">
							<input type="hidden" name="height" id="height" value="">
						
						
				</fieldset>

				<div class="text-right">
					<button style="padding-left: 10%; padding-right: 10%;" type="submit"
						class="btn btn-primary rounded-round" onclick="return confirm('Are you sure you done with editing?')">Submit </button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /content area -->

<div class="modal fade" id="modalCrop">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <img src="" id="modal_image_field" style="max-width: 100%;">
		</div>
		<div class="modal-footer">
		  <button type="button" id= "cancel-btn" class="btn btn-default" data-dismiss="modal">Cancel</button>
		  <button type="button" id="js-crop-and-upload-button" class="btn btn-primary js-crop-and-upload">Done Croppping</button>
		</div>
	  </div>
	</div>
  </div>
 
<!-- /content area -->
<script>
	$(document).ready(function () {
		$('#summernote').summernote();
		$('.summernote').summernote();
	});
	var cropX;
	var cropY;
	var cropWidth;
	var cropHeight;
	var modal_image  = document.getElementById("modal_image_field");
	
	$("#blogImage").change(function () {
	
		if (this.files && this.files[0]) {
			var reader = new FileReader();
			reader.readAsDataURL(this.files[0])
			
			reader.onload = function (e) {
							var c = document.getElementById('blogImage')
							
							modal_image.attributes['src'].value = ""	
							
							
							 $("#modal_image_field").attr("src", e.target.result);
							$("#modalCrop").modal("show");
							e.target.result = "";	
						}

			

			}
		})

	$("#modalCrop").on("shown.bs.modal", function () {
		modalCropEdit = document.getElementById('modal_image_field')
		cropper = new Cropper(modalCropEdit,{
					viewMode: 1,
					aspectRatio: 3/1,
					minCropBoxWidth: 300,
					minCropBoxHeight: 100,

					crop(event){
						
					
						setImageCropProperties(
							modal_image_field,
							event.detail.x,
							event.detail.y,
							event.detail.width,
							event.detail.height)
					}
				})
	})
	var cancel = document.getElementById("cancel-btn")
	cancel.addEventListener("click", function(e){
		$("#modalCrop").modal("hide");
	})
	var confirm = document.getElementById("js-crop-and-upload-button")
	confirm.addEventListener("click",function(event){

		cropImage(cropX,cropY,cropWidth,cropHeight);
	
		$("#modalCrop").modal("hide");

	})

	function setImageCropProperties(image,x,y,width,height){
	
		cropX = x;
		cropY = y;
		cropWidth = width;
		cropHeight = height;  
	}
	
	function cropImage(x,y,width,height){
		document.getElementById("x").value = cropX;
		document.getElementById("y").value = cropY;
		document.getElementById("width").value = cropWidth;
		document.getElementById("height").value = cropHeight;
	}
	
</script>
{%endblock%}