{%extends 'frontpages/layout.html'%}

{%block content%}
		<!--Breadcrumb-->
		<section>
			<div class="bannerimg cover-image bg-background3" data-image-src="/static/frontpages/images/banners/banner2.jpg">
				<div class="header-text mb-0">
					<div class="container">
						<div class="text-center text-white">
							<h1 class="">Announcement List</h1>
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Breadcrumb-->

		<!--Add listing-->
		<section class="sptb">
			<div class="container">
				<div class="row">
					<!--Left Side Content-->
					<div class="col-xl-4 col-lg-4 col-md-12">
						
						<div class="card">
							<div class="card-header">
                                    <h3 class="card-title">Announcement By companys </h3> 
							</div>
							<div class="card-body p-0">
								<div class="list-catergory">
									<div class="item-list">
										<ul class="list-group mb-0">
											
											<li class="list-group-item border-bottom-0">
												<a href="#" class="text-dark">
													 Education
													<span class="badgetext badge badge-pill badge-light mb-0 mt-1">08</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
                        </div>
						
					</div>
					<!--/Left Side Content-->

                    


					<div class="col-xl-8 col-lg-8 col-md-12">
						<!--Add Lists-->
												
						<div class="row">
						
							{%for post in Announcements%}
							<div class="card">
							<div class="card-body">
								<div class="item-det mb-4">
									<h4>{{post.title}}</h4>
									<a href="#" class="text-dark">Announcement from <h5>{{post.company}}</h5></a>
									<div class=" d-flex">
										<ul class="d-flex mb-0">
											<li class="mr-5"><i class="icon icon-calendar text-muted mr-1"></i> {{post.timestamp}} </li>
										</ul>
									</div>
								</div>
								<div class="product-slider">
									<div id="carousel" class="carousel slide" data-ride="carousel"> 
											<img src="{{post.announcementimages.0.image.url}}" alt="img"> </div>
											

										

									</div>
								</div>
								<div class="d-sm-flex mt-0 p-5 sub-review-section border border-bottom-0 br-bl-0 br-br-0">
                                    <div class="d-flex mr-3">
                                        <a href="#">{{post.sender.profile_image}} </a>
                                    </div>
                                    <div class="media-body">
										<p class="font-13  mb-2 mt-2">
                                           {{post.containt|safe|truncatewords:20}}
                                        </p>
                                        <a href="{% url 'announcement_detail' id=post.id %}" class="btn btn-secondary btn-sm">Read More</a>


								</div>
							</div>
							</div>
								
						
						{%endfor%}
						</div>
						<!------------------------------------------------------>
						
							<!----------------------------------------->


						</div>
						<div class="d-sm-flex">
							<h6 class="mb-0 mt-3">Showing 1 to 6 of 30 entries</h6>
							<ul class="pagination mb-lg-0 mb-5 ml-auto">
								<li class="page-item page-prev disabled">
									<a class="page-link" href="#" tabindex="-1">Prev</a>
								</li>
								<li class="page-item active"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item page-next">
									<a class="page-link" href="#">Next</a>
								</li>
							</ul>
						</div>
					</div>
					<!--/Add Lists-->
				</div>
			</div>
		</section>
		<!--Add Listing-->

		<!-- Newsletter-->
		<section class="sptb border-top bg-white">
			<div class="container">
				<div class="section-title center-block text-center">
					<h2>Subscribe To Our Newsletter</h2>
					<p>Mauris ut cursus nunc. Morbi eleifend, ligula at consectetur vehicula</p>
				</div>
				<div class="row">
					<div class="col-lg-10 col-xl-8 col-md-12 mx-auto d-block text-center">
						<div class="input-group sub-input mt-0">
							<input type="text" class="form-control input-lg " placeholder="Enter your Email">
							<div class="input-group-append ">
								<button type="button" class="btn btn-secondary btn-lg br-tr-3 br-br-3 pl-5 pr-5">
									Subscribe
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Newsletter-->


		<!-- Home Video Modal -->
		<div class="modal fade" id="homeVideo" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<button type="button" class="btn btn-default" data-dismiss="modal" onclick="pauseVid()"><i class="fa fa-times" aria-hidden="true"></i></button>
					<div class="embed-responsive embed-responsive-16by9">
						<video id="gossVideo" class="embed-responsive-item" controls="controls">
							<source src="/static/frontpages/video/300052515.mp4" type="video/mp4">
						</video>
					</div>
				</div>
			</div>
		</div>
		{%endblock%}