{%extends 'frontpages/layout.html'%}
{%load crispy_forms_tags %}
{%block content%}
		<!--Breadcrumb-->
		<section>
			<div class="bannerimg cover-image bg-background3" data-image-src="/static/frontpages/images/banners/banner2.jpg">
				<div class="header-text mb-0">
					<div class="container">
						<div class="text-center text-white">
							<h2>Appying to </h2><h4>{{vacancy.job_title|safe}}</h4>
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Breadcrumb-->

		<!--User dashboard-->
		<section class="sptb">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-lg-12 col-md-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Categories</h3>
							</div>
							{%for cat in category%}
							<div class="card-body p-0">
								<div class="list-catergory">
									<div class="item-list">
										<ul class="list-group mb-0">
											<li class="list-group-item">
												<a href="{%url 'vacancy_search' id=cat.id%}" class="text-dark">
													 {{cat}}
													<span class="badgetext badge badge-pill badge-light mb-0 mt-1">{{cat.countjobs}}</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							{%endfor%}
						</div>
						

					</div>
					<div class="col-xl-9 col-lg-12 col-md-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Job application form</h3>
							</div>

							<div class="card-body">
								<div class="card-pay">
								<form action="" method="POST" enctype="multipart/form-data">
									{%csrf_token%}
									<div class="tab-content">
										<div class="tab-pane active show" id="tab1">
											
											<div class="form-group">
												<label class="col-form-label "> Status *</label>
													<div class="input-group">

													{{job.status}}
													
												</div>
											</div>
											
											
											<div class="form-group">
												<label class="form-label">The institute you learned in *</label>
												<div class="input-group">
													{{job.institiute}}
													
												</div>
											</div>
											<div class="form-group">
												<label class="form-label">The field you are an expert in *</label>
												<div class="input-group">
													{{job.field}}
													
												</div>
											</div>
											<div class="form-group">
												<label class="form-label">Grade *</label>
												<div class="input-group">
													{{job.grade}}
													
												</div>
											</div>

											<div class="form-group">
												<label class="form-label">experiance (in years) *</label>
												<div class="input-group">
													{{job.experiance}}
													
												</div>
											</div>

											<div class="form-group">
												<label class="form-label">Introduce your self *</label>
												<div class="input-group">
													{{job.bio}}
													
												</div>
											</div>

											<div class="form-group">
											<label class="form-label">Upload your CV *</label>
											<div class="col-lg-10">
													{{job.cv}}
												
											</div>
											</div>
															

										<div class="form-group">
									<label class="form-label">Upload your Documents (This is for certifivates and other documents)</label>
											<div class="col-lg-10">
												{{job.documents}}
												
											</div>
									</div>

											 
											
											<div class="text-right">
					<button style="padding-left: 10%; padding-right: 10%;" type="submit"
						class="btn btn-primary rounded-round">Submit </button>
								</div>
										</div>
									</div>
								</form>
									
							</div>	
						</div>
						</div>
						</div>
						</div>
						</div>
						</section>
						
		<!--/User dashboard-->

		<!--Newsletter-->
		<section class="sptb bg-white border-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-xl-6 col-md-12">
						<div class="sub-newsletter d-sm-flex">
							<i class="fa fa-envelope fs-22 mr-2"></i>
							<div>
								<h3 class="mb-1">Subscribe To Our Newsletter</h3>
								<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
							</div>
						</div>
					</div>
					<div class="col-lg-5 col-xl-6 col-md-12 mt-4 mt-lg-0">
						<div class="input-group sub-input mt-1">
							<input type="text" class="form-control input-lg" placeholder="Enter your Email">
							<div class="input-group-append ">
								<button type="button" class="btn btn-secondary btn-lg br-tr-3 br-br-3 pl-5 pr-5">
									Subscribe
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Newsletter-->
<script>
	$(document).ready(function () {
		$('#summernote').summernote();
		$('.summernote').summernote();
	});

	function isNumber(kkk)
  {
    
     $("#"+kkk).val($("#"+kkk).val().replace(/[^\d.]/g, ''));  
  }


</script>

{%endblock%}