{%load i18n%}
<!doctype html>
<html lang="en" dir="ltr">

	<head>
		<!-- META DATA -->
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="FBPIDI - Business Directory">
		<meta name="author" content="Melfan Tech">
		<meta name="keywords" content="business directory website,online business directory website,
		directory listing sites,bootstrap form template,bootstrap templates,responsive web design,
		bootstrap website templates,business directory,business directory template,business listing,buy web templates,
		directory,directory html template,directory listing html template,directory website template,html list template,
		html template,html5 responsive template,html5 template,local business directory,local business listing,online business directory,
		online directory,premium,premium bootstrap templates,small business directory,classified,Premium business directory Templates,
		Directory & Listing HTML Template,business listing websites">
		<link rel="icon" href="/static/frontpages/images/brand/favicon.png" type="image/x-icon"/>
		<link rel="shortcut icon" type="image/x-icon" href="/static/frontpages/images/brand/favicon.png" />

		<!-- Title -->
		<title>FBPIDI - Business Directory</title>

		<!-- Bootstrap Css -->
		<link href="/static/frontpages/plugins/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet" />

		<!-- Dashboard Css -->
		<link href="/static/frontpages/css/style.css" rel="stylesheet" />

		<!-- Font-awesome  Css -->
		<link href="/static/frontpages/css/icons.css" rel="stylesheet"/>

		<!--Horizontal Menu-->
		<link href="/static/frontpages/plugins/horizontal/horizontal-menu/horizontal.css" rel="stylesheet" />

		<!--Select2 Plugin -->
		<link href="/static/frontpages/plugins/select2/select2.min.css" rel="stylesheet" />

		<!-- Cookie css -->
		<link href="/static/frontpages/plugins/cookie/cookie.css" rel="stylesheet">

		<!-- Auto Complete css -->
		<link href="/static/frontpages/plugins/autocomplete/jquery.autocomplete.css" rel="stylesheet">

		<!-- Auto Complete css -->
		<link href="/static/frontpages/plugins/autocomplete/jquery.autocomplete.css" rel="stylesheet">

		<!-- Owl Theme css-->
		<link href="/static/frontpages/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" />

		<!-- Custom scroll bar css-->
		<link href="/static/frontpages/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

		<!-- jquery ui RangeSlider -->
		<link href="/static/frontpages/plugins/jquery-uislider/jquery-ui.css" rel="stylesheet">

		<!-- Color-Skins -->
		<link id="theme" href="/static/frontpages/color-skins/color1.css"  rel="stylesheet"/>

		<link rel="stylesheet" href="/static/summernote/summernote-bs4.css">
		<script src="/static/summernote/summernote-bs4.js"></script>

		<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
		<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>
		<style>
			#lan_btn{
				border: none;
				background-color: transparent;
				padding: 0%;
			}
		</style>
	</head>
	<body>

		<!--Loader-->
		<div id="global-loader">
			<img src="/static/frontpages/images/products/products/loader.png" class="loader-img floating" alt="">
		</div>

		<!--Topbar-->
		<div class="header-main">
			<div class="top-bar">
				<div class="container">
					<div class="row">
						<div class="col-xl-7 col-lg-7 col-sm-4 col-7">
							<div class="top-bar-left d-flex">
								<div class="clearfix">
									<ul class="socials">
										<li>
											<a class="social-icon text-dark" href="#"><i class="fa fa-facebook"></i></a>
										</li>
										<li>
											<a class="social-icon text-dark" href="#"><i class="fa fa-twitter"></i></a>
										</li>
										<li>
											<a class="social-icon text-dark" href="#"><i class="fa fa-linkedin"></i></a>
										</li>
										<li>
											<a class="social-icon text-dark" href="#"><i class="fa fa-google-plus"></i></a>
										</li>
									</ul>
								</div>
							</div>

						</div>
						<div class="col-xl-5 col-lg-5 col-sm-8 col-5">
							<div class="top-bar-right">
								<ul class="custom ">
									
									{%if user.is_authenticated%}
									
										{%if user.is_customer%}
										<li class="dropdown">
											<a href="{% url 'cart_summary' %}" class="text-dark">
												<i class="fa fa-shopping-cart mr-1"></i><span>{% trans "My Cart" %}</span>
											</a>

										</li> 
										<li class="dropdown">
											<a href="{% url 'mydash' %}" class="text-dark">
												<i class="fa fa-home mr-1"></i><span>{% trans "My Profile" %}</span>
											</a>

										</li>
										{%elif user.is_staff%}
										<li class="dropdown">
											<a href="{%url 'admin:user_detail' option='my_profile' id=user.id%}" class="text-dark">
												<i class="fa fa-home mr-1"></i><span>{% trans "My Profile" %}</span>
											</a>

										</li>
										{%endif%}
										<li>
											<a href="{%url 'logout' %}?next={%url 'login'%}" class="text-dark"><i class="fa fa-sign-out mr-1"></i> <span>{% trans "Logout" %}</span></a>
										</li>
									{%else%}
									<li>
										<a href="{% url 'register'%}" class="text-dark"><i class="fa fa-user mr-1"></i> <span >{% trans "Register" %}</span></a>
									</li>

									<li>
										<a href="{%url 'login' %}" class="text-dark"><i class="fa fa-sign-in mr-1"></i> <span>{% trans "Login" %}</span></a>
									</li>
									{%endif%}
									

                                    <li class="dropdown">
                                        <a href="#" class="text-dark" data-toggle="dropdown"><i class="fa fa-globe mr-1"></i><span> {% trans "Language" %}</span> </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
											<form class="dropdown-item" action="{% url 'set_language' %}" method="post">
												{% csrf_token %}
												<input name="next" type="hidden" value="{{ redirect_to }}" />
												<input type="hidden" name="language" value="en">
												<input id="lan_btn" type="submit" value="{% trans "English" %}" />
											</form>
                                            <form class="dropdown-item" action="{% url 'set_language' %}" method="post">
												{% csrf_token %}
												<input name="next" type="hidden" value="{{ redirect_to }}" />
												<input type="hidden" name="language" value="am">
												<input id="lan_btn" type="submit" value="{% trans "Amharic" %}" />
											</form>
                                        </div>
                                    </li>

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Mobile Header -->
			<div class="sticky">
				<div class="horizontal-header clearfix ">
					<div class="container">
						<a id="horizontal-navtoggle" class="animated-arrow"><span></span></a>
						<span class="smllogo"><a href="{% url 'index' %}" class="d-flex logo-height logo-svg">
							<img src="/static/frontpages/images/brand/logo2.png" alt="image"></a>
						</span>
						<a href="{%url 'ad_list'%}" class="callusbtn"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<!-- /Mobile Header -->

			<div class="horizontal-main  bg-dark-transparent clearfix">
				<div class="horizontal-mainwrapper container clearfix">
					<div class="desktoplogo">
						<a href="{%url 'index' %}"><img src="/static/frontpages/images/brand/logo1.png" alt="image"></a>
					</a>
					</div>
					<div class="desktoplogo-1">
						<a href="{%url 'index' %}" class="d-flex logo-height logo-svg">
							<img src="/static/frontpages/images/brand/logo2.png" alt="image"></a>
						</a>
					</div>
					<!--Nav-->
					<nav class="horizontalMenu clearfix d-md-flex">

                        <ul class="horizontalMenu-list">
							<li><a href="{%url 'index' %}">{% trans "Home" %} <span class="fa fa-caret m-0"></span></a></li>
							<li><a href="{%url 'about'%}">{% trans "About Us" %} </a></li>
                            <li><a href="{% url 'manufac_category_main' option='all' %}">{% trans "Manufacturers" %} <span class="fa fa-caret-down m-0"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'manufac_category_main' option='Food' %}">{% trans "Foods" %}</a></li>
                                    <li><a href="{% url 'manufac_category_main' option='Beverage' %}">{% trans "Beverages" %}</a></li>
                                    <li><a href="{% url 'manufac_category_main' option='Pharmaceuticals' %}">{% trans "Pharmaceuticals" %}</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'suplier_category_main' option='all' %}">{% trans "Suppliers" %} <span class="fa fa-caret-down m-0"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'suplier_category_main' option='Food' %}">{% trans "Foods" %}</a></li>
                                    <li><a href="{% url 'suplier_category_main' option='Beverage' %}">{% trans "Beverages" %}</a></li>
                                    <li><a href="{% url 'suplier_category_main' option='Pharmaceuticals' %}">{% trans "Pharmaceuticals" %}</a></li>
								</ul>
							</li>
                            <li><a href="{% url 'product_category_main' option='all' %}">{% trans "Products" %} <span class="fa fa-caret-down m-0"></span></a>
								<ul class="sub-menu">
									<li><a href="{% url 'product_category_main' option='Food' %}">{% trans "Foods" %}</a></li>
									<li><a href="{% url 'product_category_main' option='Beverage' %}">{% trans "Beverages" %}</a></li>
									<li><a href="{% url 'product_category_main' option='Pharmaceuticals' %}">{% trans "Pharmaceuticals" %}</a></li>
								</ul>
							</li>			
							<li><a href="#">{% trans "Collaborations" %} <span class="fa fa-caret-down m-0"></span></a>
								<ul class="sub-menu">
									<li><a href="{% url 'announcement_list' %}">{% trans "Announcement" %}</a></li>
									<li><a href="{% url 'blog_grid_right' %}">{% trans "Blog" %}</a></li>
									<li><a href="{% url 'faq' %}">{% trans "Faqs" %}</a></li>
									<li><a href="{% url 'forum_list' %}">{% trans "Forums" %}</a></li>
									<li><a href="{% url 'customer_news_list' %}">{% trans "News" %}</a></li>
									<li><a href="{% url 'polls' %}">{% trans "Polls" %}</a></li>
									<li><a href="{% url 'tender_list' %}">{% trans "Tenders" %}</a></li>		
									<li><a href="{% url 'vacancy' %}">{% trans "Vacancy" %}</a></li>
								</ul>
							</li>
							<li><span></span><a href="{% url 'contact' %}"> {% trans "Contact Us" %}<span class="wsarrow"></span></a></li>

							
						</ul>

					</nav>
					<!--Nav-->
				</div>
				<div class="body-progress-container">
					<div class="progress-bar progress-bar-striped progress-bar-animated bg-success" id="myBar"></div>
				</div>
			</div>
		</div>
		{%block content%}{%endblock%}
		<section>
			<footer class="bg-dark-purple text-white">
				<div class="footer-main border-bottom">
					<div class="container">
						<div class="row">
							<div class="col-xl-3 col-lg-6 col-md-12">
								<h6>Categories</h6>
								<ul class="list-unstyled mb-0">
									<li>
										<a href="#" class="btn footer-btn-outline btn-sm btn-pill mb-1">RealEstate</a>
										<a href="#" class="btn footer-btn-outline btn-sm btn-pill mb-1">Spa</a>
										<a href="#" class="btn footer-btn-outline btn-sm btn-pill mb-1">Education</a>
										<a href="#" class="btn footer-btn-outline btn-sm btn-pill mb-1">Mediation</a>
										<a href="#" class="btn footer-btn-outline btn-sm btn-pill mb-1">Restaurent</a>
										<a href="#" class="btn footer-btn-outline btn-sm btn-pill mb-1">Backery</a>
										<a href="#" class="btn footer-btn-outline btn-sm btn-pill mb-1">Automobiles</a>
									</li>
								</ul>
							</div>
							<div class="col-xl-3 col-lg-6 col-md-12">
								<h6>Popular Listings</h6>
								<ul class="list-unstyled mb-0">
									<li><a href="#"><i class="fa fa-angle-double-right mr-2 text-secondary"></i> Educational college</a></li>
									<li><a href="#"><i class="fa fa-angle-double-right mr-2 text-secondary"></i> Free Lancer for Web Developer</a></li>
									<li><a href="#"><i class="fa fa-angle-double-right mr-2 text-secondary"></i> 2BHK Flat In Hyderabad</a></li>
									<li><a href="#"><i class="fa fa-angle-double-right mr-2 text-secondary"></i> Best Restaurants in Hyderabad</a></li>
								</ul>
							</div>
							<div class="col-xl-3 col-lg-6 col-md-12">
								<h6 class="mt-6 mt-xl-0">Contact</h6>
								<ul class="list-unstyled mb-0">
									<li>
										<a href="#"><i class="fa fa-home mr-3 text-secondary"></i> Ethiopia, Addis Ababa, Welo serfer</a>
									</li>
									<li>
										<a href="#"><i class="fa fa-envelope mr-3 fs-12 text-secondary"></i> info@fbpidi.gov.et</a></li>
									<li>
										<a href="#"><i class="fa fa-phone mr-3 text-secondary"></i> + 251 911 111 111 , + 251 911 111 111</a>
									</li>
									 <li>
										<a href="#"><i class="fa fa-print mr-3 text-secondary"></i> + 251 111 111 111, + 251 111 111 111</a>
									</li>
								</ul>
							</div>
							<div class="col-xl-3 col-lg-6 col-md-12">
								<h6 class="mb-2 mt-6 mt-xl-0">Subscribe</h6>
								<div class="input-group">
									<input type="text" class="form-control br-tl-3  br-bl-3" placeholder="Email">
									<div class="input-group-append ">
										<button type="button" class="btn btn-secondary br-tr-3 br-br-3 pl-5 pr-5">
											Subscribe
										</button>
									</div>
								</div>
								<h6 class="mb-2 mt-5">Payments</h6>
								<ul class="payments mb-0">
									<li>
										<a href="#" class="payments-icon"><i class="fa fa-cc-amex" aria-hidden="true"></i></a>
									</li>
									<li>
										<a href="#" class="payments-icon"><i class="fa fa-cc-visa" aria-hidden="true"></i></a>
									</li>
									<li>
										<a href="#" class="payments-icon"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></a>
									</li>
									<li>
										<a href="#" class="payments-icon"><i class="fa fa-cc-mastercard" aria-hidden="true"></i></a>
									</li>
									<li>
										<a href="#" class="payments-icon"><i class="fa fa-cc-paypal" aria-hidden="true"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="bg-dark-purple text-white p-0 border-bottom">
					<div class="container">
						<div class="p-2 text-center footer-links">
							<a href="#" class="btn btn-link">How It Works</a>
							<a href="#" class="btn btn-link">About Us</a>
							<a href="#" class="btn btn-link">Pricing</a>
							<a href="#" class="btn btn-link">Listing Categories</a>
							<a href="#" class="btn btn-link">Privacy Policy</a>
							<a href="#" class="btn btn-link">Terms Of Conditions</a>
							<a href="#" class="btn btn-link">Blog</a>
							<a href="#" class="btn btn-link">Contact Us</a>
							<a href="#" class="btn btn-link">Premium Ad</a>
						</div>
					</div>
				</div>
				<div class="bg-dark-purple text-white-50 p-3">
					<div class="container">
						<div class="row d-flex">
							<div class="col-lg-12 col-sm-12  mt-2 mb-2 text-center ">
								Copyright © 2020 <a href="#" class="fs-14 text-secondary">FBPIDI</a>. Designed & Develop by <a href="www.melfantech.com" class="fs-14 text-secondary">Melfan Tech</a> All rights reserved.
							</div>
							<div class="col-lg-12 col-sm-12 text-center mb-2 mt-2">
								<ul class="social-icons mb-0">
									<li>
										<a class="social-icon" href=""><i class="fa fa-facebook"></i></a>
									</li>
									<li>
										<a class="social-icon" href=""><i class="fa fa-twitter"></i></a>
									</li>
									<li>
										<a class="social-icon" href=""><i class="fa fa-rss"></i></a>
									</li>
									<li>
										<a class="social-icon" href=""><i class="fa fa-youtube"></i></a>
									</li>
									<li>
										<a class="social-icon" href=""><i class="fa fa-linkedin"></i></a>
									</li>
									<li>
										<a class="social-icon" href=""><i class="fa fa-google-plus"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</section>
		<!--Footer Section-->
		<!-- Back to top -->
		<a href="#top" id="back-to-top" ><i class="fa fa-rocket"></i></a>

		<!-- JQuery js-->
		<script src="/static/frontpages/js/vendors/jquery-3.2.1.min.js"></script>

		<!-- Bootstrap js -->
		<script src="/static/frontpages/plugins/bootstrap-4.4.1-dist/js/popper.min.js"></script>
		<script src="/static/frontpages/plugins/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>

		<!--JQuery Sparkline Js-->
		<script src="/static/frontpages/js/vendors/jquery.sparkline.min.js"></script>

		<!-- Circle Progress Js-->
		<script src="/static/frontpages/js/vendors/circle-progress.min.js"></script>

		<!-- Star Rating Js-->
		<script src="/static/frontpages/plugins/rating/jquery.rating-stars.js"></script>

		<!--Counters -->
		<script src="/static/frontpages/plugins/counters/counterup.min.js"></script>
		<script src="/static/frontpages/plugins/counters/waypoints.min.js"></script>
		<script src="/static/frontpages/plugins/counters/numeric-counter.js"></script>

		<!--Owl Carousel js -->
		<script src="/static/frontpages/plugins/owl-carousel/owl.carousel.js"></script>
		<script src="/static/frontpages/js/owl-carousel.js"></script>

		<!--Horizontal Menu-->
		<script src="/static/frontpages/plugins/horizontal/horizontal-menu/horizontal.js"></script>

		<!--JQuery TouchSwipe js-->
		<script src="/static/frontpages/js/jquery.touchSwipe.min.js"></script>

		<!--Select2 js -->
		<script src="/static/frontpages/plugins/select2/select2.full.min.js"></script>
		<script src="/static/frontpages/js/select2.js"></script>

		<!-- sticky Js-->
		<script src="/static/frontpages/js/sticky.js"></script>

		<!-- Cookie js -->
		<script src="/static/frontpages/plugins/cookie/jquery.ihavecookies.js"></script>
		<script src="/static/frontpages/plugins/cookie/cookie.js"></script>

		<!--Auto Complete js -->
		<script src="/static/frontpages/plugins/autocomplete/jquery.autocomplete.js"></script>
		<script src="/static/frontpages/plugins/autocomplete/autocomplete.js"></script>

        <!-- Custom scroll bar Js-->
		<script src="/static/frontpages/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

		<!-- Swipe Js-->
		<script src="/static/frontpages/js/swipe.js"></script>

		<!-- Scripts Js-->
		<script src="/static/frontpages/js/scripts2.js"></script>

		<!-- Custom Js-->
		<script src="/static/frontpages/js/custom.js"></script>
		
	</body>
</html>