{%load core_template_tags%}
{%load i18n%}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="en" dir="ltr">

<head>
    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="FBPIDI - Business Directory">
    <meta name="author" content="Melfan Tech">
    <meta name="keywords" content="FBPIDI, fbpidi, food beverage and pharmaceutical Industries,
                            food beverage and pharmaceutical Industries development inistitute melfantech,">
    <link rel="icon" href="/static/frontpages/images/brand/favicon.png" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static/frontpages/images/brand/favicon.png"/>

    <!-- Title -->
    <title>FBPIDI - Business Directory</title>

    <!-- Bootstrap Css -->
    <link href="/static/frontpages/plugins/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- <script src="/static/frontpages/js/vendors/jquery-3.2.1.min.js"></script>
        
-->
    <!-- added for the frontpages chat part  -->
    <link href="/static/admin/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="/static/admin/global_assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">


    <!-- end for the chat part -->
	
    <!-- Dashboard Css -->
    <link href="/static/frontpages/css/style.css" rel="stylesheet"/>

    <!-- Font-awesome  Css -->
    <link href="/static/frontpages/css/icons.css" rel="stylesheet"/>

    <!--Horizontal Menu-->
    <link href="/static/frontpages/plugins/horizontal/horizontal-menu/horizontal.css" rel="stylesheet"/>

    <!-- owl-carousel-->
    <link href="/static/frontpages/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" />

    <!--Select2 Plugin -->
    <link href="/static/frontpages/plugins/select2/select2.min.css" rel="stylesheet"/>

    <!-- Cookie css -->
    <link href="/static/frontpages/plugins/cookie/cookie.css" rel="stylesheet">

    <!-- Auto Complete css -->
    <link href="/static/frontpages/plugins/autocomplete/jquery.autocomplete.css" rel="stylesheet">

    <!-- Auto Complete css -->
    <link href="/static/frontpages/plugins/autocomplete/jquery.autocomplete.css" rel="stylesheet">

    <!-- Owl Theme css-->
    <link href="/static/frontpages/plugins/owl-carousel/owl.carousel.css" rel="stylesheet"/>

    <!-- Custom scroll bar css-->
    <link href="/static/frontpages/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet"/>

    <!-- Custom scroll bar css-->
    <link href="/static/frontpages/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />


    <!-- jquery ui RangeSlider -->
    <!-- <link href="/static/frontpages/plugins/jquery-uislider/jquery-ui.css" rel="stylesheet"> -->

    <!-- <script src="/static/admin/assets/js/app.js"></script>
    <script src="/static/admin/global_assets/js/demo_pages/dashboard.js"></script> -->

    <script src="/static/admin/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script src="/static/admin/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script src="/static/admin/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="/static/admin/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script src="/static/admin/global_assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="/static/admin/global_assets/js/plugins/pickers/daterangepicker.js"></script>
    <script src="/static/admin/global_assets/js/plugins/ui/perfect_scrollbar.min.js"></script>


    <script src="/static/admin/assets/js/app.js"></script>
    <script src="/static/admin/global_assets/js/demo_pages/dashboard.js"></script>
    <script src="/static/admin/global_assets/js/demo_pages/layout_fixed_sidebar_custom.js"></script>
    <!-- Color-Skins -->
    <link id="theme" href="/static/frontpages/color-skins/color1.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/static/summernote/summernote-bs4.css">
    <script src="/static/summernote/summernote-bs4.js"></script>


    <style>
        #lan_btn {
            border: none;
            background-color: transparent;
            padding: 0%;
        }
    </style>
    {%block extrastyle%}
    {%endblock%}
</head>
<body>

<!--Loader-->
<div id="global-loader">
    <img src="/static/frontpages/images/products/products/loader.png" class="loader-img floating" alt="">
</div>

<!--Topbar-->
<div class="header-main">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-sm-4 col-7">
                    <div class="top-bar-left d-flex">
                        <div class="clearfix">
                            <ul class="socials">
                                <li>
                                    <a class="social-icon text-dark" href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a class="social-icon text-dark" href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a class="social-icon text-dark" href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a class="social-icon text-dark" href="#"><i class="fa fa-google-plus"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-xl-5 col-lg-5 col-sm-8 col-5">
                    <div class="top-bar-right">
                        <ul class="custom ">

                            

                           
                           

                            {%if user.is_authenticated%}
                            
                            {%if user.is_customer%}
                            <li  class="nav-item dropdown">
                                <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                                
                                    <a href = ""><i class="fa fa-shopping-cart mr-1"></i><span>{% trans "My Cart" %}</span></a>
                                    <span id = "num_of_inquiry" class="badge badge-pill bg-warning-400 ml-auto ml-md-0"></span>
                                </a>
                                
                                
                                <div style = "padding: 10px;   width: 300px;" class = "dropdown-menu dropdown-menu-right dropdown-content wmin-md-350">
                                   
                                    <div class="dropdown-content-body dropdown-scrollable">
                                        
                                            <ul id = "inquiry_list" style = "width: 100%;" class="media-list">
                                            

                                            </ul>
                                            
                                            <form target="blank"  action = "{% url 'inquiry_form' %}" method = "GET" >
                                                <input type= "hidden" id="list_of_prod_ids" name ="products" value="" >
                                                <button class="btn mt-4" id="btn_send_inquiry" style = "background-color: orange; color:white; display: none;"><b>Send Inquiry</b></button> 
                                            </form>  
                                            <button class="btn mt-4" id="btn_clear_cart" onclick="clear_cart()" style = "background-color: rgb(169, 64, 8); color:white;display: none;">Clear Cart</button> 
                                    </div>
                                </div>
                            </li>
                           
                            <li class="dropdown">
                                <a href="{% url 'mydash' %}" class="text-dark">
                                    <i class="fa fa-user mr-1"></i><span>{% trans "My Profile" %}</span>
                                </a>

                            </li>

                            <li  class="nav-item dropdown">
                                <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                                
                                    <a href = "{% url 'customer_chat_list' %} "><i class="fa fa-envelope" ></i><span>{% trans "My Messages" %}</span></a>
                                    <span id = "num_unread_messages" class="badge badge-pill bg-warning-400 ml-auto ml-md-0"></span>
                                </a>
                                
                                
                                <div style = "padding: 10px;   width: 300px;" class = "dropdown-menu dropdown-menu-right dropdown-content wmin-md-350">
                                    <div class="dropdown-content-header">
                                        <span class="font-weight-semibold">{% trans " List of Messages" %}</span>
                                        <a href="#" class="text-default"><i class="icon-compose"></i></a>
                                    </div>
                                    <div class="dropdown-content-body dropdown-scrollable">
                                        <ul id = "list_of_senders" style = "width: 100%;" class="media-list">
                                            
                                        </ul>
                                    </div>
                                  
                                </div>
                            </li>
                           
                            
                            {%elif user.is_staff%}
                            <li class="dropdown">
                                <a href="{%url 'admin:my_profile' pk=user.id%}" class="text-dark">
                                    <i class="fa fa-home mr-1"></i><span>{% trans "My Profile" %}</span>
                                </a>

                            </li>
                            
                            <li  class="nav-item dropdown">
                                <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                                
                                    <a href = "{% url 'admin:admin_chat_list' %} "><i class="fa fa-envelope" ></i><span>{% trans "My Messages" %}</span></a>
                                    <span id = "num_unread_messages" class="badge badge-pill bg-warning-400 ml-auto ml-md-0"></span>
                                </a>
                                
                                <div style = "padding: 10px;   width: 300px;" class = "dropdown-menu dropdown-menu-right dropdown-content wmin-md-350">
                                    <div class="dropdown-content-header">
                                        <span class="font-weight-semibold">{% trans " List of Messages" %}</span>
                                        <a href="#" class="text-default"><i class="icon-compose"></i></a>
                                    </div>
                                    <div class="dropdown-content-body dropdown-scrollable">
                                        <ul id = "list_of_senders" style = "width: 100%;" class="media-list">
                                            
                                        </ul>
                                    </div>   
                                </div>
                            </li>
                           
                            {%endif%}
                            <li>
                                <a href="{%url 'logout' %}?next={%url 'cm_login'%}" class="text-dark"><i
                                        class="fa fa-sign-out mr-1"></i> <span>{% trans "Logout" %}</span></a>
                            </li>
                            {%else%}
                            <li>
                                <a href="{% url 'register'%}" class="text-dark"><i class="fa fa-user mr-1"></i> <span>{% trans "Register" %}</span></a>
                            </li>

                            <li>
                                <a href="{%url 'cm_login' %}" class="text-dark"><i class="fa fa-sign-in mr-1"></i> <span>{% trans "Login" %}</span></a>
                            </li>
                            {%endif%}


                            <li class="dropdown">
                                <a href="#" class="text-dark" data-toggle="dropdown"><i
                                        class="fa fa-globe mr-1"></i><span> {% trans "Language" %}</span> </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <form class="dropdown-item" action="{% url 'set_language' %}" method="post">
                                        {% csrf_token %}
                                        <input name="next" type="hidden" value="{{ redirect_to }}"/>
                                        <input type="hidden" name="language" value="en">
                                        <input id="lan_btn" type="submit" value='{% trans  "English" %}' />
                                    </form>
                                    <form class="dropdown-item" action="{% url 'set_language' %}" method="post">
                                        {% csrf_token %}
                                        <input name="next" type="hidden" value="{{ redirect_to }}"/>
                                        <input type="hidden" name="language" value="am">
                                        <input id="lan_btn" type="submit" value='{% trans " Amharic" %}' />
                                    </form>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile Header -->
    <div class="sticky">
        <div class="horizontal-header clearfix ">
            <div class="container">
                <a id="horizontal-navtoggle" class="animated-arrow"><span></span></a>
                <span class="smllogo"><a href="{% url 'index' %}" class="d-flex logo-height logo-svg">
							<img src="/static/frontpages/images/brand/logo2.png" alt="image"></a>
						</span>
                <a href="#" class="callusbtn"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <!-- /Mobile Header -->

    <div class="horizontal-main  bg-dark-transparent clearfix">
        <div class="horizontal-mainwrapper container clearfix">
            <div class="desktoplogo">
                <a href="{%url 'index' %}"><img src="/static/frontpages/images/brand/logo1.png" alt="image"></a>
                </a>
            </div>
            <div class="desktoplogo-1">
                <a href="{%url 'index' %}" class="d-flex logo-height logo-svg">
                    <img src="/static/frontpages/images/brand/logo2.png" alt="image"></a>
                </a>
            </div>
            <!--Nav-->
            <nav class="horizontalMenu clearfix d-md-flex">

                <ul class="horizontalMenu-list">
                    
                    <li><a href="{%url 'index' %}">{% trans "Home" %} <span class="fa fa-caret m-0"></span></a></li>
                    {% get_fbpidi as fbpidi %}
                    {% if fbpidi != None %}
                    <li><a href="{%url 'company_about' pk=fbpidi.id%}">{% trans "About Us" %} </a></li>
                    {% endif %}
                    <li><a href="{% url 'manufac_category_main' option='all' %}">{% trans "Manufacturers" %} <span
                            class="fa fa-caret-down m-0"></span></a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'manufac_category_main' option='Food' %}">{% trans "Foods" %}</a></li>
                            <li><a href="{% url 'manufac_category_main' option='Beverage' %}">{% trans "Beverages"%}</a></li>
                            <li><a href="{% url 'manufac_category_main' option='Pharmaceuticals' %}">{% trans "Pharmaceuticals" %}</a></li>
                        </ul>
                    </li>

                    <li><a href="{% url 'product_category_main' option='all' %}">{% trans "Products" %} <span
                            class="fa fa-caret-down m-0"></span></a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'product_category_main' option='Food' %}">{% trans "Foods" %}</a></li>
                            <li><a href="{% url 'product_category_main' option='Beverage' %}">{% trans "Beverages"%}</a></li>
                            <li><a href="{% url 'product_category_main' option='Pharmaceuticals' %}">{% trans "Pharmaceuticals" %}</a></li>
                        </ul>
                    </li>

                    <li><a href="{% url 'research_list' %}">{% trans "Research" %}</a></li>
                    <li><a href="{%url 'project_list'%}"> <span class="fa fa-caret m-0">{% trans "Project" %}</span></a>
                       
                    </li>

                    <li><a href="#">{% trans "Announcement" %} <span class="fa fa-caret-down m-0"></span></a>
                        <ul class="sub-menu">
                        <li><a href="{% url 'announcement_list' %}">{% trans "Announcement" %}</a></li>
                        <li><a href="{% url 'customer_event_list' %}">{% trans "Events" %}</a></li>
                        <li><a href="{% url 'customer_news_list' %}">{% trans "News" %}</a></li>
                        <li><a href="{% url 'tender_list' %}">{% trans "Tenders" %}</a></li>
                        <li><a href="{% url 'vacancy' %}">{% trans "Vacancy" %}</a></li>

                        </ul>
                    </li>

                    <li><a href="#">{% trans "Collaborations" %} <span class="fa fa-caret-down m-0"></span></a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'customer_blog_list' %}">{% trans "Blog" %}</a></li>
                            <li><a href="{% url 'forum_list' %}">{% trans "Forums" %}</a></li>
                            <li><a href="{% url 'polls' %}">{% trans "Polls" %}</a></li>
                            <li><a href="{% url 'faq' %}">{% trans "Faqs" %}</a></li>
                        </ul>
                    </li>
                    {% get_fbpidi as fbpidi %}
                    {% if fbpidi != None %}
                    <li><span></span><a href="{% url 'contact_company' pk=fbpidi.id %}"> {% trans "Contact Us" %}<span
                            class="wsarrow"></span></a></li>
                    {% endif %}
                </ul>

            </nav>
            <!--Nav-->
        </div>
        <div class="body-progress-container">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" id="myBar"></div>
        </div>
    </div>
</div>
{%block content%}{%endblock%}
<!-- Newsletter-->
<div id = "subscribtion_message_div">
    <h4 id="subscribtion_message"></h4>
</div>
<section class="sptb border-top bg-white mt-5">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>{% trans "Subscribe To Our Newsletter" %}</h2>
            <p>{% print_translated "Ethiopian Food, Beverage and Pharmaceutical Industries" "የኢትዮጲያ ምግብ፣ መጠጥ እና መድህኒት ኩባኒያዎች " LANGUAGE_CODE %}</p>
        </div>
        <div class="row">
            <div class="col-lg-10 col-xl-8 col-md-12 mx-auto d-block text-center">
                <div class="input-group sub-input mt-0">
                    <input type="email" id="email_field" required class="form-control input-lg " placeholder="Enter your Email">
                    <div class="input-group-append ">
                        <button type="button" onclick="subscribe()" class="btn btn-secondary btn-lg br-tr-3 br-br-3 pl-5 pr-5">
                            {%  trans "Subscribe" %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Newsletter-->

<section>
    <footer class="bg-dark-purple text-white">
        <div class="footer-main border-bottom">
            
            <div class="container">
                
                <div class="row">

                    <div class="col-xl-3 col-lg-6 col-md-12">
                        <h6>Categories</h6>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#" class="btn footer-btn-outline btn-sm btn-pill mb-1">Food</a>
                                <a href="#" class="btn footer-btn-outline btn-sm btn-pill mb-1">Beverage</a>
                                <a href="#" class="btn footer-btn-outline btn-sm btn-pill mb-1">Pharmaceuticals</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12">
                        <h6>Popular Listings</h6>
                        <ul class="list-unstyled mb-0">
                            <li><a href="{% url 'customer_news_list' %}"><i class="fa fa-angle-double-right mr-2 text-secondary"></i> 
                                {% trans "Latest News" %}</a></li>
                            <li><a  href="{% url 'manufac_category_main' option='all' %}"><i class="fa fa-angle-double-right mr-2 text-secondary"></i>
                                 {% trans "Companies" %}</a></li>
                            <li><a href="{% url 'product_category_main' option='all' %}"><i class="fa fa-angle-double-right mr-2 text-secondary"></i> 
                                {% trans "Latest Products" %}</a></li>
                            <li><a href="{%url 'project_list'%}"><i class="fa fa-angle-double-right mr-2 text-secondary"></i> 
                                {% trans "Latest Projects" %}</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12">
                        <h6 class="mt-6 mt-xl-0">FBPIDI Contact</h6>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#"><i class="fa fa-home mr-3 text-secondary"></i> Ethiopia, 
                                    Addis Ababa, Welo Sefer</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-envelope mr-3 fs-12 text-secondary"></i> info@fbpidi.gov.et</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-phone mr-3 text-secondary"></i> + 251 911 111 111 , + 251
                                    911 111 111</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-print mr-3 text-secondary"></i> + 251 111 111 111, + 251 111
                                    111 111</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12">
                        <!-- <h6 class="mb-2 mt-6 mt-xl-0">Subscribe</h6>
                        <div class="input-group">
                            <input type="text" id="email_field2" class="form-control br-tl-3  br-bl-3" placeholder="Email">
                            <div class="input-group-append ">
                                <button type="button" onclick = "subscribe()" class="btn btn-secondary br-tr-3 br-br-3 pl-5 pr-5">
                                    Subscribe
                                </button>
                            </div>
                        </div> -->
                        <h6 class="mb-2 mt-5">Payments</h6>
                        <ul class="payments mb-0">
                            <li>
                                <a href="#" class="payments-icon"><i class="fa fa-cc-amex" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#" class="payments-icon"><i class="fa fa-cc-visa" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#" class="payments-icon"><i class="fa fa-credit-card-alt"
                                                                     aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#" class="payments-icon"><i class="fa fa-cc-mastercard" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#" class="payments-icon"><i class="fa fa-cc-paypal" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        

        <div class="bg-dark-purple text-white p-0 border-bottom">
            <div class="container">
                <div class="p-2 text-center footer-links">
                    <a href="#" class="btn btn-link">How It Works</a>
                    <a href="#" class="btn btn-link">About Us</a>
                    <a href="#" class="btn btn-link">Pricing</a>
                    <a href="#" class="btn btn-link">Listing Categories</a>
                    <a href="#" class="btn btn-link">Privacy Policy</a>
                    <a href="#" class="btn btn-link">Terms Of Conditions</a>
                    <a href="#" class="btn btn-link">Blog</a>
                    <a href="#" class="btn btn-link">Contact Us</a>
                    <a href="#" class="btn btn-link">Premium Ad</a>
                </div>
            </div>
        </div>
        <div class="bg-dark-purple text-white-50 p-3">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-lg-12 col-sm-12  mt-2 mb-2 text-center ">
                        Copyright © 2020 <a href="#" class="fs-14 text-secondary">FBPIDI</a>. Designed & Develop by <a
                            href="https://www.melfantech.com" class="fs-14 text-secondary">Melfan Tech</a> All rights reserved.
                    </div>
                    <div class="col-lg-12 col-sm-12 text-center mb-2 mt-2">
                        <ul class="social-icons mb-0">
                            <li>
                                <a class="social-icon" href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a class="social-icon" href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a class="social-icon" href=""><i class="fa fa-rss"></i></a>
                            </li>
                            <li>
                                <a class="social-icon" href=""><i class="fa fa-youtube"></i></a>
                            </li>
                            <li>
                                <a class="social-icon" href=""><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a class="social-icon" href=""><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</section>
<!--Footer Section-->
<!-- Back to top -->
<a href="#top" id="back-to-top"><i class="fa fa-rocket"></i></a>


<!-- subscribe script -->
<script>
    function subscribe()
    {
        email_field =document.getElementById('email_field')
        function canceldiv(){
            $("#subscribtion_message_div").hide()
        }
        function showdiv(message){
            $("#subscribtion_message").innerHTML = message
            $("#subscribtion_message_div").show();
           
        }
        if (email_field.value !="" && email_field.value.toString().includes('@')){
            window.alert("We will try to send you an email for verification!")
            fetch("{% url 'subscribe' %}",
            {
                method:"POST",
                credentials: 'same-origin',
                headers:{
                    "content-Type":'application/json',
                    'X-CSRFToken':'{{csrf_token}}'
                },
                body:JSON.stringify({
                    'email': email_field.value,
                    
                })
            }
            ).then(e => e.json()).then(result=>{
                showdiv(result['message'])
                    window.alert(result['message'])
                    document.getElementById('email_field').value = ""             
                }); 
        }
        else{
            
            window.alert("Please enter a valid email address, containing '@'!")
        }
    }
    
</script>
<!-- Start of Script for unread messages  -->
<script>
    
        setInterval( check_inbox, 2000 );
    
    
    function check_inbox(){
        if ("{{user.is_authenticated}}"=="True")
            fetch( "{% url 'list_unread_messages'  %}").then(e=>e.json()).then(data =>
            {   num_unread_messages = data['num']
                if (num_unread_messages > 0)
                    document.getElementById("num_unread_messages").innerHTML = num_unread_messages
                 // first clear the list area 
                document.getElementById('list_of_senders').innerHTML = "";
                for (unread_message of data['unread_messages']){
                    append_unread_messages(unread_message);
                }
            });
        }


    function append_unread_messages(message_obj){
        
    var li_item = document.createElement('li');
    li_item.id = message_obj.content;
    var li_card_item = document.createElement('div');
    li_card_item.className = "card card-body "
    li_card_item.style['padding']="5px";
    li_card_item.style['margin']="0px 0px 5px";
    
        var img_div = document.createElement('div');
            var image_anchor = document.createElement('a');
                var image_item = document.createElement('img');

            var chat_div = document.createElement('div');
                    var name_anch = document.createElement('a');
                    var count_area = document.createElement('p');
        var time_area = document.createElement('small');           
          
//    ######################## setting values
            image_item.src = message_obj.sender_image;
            image_item.className = "rounded-circle mr-2"
            image_item.width = "36";
            image_item.height = "36";
           
        image_anchor.href = "/chat/with/"+message_obj.sender_name+"/";
        image_anchor.style['display'] = 'inline'
        image_anchor.appendChild(image_item);

    img_div.style['display'] ='inline'
    img_div.appendChild(image_anchor)
        name_anch.href = "/chat/with/"+message_obj.sender_name+"/";
        name_anch.target = "blank";
        name_anch.className = "mr-3";
        name_anch.textContent = message_obj.sender_name;
        count_area.className = "badge bg-danger badge-pill ml-auto float-right";
        count_area.style['color'] = "white"
        count_area.textContent = message_obj.count;
        
    img_div.appendChild(name_anch) 
    img_div.appendChild(count_area)
    
    time_area.textContent = message_obj.time;
    time_area.className = "text-muted float-right font-size-sm";

    chat_div.className = "media-body";
    chat_div.appendChild(time_area);
    
    li_card_item.appendChild(img_div);
    li_card_item.appendChild(chat_div)
    li_item.className = "media";
    li_item.appendChild(li_card_item);
    
    ul_item =document.getElementById('list_of_senders')
    ul_item.appendChild(li_item);

}


</script>
<!-- End of Script for unread message  -->




<!-- start of script for cart for customer users only -->
<script>
fetch_products()

// check to see if other pages have changed the value of our cart
// the product_contact_now is available only inside the product listing webpage 
if(document.getElementById("product_contact_now"))
    setInterval(set_inquiry_display,2000)

function set_inquiry_display(){
    if (count_products() > 0)
        {
        document.getElementById("num_of_inquiry").innerHTML = count_products()
        document.getElementById("btn_send_inquiry").style['display'] = "block"
        document.getElementById("btn_clear_cart").style['display'] = "block"
        // set the products input value, so that when the Send Inquiry button is clicked it will be passed to the get view
        document.getElementById("list_of_prod_ids").value = localStorage.getItem("prods")
        // disable the "Add to Cart" button for selected products
        if ( document.getElementById('product_contact_now' ))
            {
                let selected_ids = get_int_ids(localStorage.getItem('prods'))
                selected_ids.forEach(i => {
                    buttons = document.getElementsByName('prod_'+i)
                    buttons.forEach(b=>{b.disabled = true})
                })
            }
        }

    else{
        document.getElementById("num_of_inquiry").innerHTML = ""
        // set the cart listing to empty
        document.getElementById('inquiry_list').innerHTML = "";
        document.getElementById("btn_send_inquiry").style['display'] = "none"
        document.getElementById("btn_clear_cart").style['display'] = "none"
        document.getElementById("list_of_prod_ids").value = ""
         }
}


function count_products(){
    if(localStorage.getItem("prods") == null || localStorage.getItem("prods")=="")
        return 0
    else
        return localStorage.getItem("prods").match(/,/g || []).length;           
}


// converts the string ids to an array or product ids
function get_int_ids(str_ids)
{  
        let prod_ids = str_ids.split(",");
        // since the last element of the string ids will be ',' like "1, 34, 23, ": we need to cut it off from the string by using pop()
        let x = prod_ids.pop()
        let int_ids = [] 
        prod_ids.forEach(i =>{int_ids.push (parseInt(i)) })
        return int_ids
}


function clear_cart(){
    // remove the product ids from cart
    if ( document.getElementById('product_contact_now' ))
            {
                let selected_ids = get_int_ids(localStorage.getItem('prods'))
                selected_ids.forEach(i => {enable_buttons('prod_'+i)})
            }
        
    localStorage.removeItem('prods')
    set_inquiry_display()
}

function remove_prod_from_cart(p_id){
    let cart_ids = localStorage.getItem('prods')
    let prod_id = p_id.toString()+","
    localStorage.setItem('prods', cart_ids.replace(prod_id, ''))
    fetch_products()
    // if this function is called inside product list webpage refresh the view
    enable_buttons('prod_'+p_id)
}

function enable_buttons(button_name){
    buttons = document.getElementsByName(button_name)
    buttons.forEach(b=>{b.disabled = false })
}

function  disable_buttons(button_name){
    buttons = document.getElementsByName(button_name)
    buttons.forEach(b=>{b.disabled = true})
}

function add_to_cart(product_id){
    if("{{user.is_authenticated}}"=="True"){
            if(localStorage.getItem("prods") == null)
                localStorage.setItem("prods",product_id+",")   
            else{ 
                var p = localStorage.getItem("prods")+product_id+","
                localStorage.setItem("prods", p) ;
                // then disable the Add to Basket for that specific product
                disable_buttons('prod_'+product_id)
            }
            fetch_products();
        }
    else{
        fetch("accounts/login/?next=/product/fetch_inquiry_products/ ")
    }
}

function fetch_products(){
   
    if(count_products() > 0){
        fetch("{% url 'fetch_inquiry_products'  %}",
            {
                method:"POST",
                credentials: 'same-origin',
                headers:{
                    "content-Type":'application/json',
                    'X-CSRFToken':'{{csrf_token}}'
                },
                body:JSON.stringify({
                    'products': localStorage.getItem("prods"),
                })
            }
           ).then(e => e.json()).then(result=>{
                   
                    // first clear the ul item
                    document.getElementById('inquiry_list').innerHTML = "";
                    result.forEach(element => {
                        append_product_cart(element)
                    });
                    
                    // we need to refresh the inquiry display when ever we call fetch products,
                               
                });
        }
    
        set_inquiry_display()

       
}
           
function append_product_cart(product){
   
    var li_item = document.createElement('li');
    var li_card_item = document.createElement('div');
    li_card_item.className = "card card-body "
    li_card_item.style['padding']="5px";
    li_card_item.style['margin']="0px 0px 5px";
    
        var img_div = document.createElement('div');
            var image_anchor = document.createElement('a');
                var image_item = document.createElement('img');

            var prod_div = document.createElement('div');
                    var name_anch = document.createElement('a');
                    var remove_btn = document.createElement('button');
             
          
//    ######################## setting values
            image_item.src = product.image;
            image_item.className = "mr-2"
            image_item.width = "40";
            image_item.height = "40";
           
        // image_anchor.href = "/chat/with/"+message_obj.sender_name+"/";
        image_anchor.style['display'] = 'inline'
        image_anchor.appendChild(image_item);

        img_div.style['display'] ='inline'
        img_div.appendChild(image_anchor)
        // name_anch.href = "/product/"+message_obj.sender_name+"/";
        name_anch.target = "blank";
        name_anch.className = "mr-3";
        name_anch.textContent = product.name;
        remove_btn.className = "icon-trash badge bg-danger badge-pill ml-auto float-right";
        remove_btn.style['color'] = "white"
        remove_btn.textContent = "R";
        remove_btn.addEventListener("click", function (){
            remove_prod_from_cart(product.id)
            }
        )
        
    img_div.appendChild(name_anch) 
    img_div.appendChild(remove_btn)
    
    prod_div.className = "media-body";
    
    li_card_item.appendChild(img_div);
    li_card_item.appendChild(prod_div)
    li_item.className = "media";
    li_item.appendChild(li_card_item);
    
    ul_item =document.getElementById('inquiry_list')
    ul_item.appendChild(li_item);

}

</script>
<!-- End of Script for cart -->


<!-- Start of Product Like Script -->


<!-- JQuery js-->
<script src="/static/frontpages/js/vendors/jquery-3.2.1.min.js"></script>

<!-- Bootstrap js -->
<script src="/static/frontpages/plugins/bootstrap-4.4.1-dist/js/popper.min.js"></script>
<script src="/static/frontpages/plugins/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>

<!--JQuery Sparkline Js-->
<script src="/static/frontpages/js/vendors/jquery.sparkline.min.js"></script>

<!-- Circle Progress Js-->
<script src="/static/frontpages/js/vendors/circle-progress.min.js"></script>

<!-- Star Rating Js-->
<script src="/static/frontpages/plugins/rating/jquery.rating-stars.js"></script>

<!--Counters -->
<script src="/static/frontpages/plugins/counters/counterup.min.js"></script>
<script src="/static/frontpages/plugins/counters/waypoints.min.js"></script>
<script src="/static/frontpages/plugins/counters/numeric-counter.js"></script>

<!--Owl Carousel js -->
<script src="/static/frontpages/plugins/owl-carousel/owl.carousel.js"></script>
<script src="/static/frontpages/js/owl-carousel.js"></script>

<!--Horizontal Menu-->
<script src="/static/frontpages/plugins/horizontal/horizontal-menu/horizontal.js"></script>

<!--JQuery TouchSwipe js-->
<script src="/static/frontpages/js/jquery.touchSwipe.min.js"></script>

<!--Select2 js -->
<script src="/static/frontpages/plugins/select2/select2.full.min.js"></script>
<script src="/static/frontpages/js/select2.js"></script>

<!-- sticky Js-->
<script src="/static/frontpages/js/sticky.js"></script>

<!-- Cookie js -->
<script src="/static/frontpages/plugins/cookie/jquery.ihavecookies.js"></script>
<script src="/static/frontpages/plugins/cookie/cookie.js"></script>

<!--Auto Complete js -->
<script src="/static/frontpages/plugins/autocomplete/jquery.autocomplete.js"></script>
<script src="/static/frontpages/plugins/autocomplete/autocomplete.js"></script>

<!-- Custom scroll bar Js-->
<script src="/static/frontpages/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- Swipe Js-->
<script src="/static/frontpages/js/swipe.js"></script>

<!-- Scripts Js-->
<script src="/static/frontpages/js/scripts2.js"></script>

<!-- Custom Js-->
<script src="/static/frontpages/js/custom.js"></script>




</body>
</html>
