{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags %}
{% block extrastyle %}
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/inputs/inputmask.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/validation/validate.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/inputs/duallistbox/duallistbox.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_dual_listboxes.js"></script>
{% endblock %}
{%block pagename%}FAQS {%endblock%}
{%block content%}
	<div class='content'>
			<form action="" method="POST">
					
					{{form.errors}}{{form_am.errors}}
                    {%csrf_token%}
                    
					<div class="form-group row">
						<div class="col-lg-9">
							{{form.title}}
						</div>
					</div>
					<div class="form-group row">
						<div class="col-lg-9">
							{{form.title_am}}
						</div>
					</div>

					<div class="form-group row">
						<div class="col-lg-9">
							{{form.description}}
						</div>
					</div>
					 
					<div class="form-group row">
						<div class="col-lg-9">
							{{form.description_am}}
						</div>
					</div>

					

				<div class="text-right">
					<button style="padding-left: 10%; padding-right: 10%;" type="submit" class="btn btn-primary rounded-round">Submit </button>
				</div>
			</form>
		</div>

			</div>
{%endblock%}