{%extends 'frontpages/layout.html'%}

{%block content%}
		<!--Breadcrumb-->
		<section>
			<div class="bannerimg cover-image bg-background3" data-image-src="/static/frontpages/images/banners/banner2.jpg">
				<div class="header-text mb-0">
					<div class="container">
						<div class="text-center text-white">
							<h1 class="">Pricing</h1>
							<ol class="breadcrumb text-center">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item"><a href="#">Pages</a></li>
								<li class="breadcrumb-item active text-white" aria-current="page">Pricing</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Breadcrumb-->

		<!--Pricing Tables 1-->
		<div class="sptb">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-md-6 col-sm-12 col-lg-3">
						<div class="pricingTable2 pink">
							<div class="pricingTable2-header">
								<h3>Free</h3>
								<span>Lorem ipsum dolor</span>
							</div>
							<div class="pricing-plans">
								<span class="price-value1"><i class="fa fa-usd"></i><span>0.00</span></span>
								<span class="month">/month</span>
							</div>
							<div class="pricingContent2">
								<ul>
									<li><b>Free</b> Ad posting</li>
									<li><b>0</b> Featured Listings</li>
									<li><b>100%</b> Secure</li>
									<li><b>Custome</b> Reviews</li>
									<li><b>24/7</b> Support</li>
								</ul>
							</div><!-- CONTENT BOX-->
							<div class="pricingTable2-sign-up">
								<a href="#" class="btn btn-block btn-secondary">sign up</a>
							</div><!-- BUTTON BOX-->
						</div>
					</div>
					<div class="col-xl-3 col-md-6 col-sm-12 col-lg-3">
						<div class="pricingTable2 blue">
							<div class="pricingTable2-header">
								<h3>Premium</h3>
								<span>Lorem ipsum dolor</span>
							</div>
							<div class="pricing-plans">
								<span class="price-value1"><i class="fa fa-usd"></i><span>19</span></span>
								<span class="month">/month</span>
							</div>
							<div class="pricingContent2">
								<ul>
									<li><b>Featured</b> Ad posting</li>
									<li><b>20</b> Featured Listings</li>
									<li><b>100%</b> Secure</li>
									<li><b>Custome</b> Reviews</li>
									<li><b>24/7</b> Support</li>
								</ul>
							</div><!-- CONTENT BOX-->
							<div class="pricingTable2-sign-up">
								<a href="#" class="btn btn-block btn-primary">sign up</a>
							</div><!-- BUTTON BOX-->
						</div>
					</div>
					<div class="col-xl-3 col-md-6 col-sm-12 col-lg-3">
						<div class="pricingTable2 green">
							<div class="pricingTable2-header">
								<h3>Silver</h3>
								<span>Lorem ipsum dolor</span>
							</div>
							<div class="pricing-plans">
								<span class="price-value1"><i class="fa fa-usd"></i><span>67</span></span>
								<span class="month">/month</span>
							</div>
							<div class="pricingContent2">
								<ul>
									<li><b>Featured</b> Ad posting</li>
									<li><b>30</b> Featured Listings</li>
									<li><b>100%</b> Secure</li>
									<li><b>Custome</b> Reviews</li>
									<li><b>24/7</b> Support</li>
								</ul>
							</div><!-- CONTENT BOX-->
							<div class="pricingTable2-sign-up">
								<a href="#" class="btn btn-block btn-success">sign up</a>
							</div><!-- BUTTON BOX-->
						</div>
					</div>
					<div class="col-xl-3 col-md-6 col-sm-12 col-lg-3">
						<div class="pricingTable2 info">
							<div class="pricingTable2-header">
								<h3>Gold</h3>
								<span>Lorem ipsum dolor</span>
							</div>
							<div class="pricing-plans">
								<span class="price-value1"><i class="fa fa-usd"></i><span>78</span></span>
								<span class="month">/month</span>
							</div>
							<div class="pricingContent2">
								<ul>
									<li><b>Featured</b> Ad posting</li>
									<li><b>40</b> Featured Listings</li>
									<li><b>100%</b> Secure</li>
									<li><b>Custome</b> Reviews</li>
									<li><b>24/7</b> Support</li>
								</ul>
							</div><!-- CONTENT BOX-->
							<div class="pricingTable2-sign-up">
								<a href="#" class="btn btn-block btn-info">sign up</a>
							</div><!-- BUTTON BOX-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/Pricing Tables 1-->

		<!--Pricing Tables 2-->
		<section class="sptb bg-white">
			<div class="container">
				<div class="section-title center-block text-center">
					<h2>Another Pricing</h2>
					<p>Mauris ut cursus nunc. Morbi eleifend, ligula at consectetur vehicula</p>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-xl-3 col-md-6 col-sm-12 col-lg-3">
							<div class="pricingTable2">
								<div class="bg-secondary pt-4 pb-8 price-value">
									<div class="pricingTable2-header p-0 pb-3 bg-secondary">
										<h3 class="text-white">Free</h3>
									</div>
									<div class="pricing-plans p-0">
										<span class="price-value1"><i class="fa fa-usd"></i><span>0</span></span>
										<span class="month">/month</span>
									</div>
									<div class="price-icon bg-secondary"><i class="fa fa-home"></i> </div>
								</div>
								<div class="pricingContent2 pt-7 price-value-content">
									<ul>
										<li><i class="fe fe-check text-success mr-2"></i><b>1 Year</b> Duration</li>
										<li><i class="fe fe-check text-success mr-2"></i><b>Email</b> Display</li>
										<li><i class="fe fe-check text-success mr-2"></i><b>Phone Number</b> Display</li>
										<li><i class="fe fe-x text-danger mr-2"></i><b>Fax</b> Display</li>
										<li><i class="fe fe-check text-success mr-2"></i><b>Website</b> Display</li>
										<li><i class="fe fe-check text-success mr-2"></i><b>24/7</b> Support</li>
									</ul>
								</div><!-- CONTENT BOX-->
								<div class="pricingTable2-sign-up">
									<a href="#" class="btn btn-block btn-secondary">sign up</a>
								</div><!-- BUTTON BOX-->
							</div>
						</div>
						<div class="col-xl-3 col-md-6 col-sm-12 col-lg-3">
							<div class="pricingTable2">
								<div class="bg-primary pt-4 pb-8 price-value">
									<div class="pricingTable2-header p-0 pb-3 bg-primary">
										<h3 class="text-white">Premium</h3>
									</div>
									<div class="pricing-plans p-0">
										<span class="price-value1"><i class="fa fa-usd"></i><span>19</span></span>
										<span class="month">/month</span>
									</div>
									<div class="price-icon bg-primary"><i class="fa fa-thumbs-up"></i> </div>
								</div>
								<div class="pricingContent2 pt-7 price-value-content">
									<ul>
										<li><i class="fe fe-check text-success mr-2"></i><b>1 Year</b> Duration</li>
										<li><i class="fe fe-check text-success mr-2"></i><b>Email</b> Display</li>
										<li><i class="fe fe-check text-success mr-2"></i><b>Phone Number</b> Display</li>
										<li><i class="fe fe-check text-success mr-2"></i><b>Fax</b> Display</li>
										<li><i class="fe fe-x text-danger mr-2"></i><b>Website</b> Display</li>
										<li><i class="fe fe-check text-success mr-2"></i><b>24/7</b> Support</li>
									</ul>
								</div><!-- CONTENT BOX-->
								<div class="pricingTable2-sign-up">
									<a href="#" class="btn btn-block btn-primary">sign up</a>
								</div><!-- BUTTON BOX-->
							</div>
						</div>
						<div class="col-xl-3 col-md-6 col-sm-12 col-lg-3">
							<div class="pricingTable2">
								<div class="bg-info pt-4 pb-8 price-value">
									<div class="pricingTable2-header p-0 pb-3 bg-info">
										<h3 class="text-white">Silver</h3>
									</div>
									<div class="pricing-plans p-0">
										<span class="price-value1"><i class="fa fa-usd"></i><span>25</span></span>
										<span class="month">/month</span>
									</div>
									<div class="price-icon bg-info"><i class="fa fa-trophy"></i> </div>
								</div>
								<div class="pricingContent2 pt-7 price-value-content">
									<ul>
										<li><i class="fe fe-check text-success mr-2"></i><b>1 Year</b> Duration</li>
										<li><i class="fe fe-check text-success mr-2"></i><b>Email</b> Display</li>
										<li><i class="fe fe-check text-success mr-2"></i><b>Phone Number</b> Display</li>
										<li><i class="fe fe-check text-success mr-2"></i><b>Fax</b> Display</li>
										<li><i class="fe fe-check text-success mr-2"></i><b>Website</b> Display</li>
										<li><i class="fe fe-check text-success mr-2"></i><b>24/7</b> Support</li>
									</ul>
								</div><!-- CONTENT BOX-->
								<div class="pricingTable2-sign-up">
									<a href="#" class="btn btn-block btn-info">sign up</a>
								</div><!-- BUTTON BOX-->
							</div>
						</div>
						<div class="col-xl-3 col-md-6 col-sm-12 col-lg-3">
							<div class="pricingTable2">
								<div class="bg-success pt-4 pb-8 price-value">
									<div class="pricingTable2-header p-0 pb-3 bg-success">
										<h3 class="text-white">Gold</h3>
									</div>
									<div class="pricing-plans p-0">
										<span class="price-value1"><i class="fa fa-usd"></i><span>40</span></span>
										<span class="month">/month</span>
									</div>
									<div class="price-icon bg-success"><i class="fa fa-diamond"></i> </div>
								</div>
								<div class="pricingContent2 pt-7 price-value-content">
									<ul>
										<li><i class="fe fe-check text-success mr-2"></i><b>1 Year</b> Duration</li>
										<li><i class="fe fe-check text-success mr-2"></i><b>Email</b> Display</li>
										<li><i class="fe fe-check text-success mr-2"></i><b>Phone Number</b> Display</li>
										<li><i class="fe fe-check text-success mr-2"></i><b>Fax</b> Display</li>
										<li><i class="fe fe-check text-success mr-2"></i><b>Website</b> Display</li>
										<li><i class="fe fe-check text-success mr-2"></i><b>24/7</b> Support</li>
									</ul>
								</div><!-- CONTENT BOX-->
								<div class="pricingTable2-sign-up">
									<a href="#" class="btn btn-block btn-success">sign up</a>
								</div><!-- BUTTON BOX-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Pricing Tables 2-->

		<!--  Pricing Tables -->
		<section class="pricingtables combination-pricing sptb">
			<div class="container">
				<div class="section-title center-block text-center">
					<h2>Pricing Table</h2>
					<p>Mauris ut cursus nunc. Morbi eleifend, ligula at consectetur vehicula</p>
				</div>
				<div class="row no-gutters">
					<div class="col-md-8 col-lg-3 margin-top-30 left-price sitelock">
						<div class="panel panel-info">
							<div class="panel-heading"></div>
							<div class="panel-body text-center"></div>
							<ul class="text-left">
								<li><a href="#"> Duration</a></li>
								<li><a href="#"> Display Email</a></li>
								<li><a href="#"> Display Phone Number</a></li>
								<li><a href="#"> Display Fax</a></li>
								<li><a href="#"> Display Website</a></li>
								<li><a href="#"> Display Video Link</a></li>
								<li><a href="#"> Display Map</a></li>
								<li><a href="#"> Display Address</a></li>
								<li><a href="#"> Display Logo</a></li>
								<li><a href="#"> Thumbnails</a></li>
								<li><a href="#"> Display Description</a></li>
								<li><a href="#"> Keywords</a></li>
								<li><a href="#"> Inquiries</a></li>
								<li><a href="#"> Categories</a></li>
								<li><a href="#"> Display Rating Button</a></li>
								<li><a href="#"> Display Inquires Button</a></li>
								<li><a href="#"> Reviews</a></li>
							</ul>
							<div class="panel-footer"></div>
						</div>
					</div>
					<div class="col-md-4 col-lg margin-top-30 most-popular border-left">
						<div class="panel panel-info">
							<div class="panel-heading text-center py-4">
								<h3 class="mb-0">Free</h3>
							</div>
							<div class="px-4 py-6 text-center bg-secondary text-white">
								<div class="pricer-value">
									<h4 class="mb-0 text-white">$ <span>0</span> /Year</h4>
								</div>
							</div>
							<ul class="text-center">
								<li>1 year <div class="d-block d-md-none"> Duration</div></li>
								<li><i class="fe fe-check text-success"></i> <div class="d-block d-md-none"> Display Email</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Phone Number</div></li>
								<li><i class="fe fe-x text-danger"></i><div class="d-block d-md-none"> Display Fax</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Website</div></li>
								<li><i class="fe fe-x text-danger"></i><div class="d-block d-md-none"> Display Video Link</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Map</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Address</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Logo</div></li>
								<li>0<div class="d-block d-md-none"> Thumbnails</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Description</div></li>
								<li>3<div class="d-block d-md-none"> Keywords</div></li>
								<li>2<div class="d-block d-md-none"> Inquiries</div></li>
								<li>2<div class="d-block d-md-none"> Categories</div></li>
								<li><i class="fe fe-x text-danger"></i><div class="d-block d-md-none"> Display Rating Button</div></li>
								<li><i class="fe fe-x text-danger"></i><div class="d-block d-md-none"> Display Inquires Button</div></li>
								<li><i class="fe fe-x text-danger"></i><div class="d-block d-md-none"> Reviews</div></li>
							</ul>
							<div class="p-4 text-center border-top">
								<a class="btn btn-pill btn-secondary" href="#">Buy NOW</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-lg margin-top-30 most-popular">
						<div class="panel panel-info">
							<div class="panel-heading text-center py-4">
								<h3 class="mb-0">Premium</h3>
							</div>
							<div class="px-4 py-6 text-center bg-primary text-white">
								<div class="pricer-value">
									<h4 class="mb-0 text-white">$ <span>19</span> /Year</h4>
								</div>
							</div>
							<ul class="text-center">
								<li>1 year <div class="d-block d-md-none"> Duration</div></li>
								<li><i class="fe fe-check text-success"></i> <div class="d-block d-md-none"> Display Email</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Phone Number</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Fax</div></li>
								<li><i class="fe fe-x text-danger"></i><div class="d-block d-md-none"> Display Website</div></li>
								<li><i class="fe fe-x text-danger"></i><div class="d-block d-md-none"> Display Video Link</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Map</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Address</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Logo</div></li>
								<li>0<div class="d-block d-md-none"> Thumbnails</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Description</div></li>
								<li>3<div class="d-block d-md-none"> Keywords</div></li>
								<li>2<div class="d-block d-md-none"> Inquiries</div></li>
								<li>2<div class="d-block d-md-none"> Categories</div></li>
								<li><i class="fe fe-x text-danger"></i><div class="d-block d-md-none"> Display Rating Button</div></li>
								<li><i class="fe fe-x text-danger"></i><div class="d-block d-md-none"> Display Inquires Button</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Reviews</div></li>
							</ul>
							<div class="p-4 text-center border-top">
								<a class="btn btn-pill btn-primary" href="#">Buy NOW</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-lg margin-top-30 most-popular">
						<div class="panel panel-info">
							<div class="panel-heading text-center py-4">
								<h3 class="mb-0">Silver</h3>
							</div>
							<div class="px-4 py-6 text-center bg-success text-white">
								<div class="pricer-value">
									<h4 class="mb-0 text-white">$ <span>25</span> /Year</h4>
								</div>
							</div>
							<ul class="text-center">
								<li>2 years <div class="d-block d-md-none"> Duration</div></li>
								<li><i class="fe fe-check text-success"></i> <div class="d-block d-md-none"> Display Email</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Phone Number</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Fax</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Website</div></li>
								<li><i class="fe fe-x text-danger"></i><div class="d-block d-md-none"> Display Video Link</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Map</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Address</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Logo</div></li>
								<li>0<div class="d-block d-md-none"> Thumbnails</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Description</div></li>
								<li>3<div class="d-block d-md-none"> Keywords</div></li>
								<li>2<div class="d-block d-md-none"> Inquiries</div></li>
								<li>2<div class="d-block d-md-none"> Categories</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Rating Button</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Inquires Button</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Reviews</div></li>
							</ul>
							<div class="p-4 text-center border-top">
								<a class="btn btn-pill btn-success" href="#">Buy NOW</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-lg margin-top-30 most-popular">
						<div class="panel panel-info">
							<div class="panel-heading text-center py-4">
								<h3 class="mb-0">Gold</h3>
							</div>
							<div class="px-4 py-6 text-center bg-info text-white">
								<div class="pricer-value">
									<h4 class="mb-0 text-white">$ <span>40</span> /Year</h4>
								</div>
							</div>
							<ul class="text-center">
								<li>2 years <div class="d-block d-md-none"> Duration</div></li>
								<li><i class="fe fe-check text-success"></i> <div class="d-block d-md-none"> Display Email</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Phone Number</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Fax</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Website</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Video Link</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Map</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Address</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Logo</div></li>
								<li>0<div class="d-block d-md-none"> Thumbnails</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Description</div></li>
								<li>3<div class="d-block d-md-none"> Keywords</div></li>
								<li>2<div class="d-block d-md-none"> Inquiries</div></li>
								<li>2<div class="d-block d-md-none"> Categories</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Rating Button</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Display Inquires Button</div></li>
								<li><i class="fe fe-check text-success"></i><div class="d-block d-md-none"> Reviews</div></li>
							</ul>
							<div class="p-4 text-center border-top">
								<a class="btn btn-pill btn-info" href="#">Buy NOW</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End of Pricing Tables -->

		<!-- Newsletter-->
		<section class="sptb border-top bg-white">
			<div class="container">
				<div class="section-title center-block text-center">
					<h2>Subscribe To Our Newsletter</h2>
					<p>Mauris ut cursus nunc. Morbi eleifend, ligula at consectetur vehicula</p>
				</div>
				<div class="row">
					<div class="col-lg-10 col-xl-8 col-md-12 mx-auto d-block text-center">
						<div class="input-group sub-input mt-0">
							<input type="text" class="form-control input-lg " placeholder="Enter your Email">
							<div class="input-group-append ">
								<button type="button" class="btn btn-secondary btn-lg br-tr-3 br-br-3 pl-5 pr-5">
									Subscribe
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Newsletter-->
{%endblock%}