{%extends 'frontpages/layout.html'%}
{%load i18n%}
{%load core_template_tags%} 
{%block content%}
{% get_current_language as LANGUAGE_CODE %}
		<!--Breadcrumb-->
		<section>
			<div class="bannerimg cover-image bg-background3" data-image-src="/static/frontpages/images/banners/banner2.jpg">
				<div class="header-text mb-0">
					<div class="container">
						<div class="text-center text-white">
							<h1 class="">{% trans "Vacancy" %} </h1>
							<ol class="breadcrumb text-center">
								{%if message %} 
									{{message}}
								{%endif%}
							</ol>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Breadcrumb-->

		<!--user dashboard-->
		<section class="sptb">
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-lg-3 col-md-3">
					</div>
					<div class="col-xl-9 col-lg-12 col-md-12">
						
								
								{% if messages %}
								{% for message in messages %}
								<div class="alert alert-warning" role="alert">
									<button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
									<span class="font-weight-semibold">{{message}}</span>
								</div>

								{% endfor %}
								{% endif %}
						
						</div>
				</div>
				<div class="row">

					<div class="col-xl-3 col-lg-12 col-md-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">{% trans "Categories" %}</h3>
							</div>
							{%for cat in category%}
							<div class="card-body p-0">
								<div class="list-catergory">
									<div class="item-list">
										<ul class="list-group mb-0">
											<li class="list-group-item">
												<a href="{%url 'vacancy_search' id=cat.id%}" class="text-dark">
													 {{cat}}
													<span class="badgetext badge badge-pill badge-light mb-0 mt-1">{{cat.countjobs}}</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							{%endfor%}
							
						</div> </div> 
								
						
							
					<div class="col-xl-9 col-lg-12 col-md-12">
						{%for vacancy in vacancys%}
						

						<div class="col-lg-12">

                            <div class="card position-relative">
                                <div class="card-header py-3">
                                	
                                    <h3 class="card-title">{% print_translated vacancy.job_title|safe vacancy.job_title_am|safe LANGUAGE_CODE%}</h3>
                                </div>
                                <div class="card-body">
                                    <div class="mb-3">
                                       <b>{% trans "cateory" %}</b>: <code>{{vacancy.category|safe}}</code>
                                    </div>
                                    <div class="mb-3">
                                    <b>{% trans "Employee Type" %}</b>:{{vacancy.employement_type}}</div>
                                    <div class="mb-4">

                                    	<b>Campany</b>:{{vacancy.company}} 
										<a class="mr-2" style = " margin-left: 10px; margin-right: 10px;" target = "blank" href="/chat/with/{{vacancy.created_by.username}}/" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chat with staff"><i style = "color:blue;" class="fa fa-comments fa-"></i></a>
										
	
                                    </div>
                                    
								</div>
								
                                <div class="card-footer">
								<a href="{%url 'vacancy_detail' id=vacancy.id%}" class="btn btn-secondary">{% trans "View job details" %}</a>
								<a href="{%url 'applications'  model_name='Vacancy' id=vacancy.id%}" class="btn btn-secondary">{% trans "Apply" %}</a>
							</div>
                            </div>

                        </div>
						{%endfor%}
						 


					</div>
				</div>
			</div>
		</section>

		<!-- Newsletter-->
		<section class="sptb border-top bg-white">
			<div class="container">
				<div class="section-title center-block text-center">
					<h2>Subscribe To Our Newsletter</h2>
					<p>Mauris ut cursus nunc. Morbi eleifend, ligula at consectetur vehicula</p>
				</div>
				<div class="row">
					<div class="col-lg-10 col-xl-8 col-md-12 mx-auto d-block text-center">
						<div class="input-group sub-input mt-0">
							<input type="text" class="form-control input-lg " placeholder="Enter your Email">
							<div class="input-group-append ">
								<button type="button" class="btn btn-secondary btn-lg br-tr-3 br-br-3 pl-5 pr-5">
									Subscribe
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Newsletter-->
{%endblock%}