{%extends 'frontpages/layout.html'%}

{%block content%}
		<!--Breadcrumbs Section-->
		<div class="bannerimg cover-image bg-background3" data-image-src="/static/frontpages/images/banners/banner2.jpg">
			<div class="header-text mb-0">
				<div class="container">
					<div class="text-center text-white ">
						<h1 class="">Widgets Vertical Scroll</h1>
						<ol class="breadcrumb text-center">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active text-white" aria-current="page">Widgets Vertical Scroll</li>
						</ol>
					</div>
				</div>
			</div>
		</div>

		<div class="sptb">
			<div class="container">
				<h3 class="widget-title mt-6 fs-16">Vertical Scroll Styles</h3>
				<hr class="widget-hr">
				<div class="row">
					<div class="col-lg-4">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Recent</h3>
							</div>
							<div class="card-body pb-3">
								<ul class="vertical-scroll">
									<li class="item">
										<div class="p-3">
											<div class="mb-2"><a href="faq.html"><span class="fs-14"><i class="fa fa-question-circle-o" aria-hidden="true"></i> How Can I Add another page in Template?</span></a></div>
											<span class="badge badge-secondary"><i class="fa fa-eye"></i> 522</span>
											<span class="badge badge-success"><i class="fa fa-thumbs-up"></i> 23</span>
										</div>
									</li>
									<li class="item">
										<div class="p-3">
											<div class="mb-2"><a href="faq.html"><span class="fs-14"><i class="fa fa-question-circle-o" aria-hidden="true"></i> Move Detials From One Page to Another Page?</span></a></div>
											<span class="badge badge-secondary"><i class="fa fa-eye"></i> 652</span>
											<span class="badge badge-success"><i class="fa fa-thumbs-up"></i> 54</span>
										</div>
									</li>
									<li class="item">
										<div class="p-3">
											<div class="mb-2"><a href="faq.html"><span class="fs-14"><i class="fa fa-question-circle-o" aria-hidden="true"></i> How Can I Change My Details of My Post Add?</span></a></div>
											<span class="badge badge-secondary"><i class="fa fa-eye"></i> 147</span>
											<span class="badge badge-success"><i class="fa fa-thumbs-up"></i> 14</span>
										</div>
									</li>
									<li class="item">
										<div class="p-3">
											<div class="mb-2"><a href="faq.html"><span class="fs-14">Can I use this Plugins in Another Template?</span></a></div>
											<span class="badge badge-secondary"><i class="fa fa-eye"></i> 965</span>
											<span class="badge badge-success"><i class="fa fa-thumbs-up"></i> 35</span>
										</div>
									</li>
									<li class="item">
										<div class="p-3">
											<div class="mb-2"><a href="faq.html"><span class="fs-14">How can I Delete My Free Advertisement in website?</span></a></div>
											<span class="badge badge-secondary"><i class="fa fa-eye"></i> 654</span>
											<span class="badge badge-success"><i class="fa fa-thumbs-up"></i> 17</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="card mb-lg-0">
							<div class="card-header">
								<h3 class="card-title">Benefits Of Premium Ad</h3>
							</div>
							<div class="card-body p-0">
								<ul class="list-unstyled widget-spec vertical-scroll mb-0">
									<li>
										<i class="fa fa-check text-success" aria-hidden="true"></i>Premium listings Active
									</li>
									<li>
										<i class="fa fa-check text-success" aria-hidden="true"></i>Premium listings are displayed on top
									</li>
									<li>
										<i class="fa fa-check text-success" aria-hidden="true"></i>Premium listings will be Show in Google results
									</li>
									<li>
										<i class="fa fa-check text-success" aria-hidden="true"></i>Premium listings Active
									</li>
									<li>
										<i class="fa fa-check text-success" aria-hidden="true"></i>Premium listings are displayed on top
									</li>
									<li>
										<i class="fa fa-check text-success" aria-hidden="true"></i>Premium listings will be Show in Google results
									</li>
									<li>
										<i class="fa fa-check text-success" aria-hidden="true"></i>Premium listings Active
									</li>
									<li>
										<i class="fa fa-check text-success" aria-hidden="true"></i>Premium listings are displayed on top
									</li>
									<li>
										<i class="fa fa-check text-success" aria-hidden="true"></i>Premium listings will be Show in Google results
									</li>
									<li>
										<i class="fa fa-check text-success" aria-hidden="true"></i>Premium listings Active
									</li>
									<li>
										<i class="fa fa-check text-success" aria-hidden="true"></i>Premium listings are displayed on top
									</li>
									<li>
										<i class="fa fa-check text-success" aria-hidden="true"></i>Premium listings will be Show in Google results
									</li>
									<li>
										<i class="fa fa-check text-success" aria-hidden="true"></i>Premium listings Active
									</li>
									<li>
										<i class="fa fa-check text-success" aria-hidden="true"></i>Premium listings are displayed on top
									</li>
									<li>
										<i class="fa fa-check text-success" aria-hidden="true"></i>Premium listings will be Show in Google results
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Blog Authors</h3>
							</div>
							<div class="card-body p-0">
								<ul class="vertical-scroll">
									<li class="item2">
										<div class="footerimg d-flex mt-0 mb-0">
											<div class="d-flex footerimg-l mb-0">
												<img src="/static/frontpages/images/faces/female/18.jpg" alt="image" class="avatar brround  mr-2">
												<a href="#" class="time-title p-0 leading-normal mt-2">Boris	Nash <i class="icon icon-check text-success fs-12 ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="verified"></i></a>
											</div>
											<div class="mt-2 footerimg-r ml-auto">
												<a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Articles"><span class="text-muted mr-2"><i class="fa fa-comment-o"></i> 16</span></a>
												<a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Likes"><span class="text-muted"><i class="fa fa-thumbs-o-up"></i> 36</span></a>
											</div>
										</div>
									</li>
									<li class="item2">
										<div class="footerimg d-flex mt-0 mb-0">
											<div class="d-flex footerimg-l mb-0">
												<img src="/static/frontpages/images/faces/female/10.jpg" alt="image" class="avatar brround  mr-2">
												<a href="#" class="time-title p-0 leading-normal mt-2">Lorean Mccants <i class="icon icon-check text-success fs-12 ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="verified"></i></a>
											</div>
											<div class="mt-2 footerimg-r ml-auto">
												<a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Articles"><span class="text-muted mr-2"><i class="fa fa-comment-o"></i> 43</span></a>
												<a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Likes"><span class="text-muted"><i class="fa fa-thumbs-o-up"></i> 23</span></a>
											</div>
										</div>
									</li>
									<li class="item2">
										<div class="footerimg d-flex mt-0 mb-0">
											<div class="d-flex footerimg-l mb-0">
												<img src="/static/frontpages/images/faces/male/18.jpg" alt="image" class="avatar brround  mr-2">
												<a href="#" class="time-title p-0 leading-normal mt-2">Dewitt Hennessey <i class="icon icon-check text-success fs-12 ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="verified"></i></a>
											</div>
											<div class="mt-2 footerimg-r ml-auto">
												<a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Articles"><span class="text-muted mr-2"><i class="fa fa-comment-o"></i> 34</span></a>
												<a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Likes"><span class="text-muted"><i class="fa fa-thumbs-o-up"></i> 12</span></a>
											</div>
										</div>
									</li>
									<li class="item2">
										<div class="footerimg d-flex mt-0 mb-0">
											<div class="d-flex footerimg-l mb-0">
												<img src="/static/frontpages/images/faces/male/8.jpg" alt="image" class="avatar brround  mr-2">
												<a href="#" class="time-title p-0 leading-normal mt-2">Archie Overturf <i class="icon icon-check text-success fs-12 ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="verified"></i></a>
											</div>
											<div class="mt-2 footerimg-r ml-auto">
												<a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Articles"><span class="text-muted mr-2"><i class="fa fa-comment-o"></i> 12</span></a>
												<a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Likes"><span class="text-muted"><i class="fa fa-thumbs-o-up"></i> 32</span></a>
											</div>
										</div>
									</li>
									<li class="item2">
										<div class="footerimg d-flex mt-0 mb-0">
											<div class="d-flex footerimg-l mb-0">
												<img src="/static/frontpages/images/faces/female/21.jpg" alt="image" class="avatar brround  mr-2">
												<a href="#" class="time-title p-0 leading-normal mt-2">Barbra Flegle <i class="icon icon-check text-success fs-12 ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="verified"></i></a>
											</div>
											<div class="mt-2 footerimg-r ml-auto">
												<a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Articles"><span class="text-muted mr-2"><i class="fa fa-comment-o"></i> 21</span></a>
												<a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Likes"><span class="text-muted"><i class="fa fa-thumbs-o-up"></i> 32</span></a>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Latest Jobs</h3>
							</div>
							<div class="card-body pb-3">
								<ul class="vertical-scroll">
									<li class="item">
										<div class="item-det card-body">
											<a href="#" class="text-dark"><h4 class="mb-2 fs-16 font-weight-semibold">Hard ware Engineer</h4></a>
											<small class="text-muted"><i class="si si-briefcase text-muted"></i> IT Hardware & Network Pvt ltd  <i class="si si-location-pin text-muted ml-3"></i> USA</small>
											<div class="icons mt-3 pb-0 ">
												<a href="#" class="btn btn-secondary btn-sm icons" data-toggle="modal" data-target="#apply"> Apply</a>
												<a href="#" class="btn btn-light btn-sm icons"> View Details</a>
											</div>
										</div>
									</li>
									<li class="item">
										<div class="item-det card-body">
											<a href="#" class="text-dark"><h4 class="mb-2 fs-16 font-weight-semibold">Web Developer</h4></a>
											<small class="text-muted"><i class="si si-briefcase text-muted"></i> Iactorne Pvt ltd  <i class="si si-location-pin text-muted ml-3"></i> USA</small>
											<div class="icons mt-3 pb-0 ">
												<a href="#" class="btn btn-secondary btn-sm icons" data-toggle="modal" data-target="#apply"> Apply</a>
												<a href="#" class="btn btn-light btn-sm icons"> View Details</a>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card mb-0">
							<div class="card-header">
								<h3 class="card-title">Similar Jobs</h3>
							</div>
							<div class="card-body pb-3">
								<ul class="vertical-scroll">
									<li class="item">
										<div class="item-det card-body">
											<a href="#" class="text-dark"><h4 class="mb-2 fs-16 font-weight-semibold">Hard ware Engineer</h4></a>
											<small class="text-muted"><i class="si si-briefcase text-muted"></i> IT Hardware & Network Pvt ltd  <i class="si si-location-pin text-muted ml-3"></i> USA</small>
											<div class="icons mt-3 pb-0 ">
												<a href="#" class="btn btn-secondary btn-sm icons" data-toggle="modal" data-target="#apply"> Apply</a>
												<a href="#" class="btn btn-light btn-sm icons"> View Details</a>
											</div>
										</div>
									</li>
									<li class="item">
										<div class="item-det card-body">
											<a href="#" class="text-dark"><h4 class="mb-2 fs-16 font-weight-semibold">Web Developer</h4></a>
											<small class="text-muted"><i class="si si-briefcase text-muted"></i> Iactorne Pvt ltd  <i class="si si-location-pin text-muted ml-3"></i> USA</small>
											<div class="icons mt-3 pb-0 ">
												<a href="#" class="btn btn-secondary btn-sm icons" data-toggle="modal" data-target="#apply"> Apply</a>
												<a href="#" class="btn btn-light btn-sm icons"> View Details</a>
											</div>
										</div>
									</li>
									<li class="item">
										<div class="item-det card-body">
											<a href="#" class="text-dark"><h4 class="mb-2 fs-16 font-weight-semibold">Web Designer</h4></a>
											<small class="text-muted"><i class="si si-briefcase text-muted"></i> Designer Solutions  <i class="si si-location-pin text-muted ml-3"></i> USA</small>
											<div class="icons mt-3 pb-0 ">
												<a href="#" class="btn btn-secondary btn-sm icons" data-toggle="modal" data-target="#apply"> Apply</a>
												<a href="#" class="btn btn-light btn-sm icons"> View Details</a>
											</div>
										</div>
									</li>
									<li class="item">
										<div class="item-det card-body">
											<a href="#" class="text-dark"><h4 class="mb-2 fs-16 font-weight-semibold">HR Recruiter</h4></a>
											<small class="text-muted"><i class="si si-briefcase text-muted"></i> IT Hardware & Network Pvt ltd  <i class="si si-location-pin text-muted ml-3"></i> USA</small>
											<div class="icons mt-3 pb-0 ">
												<a href="#" class="btn btn-secondary btn-sm icons" data-toggle="modal" data-target="#apply"> Apply</a>
												<a href="#" class="btn btn-light btn-sm icons"> View Details</a>
											</div>
										</div>
									</li>
									<li class="item">
										<div class="item-det card-body">
											<a href="#" class="text-dark"><h4 class="mb-2 fs-16 font-weight-semibold">Java Developer</h4></a>
											<small class="text-muted"><i class="si si-briefcase text-muted"></i> Infrastructure Solutions  <i class="si si-location-pin text-muted ml-3"></i> USA</small>
											<div class="icons mt-3 pb-0 ">
												<a href="#" class="btn btn-secondary btn-sm icons" data-toggle="modal" data-target="#apply"> Apply</a>
												<a href="#" class="btn btn-light btn-sm icons"> View Details</a>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Newsletter-->
		<section class="sptb border-top bg-white">
			<div class="container">
				<div class="section-title center-block text-center">
					<h2>Subscribe To Our Newsletter</h2>
					<p>Mauris ut cursus nunc. Morbi eleifend, ligula at consectetur vehicula</p>
				</div>
				<div class="row">
					<div class="col-lg-10 col-xl-8 col-md-12 mx-auto d-block text-center">
						<div class="input-group sub-input mt-0">
							<input type="text" class="form-control input-lg " placeholder="Enter your Email">
							<div class="input-group-append ">
								<button type="button" class="btn btn-secondary btn-lg br-tr-3 br-br-3 pl-5 pr-5">
									Subscribe
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Newsletter-->
{%endblock%}