{%extends 'frontpages/profile/profile_layout.html'%}
{%load i18n%}
{%block orders%}active{%endblock%}
{%block profile_content%}

	<div class="card mb-0 overflow-hidden">
		<div class="card-header">
			<h3 class="card-title">{% trans "Product Inquries List" %}</h3>
		</div>
		<div class="card-body">
			<div class="table-responsive border-top">
				<table class="table table-bordered table-hover text-nowrap">
					<thead>
						<tr>
							<th>#</th>
							<th>Inquiry ID</th>
							<th>Product</th>
							<th>Date</th>
							<th>Subject</th>
						</tr>
					</thead>
					<tbody>
						{%for order in orders%}
						<tr>
							<td>{{forloop.counter}}</td>
							<td class="text-secondary">#0{{order.id}}</td>
							<td>{%if order.product%}{{order.product.name}}{%elif order.category%}{{order.category.category_name}}{%endif%}</td>
							<td>{{order.created_date|date}}</td>
							<td class="font-weight-semibold fs-16">{{order.subject}}</td>
							 
						</tr>
						 {%endfor%}
					</tbody>
				</table>
			</div>
			 
		</div>
	</div>
					
{%endblock%}