{%extends 'admin/base_site.html'%}
{% block extrastyle %}

<!-- Theme JS files -->
<script src="/static/admin/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/datatables_advanced.js"></script>
<!-- /theme JS files -->

{% endblock %}
{%block pagename%}Vacancy List{%endblock%}
{%block content%}

<!-- Content area -->
<div class="content">

	<!-- Page length options main category -->
	
	<!-- /page length options -->

	<!-- Page length options sub-category-->
	
	<div class="card">
		<div class="card-header header-elements-inline">
			<h5 class="card-title">Vacancys</h5>
			<div class="header-elements">
				<div class="list-icons">
					{% if perms.collaborations.add_vacancy %} 
					<a href="{% url 'admin:Job_form'%}" class="btn bg-teal btn-sm rounded-round"><i
							class="icon-add mr-2"></i>Add New Vacancy</a>
					{%endif%}
				</div>
			</div>
		</div>

		<table class="table datatable-show-all">
			<thead>
				<tr>
					<th>#</th>
					<th>Title</th>
					<th>Job Category</th>
					<th>salary</th>
					<th>company</th>
					<th>location </th>
					<th>Closed</th>
					<th>Applicants</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				{%for vacancy in object_list%}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{vacancy.title|safe|truncatechars_html:10}}</td>
					<td>{{vacancy.category.category_name}}</td>
					<td>{{vacancy.salary|safe}}</td>
					<td>{{vacancy.company|safe|truncatechars_html:10}}</td>
					<td>{{vacancy.location|safe|truncatechars_html:10}}</td>
					<td>{{vacancy.closed}}</td>
					<th>
						<a href="{% url 'admin:Applicant_info' id=vacancy.id %}">
						<i class="icon-eye"></i> {{vacancy.countApplicant}}</a> 
					</th>
					<td class="text-center">
						<div class="list-icons">
							<div class="dropdown">
								<a href="#" class="list-icons-item" data-toggle="dropdown">
									<i class="icon-menu9"></i>
								</a>
									
								<div class="dropdown-menu dropdown-menu-right">
									{% if user.is_superuser or user.get_company == vacancy.company%}
										{% if perms.collaborations.delete_vacancy %}
										<a href="{%url 'admin:delete' model_name='Vacancy' id=vacancy.id%}" class="dropdown-item" onclick="return confirm('are you sure you want to delete this')"><i class="icon-trash"></i>Delete Vacancy</a>
										{%endif%}
									
										{% if perms.collaborations.change_vacancy %}
										<a href="{%url 'admin:job_detail'  model_name='Vacancy' id=vacancy.id%}" class="dropdown-item"  >
											<i class="icon-pencil"></i>Edit Vacancy</a>
										
										{%endif%}
									{%endif%}
								</div>
							</div>
						</div>
					</td>
				</tr>
				{%endfor%}
			</tbody>
		</table>
	</div>
	<!-- /page length options -->


</div>
<!-- /content area -->
{%endblock%}