{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags %}
{% block extrastyle %}
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>
{% endblock %}
{%block pagename%}Vacancy Category Detail{%endblock%}
{%block nav%}
<a href="{%url 'admin:settings'%}" class="breadcrumb-item">Settings</a>
<span class="breadcrumb-item active">Vacancy Category Form</span>
{%endblock%}

{%block content%}

<!-- Content area -->
<div class="content">

	
	<div class="card">
 
		<div class="card-body">

			<form action="{%url 'admin:update_vacancy_category' pk=object.id%}" method="POST" enctype="multipart/form-data">
				<fieldset class="mb-3 ml-3 mr-3">
					{%csrf_token%}
					<legend class="text-uppercase font-size-sm font-weight-bold">Edit Vacancy Category</legend>
					 {{form|crispy}}
				</fieldset>

				<div class="text-right">
					<button style="padding-left: 10%; padding-right: 10%;" type="submit"
						class="btn btn-primary rounded-round">Submit </button>
				</div>
			</form>
		</div>
	</div>
</div>
{%endblock%}