{%extends 'admin/base_site.html'%}
{% block extrastyle %}

	<!-- Theme JS files -->
	<script src="/static/admin/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
	<script src="/static/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
	<script src="/static/admin/global_assets/js/demo_pages/datatables_advanced.js"></script>
	<!-- /theme JS files -->
 
{% endblock %}
{%block pagename%}{%if category == True%}Product Sectors{%elif sub_category == True %}Products {%elif brand == True%}Products Brand{%endif%}{%endblock%}
{%block nav%}
	{%if category == True%}<a href="{%url 'admin:categories'%}" class="breadcrumb-item">Sectors</a>
	{%elif sub_category == True %}<a href="{%url 'admin:sub_categories'%}" class="breadcrumb-item">Products</a> 
	{%elif brand == True%}<a href="{%url 'admin:brands'%}" class="breadcrumb-item">Brands</a>
	{%endif%}
{%endblock%}
{%block category_menu%}nav-item-expanded nav-item-open{%endblock%}
{%block content%}

			<!-- Content area -->
			<div class="content">
				{%if category == True%}
				<!-- Page length options main category -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Sectors & Sub Sectors</h5>
						<div class="header-elements">
							{% if user.is_superuser and perms.product.add_subcategory %}
							<div class="list-icons">
								<a href="{%url 'admin:create_category'%}" class="btn bg-teal btn-sm rounded-round"><i class="icon-add mr-2"></i>Add Sub-Sector</a>
							</div>
							{%endif%}
						</div>
					</div>

					<table class="table datatable-show-all">
						<thead>
							<tr>
								<th>#</th>
								<th>Sub Sector Name</th>
								<th>Sector</th>
								<th>Created By</th>
								<th>Created Date</th>
								<th class="text-center">Actions</th>
							</tr>
						</thead>
						<tbody>
							{%for cat in object_list%}
							<tr>
								<td>{{forloop.counter}}</td>
								<td>{{cat.category_name}}</td>
								<td>{{cat.category_type}}</td>
								<td>{{cat.created_by.username}}</td>
								<td><span class="badge badge-success">{{cat.created_date}}</span></td>
								<td class="text-center">
									<div class="list-icons">
										<div class="dropdown">
											<a href="#" class="list-icons-item" data-toggle="dropdown">
												<i class="icon-menu9"></i>
											</a>

											<div class="dropdown-menu dropdown-menu-right">
													{% if user.is_superuser or perms.admin_site.delete_category %}
													<a href="{%url 'admin:delete' model_name='category' id=cat.id%}"  onclick="return confirm('Are you sure you want to Delete this Item?')" class="dropdown-item"><i class="icon-trash"></i>Delete Category</a>
													{% endif %}
													{% if user.is_superuser or perms.admin_site.delete_category %}
													<a href="{%url 'admin:edit_category' pk=cat.id%}" class="dropdown-item">
														<i class="icon-pencil"></i>Edit Category</a>
													{% endif %}
												<!-- <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> Export to .pdf</a>
												<a href="#" class="dropdown-item"><i class="icon-file-excel"></i> Export to .csv</a>
												<a href="#" class="dropdown-item"><i class="icon-file-word"></i> Export to .doc</a> -->
											</div>
										</div>
									</div>
								</td>
							</tr>
							{%endfor%}
						</tbody>
					</table>
				</div>
				<!-- /page length options -->
				{%elif sub_category == True%}
					<!-- Page length options sub-category-->
					<div class="card">
						<div class="card-header header-elements-inline">
							<h5 class="card-title">Product</h5>
							{% if user.is_superuser and perms.product.add_subcategory %}
							<div class="header-elements">
								<div class="list-icons">
									<a href="{%url 'admin:create_subcategory'%}" class="btn bg-teal btn-sm rounded-round"><i class="icon-add mr-2"></i>Add Product</a>
								</div>
							</div>
							{%endif%}
						</div>
	
						<table class="table datatable-show-all">
							<thead>
								<tr>
									<th>Sub Sector</th>
									<th>Product Name</th>
									<th>UOM</th>
									<th>Created By</th>
									<th>Created Date</th>
									<th class="text-center">Actions</th>
								</tr>
							</thead>
							<tbody>
								{%for cat in object_list%}
							<tr>
								<td>{{cat.sub_category_name}}</td>
								<td>{{cat.category_name}}</td>
								<td>{{cat.uom}}</td>
								<td>{{cat.created_by.username}}</td>
								<td><span class="badge badge-success">{{cat.created_date}}</span></td>
								<td class="text-center">
									<div class="list-icons">
										<div class="dropdown">
											<a href="#" class="list-icons-item" data-toggle="dropdown">
												<i class="icon-menu9"></i>
											</a>
											
											<div class="dropdown-menu dropdown-menu-right">
												{% if perms.admin_site.delete_subcategory %}
												<a href="{%url 'admin:delete' model_name='sub_category' id=cat.id%}"   onclick="return confirm('Are you sure you want to Delete this Item?')" class="dropdown-item"><i class="icon-trash"></i>Delete Sub-Category</a>
												{% endif %}
												{% if perms.admin_site.change_subcategory %}
												<a href="{%url 'admin:edit_subcategory' pk=cat.id%}" class="dropdown-item">
													<i class="icon-pencil"></i>Edit Product</a>
												{% endif %}
												<!-- <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> Export to .pdf</a>
												<a href="#" class="dropdown-item"><i class="icon-file-excel"></i> Export to .csv</a>
												<a href="#" class="dropdown-item"><i class="icon-file-word"></i> Export to .doc</a> -->
												
											</div>
										</div>
									</div>
								</td>
							</tr>
							{%endfor%}
							</tbody>
						</table>
					</div>
					<!-- /page length options -->
					{%elif brand == True%}
					<!-- Page length options sub-category-->
					<div class="card">
						<div class="card-header header-elements-inline">
							<h5 class="card-title">Product Brands</h5>
							{%if not user.is_superuser and perms.product.add_brand %}
							<div class="header-elements">
								<div class="list-icons">
									<a href="{%url 'admin:create_brand'%}" class="btn bg-teal btn-sm rounded-round"><i class="icon-add mr-2"></i>Add New Brand</a>
								</div>
							</div>
							{%endif%}
						</div>
	
						<table class="table datatable-show-all">
							<thead>
								<tr>
									<th>#</th>
									<th>Brand Name</th>
									<th>Product Type</th>
									<th>Created By</th>
									<th>Created Date</th>
									<th class="text-center">Actions</th>
								</tr>
							</thead>
							<tbody>
								{%for cat in object_list%}
							<tr>
								<td>{{forloop.counter}}</td>
								<td>{{cat.brand_name}}</td>
								<td>{{cat.product_type.sub_category_name}}</td>
								<td>{{cat.created_by.username}}</td>
								<td><span class="badge badge-success">{{cat.created_date|date}}</span></td>
								<td class="text-center">
									<div class="list-icons">
										<div class="dropdown">
											<a href="#" class="list-icons-item" data-toggle="dropdown">
												<i class="icon-menu9"></i>
											</a>
											<div class="dropdown-menu dropdown-menu-right">
												{% if not user.is_superuser and perms.product.delete_brand %}
												<a href="{%url 'admin:delete' model_name='Brand' id=cat.id%}"  onclick="return confirm('Are you sure you want to Delete this Item?')" class="dropdown-item"><i class="icon-trash"></i>Delete Brand</a>
												{% endif %}
												{% if not user.is_superuser and perms.product.change_brand %}
												<a href="{%url 'admin:edit_brand' pk=cat.id%}" class="dropdown-item">
													<i class="icon-pencil"></i>Edit</a>
												{% endif %}
												 
											</div>
										</div>
									</div>
								</td>
							</tr>
							{%endfor%}
							</tbody>
						</table>
					</div>
					<!-- /page length options -->
				{%endif%}
 
			</div>
			<!-- /content area -->
			<!-- <script>
				$(document).ready(function() {
					$('.summernote').summernote('code', 'html_tags_string_from_db');
				});
			  </script> -->
{%endblock%}