{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags %}
{% block extrastyle %}
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>
{% endblock %}
{%block pagename%}Product Categories{%endblock%}
{%block content%}

			<!-- Content area -->
			<div class="content">

				<!-- Form inputs -->
				{%if category%}
				{%if edit%}
					<div class="card">
						
						<div class="card-body">
							
							<form action="{%url 'admin:edit_category' option='category' cat_id=category.id %}" enctype="multipart/form-data" method="POST">{%csrf_token%}
								<fieldset class="mb-3 ml-3 mr-3">
									<legend class="text-uppercase font-size-sm font-weight-bold">Edit Categories</legend>

									<div class="form-group row">
										<label class="col-form-label col-lg-3">Category Name(English) *</label>
										<div class="col-lg-9">
											<input type="text" name="category_name" value="{{category.category_name}}" class="form-control" placeholder="Enter Category name...">
										</div>
									</div>
									<div class="form-group row">
										<label class="col-form-label col-lg-3">Category Name(Amharic) *</label>
										<div class="col-lg-9">
											<input type="text" name="category_name_am" value="{{category.category_name_am}}" class="form-control" placeholder="Enter Category name...">
										</div>
									</div>

									<div class="form-group row">
										<label class="col-form-label col-lg-3">Category Type *</label>
										<div class="col-lg-9">
											<select required name="category_type" class="form-control form-control-uniform" data-fouc>
												<option value="{{category.category_type}}">{{category.category_type}}</option>
												{%if category.category_type == "Food"%}
												<option value="Beverage">Beverages</option>
												<option value="pharmaceuticals">Pharmaceuticals</option>
												{%endif%}
												{%if category.category_type == "Beverage"%}
												<option value="Food">Food</option>
												<option value="pharmaceuticals">Pharmaceuticals</option>
												{%endif%}
												{%if category.category_type == "pharmaceuticals"%}
												<option value="Food">Food</option>
												<option value="Beverage">Beverages</option>
												{%endif%}
												
											</select>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-form-label col-lg-3">Description(English) *</label>
										<div class="col-lg-9">
											<textarea id="summernote" name="description" >{{category.description|safe}}</textarea>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-form-label col-lg-3">Description(Amharic) *</label>
										<div class="col-lg-9">
											<textarea class="summernote" name="description_am" >{{category.description_am|safe}}</textarea>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-form-label col-lg-3">Category Image</label>
										<div class="col-lg-9">
											<div class="uniform-uploader">
												<input type="file" name="image" class="form-input-styled" data-fouc="">
												<span class="filename" style="user-select: none;">No file selected</span>
												<span class="action btn bg-warning" style="user-select: none;">Choose File</span>
											</div>
											<span class="form-text text-muted">Accepted formats: gif, png, jpg. Max file size 2Mb</span>
										</div>
									</div>
								</fieldset>

								<div class="text-right">
									<button style="padding-left: 10%; padding-right: 10%;" type="submit" class="btn btn-primary rounded-round">Submit </button>
								</div>
							</form>
						</div>
					</div>
				{%else%}
					<div class="card">
						
						<div class="card-body">
							
							<form action="{%url 'admin:create_category' option='category' %}" method="POST" enctype="multipart/form-data">{%csrf_token%}
								 
								<fieldset class="mb-3 ml-3 mr-3">
									<legend class="text-uppercase font-size-sm font-weight-bold">Create Categories</legend>
									<p class="mb-4"> All Fields ending with * are required. You are required to fill English and Amharic fields</p>
									{{form.errors}} 
									{%csrf_token%}
									 
									<div class="form-group row">
										<label class="col-form-label col-lg-3">{{form.category_type.label|title}} *</label>
										<div class="col-lg-9">
											{{form.category_type}}
										</div>
									</div>
									<div class="form-group row">
										<label class="col-form-label col-lg-3">{{form.category_name.label|title}} *</label>
										<div class="col-lg-9">
											{{form.category_name}}
										</div>
									</div>
	
									<div class="form-group row">
										<label class="col-form-label col-lg-3">{{form.category_name_am.label|title}} *</label>
										<div class="col-lg-9">
											{{form.category_name_am}}
										</div>
									</div>
									 
									<div class="form-group row">
										<label class="col-form-label col-lg-3">{{form.description.label|title}} *</label>
										<div class="col-lg-9">
											{{form.description|safe}}
										</div>
									</div>

									<div class="form-group row">
										<label class="col-form-label col-lg-3">{{form.description_am.label|title}} *</label>
										<div class="col-lg-9">
											{{form.description_am|safe}}
										</div>
									</div>
									<div class="form-group row">
										<label class="col-form-label col-lg-3">{{form.icons.label|title}}</label>
										<div class="col-lg-9">
											<div class="uniform-uploader">{{form.icons}}<span
												class="filename" style="user-select: none;">No file selected</span><span
												class="action btn bg-warning" style="user-select: none;">Choose File</span></div>
										</div>
									</div>
								</fieldset>

								<div class="text-right">
									<button style="padding-left: 10%; padding-right: 10%;" type="submit" class="btn btn-primary rounded-round">Submit </button>
								</div>
							</form>
						</div>
					</div>
				{%endif%}
				{%endif%}
				{%if sub_category%}
					{%if edit%}
						<div class="card">
						
							<div class="card-body">
								
								<form action="{%url 'admin:edit_category' option='sub_category' cat_id=sub_category.id %}" enctype="multipart/form-data" method="POST">
									<fieldset class="mb-3 ml-3 mr-3">
										<legend class="text-uppercase font-size-sm font-weight-bold">Sub-Category detail</legend>
										{%csrf_token%}
										
										<div class="form-group row">
											<label class="col-form-label col-lg-3">Sub-Category Name(English)</label>
											<div class="col-lg-9">
												<input type="text" name="sub_category_name" class="form-control" value="{{sub_category.sub_category_name}}">
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-lg-3">Sub-Category Name(Amharic)</label>
											<div class="col-lg-9">
												<input type="text" name="sub_category_name_am" class="form-control" value="{{sub_category.sub_category_name_am}}">
											</div>
										</div>
		
										<div class="form-group row">
											<label class="col-form-label col-lg-3">Category Name</label>
											<div class="col-lg-9">
												<select required name="category_name" class="form-control form-control-uniform" data-fouc>
													<option value="{{sub_category.category_name.id}}">{{sub_category.category_name}}</option>
													{%for cat_names in categories_name%}
														{%if cat_names.category_name == sub_category.category_name %}
														{%else%}
														<option value="{{cat_names.id}}">{{cat_names.category_name}}</option>
														{%endif%}
													{%endfor%}
													 
												</select>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-lg-3">Description(English)</label>
											<div class="col-lg-9">
												<textarea name="description" id="summernote">{{sub_category.description|safe}}</textarea>												
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-lg-3">Description(English)</label>
											<div class="col-lg-9">
												<textarea name="description_am" class="summernote">{{sub_category.description_am|safe}}</textarea>												
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-lg-3">Sub-Category Image</label>
											<div class="col-lg-9">
												<div class="uniform-uploader">
													<input type="file" name="image" class="form-input-styled" data-fouc="">
													<span class="filename" style="user-select: none;">No file selected</span>
													<span class="action btn bg-warning" style="user-select: none;">Choose File</span>
												</div>
												<span class="form-text text-muted">Accepted formats: gif, png, jpg. Max file size 2Mb</span>
											</div>
										</div>
									</fieldset>
		
										<div class="text-right">
											<button style="padding-left: 10%; padding-right: 10%;" type="submit" class="btn btn-primary rounded-round">Submit </button>
										</div>
								</form>
							</div>
						</div>
					{%else%}
						<div class="card">
						
							<div class="card-body">
								
								<form action="{%url 'admin:create_category' option='sub_category' %}" method="POST" enctype="multipart/form-data">
									<fieldset class="mb-3 ml-3 mr-3">
										<legend class="text-uppercase font-size-sm font-weight-bold">Create Sub-Category</legend>
										<p class="mb-4"> All Fields ending with * are required. You are required to fill fields in English and Amharic</p>
										{{form.errors}} 
										{%csrf_token%}
										<div class="form-group row">
											<label class="col-form-label col-lg-3">{{form.sub_category_name.label|title}} *</label>
											<div class="col-lg-9">
												{{form.sub_category_name}}
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-lg-3">{{form.sub_category_name_am.label|title}} *</label>
											<div class="col-lg-9">
												{{form.sub_category_name_am}}
											</div>
										</div>
		
										<div class="form-group row">
											<label class="col-form-label col-lg-3">{{form.category_name.label|title}} *</label>
											<div class="col-lg-9">
												{{form.category_name}}
											</div>
										</div>
										 
										<div class="form-group row">
											<label class="col-form-label col-lg-3">{{form.description.label|title}} *</label>
											<div class="col-lg-9">
												{{form.description|safe}}
											</div>
										</div>

										<div class="form-group row">
											<label class="col-form-label col-lg-3">{{form.description_am.label|title}} *</label>
											<div class="col-lg-9">
												{{form.description_am|safe}}
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-lg-3">{{form.image.label|title}}</label>
											<div class="col-lg-9">
												<div class="uniform-uploader">{{form.image|safe}}<span
													class="filename" style="user-select: none;">No file selected</span><span
													class="action btn bg-warning" style="user-select: none;">Choose File</span></div>
												
											</div>
										</div>
									</fieldset>
		
									<div class="text-right">
										<button style="padding-left: 10%; padding-right: 10%;" type="submit" class="btn btn-primary rounded-round">Submit </button>
									</div>
								</form>
							</div>
						</div>
					{%endif%}
				{%endif%}
				<!-- /form inputs -->

			</div>
			<!-- /content area -->
			<script>
				$(document).ready(function() {
					$('#summernote').summernote();
					$('.summernote').summernote();
				});
			  </script>
{%endblock%}

