{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags %}
{% block extrastyle %}
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>
{% endblock %}
{%block pagename%}{%if category == True%}Product Sectors{%elif sub_category == True%}Products{%elif brand == True%}Product Brand{%endif%}{%endblock%}
{%block nav%}
	{%if category == True%}<a href="{%url 'admin:categories'%}" class="breadcrumb-item">Sectors</a><a href="{%url 'admin:create_category'%}" class="breadcrumb-item">Create Sub-Sectors</a>
	{%elif sub_category == True %}<a href="{%url 'admin:sub_categories'%}" class="breadcrumb-item">Products</a> <a href="{%url 'admin:create_subcategory'%}" class="breadcrumb-item">Create Products</a>
	{%elif brand == True%}<a href="{%url 'admin:brands'%}" class="breadcrumb-item">Brands</a><a href="{%url 'admin:create_brand'%}" class="breadcrumb-item">Create Brands</a>
	{%endif%}
{%endblock%}
{%block category_menu%}nav-item-expanded nav-item-open{%endblock%}
{%block content%}

			<!-- Content area -->
			<div class="content">

				<!-- Form inputs -->
				{%if category == True%}
					 
					<div class="card">
						
						<div class="card-body">
							
							<form action="{%url 'admin:create_category'%}" method="POST" enctype="multipart/form-data">{%csrf_token%}
								 
								{{form|crispy}}

								<div class="text-right">
									<button style="padding-left: 10%; padding-right: 10%;" type="submit" class="btn btn-primary rounded-round">Submit </button>
								</div>
							</form>
						</div>
					</div>
				 
				{%elif sub_category == True%}
					 	<div class="card">
						
							<div class="card-body">
								
								<form action="{%url 'admin:create_subcategory' %}" method="POST" enctype="multipart/form-data">
										{%csrf_token%}
										 {{form|crispy}}
		
									<div class="text-right">
										<button style="padding-left: 10%; padding-right: 10%;" type="submit" class="btn btn-primary rounded-round">Submit </button>
									</div>
								</form>
							</div>
						</div>
				{%elif brand == True%}
						<div class="card">
					   
						   <div class="card-body">
							   
							   <form action="{%url 'admin:create_brand' %}" method="POST" enctype="multipart/form-data">
									   {%csrf_token%}
									   <input type = 'hidden' name ='company' value = '{{company}}' /> 
										{{form|crispy}}
	   
								   <div class="text-right">
									   <button style="padding-left: 10%; padding-right: 10%;" type="submit" class="btn btn-primary rounded-round">Submit </button>
								   </div>
							   </form>
						   </div>
					   </div>
				{%endif%}
				<!-- /form inputs -->

			</div>
			<!-- /content area -->
			<script>
				$(document).ready(function() {
					
						});
			  </script>
{%endblock%}

