{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags%}
{% block extrastyle %}
<script src="/static/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>
{% endblock %}
{%block pagename%}
{%if flag == "production_capacity"%}
Production Capacity Form
{%elif flag == "anual_input_need"%}
Product Anual Input Need Form
{%elif flag == "demand_supply"%}
Anual Input Demand and Supply Data Form
{%elif flag == "sales_performance"%}
Product Production and Sales Performance Data Form
{%elif flag == "packaging"%}
Product Packaging Data Form
{%endif%}
{%endblock%}


{%block nav%}
{%if flag == "production_capacity"%}
<a href="{%url 'admin:production_capacity'%}" class="breadcrumb-item">Production Capacity</a>
<a href="{%url 'admin:update_production_capacity' pk=object.id%}" class="breadcrumb-item">Production Capacity Form</a>
{%elif flag == "anual_input_need"%}
<a href="{%url 'admin:anual_input_need'%}" class="breadcrumb-item">Annual Input Need</a>
<a href="{%url 'admin:update_anual_inp_need' pk=object.id%}" class="breadcrumb-item">Anual Input Need Form</a>
{%elif flag == "demand_supply"%}
<a href="{%url 'admin:demand_supply_list'%}" class="breadcrumb-item">Demand & Supply</a>
<a href="{%url 'admin::update_demand_supply' pk=object.id%}" class="breadcrumb-item">Demand & Supply Form</a>
{%elif flag == "sales_performance"%}
<a href="{%url 'admin:sales_performance'%}" class="breadcrumb-item">Production & Sales Performance</a>
<a href="{%url 'admin:update_sales_performance' pk=object.id%}" class="breadcrumb-item">Production & Sales Performance Form</a>
{%elif flag == "packaging"%}
<a href="{%url 'admin:packaging'%}" class="breadcrumb-item">Packaging</a>
<a href="{%url 'admin:update_packaging' pk=object.id%}" class="breadcrumb-item">Packaging Form</a>
{%endif%}
{%endblock%}
{%block product_data%}nav-item-open nav-item-expanded{%endblock%}
{%block content%}

	<!-- Content area -->
	{%if flag == "production_capacity"%}
	<div class="content">
		<!-- Starting step -->
		<div class="card">
			<div class="card-header bg-white header-elements-inline">
				<h6 class="card-title">Update Production Capacity for Product: {{object.product.name}}</span></h6>
				
			</div>
	
			<div class="card-body">
				<form action="{%url 'admin:update_production_capacity' pk=object.id%}"
				method="POST" enctype="multipart/form-data" data-fouc>{%csrf_token%}
				 {{form|crispy}}
				<input type="submit" name="" class="btn btn-primary" value="Submit Form" id="">
			</form>
			</div>
		</div>
		<!-- /starting step -->
	
	</div>
	{%elif flag == "anual_input_need"%}
	<div class="content">
		<!-- Starting step -->
		<div class="card">
			<div class="card-header bg-white header-elements-inline">
				<h6 class="card-title">Update Anual Input Need Data for Product: {{object.product.name}}</span></h6>
				
			</div>
	
			<div class="card-body">
				<form action="{%url 'admin:update_anual_inp_need' pk=object.id%}"
				method="POST" enctype="multipart/form-data" data-fouc>{%csrf_token%}
				 {{form|crispy}}
				<input type="submit" name="" class="btn btn-primary" value="Submit Form" id="">
			</form>
			</div>
		</div>
		<!-- /starting step -->
	
	</div>
	{%elif flag == "demand_supply"%}
	<div class="content">
		<!-- Starting step -->
		<div class="card">
			<div class="card-header bg-white header-elements-inline">
				<h6 class="card-title">Update Input Demand & Supply data for Product: {{object.product.name}}</span></h6>
				
			</div>
	
			<div class="card-body">
				<form action="{%url 'admin:update_demand_supply' pk=object.id%}"
				method="POST" enctype="multipart/form-data" data-fouc>{%csrf_token%}
				 {{form|crispy}}
				<input type="submit" name="" class="btn btn-primary" value="Submit Form" id="">
			</form>
			</div>
		</div>
		<!-- /starting step -->
	
	</div>
	{%elif flag == "sales_performance"%}
	<div class="content">
		<!-- Starting step -->
		<div class="card">
			<div class="card-header bg-white header-elements-inline">
				<h6 class="card-title">Update Sales Performance data for Product: {{object.product.name}}</span></h6>
				
			</div>
	
			<div class="card-body">
				<form action="{%url 'admin:update_sales_performance' pk=object.id%}"
				method="POST" enctype="multipart/form-data" data-fouc>{%csrf_token%}
				 {{form|crispy}}
				<input type="submit" name="" class="btn btn-primary" value="Submit Form" id="">
			</form>
			</div>
		</div>
		<!-- /starting step -->
	
	</div>
	{%elif flag == "packaging" %}
	<div class="content">
		<!-- Starting step -->
		<div class="card">
			<div class="card-header bg-white header-elements-inline">
				<h6 class="card-title">Update Packaging data for Product: {{object.product.name}}</span></h6>
				
			</div>
	
			<div class="card-body">
				<form action="{%url 'admin:update_packaging' pk=object.id%}"
				method="POST" enctype="multipart/form-data" data-fouc>{%csrf_token%}
				 {{form|crispy}}
				<input type="submit" name="" class="btn btn-primary" value="Submit Form" id="">
			</form>
			</div>
		</div>
		<!-- /starting step -->
	
	</div>
	{%endif%}

<!-- /content area -->
<script>
	function in_between(num,min,max){
		return ((num-min)*(num-max) <= 0);
	}
	$(document).ready(function () {
		var date = new Date()
		var current_year = date.getFullYear()-8;
		var current_month = date.getMonth()+1;
		$(".summernote").summernote();
		$("#id_activity_year").change(function(){
			if($(this).val() != ""){
				$("#id_half_year").prop("disabled",false);
			}else{
				$("#id_half_year").prop("disabled",true);
			}
			if($(this).val() == current_year){
				if(in_between(current_month,1,6)){
					var option = "<option value=''>Select Half Year</option>"
                		+"<option value='First_Half'>First Half (July-Dec)</option>";
					$("#id_half_year").html(option);
				}else if(in_between(current_month,7,12)){
					var option = "<option value=''>You will insert this half data in the next year</option>";
					$("#id_half_year").html(option);
				}
			}else{
				var option = "<option value=''>Select Half Year</option>"
                		+"<option value='First_Half'>First Half (July-Dec)</option>"
						+"<option value='Second_Half'>Second Half (Jan-June)</option>";
					$("#id_half_year").html(option);
			}
		
		});
		$("#id_year").change(function(){
			if($(this).val() != ""){
				$("#id_half_year").prop("disabled",false);
			}else{
				$("#id_half_year").prop("disabled",true);
			}
			if($(this).val() == current_year){
				if(in_between(current_month,1,6)){
					var option = "<option value=''>Select Half Year</option>"
                		+"<option value='First_Half'>First Half (July-Dec)</option>";
					$("#id_half_year").html(option);
				}else if(in_between(current_month,7,12)){
					var option = "<option value=''>You will insert this half data in the next year</option>";
					$("#id_half_year").html(option);
				}
			}else{
				var option = "<option value=''>Select Half Year</option>"
                		+"<option value='First_Half'>First Half (July-Dec)</option>"
						+"<option value='Second_Half'>Second Half (Jan-June)</option>";
					$("#id_half_year").html(option);
			}
		
		});
	});
</script>
{%endblock%}