{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags%}
{% block extrastyle %}
<script src="/static/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>
{% endblock %}
{%block pagename%}
{%if flag == "production_capacity"%}
Production Capacity Form
{%elif flag == "anual_input_need"%}
Product Anual Input Need Form
{%elif flag == "demand_supply"%}
Anual Input Demand and Supply Data Form
{%elif flag == "sales_performance"%}
Product Production and Sales Performance Data Form
{%elif flag == "packaging"%}
Product Packaging Data Form
{%endif%}
{%endblock%}

{%block nav%}
{%if flag == "production_capacity"%}
<a href="{%url 'admin:production_capacity'%}" class="breadcrumb-item">Production Capacity</a>
<a href="{%url 'admin:create_production_capacity'%}" class="breadcrumb-item">Production Capacity Form</a>
{%elif flag == "anual_input_need"%}
<a href="{%url 'admin:anual_input_need'%}" class="breadcrumb-item">Annual Input Need</a>
<a href="{%url 'admin:create_anual_inp_need'%}" class="breadcrumb-item">Anual Input Need Form</a>
{%elif flag == "demand_supply"%}
<a href="{%url 'admin:demand_supply_list'%}" class="breadcrumb-item">Demand & Supply</a>
<a href="{%url 'admin:create_demand_supply'%}" class="breadcrumb-item">Demand & Supply Form</a>
{%elif flag == "sales_performance"%}
<a href="{%url 'admin:sales_performance'%}" class="breadcrumb-item">Production & Sales Performance</a>
<a href="{%url 'admin:create_sales_performance'%}" class="breadcrumb-item">Production & Sales Performance Form</a>
{%elif flag == "packaging"%}
<a href="{%url 'admin:packaging'%}" class="breadcrumb-item">Packaging</a>
<a href="{%url 'admin:create_packaging'%}" class="breadcrumb-item">Packaging Form</a>
{%endif%}
{%endblock%}
{%block product_data%}nav-item-open nav-item-expanded{%endblock%}
{%block content%}

<!-- Content area -->
<div class="content">
	<!-- Starting step -->
	
	{%if flag == "production_capacity"%}
	<div class="card">
		<div class="card-header bg-white header-elements-inline">
			<h6 class="card-title">Create Production Capacity for Product: {{product.name}}</span></h6>
			
		</div>

		<div class="card-body">
			<form action="{%url 'admin:create_production_capacity'%}"
			method="POST" enctype="multipart/form-data" data-fouc>{%csrf_token%}
			 {{form|crispy}}
			<input type="submit" name="" class="btn btn-primary" value="Submit Form" id="">
		</form>
		</div>
	</div>
	{%elif flag == "anual_input_need"%}
	<div class="card">
		<div class="card-header bg-white header-elements-inline">
			<h6 class="card-title">Add Annual Input Need Data for Product: {{product.name}}</span></h6>
			
		</div>

		<div class="card-body">
			<form action="{%url 'admin:create_anual_inp_need'%}"
			method="POST" enctype="multipart/form-data" data-fouc>{%csrf_token%}
			 {{form|crispy}}
			<input type="submit" name="" class="btn btn-primary" value="Submit Form" id="">
		</form>
		</div>
	</div>
	{%elif flag == "demand_supply"%}
	<div class="card">
		<div class="card-header bg-white header-elements-inline">
			<h6 class="card-title">Add Anual Input Demand and Supply data for Product: {{product.name}}</span></h6>
			
		</div>

		<div class="card-body">
			<form action="{%url 'admin:create_demand_supply'%}"
			method="POST" enctype="multipart/form-data" data-fouc>{%csrf_token%}
			 {{form|crispy}}
			<input type="submit" name="" class="btn btn-primary" value="Submit Form" id="">
		</form>
		</div>
	</div>
	{%elif flag == "sales_performance"%}
	<div class="card">
		<div class="card-header bg-white header-elements-inline">
			<h6 class="card-title">Add Anual Sales Performance data for Product: {{product.name}}</span></h6>
			
		</div>

		<div class="card-body">
			<form action="{%url 'admin:create_sales_performance'%}"
			method="POST" enctype="multipart/form-data" data-fouc>{%csrf_token%}
			 {{form|crispy}}
			<input type="submit" name="" class="btn btn-primary" value="Submit Form" id="">
		</form>
		</div>
	</div>
	{%elif flag == "packaging" %}
	<div class="card">
		<div class="card-header bg-white header-elements-inline">
			<h6 class="card-title">Add Packaging data for Product: {{product.name}}</span></h6>
			
		</div>

		<div class="card-body">
			<form action="{%url 'admin:create_packaging'%}"
			method="POST" enctype="multipart/form-data" data-fouc>{%csrf_token%}
			 {{form|crispy}}
			<input type="submit" name="" class="btn btn-primary" value="Submit Form" id="">
		</form>
		</div>
	</div>
	{%endif%}
	<!-- /starting step -->

</div>
<!-- /content area -->
<script>
	function in_between(num,min,max){
		return ((num-min)*(num-max) <= 0);
	}
	$(document).ready(function () {
		var date = new Date()
		var current_year = date.getFullYear()-8;
		var current_month = date.getMonth()+1;
		
		$("#id_activity_year").change(function(){
			if($(this).val() != ""){
				$("#id_half_year").prop("disabled",false);
			}else{
				$("#id_half_year").prop("disabled",true);
			}
			if($(this).val() == current_year){
				if(in_between(current_month,1,6)){
					var option = "<option value=''>Select Half Year</option>"
                		+"<option value='First_Half'>First Half (July-Dec)</option>";
					$("#id_half_year").html(option);
				}else if(in_between(current_month,7,12)){
					var option = "<option value=''>You will insert this half data in the next year</option>";
					$("#id_half_year").html(option);
				}
			}else{
				var option = "<option value=''>Select Half Year</option>"
                		+"<option value='First_Half'>First Half (July-Dec)</option>"
						+"<option value='Second_Half'>Second Half (Jan-June)</option>";
					$("#id_half_year").html(option);
			}
		
		});
		$("#id_year").change(function(){
			if($(this).val() != ""){
				$("#id_half_year").prop("disabled",false);
			}else{
				$("#id_half_year").prop("disabled",true);
			}
			if($(this).val() == current_year){
				if(in_between(current_month,1,6)){
					var option = "<option value=''>Select Half Year</option>"
                		+"<option value='First_Half'>First Half (July-Dec)</option>";
					$("#id_half_year").html(option);
				}else if(in_between(current_month,7,12)){
					var option = "<option value=''>You will insert this half data in the next year</option>";
					$("#id_half_year").html(option);
				}
			}else{
				var option = "<option value=''>Select Half Year</option>"
                		+"<option value='First_Half'>First Half (July-Dec)</option>"
						+"<option value='Second_Half'>Second Half (Jan-June)</option>";
					$("#id_half_year").html(option);
			}
		
		});
	});
</script>
{%endblock%}