{%extends 'admin/base_site.html'%}
{% block extrastyle %}

<!-- Theme JS files -->
<script src="/static/admin/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script src="/static/admin/global_assets/js/plugins/forms/selects/select2.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/datatables_advanced.js"></script>
<!-- /theme JS files -->

{% endblock %}
{%block pagename%}
{%if flag == "production_capacity"%}
Production Capacity Data
{%elif flag == "anual_input_need"%}
Product Anual Input Need Data
{%elif flag == "demand_supply"%}
Anual Input Demand and Supply Data
{%elif flag == "sales_performance"%}
Product Production and Sales Performance Data
{%elif flag == "packaging"%}
Product Packaging Data
{%endif%}
{%endblock%}


{%block nav%}
{%if flag == "production_capacity"%}
<a href="{%url 'admin:production_capacity'%}" class="breadcrumb-item">Production Capacity</a>
{%elif flag == "anual_input_need"%}
<a href="{%url 'admin:anual_input_need'%}" class="breadcrumb-item">Annual Input Need</a>
{%elif flag == "demand_supply"%}
<a href="{%url 'admin:demand_supply_list'%}" class="breadcrumb-item">Demand & Supply</a>
{%elif flag == "sales_performance"%}
<a href="{%url 'admin:sales_performance'%}" class="breadcrumb-item">Production & Sales Performance</a>
{%elif flag == "packaging"%}
<a href="{%url 'admin:packaging'%}" class="breadcrumb-item">Packaging</a>
{%endif%}
{%endblock%}
{%block product_data%}nav-item-open nav-item-expanded{%endblock%}
{%block content%}

<!-- Content area -->
<div class="content">

	<!-- Page length options main category -->
	
	{%if flag == "production_capacity"%}
	<div class="card">
		<div class="card-header header-elements-inline">
			<h5 class="card-title">Daily Production Capacity data</h5>
			<div class="header-elements">
				
				<div class="list-icons">
					{%if not user.is_superuser%}
					<a href="{%url 'admin:create_production_capacity'%}" class="btn bg-teal btn-sm rounded-round">
						<i class="icon-add mr-2"></i>Add New Data</a>
					{%endif%}
				</div>
			</div>
		</div>

		<table class="table datatable-show-all">
			<thead>
				<tr>
					<th>Company</th>
					<th>Year</th>
					<th>Product</th>
					<th>Installed Capacity</th>
					<th>Attainable</th>
					<th>Actuall</th>
					<th>Extraction Rate</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				{%for cat in object_list%}
				<tr>
					<td>{{cat.company.name}}</td>
					<td>{{cat.year}}</td>
					<td>{{cat.product.sub_category_name}}</td>
					<td>{{cat.install_prdn_capacity}}</td>
					<td>
						{{cat.atnbl_prdn_capacity}}
					</td>
					<td>{{cat.actual_prdn_capacity}}</td>
					<td>{{cat.extraction_rate}}</td>
					<td class="text-center">
						<div class="list-icons">
							<div class="dropdown">
								<a href="#" class="list-icons-item" data-toggle="dropdown">
									<i class="icon-menu9"></i>
								</a>

								<div class="dropdown-menu dropdown-menu-right">
									{%if not user.is_superuser and cat.company == user.get_company %}
										{% if perms.product.delete_productioncapacity %}
										<a href="{%url 'admin:delete' model_name='production_capacity' id=cat.id%}" onclick="return confirm('Are you sure you want to Delete this Item?')" class="dropdown-item"><i class="icon-trash"></i>Delete</a>
										{% endif %}
										{% if perms.product.change_productioncapacity %}
										<a href="{%url 'admin:update_production_capacity' pk=cat.id%}" class="dropdown-item">
											<i class="icon-pencil"></i>Edit</a>
										{%endif%}
									{% endif %}
								</div>
							</div>
						</div>
					</td>
				</tr>
				 
				{%endfor%}
			</tbody>
		</table>
	</div>
	{%elif flag == "anual_input_need"%}
	<div class="card">
		<div class="card-header header-elements-inline">
			<h5 class="card-title">Annual Input Need data</h5>
			<div class="header-elements">
				<div class="list-icons">
					{%if not user.is_superuser and perms.product.add_annualinputneed%}
					<a href="{%url 'admin:create_anual_inp_need'%}" class="btn bg-teal btn-sm rounded-round"><i
							class="icon-add mr-2"></i>Add New Data</a>
					{%endif%}
				</div>
			</div>
		</div>

		<table class="table datatable-show-all">
			<thead>
				<tr>
					<th>Company</th>
					<th>Year</th>
					<th>Product</th>
					<th>Input Name</th>
					<th>Amount</th>
					<th>Local Input:Imported Input</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				{%for cat in object_list%}
				<tr>
					<td>{{cat.company.name}}</td>
					<td>{{cat.year}}</td>
					<td>{{cat.product.sub_category_name}}</td>
					<td>{{cat.input_name}}</td>
					<td>
						{{cat.amount}}
					</td>
					<td>{{cat.local_input}}%-{{cat.import_input}}%</td>
					<td class="text-center">
						<div class="list-icons">
							<div class="dropdown">
								<a href="#" class="list-icons-item" data-toggle="dropdown">
									<i class="icon-menu9"></i>
								</a>

								<div class="dropdown-menu dropdown-menu-right">
									{%if not user.is_superuser and cat.company == user.get_company %}
										{% if perms.product.delete_annualinputneed %}
										<a href="{%url 'admin:delete' model_name='anual_input_need' id=cat.id%}" onclick="return confirm('Are you sure you want to Delete this Item?')" class="dropdown-item"><i class="icon-trash"></i>Delete</a>
										{% endif %}
										{% if perms.product.change_annualinputneed %}
										<a href="{%url 'admin:update_anual_inp_need' pk=cat.id%}" class="dropdown-item">
										<i class="icon-pencil"></i>Edit</a>
										{% endif %}
									{%endif%}
								</div>
							</div>
						</div>
					</td>
				</tr>
				 
				{%endfor%}
			</tbody>
		</table>
	</div>
	{%elif flag == "demand_supply"%}
	<div class="card">
		<div class="card-header header-elements-inline">
			<h5 class="card-title">Anual Product Input Demand and Supply Data</h5>
			<div class="header-elements">
				<div class="list-icons">
					{%if not user.is_superuser%}
					<a href="{%url 'admin:create_demand_supply'%}" class="btn bg-teal btn-sm rounded-round"><i
							class="icon-add mr-2"></i>Add New Data</a>
					{%endif%}
				</div>
			</div>
		</div>

		<table class="table datatable-show-all">
			<thead>
				<tr>
					<th>Company</th>
					<th>Year</th>
					<th>Product</th>
					<th>Input Type</th>
					<th>Demand</th>
					<th>Supply</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				{%for cat in object_list%}
				<tr>
					<td>{{cat.company.name}}</td>
					<td>{{cat.year}}</td>
					<td>{{cat.product.sub_category_name}}</td>
					<td>{{cat.input_type}}</td>
					<td>{{cat.demand}}%</td>
					<td>{{cat.supply}}%</td>
					<td class="text-center">
						<div class="list-icons">
							<div class="dropdown">
								<a href="#" class="list-icons-item" data-toggle="dropdown">
									<i class="icon-menu9"></i>
								</a>

								<div class="dropdown-menu dropdown-menu-right">
									{%if not user.is_superuser and cat.company == user.get_company %}
										{% if perms.product.delete_inputdemandsupply %}
											<a href="{%url 'admin:delete' model_name='input_demand_supply' id=cat.id%}" onclick="return confirm('Are you sure you want to Delete this Item?')" class="dropdown-item"><i class="icon-trash"></i>Delete</a>
										{% endif %}
										{% if perms.product.change_inputdemandsupply %}
											<a href="{%url 'admin:update_demand_supply' pk=cat.id%}" class="dropdown-item">
											<i class="icon-pencil"></i>Edit</a>
										{% endif %}
									{%endif%}
								</div>
							</div>
						</div>
					</td>
				</tr>
				 
				{%endfor%}
			</tbody>
		</table>
	</div>
	{%elif flag == "sales_performance"%}
	<div class="card">
		<div class="card-header header-elements-inline">
			<h5 class="card-title">Product Production & Sales Performance</h5>
			<div class="header-elements">
				<div class="list-icons">
					{%if not user.is_superuser%}
					<a href="{%url 'admin:create_sales_performance'%}" class="btn bg-teal btn-sm rounded-round"><i
							class="icon-add mr-2"></i>Add New Data</a>
					{%endif%}
				</div>
			</div>
		</div>

		<table class="table datatable-show-all">
			<thead>
				<tr>
					<th>Company</th>
					<th>Year</th>
					<th>Half Year</th>
					<th>Product</th>
					<th>Production</th>
					<th>Sales Amount</th>
					<th>Sales Value</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				{%for cat in object_list%}
				<tr>
					<td>{{cat.company.name}}</td>
					<td>{{cat.activity_year}}</td>
					<td>{{cat.half_year}}</td>
					<td>{{cat.product.sub_category_name}}</td>
					<td>{{cat.production_amount}} {{cat.product.uom}}</td>
					<td>{{cat.sales_amount}} {{cat.product.uom}}</td>
					<td>ETB {{cat.sales_value}}</td>
					<td class="text-center">
						<div class="list-icons">
							<div class="dropdown">
								<a href="#" class="list-icons-item" data-toggle="dropdown">
									<i class="icon-menu9"></i>
								</a>

								<div class="dropdown-menu dropdown-menu-right">
									{%if not user.is_superuser and cat.company == user.get_company %}
										{% if perms.product.delete_productionandsalesperformance %}
										<a href="{%url 'admin:delete' model_name='sales_performance' id=cat.id%}" onclick="return confirm('Are you sure you want to Delete this Item?')" class="dropdown-item"><i class="icon-trash"></i>Delete</a>
										{% endif %}
										{% if perms.product.change_productionandsalesperformance %}
										<a href="{%url 'admin:update_sales_performance' pk=cat.id%}" class="dropdown-item">
											<i class="icon-pencil"></i>Edit</a>
										{% endif %}
									{%endif%}
								</div>
							</div>
						</div>
					</td>
				</tr>
				 
				{%endfor%}
			</tbody>
		</table>
	</div>
	{%elif flag == "packaging" %}
	<div class="card">
		<div class="card-header header-elements-inline">
			<h5 class="card-title">Product Packaging Data</h5>
			<div class="header-elements">
				<div class="list-icons">
					{%if not user.is_superuser%}
					<a href="{%url 'admin:create_packaging'%}" class="btn bg-teal btn-sm rounded-round"><i
							class="icon-add mr-2"></i>Add New Data</a>
					{%endif%}
				</div>
			</div>
		</div>

		<table class="table datatable-show-all">
			<thead>
				<tr>
					<th>Company</th>
					<th>Product</th>
					<th>Packaging Type</th>
					<th>Packaging Category</th>
					<th>Amount</th>
					<th>Source of Inputs</th>
					<th>Wastage %</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				{%for cat in object_list%}
				<tr>
					<td>{{cat.company.name}}</td>
					<td>{{cat.product.sub_category_name}}</td>
					<td>{{cat.packaging}}</td>
					<td>{{cat.category}}</td>
					<td>{{cat.amount}}</td>
					<td>Local: {{cat.local_input}}
						Import: {{cat.import_input}}</td>
					<td>{{cat.wastage}} </td> 
					<td class="text-center">
						<div class="list-icons">
							<div class="dropdown">
								<a href="#" class="list-icons-item" data-toggle="dropdown">
									<i class="icon-menu9"></i>
								</a>
								
								<div class="dropdown-menu dropdown-menu-right">
									{%if not user.is_superuser and cat.company == user.get_company %}
										{% if perms.product.delete_productpackaging %}
											<a href="{%url 'admin:delete' model_name='packaging' id=cat.id%}" onclick="return confirm('Are you sure you want to Delete this Item?')" class="dropdown-item"><i class="icon-trash"></i>Delete</a>
										{% endif %}
										{% if perms.product.change_productpackaging %}
										<a href="{%url 'admin:update_packaging' pk=cat.id%}" class="dropdown-item">
										<i class="icon-pencil"></i>Edit</a>
										{% endif %}
									{%endif%}
								</div>
								
							</div>
						</div>
					</td>
				</tr>
				 
				{%endfor%}
			</tbody>
		</table>
	</div>
	{%endif%}
	<!-- /page length options -->


</div>
<script>
	$(document).ready(function(){
		// $('.datatable-show-all').DataTable({
		// 			dom: 'Bfrtip',
		// 			buttons: [
		// 				'csv', 'excel', 'pdf', 'print'
		// 			]
		// 		});
		});
</script>
<!-- /content area -->
{%endblock%}