{%extends 'admin/base_site.html'%}
{%load crispy_forms_tags %}
{% block extrastyle %}
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>


<link rel="stylesheet" href="/static/admin/cropperjs/dist/cropper.min.css">
<script type="module" src="/static/admin/cropperjs/dist/cropper.min.js"></script>
{% endblock %}
{%block pagename%}Product Variety Form{%endblock%}
{%block nav%}<a href="{%url 'admin:admin_products'%}" class="breadcrumb-item">Variety</a>
<a href="{%url 'admin:create_product'%}" class="breadcrumb-item">Create Variety</a>
{%endblock%}
{%block varayti%}active{%endblock%}
{%block content%}

<!-- Content area -->
<div class="content">
 
	<div class="card">

		<div class="card-body">

			<form action="{%url 'admin:create_product'%}" method="POST" id="pdform" enctype="multipart/form-data">
				<fieldset class="mb-3 ml-3 mr-3">
					<legend class="text-uppercase font-size-sm font-weight-bold">Create Product Variety</legend>
					<p class="mb-4"> All Fields ending with * are required. You are required to fill fields in English and Amharic</p>
					 
					{%csrf_token%}
					<input type="hidden" name = 'company' value = '{{company}}'/>
					<div class="form-group row">
						<label class="col-form-label col-lg-3">{{form.name.label|title}} *</label>
						<div class="col-lg-9">
							{{form.name}}
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-lg-3">{{form.name_am.label|title}} *</label>
						<div class="col-lg-9">
							{{form.name_am}}
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-lg-3">{{form.quantity.label|title}} *</label>
						<div class="col-lg-9">
							{{form.quantity}}
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-lg-3">{{form.brand.label|title}} *</label>
						<div class="col-lg-9">
							{{form.brand}}
						</div>
					</div>
					{%comment%}
					<!-- company is sent from the view -->
					{%if company.main_category == "Food" or user.get_company.main_category == "Beverage" "%}
					<div class="form-group row">
						<label class="col-form-label col-lg-3">{{form.fandb_category.label|title}} *</label>
						<div class="col-lg-9">
							
							{{form.fandb_category}}
						</div>
					</div>
					{%endcomment%}
					{%if company.main_category == "Pharmaceuticals"%}
					
					<div class="form-group row">
						<label class="col-form-label col-lg-3">{{form.pharmacy_product_type.label|title}} *</label>
						<div class="col-lg-9">
							{{form.pharmacy_product_type}}
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-form-label col-lg-3">{{form.reserve_attr0.label|title}} *</label>
						<div class="col-lg-9">
							{{form.reserve_attr0}}
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-lg-3">{{form.dose.label|title}} *</label>
						<div class="col-lg-9">
							{{form.dose}}
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-lg-3">{{form.dosage_form.label|title}} *</label>
						<div class="col-lg-9">
							{{form.dosage_form}}
						</div>
					</div>
					<div class="form-group row">
						<label class="col-form-label col-lg-3">{{form.therapeutic_group.label|title}} *</label>
						<div class="col-lg-9">
							{{form.therapeutic_group}}
						</div>
					</div>
					{%endif%}
					<div class="form-group row">
						<label class="col-form-label col-lg-3">{{form.description.label|title}} *</label>
						<div class="col-lg-9">
							{{form.description|safe}}
							<span class="form-text text-warning">{{form.description.errors}}</span>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-form-label col-lg-3">{{form.description_am.label|title}} *</label>
						<div class="col-lg-9">
							{{form.description_am|safe}}
							<span class="form-text text-warning">{{form.description_am.errors}}</span>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-form-label col-lg-3">{{form.image.label|title}}</label>
						<div class="col-lg-9">
							{{form.x}}
							{{form.y}}
							{{form.height}}
							{{form.width}}
							<div class="uniform-uploader">{{form.image}}<span
								class="filename" style="user-select: none;">No file selected</span><span
								class="action btn bg-warning" style="user-select: none;">Choose File</span>
							</div>
							
						</div>
					</div>
				</fieldset>

				<div class="text-right">
					<button id="submit" style="padding-left: 10%; padding-right: 10%;" type="submit"
						class="btn btn-primary rounded-round">Submit </button>
				</div>
			</form>
		</div>
	</div>

</div>

<div class="modal fade" id="modalCrop">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <img src="" id="image" style="max-width: 100%;">
		</div>
		<div class="modal-footer">
		  <button type="button" id= "cancel-btn" class="btn btn-default" data-dismiss="modal">Cancel</button>
		  <button type="button" id="js-crop-and-upload-button" class="btn btn-primary js-crop-and-upload">Save Croped</button>
		</div>
	  </div>
	</div>
  </div>
<!-- /content area -->
<script>
	$(document).ready(function () {
		$('#summernote').summernote();
		$('.summernote').summernote();

		$("#submit").click(function(){
			$("#pdform").submit()
		});

			var cropper;
			var imageFile;
			var baseb4ImageString;
			var cropX;
			var cropY;
			var cropWidth;
			var cropHeight;

			var imageField = document.getElementById('#id_image')
			var modalCropEdit = document.getElementById('image')
			var force = document.getElementById('force')
			$("#id_image").change(function () {
				if (this.files && this.files[0]) {

					var reader = new FileReader();
					reader.onload = function (e) {

						$("#image").attr("src", e.target.result);
						$("#modalCrop").modal("show");
					}
					reader.readAsDataURL(this.files[0])

				}
			});
			
			$("#modalCrop").on("shown.bs.modal", function () {
				modalCropEdit = document.getElementById('image')
				cropper = new Cropper(modalCropEdit, {
					viewMode: 1,
					aspectRatio: 1 / 1,
					minCropBoxWidth: 200,
					minCropBoxHeight: 200,
					built: function () {
						$("#image").cropper('setCropBoxData', { width: 640 });
					},
					cropmove: function () {
						$("#image").cropper('setCropBoxData', { width: 640 });
					},

					crop(event) {
						setImageCropProperties(
							image,
							event.detail.x,
							event.detail.y,
							event.detail.width,
							event.detail.height)
					}
				})
			})


			function setImageCropProperties(image, x, y, width, height) {
				imageFile = image;
			
				cropX = x;
				cropY = y;
				cropWidth = width;
				cropHeight = height;
			}
			function cropImage(x, y, width, height) {
				var x = document.getElementById("id_x")
				x.value = cropX

				var y = document.getElementById("id_y")
				y.value = cropY

				var width = document.getElementById("id_width")
				width.value = cropWidth

				var height = document.getElementById("id_height")
				height.value = cropHeight
			
			}
			var confirm = document.getElementById("js-crop-and-upload-button")
			confirm.addEventListener("click", function (event) {

				cropImage(cropX, cropY, cropWidth, cropHeight)
				$("#modalCrop").modal("hide");

			});
	});
</script>
{%endblock%}