{%extends 'frontpages/layout.html'%}
{%load i18n%}
{%load core_template_tags%}
{%block content%}
	

{% get_current_language as LANGUAGE_CODE %}

<!-- USED THE busines_education/ template -->
		<!--Sliders Section-->
		<div>
			<div class="relative sptb-12 pattern2 bg-background">
				<div class="header-text1 mb-0">
					<div class="container">
						<div class="row">
							<div class="col-xl-8 col-lg-12 col-md-12 d-block mx-auto">
								<div class="text-center text-white ">
									<h1 class="mb-2">
										<span class="font-weight-semibold">
											{%trans "Event Detail" %}
										</span>
									</h1>
								</div>
							</div>
						</div>
					</div>
				</div><!-- /header-text -->
				<div class="details-absolute">
					<div class="d-sm-flex container">
                        <div><h4 class="text-white d-inline-block mr-4 mt-2 fs-18" >{% trans "Company Address" %}:</h4></div>

						<div>
							<a href="#" class="text-white d-inline-block mr-4 ">
								<i class="icon icon-location-pin text-white mr-2"></i>{{event.company.location}}
							</a>
						</div>

						<div class="ml-auto">
							<a href="#" class="text-white d-inline-block mt-2 mt-sm-0 fs-18">
								<i class="icon icon-phone text-white mr-2 fs-14"></i>{{event.company.phone_number}}
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!--/Sliders Section-->

		<!--BreadCrumb-->
		<div class="bg-white border-bottom">
			<div class="container">
				<div class="page-header">
					
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans "Home" %}</a></li>
						<li class="breadcrumb-item"><a href="{% url 'customer_event_list' %}">{% trans "Events" %}</a></li>
						
						<li class="breadcrumb-item active" aria-current="page">{% trans "Event Detail" %}</li>
					</ol>
				</div>
			</div>
		</div>
		<!--/BreadCrumb-->

		<!--Add listing-->
		<section class="sptb">
			<div class="container">
				<div class="row">
					<div class="col-xl-8 col-lg-8 col-md-12">

						<!--Business Overview-->
						<div class="card overflow-hidden">
							<div class="card-body">
								<div class="item-det mb-4">
									<a href="#" class="text-dark"><h3>{%print_translated event.title event.title_am LANGUAGE_CODE%}</h3></a>
									<div class=" d-flex">
										<ul class="d-flex mb-0">
											<li class="mr-5"><a href="#" class="icons"><i class="icon icon-person text-muted mr-1">{% trans "By" %}: </i><b>{% print_translated event.company.name event.company.name_am LANGUAGE_CODE %}</b></a></li>
                                          
											<li class="mr-5"><a><i class="fa fa-calendar-o text-muted mr-2"></i><b> {% trans "Start Date" %}: {{event.start_date.date}}</b> </a></li>                                       
										    <li class="mr-5"><a><i class="fa fa-calendar-o text-muted mr-2"></i><b>{% trans "End Date" %}: {{event.end_date.date}}</b> </a></li>
											<li>
												<div class="item7-card-text ml-2 mt-1">
													{% if event.status == 'Open' %}
													<div style="background-color: green; color:white; width: fit-content; padding: 5px; " >{% trans "Open" %}</div>
													{%elif event.status == 'Upcoming' %}
													<div style="background-color: yellow; color:black; width: fit-content; padding: 5px;" >{% trans "Upcoming" %}</div>
													{%elif event.status == 'Closed' %}
													<div style="background-color: red; color:white; width: fit-content; padding: 5px;" >{% trans "Closed" %}</div>
												{%endif%}
												</div>
											</li>
										</ul>
									</div>
                                </div>
                                

								<div class="product-slider">
									<div id="carousel" class="carousel slide" data-ride="carousel">
										<div class="carousel-inner">
											{% if event.image %}
                                            <div class="carousel-item active"><img height = "100" src="{{event.image.url}}" alt="{{event.title}}"> </div>  
											{% else %}
											<div class="carousel-item active"><img height = "100" src="{{event.company.get_image}}" alt="{{event.title}}"> </div>  
											{% endif %}
										</div>
                                    </div>
                                </div>
				
								{%if event.status == "Upcoming" or event.status == "Open" %}
								
									<br>
									<div class="col-md-6">
										<label class="col-form-label "><b><h3>{% trans "Send me a reminder on" %}</h3></b> <p class = "text-muted">{% trans "From"%} {{ event.start_date.date }} - {{event.end_date.date}} </p></label>
										<div >
											{{event_participant_form.notify_on}}
										</div>
									</div>
									<br>
									<div class="col-md-8">
										<label class="col-form-label "><b>{% trans "Your email" %}</b></label>
										<div >{{event_participant_form.patricipant_email}}</div>
									</div>
									<br>
									<div class="col-sm-4">
									<button  id = "remind_me_button"  class="btn bg-primary" class="badge badge-secondary" style="margin-right: 20px; color:white;">{% trans "Remind Me" %}</button>
									</div>
								
								{%endif%}
							</div>	
						</div>

						<div class = "card">
							<div class="card-header">
								<h3 class="card-title">{% trans "Event Description" %}</h3>
							</div>
							<div class="card-body pt-0">
								<div class="mb-0">
									<p>{% print_translated event.description|safe event.description_am|safe LANGUAGE_CODE %}</p>
								</div>	
							</div>
						</div>

						<!--/Business Overview-->

						<h3 class="mt-5 mb-4 fs-20">{% print_translated related_message related_message_am LANGUAGE_CODE %} </h3>

						<!--Related Posts-->
						<div id="myCarousel5" class="owl-carousel owl-carousel-icons3">
							<!-- Wrapper for carousel items -->

							{% for obj in related_objs %}
							<div class="item">
								<div class="card">
									<div class="item-card7-imgs">
										<a href="{% url 'customer_event_detail' id=obj.id %}"></a>
										
										{% if obj.image %}	
										<img src="{{obj.image.url}}" height="300px" alt="img" class="cover-image">
										{% else %}
										<img src="{{obj.company.get_image}}"  height="300px" alt="img" class="cover-image">
										{% endif %}
										
									</div>
	
									<div class="card-body">
										<div class="item-card7-desc">
											<a  href="{% url 'customer_event_detail' id=obj.id %}" class="text-dark"><h4 class="font-weight-semibold">{% print_translated obj.title obj.title_am LANGUAGE_CODE %}</a>
										</div>
										<div class="item-card7-text">
											<ul class="icon-card mb-0 mt-2">
												<li ><a href="{% url 'customer_event_detail' id=obj.id %}" class="icons"><i class="icon icon-location-pin text-muted mr-1"></i>{{obj.company.location}}</a></li>
												<li><a href="#" class="icons"><i class="icon icon-event text-muted mr-1"></i> {{obj.start_date.date}}</a></li>
												<li class="mb-0"><a href="#" class="icons"><i class="icon icon-user text-muted mr-1"></i>{% print_translated obj.company.name obj.company.name_am LANGUAGE_CODE %} </a></li>
												<li class="mb-0"><a href="#" class="icons"><i class="icon icon-phone text-muted mr-1"></i> {{obj.company.phone_number}}</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						
						</div>
						<!--/Related Posts-->

						
						
					</div>

					<!--Right Side Content-->
					<div class="col-xl-4 col-lg-4 col-md-12">
						<div class="card overflow-hidden">
							<div class="card-header">
								<h3 class="card-title">{% trans "Company Information" %}</h3>
							</div>
							<div class="card-body item-user">
								<div class="profile-details">
									<div class="profile-pic mb-0 mx-5">
										<img src="{{event.company.get_image}}" class="brround w-150 h-150" alt="user">
									</div>
								</div>
								<div class="text-center mt-2">
									<a href="#" class="text-dark text-center"><h4 class="mt-0 mb-0 font-weight-semibold">{% print_translated event.company.name event.company.name_am LANGUAGE_CODE %} </h4></a>
									
								</div>
							</div>
							
							<div class="tab-content border-0 bg-white">
								<div class="tab-pane active" id="tab-contact">
									<div class="card-body item-user">
										<h4 class="mb-4">{% trans "Company Contact Info" %}</h4>
										<div>
											<h6><span class="font-weight-semibold"><i class="fa fa-map mr-3 mb-2"></i></span><a href="#" class="text-body"> {{event.company.location}}</a></h6>
											<h6><span class="font-weight-semibold"><i class="fa fa-envelope mr-3 mb-2"></i></span><a href="#" class="text-body"> {{event.company.email}}</a></h6>
											<h6><span class="font-weight-semibold"><i class="fa fa-phone mr-3 mb-2"></i></span><a href="#" class="text-secondary"> {{event.company.phone_number}}</a></h6>
										</div>
									</div>
								</div>
							
								<div class="card-footer">
									<div class="">
										<a href="/chat/with/{{event.created_by.username}}/" target = "blank" class="btn btn-info mt-1 mb-1"><i class="fa fa-envelope"></i> {% trans "Chat" %}</a>
									</div>
								</div>
							</div>
						</div>
					
						<form action="{% url 'customer_event_list' %}" method = "GET">
						<div class = "card">
							<div class="card-header border-top">
								<h3 class="card-title">{% trans "Filter by company " %}</h3>
							</div>
							<div class="card-body">
								<div class="filter-product-checkboxs">
									{% for comp in event_companies %}
									<label class="custom-control custom-checkbox mb-2">
										<input type="checkbox" class="custom-control-input" name="by_company" value="{{comp.name}}">
										<span class="custom-control-label">
											{% print_translated comp.name comp.name_am LANGUAGE_CODE %}
										</span>
									</label>
									{% endfor %}

								</div>
							</div>
							<div class="card-footer">
								<button type = "submit" value="Something" href="#" class="btn btn-primary btn-block">{% trans "Apply Filter" %}</a>
							</div>
						</div>
						</form>
						
					</div>
					<!--/Right Side Content-->
				</div>
			</div>
		</section>

		<script>
			

		
			
			if (document.getElementById("remind_me_button")){
				document.querySelector('#remind_me_button').onclick = function(e) 
						{
							var participant_email = document.querySelector('#participant_email');
							// var end_date = new Date("{{event.end_date}}"); 
                            var notify_on = new Date($("input[name = 'notify_on']").val()); 
							
							// new Date() is changed to DateString, inorder to cut of the timezone from the date, as the date from start date and end date is just the date field without time zone
                            if (participant_email.value == "" || participant_email.value == null || notify_on.value == ""   ){
                                window.alert("Fill the form first!");
                            }
                           else{
							fetch("{% url 'ajax_event_participation' id=event.id %}",
                                {
                                    method:"POST",
                                    credentials: 'same-origin',
                                    headers:{
                                        "content-Type":'application/json',
                                        'X-CSRFToken':'{{csrf_token}}'
                                    },
                                    body:JSON.stringify({
                                        'notify_on': notify_on,
										'participant_email':participant_email.value
									})
                                }
                               ).then(e => e.json()).then(result=>{
								   	if (result['error'] == false)
										window.alert(result['message']);  

								   	else
										window.alert((result['message']));
										
									notify_on.value = new Date()
									participant_email.value = ""         
                                    });   
                            }
                        };
			}
        
		</script>
		
		<script>

  
function set_alert_message(text)
{  
        alert_box = document. getElementById("alart_message")
        alert_box.innerHTML = text;
        alert_box.style['display'] = 'block';
        $("input [type = 'submit']").attr("disabled",  true);
		$("button[type = 'submit']").attr("disabled", true);
}
	
function check_date_input()
	{		

        var notify_date = new Date($("input[name = 'end_date']").val()); 
        
        // var start_date = new Date($("input[name = 'start_date']").val()); 
        // var end_date = new Date($("input[name = 'end_date']").val()); 
        
		str_today = new Date().toDateString()
        // new Date() is changed to DateString, inorder to cut of the timezone from the date, as the date from start date and end date is just the date field without time zone
        today = new Date(str_today)
        if(start_date < today){
            document. getElementById("alart").style.display = "block"; //show
            set_alert_message("start date must be greater than or equal to today!!")	
        }
        else if (start_date > end_date) {
            document. getElementById("alart").style.display = "block"; //show
            set_alert_message("End date must be greater than or equal to start date!!")
        }
        else{
            document. getElementById("alart").style.display = "none"; //hide.
            $("input[type = 'submit']").attr("disabled",  false);
			$("button[type = 'submit']").attr("disabled", false);
            }
	}
		</script>

		{%endblock%}