{%extends 'frontpages/layout.html'%}
{%load i18n%}
{%load core_template_tags%}
{%block content%}
{% get_current_language as LANGUAGE_CODE %}

<!-- USED THE busines_education/ template -->
		<!--Sliders Section-->
		<div>
			<div class="relative sptb-12 pattern2 bg-background">
				<div class="header-text1 mb-0">
					<div class="container">
						<div class="row">
							<div class="col-xl-8 col-lg-12 col-md-12 d-block mx-auto">
								<div class="text-center text-white ">
									<h1 class="mb-2"><span class="font-weight-semibold">{%print_translated event.event_name event.event_name_am LANGUAGE_CODE%}</span></h1>	
								</div>
							</div>
						</div>
					</div>
				</div><!-- /header-text -->
				<div class="details-absolute">
					<div class="d-sm-flex container">
                        <div><h4 class="text-white d-inline-block mr-4 " class="text-white d-inline-block mt-2 mt-sm-0 fs-18" >Company Contact:</h4></div>
						<div><a href="#" class="text-white d-inline-block mr-4 "><i class="icon icon-location-pin text-white mr-2"></i>{{event.company.location}}</a></div>
						<div class="ml-auto"><a href="#" class="text-white d-inline-block mt-2 mt-sm-0 fs-18"><i class="icon icon-phone text-white mr-2 fs-14"></i>{{event.company.phone_number}}</a></div>
					</div>
				</div>
			</div>
		</div>
		<!--/Sliders Section-->

		<!--BreadCrumb-->
		<div class="bg-white border-bottom">
			<div class="container">
				<div class="page-header">
					
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Event Detail</li>
					</ol>
				</div>
			</div>
		</div>
		<!--/BreadCrumb-->

		<!--Add listing-->
		<section class="sptb">
			<div class="container">
				<div class="row">
					<div class="col-xl-8 col-lg-8 col-md-12">

						<!--Business Overview-->
						<div class="card overflow-hidden">
							<div class="card-body">
								<div class="item-det mb-4">
									<a href="#" class="text-dark"><h3>{%print_translated event.event_name event.event_name_am LANGUAGE_CODE%}</h3></a>
									<div class=" d-flex">
										<ul class="d-flex mb-0">
											<li class="mr-5"><a href="#" class="icons"><i class="icon icon-person text-muted mr-1">By: </i><b>{% print_translated event.company.company_name event.company.company_name_am LANGUAGE_CODE %}</b></a></li>
                                            <li class="mr-5"><a><i class="fa fa-calendar-o text-muted mr-2"></i><b>Start date: {{event.start_date}}</b> </a></li>                                       
										    <li class="mr-5"><a><i class="fa fa-calendar-o text-muted mr-2"></i><b>{{event.end_date}}</b> </a></li>                                       
										
										</ul>
									</div>
                                </div>
                                

								<div class="product-slider">
									<div id="carousel" class="carousel slide" data-ride="carousel">
										<div class="carousel-inner">
											{% if event.image %}
                                            <div class="carousel-item active"><img height = "100" src="{{event.image.url}}" alt="{{event.event_name}}"> </div>  
											{% else %}
											<div class="carousel-item active"><img height = "100" src="{{event.company.get_image}}" alt="{{event.event_name}}"> </div>  
											{% endif %}
										</div>
                                    </div>

                                </div>
								
								{% if event.status == "Upcoming" %}
								<form action="{% url 'event_participation' id=event.id %}" method="POST">
									{%csrf_token%}
									<div style = "margin:10px; margin-left:0px;" class = "row">
										
										<div class="col-md-6">
											<label class="col-form-label ">{{event_participant_form.patricipant_email.label|title}}</label>
											<div >
												{{event_participant_form.patricipant_email}}
											</div>
					
										</div>
											
										<div class="col-md-6"  >
											<label class="col-form-label ">{{event_participant_form.notify_in.label|title}}</label>
											<div >
												<input type="number" class="form-control" min = "0" max="15" name = "notify_in" placeholder = "Notify me before -- days" />
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										
										<button type="submit" class="btn bg-primary" class="badge badge-secondary" style="margin-right: 20px; color:white;">Notify Me</button>
										
									</div>
								</form>
								{%endif%}
								
							</div>
                        </div>
                        
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Event Description</h3>
							</div>
							<div class="card-body">
								<div class="mb-0">
									<p>{% print_translated event.description event.description_am LANGUAGE_CODE %}</p>
								</div>	
							</div>
							
						</div>

						<!--/Business Overview-->

						<h3 class="mt-5 mb-4 fs-20">Other Events from {% print_translated event.company.company_name event.company.company_name_am LANGUAGE_CODE %} </h3>

						<!--Related Posts-->
						<div id="myCarousel5" class="owl-carousel owl-carousel-icons3">
							<!-- Wrapper for carousel items -->

							<div class="item">
								<div class="card">
									<div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">Negotiable</span></div>
									<div class="item-card7-imgs">
										<a href="{% url 'bs' %}"></a>
										<img src="/static/frontpages/images/products/products/ed1.jpg" alt="img" class="cover-image">
									</div>
									<div class="item-card7-overlaytext">
										<a href="{% url 'bs' %}" class="text-white"> Education</a>
									</div>
									<div class="item-card7-icons">
										<a href="#" class="item-card7-icons-l"> <i class="fa fa-pencil"></i></a>
										<a href="#" class="item-card7-icons-r"><i class="fa fa fa-heart-o"></i></a>
									</div>
									<div class="card-body">
										<div class="rating-stars mb-1 mt-0 d-flex">
											<input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="4">
											<div class="rating-stars-container mr-2">
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
											</div> <a class="text-white" href="#">4 reviews</a>
										</div>
										<div class="item-card7-desc">
											<a href="{% url 'bs' %}" class="text-dark"><h4 class="font-weight-semibold">Record Writing <i class="ion-checkmark-circled text-success ml-1"></i></h4></a>
										</div>
										<div class="item-card7-text">
											<ul class="icon-card mb-0 mt-2">
												<li ><a href="#" class="icons"><i class="icon icon-location-pin text-muted mr-1"></i>  USA</a></li>
												<li><a href="#" class="icons"><i class="icon icon-event text-muted mr-1"></i> 2 hours ago</a></li>
												<li class="mb-0"><a href="#" class="icons"><i class="icon icon-user text-muted mr-1"></i> Clara Pixley</a></li>
												<li class="mb-0"><a href="#" class="icons"><i class="icon icon-phone text-muted mr-1"></i> 785 485 965</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="card">
									<div class="ribbon ribbon-top-left text-secondary"><span class="bg-secondary">featured</span></div>
									<div class="item-card7-imgs">
										<a href="{% url 'bs' %}"></a>
										<img src="/static/frontpages/images/products/products/ed2.jpg" alt="img" class="cover-image">
									</div>
									<div class="item-card7-overlaytext">
										<a href="{% url 'bs' %}" class="text-white">Education </a>
									</div>
									<div class="item-card7-icons">
										<a href="#" class="item-card7-icons-l"><i class="fa fa-pencil"></i></a>
										<a href="#" class="item-card7-icons-r"><i class="fa fa fa-heart-o"></i></a>
									</div>
									<div class="card-body">
										<div class="rating-stars mb-1 mt-0 d-flex">
											<input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="5">
											<div class="rating-stars-container mr-2">
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
											</div> <a class="text-white" href="#">14 reviews</a>
										</div>
										<div class="item-card7-desc">
											<a href="{% url 'bs' %}" class="text-dark"><h4 class="font-weight-semibold">Pg University <i class="ion-checkmark-circled text-success ml-1"></i></h4></a>
										</div>
										<div class="item-card7-text">
											<ul class="icon-card mb-0 mt-2">
												<li ><a href="#" class="icons"><i class="icon icon-location-pin text-muted mr-1"></i>  Los Angles</a></li>
												<li><a href="#" class="icons"><i class="icon icon-event text-muted mr-1"></i> 5 hours ago</a></li>
												<li class="mb-0"><a href="#" class="icons"><i class="icon icon-user text-muted mr-1"></i> Sally Peake</a></li>
												<li class="mb-0"><a href="#" class="icons"><i class="icon icon-phone text-muted mr-1"></i> 567 987 608</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="card">
									<div class="item-card7-imgs">
										<a href="{% url 'bs' %}"></a>
										<img src="/static/frontpages/images/products/products/ed3.jpg" alt="img" class="cover-image">
									</div>
									<div class="item-card7-overlaytext">
										<a href="{% url 'bs' %}" class="text-white">Education</a>
									</div>
									<div class="item-card7-icons">
										<a href="#" class="item-card7-icons-l"><i class="fa fa-pencil"></i></a>
										<a href="#" class="item-card7-icons-r"><i class="fa fa fa-heart-o"></i></a>
									</div>
									<div class="card-body">
										<div class="rating-stars mb-1 mt-0 d-flex">
											<input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="3">
											<div class="rating-stars-container mr-2">
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
											</div> <a class="text-white" href="#">25 reviews</a>
										</div>
										<div class="item-card7-desc">
											<a href="{% url 'bs' %}" class="text-dark"><h4 class="font-weight-semibold">Ug University</h4></a>
										</div>
										<div class="item-card7-text">
											<ul class="icon-card mb-0 mt-2">
												<li ><a href="#" class="icons"><i class="icon icon-location-pin text-muted mr-1"></i>  Los Angles</a></li>
												<li><a href="#" class="icons"><i class="icon icon-event text-muted mr-1"></i> 4 hours ago</a></li>
												<li class="mb-0"><a href="#" class="icons"><i class="icon icon-user text-muted mr-1"></i> Julio Gutirrez</a></li>
												<li class="mb-0"><a href="#" class="icons"><i class="icon icon-phone text-muted mr-1"></i> 758 458 758</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="card">
									<div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">Collection</span></div>
									<div class="item-card7-imgs">
										<a href="{% url 'bs' %}"></a>
										<img src="/static/frontpages/images/products/products/ed4.jpg" alt="img" class="cover-image">
									</div>
									<div class="item-card7-overlaytext">
										<a href="{% url 'bs' %}" class="text-white"> Coaching</a>
									</div>
									<div class="item-card7-icons">
										<a href="#" class="item-card7-icons-l"><i class="fa fa-pencil"></i></a>
										<a href="#" class="item-card7-icons-r"><i class="fa fa fa-heart-o"></i></a>
									</div>
									<div class="card-body">
										<div class="rating-stars mb-1 mt-0 d-flex">
											<input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="4">
											<div class="rating-stars-container mr-2">
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
											</div> <a class="text-white" href="#">4 reviews</a>
										</div>
										<div class="item-card7-desc">
											<a href="r{% url 'bs' %}" class="text-dark"><h4 class="font-weight-semibold">Best Institutions <i class="ion-checkmark-circled text-success ml-1"></i></h4></a>
										</div>
										<div class="item-card7-text">
											<ul class="icon-card mb-0 mt-2">
												<li ><a href="#" class="icons"><i class="icon icon-location-pin text-muted mr-1"></i>  Spain</a></li>
												<li><a href="#" class="icons"><i class="icon icon-event text-muted mr-1"></i> 12 hours ago</a></li>
												<li class="mb-0"><a href="#" class="icons"><i class="icon icon-user text-muted mr-1"></i> Clara Pixley</a></li>
												<li class="mb-0"><a href="#" class="icons"><i class="icon icon-phone text-muted mr-1"></i> 745 854 857</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="card">
									<div class="item-card7-imgs">
										<a href="{% url 'bs' %}"></a>
										<img src="/static/frontpages/images/products/products/ed1.jpg" alt="img" class="cover-image">
									</div>
									<div class="item-card7-overlaytext">
										<a href="{% url 'bs' %}" class="text-white"> Training</a>
									</div>
									<div class="item-card7-icons">
										<a href="#" class="item-card7-icons-l"><i class="fa fa-pencil"></i></a>
										<a href="#" class="item-card7-icons-r"><i class="fa fa fa-heart-o"></i></a>
									</div>
									<div class="card-body">
										<div class="rating-stars mb-1 mt-0 d-flex">
											<input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="5">
											<div class="rating-stars-container mr-2">
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
											</div> <a class="text-white" href="#">No reviews</a>
										</div>
										<div class="item-card7-desc">
											<a href="{% url 'bs' %}" class="text-dark"><h4 class="font-weight-semibold">Care Brohzm</h4></a>
										</div>
										<div class="item-card7-text">
											<ul class="icon-card mb-0 mt-2">
												<li ><a href="#" class="icons"><i class="icon icon-location-pin text-muted mr-1"></i>  China</a></li>
												<li><a href="#" class="icons"><i class="icon icon-event text-muted mr-1"></i> 1 Day ago</a></li>
												<li class="mb-0"><a href="#" class="icons"><i class="icon icon-user text-muted mr-1"></i> Nicol Bretz</a></li>
												<li class="mb-0"><a href="#" class="icons"><i class="icon icon-phone text-muted mr-1"></i> 485 965 854</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="card">
									<div class="item-card7-imgs">
										<a href="{% url 'bs' %}"></a>
										<img src="/static/frontpages/images/products/products/ed2.jpg" alt="img" class="cover-image">
									</div>
									<div class="item-card7-overlaytext">
										<a href="{% url 'bs' %}" class="text-white"> Education</a>
									</div>
									<div class="item-card7-icons">
										<a href="#" class="item-card7-icons-l"><i class="fa fa-pencil"></i></a>
										<a href="#" class="item-card7-icons-r"><i class="fa fa fa-heart-o"></i></a>
									</div>
									<div class="card-body">
										<div class="rating-stars mb-1 mt-0 d-flex">
											<input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="3">
											<div class="rating-stars-container mr-2">
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
												<div class="rating-star sm">
													<i class="fa fa-star"></i>
												</div>
											</div> <a class="text-white" href="#">34 reviews</a>
										</div>
										<div class="item-card7-desc">
											<a href="{% url 'bs' %}" class="text-dark"><h4 class="font-weight-semibold">Digital Marketing Training <i class="ion-checkmark-circled text-success ml-1"></i></h4></a>
										</div>
										<div class="item-card7-text">
											<ul class="icon-card mb-0 mt-2">
												<li ><a href="#" class="icons"><i class="icon icon-location-pin text-muted mr-1"></i>  Canada</a></li>
												<li><a href="#" class="icons"><i class="icon icon-event text-muted mr-1"></i> 2 days ago</a></li>
												<li class="mb-0"><a href="#" class="icons"><i class="icon icon-user text-muted mr-1"></i> Sally Peake</a></li>
												<li class="mb-0"><a href="#" class="icons"><i class="icon icon-phone text-muted mr-1"></i>859 654 857</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--/Related Posts-->

						
						
					</div>

					<!--Right Side Content-->
					<div class="col-xl-4 col-lg-4 col-md-12">
						<div class="card overflow-hidden">
							<div class="card-header">
								<h3 class="card-title">Company Information</h3>
							</div>
							<div class="card-body item-user">
								<div class="profile-details">
									<div class="profile-pic mb-0 mx-5">
										<img src="{{event.company.get_image}}" class="brround w-150 h-150" alt="user">
									</div>
								</div>
								<div class="text-center mt-2">
									<a href="{% url 'userprofile' %}" class="text-dark text-center"><h4 class="mt-0 mb-0 font-weight-semibold">{% print_translated event.company.company_name event.company.company_name_am LANGUAGE_CODE %} </h4></a>
									
								</div>
							</div>
							<div class="profile-user-tabs">
								<div class="tab-menu-heading border-0 p-0">
									<div class="tabs-menu1">
										<ul class="nav">
											<li class=""><a href="#tab-contact" class="active" data-toggle="tab">Contat</a></li>
											
										</ul>
									</div>
								</div>
							</div>
							<div class="tab-content border-0 bg-white">
								<div class="tab-pane active" id="tab-contact">
									<div class="card-body item-user">
										<h4 class="mb-4">Company Contact Info</h4>
										<div>
											<h6><span class="font-weight-semibold"><i class="fa fa-map mr-3 mb-2"></i></span><a href="#" class="text-body"> {{event.company.location}}</a></h6>
											<h6><span class="font-weight-semibold"><i class="fa fa-envelope mr-3 mb-2"></i></span><a href="#" class="text-body"> {{event.company.email}}</a></h6>
											<h6><span class="font-weight-semibold"><i class="fa fa-phone mr-3 mb-2"></i></span><a href="#" class="text-secondary"> {{event.company.phone_number}}</a></h6>
										</div>
									</div>
								</div>
							
								<div class="card-footer">
									<div class="">
										<a href="#" class="btn btn-info mt-1 mb-1"><i class="fa fa-envelope"></i> Chat</a>
										<a href="#" class="btn btn-secondary mt-1 mb-1" data-toggle="modal" data-target="#contact"><i class="fa fa-user"></i> Contact Me</a>
										<a href="#" class="btn btn-light mt-1 mb-1"><i class="fa fa-eye"></i>All Listings</a>
									</div>
								</div>
							</div>
						</div>
					
						
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Search Listings</h3>
							</div>
							<div class="card-body">
								<div class="form-group">
									<input type="text" class="form-control keywords-input" id="search-text" placeholder="What are you looking for?">
								</div>
								<div class="form-group">
									<select name="country" id="select-countries" class="form-control custom-select select2-show-search">
										<option value="1" selected>Select Category</option>
										<option value="2">RealEstate</option>
										<option value="3">Restaurant</option>
										<option value="4">Beauty</option>
										<option value="5">Jobs</option>
										<option value="6">Services</option>
										<option value="7">AutoMobile</option>
										<option value="8">Education</option>
										<option value="9">Electronics</option>
										<option value="10">Pets & Animals</option>
										<option value="11">Computer</option>
										<option value="12">Mobile</option>
										<option value="13">Events</option>
										<option value="14">Travel</option>
										<option value="15">Clothing</option>
									</select>
								</div>
								<div >
									<a href="#" class="btn  btn-block btn-secondary">Search</a>
								</div>
							</div>
						</div>
						
					</div>
					<!--/Right Side Content-->
				</div>
			</div>
		</section>

		<!-- Newsletter-->
		<section class="sptb border-top bg-white">
			<div class="container">
				<div class="section-title center-block text-center">
					<h2>Subscribe To Our Newsletter</h2>
					<p>Mauris ut cursus nunc. Morbi eleifend, ligula at consectetur vehicula</p>
				</div>
				<div class="row">
					<div class="col-lg-10 col-xl-8 col-md-12 mx-auto d-block text-center">
						<div class="input-group sub-input mt-0">
							<input type="text" class="form-control input-lg " placeholder="Enter your Email">
							<div class="input-group-append ">
								<button type="button" class="btn btn-secondary btn-lg br-tr-3 br-br-3 pl-5 pr-5">
									Subscribe
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Newsletter-->

		<!-- Message Modal -->
		<div class="modal fade" id="contact" tabindex="-1" role="dialog"  aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="examplecontactLongTitle">Send Message</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<input type="text" class="form-control" id="contact-name" placeholder="Your Name">
						</div>
						<div class="form-group">
							<input type="email" class="form-control" id="contact-email" placeholder="Email Address">
						</div>
						<div class="form-group mb-0">
							<textarea class="form-control" name="example-textarea-input" rows="6" placeholder="Message"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-success">Send</button>
					</div>
				</div>
			</div>
		</div>

		<!--Comment Modal -->
		<div class="modal fade" id="Comment" tabindex="-1" role="dialog"  aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Leave a Comment</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<input type="text" class="form-control" id="Comment-name" placeholder="Your Name">
						</div>
						<div class="form-group">
							<input type="email" class="form-control" id="Comment-email" placeholder="Email Address">
						</div>
						<div class="form-group mb-0">
							<textarea class="form-control" name="example-textarea-input" rows="6" placeholder="Message"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-success">Send</button>
					</div>
				</div>
			</div>
		</div>

		<!--Map Modal -->
		<div class="modal fade" id="Map-modal" tabindex="-1" role="dialog"  aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Direction</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="h-400">
							<!--Map-->
							<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2965.0824050173574!2d-93.63905729999999!3d41.998507000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sWebFilings%2C+University+Boulevard%2C+Ames%2C+IA!5e0!3m2!1sen!2sus!4v1390839289319" class="h-100 w-100 border-0"></iframe>
							<!--/Map-->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Report Modal -->
		<div class="modal fade" id="report" tabindex="-1" role="dialog"  aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="examplereportLongTitle">Report Abuse</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<input type="text" class="form-control" id="report-name" placeholder="Enter url">
						</div>
						<div class="form-group">
							<select name="country" id="select-countries2" class="form-control custom-select select2-no-serach">
								<option value="1" selected>Categories</option>
								<option value="2">Spam</option>
								<option value="3">Identity Theft</option>
								<option value="4">Online Shopping Fraud</option>
								<option value="5">Service Providers</option>
								<option value="6">Phishing</option>
								<option value="7">Spyware</option>
							</select>
						</div>
						<div class="form-group">
							<input type="email" class="form-control" id="report-email" placeholder="Email Address">
						</div>
						<div class="form-group mb-0">
							<textarea class="form-control" name="example-textarea-input" rows="6" placeholder="Message"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-success">Submit</button>
					</div>
				</div>
			</div>
		</div>
		{%endblock%}