{%extends 'frontpages/layout.html'%}
{%load i18n%}
{%load core_template_tags%}
{%block content%}
{% get_current_language as LANGUAGE_CODE %}


		<!--Sliders Section-->
		<div>
			<div class="cover-image sptb-1 bg-background" data-image-src="/static/frontpages/images/banners/banner1.jpg">
				<div class="header-text1 mb-0">
					<div class="container">
						<div class="row">
								<div class="col-xl-8 col-lg-12 col-md-12 d-block mx-auto">
									<div class="text-center text-white ">
										<h1 class=""><span class="font-weight-bold"></span> {% print_translated message message_am LANGUAGE_CODE %} </h1>
								
									</div>
									<form action = "/collaborations/customer_news_list/" method = "GET" >
											<div class="search-background px-4 py-3 mt-4">
												<div class="form row row-sm">
													<div class="form-group  col-xl-6 col-lg-5 col-md-12 mb-0">
														{% if searched_name %}
														<input type="text" name = "by_title" class="form-control input-lg border-white"  placeholder="{{searched_name}}">
														{%else%}
														<input type="text" name = "by_title" class="form-control input-lg border-white"  placeholder="Search News">
														{%endif%}
													</div>
													<div class="form-group col-xl-4 col-lg-4 select2-lg  col-md-12 mb-0 border-white">
														<select  name = 'by_category'  class="form-control select2-show-search w-100" data-placeholder="Select">
															<optgroup label="Categories">
																

																{% if searched_category %}
																<option>{{searched_category}}</option>
																{% endif %}
															
																<option>All</option>
																
																{% for catagory in NEWS_CATAGORY %}
																<option name = '{{category.0}}' value="{{catagory.0}}">{{catagory.0}}</option>
																{% endfor %}
															</optgroup>
														</select>
													</div>
													<div class="col-xl-2 col-lg-3 col-md-12 mb-0">
														<button type="submit"  class="btn btn-lg btn-block btn-secondary">{% trans "Search" %}</button>
													</div>
												</div>
											</div>
									</form>
								</div>
							
						</div>
					</div>
				</div><!-- /header-text -->
			</div>
		</div>
		<!--/Sliders Section-->

		<!--Breadcrumb-->
		<div class="bg-white border-bottom">
			<div class="container">
				<div class="page-header">
					<h4 class="page-title">{% trans "News list" %}</h4>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">{% trans "Home" %}</a></li>
						<li class="breadcrumb-item"><a href="#">{% trans "Pages" %}</a></li>
						<li class="breadcrumb-item active" aria-current="page">{% trans "News list" %}</li>
					</ol>
				</div>
			</div>
		</div>
		<!--/Breadcrumb-->

		<!--Add listing-->
		
			<div class="container">
				<div class="row">
					<div class="col-xl-9 col-lg-9 col-md-12">
						<!--Add lists-->
						<div class=" mb-lg-0">
							<div class="">
								<div class="item2-gl business-list-01">
									<div class="">
										<div class="bg-white p-5 item2-gl-nav d-flex">
									
											<h4 class="mb-0 mt-3">{% trans "Page" %} {{news_list.number}} {% trans "of" %} {{news_list.paginator.num_pages}}</h4>
											<ul class="nav item2-gl-menu ml-auto mt-1">
												<li class=""><a href="#tab-11" class="active show" data-toggle="tab" title="List style"><i class="fa fa-list"></i></a></li>
												<li><a href="#tab-12" data-toggle="tab" class="" title="Grid"><i class="fa fa-th"></i></a></li>
											</ul>
											<form action="{% url 'customer_news_list' %}" method="GET">
												<div class="d-sm-flex">
													
													<div class="selectgroup">
														<label class="selectgroup-item mb-md-0">
															<input type="radio"  class="selectgroup-input" checked="">
															<span class="selectgroup-button d-md-flex"><button style="border: hidden; background-color: white; color: #0a2045;" type="submit">{% trans "All" %}</button> <i class="fa fa-sort ml-2 mt-1"></i></span>
														</label>
														
													</div>
												</div>
											</form>
										</div>
									</div>
									<div class="tab-content">
										<div class="tab-pane active" id="tab-11">
											{% for news in news_list %}
											<div class="card overflow-hidden">
												<div class="d-md-flex">
													<div class="item-card9-img">
														<div class="item-card9-imgs">
															<a href="/collaborations/customer_news_detail/{{news.id}}/"></a>
															{% if news.get_images.0.image.url %}
															<img src="{{news.get_images.0.image.url}}" alt="img" class="cover-image">
															{% elif news.get_company.get_image %}
															<img src="{{news.get_company.get_image}}"  alt="img" class="cover-image">
															{% else %}
															<img src="/static/frontpages/images/products/products/v1.jpg"  alt="img" class="cover-image">
															{% endif %}
														</div>
														
														<div class="item-cardreview-absolute bg-secondary">{{ news.catagory }}</div>
													</div>
													<div class="card border-0 mb-0">
														<div class="card-body h-100">
															<div class="item-card9">
																<a href="/collaborations/customer_news_detail/{{news.id}}/" class="text-dark" style="margin-bottom: 3px;">
																	<h4 class="font-weight-semibold mt-1 mb-1">{% print_translated news.title news.title_am LANGUAGE_CODE %}</h4>
																</a>
																<!--<p >{{news.description|truncatechars_html:12|safe}}</p>-->

																 <p class="mb-0 leading-tight"><span class="font-weight-semibold text-dark"> {% trans "By" %}  </span>{% print_translated news.company.name news.company.name_am LANGUAGE_CODE %} </p>
															</div>
														</div>
														<div class="card-footer pt-2 pb-2">
															<div class="item-card9-footer d-sm-flex">
																<div class="item-card9-cost">
																	<div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc">
																		<b>{% trans "By" %}: &nbsp</b>
																		<a class="" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{news.company.name}} ">
																			<img src="{{news.get_company.get_image}}" alt="image" class="avatar brround  mr-2">
																		
																		</a>

																		<a class="" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{news.get_company.phone_number}}"><i class="fa fa-phone"></i></a>

																		<a class="" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{news.get_company.location}}"><i class="fa fa-map-marker mr-1"></i></a>

																		<a class="" href="/chat/with/{{news.created_by.username}}/" data-toggle="tooltip" data-placement="top" title="" data-original-title= "{% trans 'Chat with staff' %} "><i style = "color:blue;" class="fa fa-comments fa-"></i></a>
																		
																		<a class="" href="/collaborations/customer_news_detail/{{news.id}}/" ><b class="btn btn-secondary btn-sm mt-1">{% trans "News Detail" %}</b></a>
									
																		<br>
																		<!-- <div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc"><small > <b>  At:</b> {{news.created_date}}</small></div> -->
																		
																	</div>
																</div>
																<div class="ml-auto mt-3 mt-sm-0">
																	<div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc"><small > <b>  At:</b> {{news.created_date}}</small></div>
																		
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											{%endfor%}
										</div>




										<div class="tab-pane" id="tab-12">
											<div class="row">
												<div class="col-lg-6 col-md-6 col-xl-6">
													<div class="card overflow-hidden">
														<div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">New</span></div>
														<div class="h-100">
															<div class="item-card9-img">
																<div class="item-card9-imgs">
																	<a href="{% url 'bs_2' %}"></a>
																	<img src="/static/frontpages/images/products/products/h4.jpg" alt="img" class="cover-image">
																</div>
																<div class="item-card9-icons">
																	<a href="#" class="item-card9-icons1 wishlist"> <i class="fa fa fa-heart-o"></i></a>
																</div>
																<div class="item-cardreview-absolute bg-secondary">RealEstate</div>
															</div>
															<div class="card border-0 mb-0">
																<div class="card-body">
																	<div class="item-card9">
																		<a href="{% url 'bs_2' %}" class="text-dark"><h4 class="font-weight-semibold mt-1 mb-1">2BK Modren flat <i class="fa fa-exclamation-circle text-warning ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Not Verified"></i></h4></a>
																		<div class="rating-stars d-flex mr-5">
																			<input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="3">
																			<div class="rating-stars-container mr-2">
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																			</div> <a class="fs-13 leading-tight mt-1" href="#">13 Reviews</a>
																		</div>
																		<div class="mt-2 mb-2">
																			<a href="#" class="mt-1 mb-1 mr-3 text-dark"><i class="fa fa-globe mr-1"></i> New York</a>
																			<a href="#" class="mt-1 mb-1 mr-1 text-muted"><i class="fa fa-map-marker mr-1"></i> Mig-213 Modern Colorny, NY 10012</a>
																		</div>
																		<p class="mb-0 leading-tight"><span class="font-weight-semibold text-dark"> Timings : </span>  10am - 10pm</p>
																	</div>
																</div>
																<div class="card-footer pt-2 pb-2">
																	<div class="item-card9-footer d-sm-flex">
																		<div class="item-card9-cost">
																			<div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc">
																				<a class="" href="#" data-toggle="modal" data-target="#contact"><i class="fa fa-envelope"></i></a>
																				<a class="" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="458-965-856"><i class="fa fa-phone"></i></a>
																				<a class="" href="https://spruko.com" data-toggle="tooltip" data-placement="top" title="" data-original-title="https://spruko.com"><i class="fa fa-globe"></i></a>
																				<a class="" href="#"><i class="fa fa-share-alt"></i></a>
																			</div>
																		</div>
																		<div class="ml-auto mt-3 mt-sm-0">
																			<div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc"><a href="#"><i class="fa fa-map-signs"></i>  Get Directions</a></div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-xl-6">
													<div class="card overflow-hidden">
														<div class="h-100">
															<div class="item-card9-img">
																<div id="image-slider1" class="carousel" data-ride="carousel">
																	<div class="carousel-inner">
																		<div class="carousel-item active">
																			<img src="/static/frontpages/images/products/products/j2.jpg" alt="img" class="cover-image">
																		</div>
																		<div class="carousel-item">
																			<img src="/static/frontpages/images/products/products/j1.jpg" alt="img" class="cover-image">
																		</div>
																		<div class="carousel-item">
																			<img src="/static/frontpages/images/products/products/h1.jpg" alt="img" class="cover-image">
																		</div>
																		<div class="carousel-item">
																			<img src="/static/frontpages/images/products/products/h2.jpg" alt="img" class="cover-image">
																		</div>
																		<div class="carousel-item">
																			<img src="/static/frontpages/images/products/products/h3.jpg" alt="img" class="cover-image">
																		</div>
																	</div>
																	<a class="carousel-control-prev left-0" href="#image-slider1" role="button" data-slide="prev">
																		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
																		<span class="sr-only">Previous</span>
																	</a>
																	<a class="carousel-control-next right-0" href="#image-slider1" role="button" data-slide="next">
																		<span class="carousel-control-next-icon" aria-hidden="true"></span>
																		<span class="sr-only">Next</span>
																	</a>
																</div>
																<div class="item-card9-icons">
																	<a href="#" class="item-card9-icons1 wishlist"> <i class="fa fa fa-heart-o"></i></a>
																</div>
																<div class="item7-card-text">
																	<span class="badge badge-info">Jobs</span>
																</div>
																<div class="item-card2-icons left-10">
																	<span class="br-2 p-1 px-2 br-2 bg-dark-transparent text-white"><i class="fa fa-picture-o"></i> 5</span>
																</div>
															</div>
															<div class="card border-0 mb-0">
																<div class="card-body">
																	<div class="item-card9">
																		<a href="{% url 'bs_2' %}" class="text-dark"><h4 class="font-weight-semibold mt-1 mb-1">Horbica Consulting <i class="ion-checkmark-circled text-success ml-1"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Verified"></i></h4></a>
																		<div class="rating-stars d-flex mr-5">
																			<input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="4">
																			<div class="rating-stars-container mr-2">
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																			</div> <a class="fs-13 leading-tight mt-1" href="#">77 Reviews</a>
																		</div>
																		<div class="mt-2 mb-2">
																			<a href="#" class="mt-1 mb-1 mr-3 text-dark"><i class="fa fa-globe mr-1"></i> China</a>
																			<a href="#" class="mt-1 mb-1 mr-1 text-muted"><i class="fa fa-map-marker mr-1"></i> LPN-21y,Spanic COlony CH10012</a>
																		</div>
																		<p class="mb-0 leading-tight"><span class="font-weight-semibold text-dark"> Timings : </span>  9am - 10pm</p>
																	</div>
																</div>
																<div class="card-footer pt-2 pb-2">
																	<div class="item-card9-footer d-sm-flex">
																		<div class="item-card9-cost">
																			<div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc">
																				<a class="" href="#" data-toggle="modal" data-target="#contact"><i class="fa fa-envelope"></i></a>
																				<a class="" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="458-965-856"><i class="fa fa-phone"></i></a>
																				<a class="" href="https://spruko.com" data-toggle="tooltip" data-placement="top" title="" data-original-title="https://spruko.com"><i class="fa fa-globe"></i></a>
																				<a class="" href="#"><i class="fa fa-share-alt"></i></a>
																			</div>
																		</div>
																		<div class="ml-auto mt-3 mt-sm-0">
																			<div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc"><a href="#"><i class="fa fa-map-signs"></i>  Get Directions</a></div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-xl-6">
													<div class="card overflow-hidden">
														<div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i class="fa fa-bolt"></i></span></div>
														<div class="h-100">
															<div class="item-card9-img">
																<div class="item-card9-imgs">
																	<a href="{% url 'bs_2' %}"></a>
																	<img src="/static/frontpages/images/products/products/pe1.jpg" alt="img" class="cover-image">
																</div>
																<div class="item-card9-icons">
																	<a href="#" class="item-card9-icons1 wishlist"> <i class="fa fa fa-heart-o"></i></a>
																</div>
																<div class="item-cardreview-absolute bg-pink">Animals</div>
															</div>
															<div class="card border-0 mb-0">
																<div class="card-body">
																	<div class="item-card9">
																		<a href="{% url 'bs_2' %}" class="text-dark"><h4 class="font-weight-semibold mt-1 mb-1">Kenco petcenter <i class="fa fa-exclamation-circle text-warning ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Not Verified"></i></h4></a>
																		<div class="rating-stars d-flex mr-5">
																			<input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="5">
																			<div class="rating-stars-container mr-2">
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																			</div> <a class="fs-13 leading-tight mt-1" href="#">43 Reviews</a>
																		</div>
																		<div class="mt-2 mb-2">
																			<a href="#" class="mt-1 mb-1 mr-3 text-dark"><i class="fa fa-globe mr-1"></i> Uk</a>
																			<a href="#" class="mt-1 mb-1 mr-1 text-muted"><i class="fa fa-map-marker mr-1"></i> NY-100, Modern Colorny, UK-52014</a>
																		</div>
																		<p class="mb-0 leading-tight"><span class="font-weight-semibold text-dark"> Timings : </span>  7am - 9pm</p>
																	</div>
																</div>
																<div class="card-footer pt-2 pb-2">
																	<div class="item-card9-footer d-sm-flex">
																		<div class="item-card9-cost">
																			<div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc">
																				<a class="" href="#" data-toggle="modal" data-target="#contact"><i class="fa fa-envelope"></i></a>
																				<a class="" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="458-965-856"><i class="fa fa-phone"></i></a>
																				<a class="" href="https://spruko.com" data-toggle="tooltip" data-placement="top" title="" data-original-title="https://spruko.com"><i class="fa fa-globe"></i></a>
																				<a class="" href="#"><i class="fa fa-share-alt"></i></a>
																			</div>
																		</div>
																		<div class="ml-auto mt-3 mt-sm-0">
																			<div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc"><a href="#"><i class="fa fa-map-signs"></i>  Get Directions</a></div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-xl-6">
													<div class="card overflow-hidden">
														<div class="h-100">
															<div class="item-card9-img">
																<div class="item-card9-imgs">
																	<a href="#" data-toggle="modal" data-target="#homeVideo"><i class="mdi mdi-arrow-right-drop-circle-outline" aria-hidden="true"></i></a>
																	<img src="/static/frontpages/images/products/products/b3.jpg" alt="img" class="cover-image">
																</div>
																<div class="item-card9-icons">
																	<a href="#" class="item-card9-icons1 wishlist"> <i class="fa fa fa-heart-o"></i></a>
																</div>
																<div class="item-cardreview-absolute bg-success">Beauty & Spa</div>
															</div>
															<div class="card border-0 mb-0">
																<div class="card-body">
																	<div class="item-card9">
																		<a href="{% url 'bs_2' %}" class="text-dark"><h4 class="font-weight-semibold mt-1 mb-1">Gozer Beauty & Spa <i class="ion-checkmark-circled text-success ml-1"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Verified"></i></h4></a>
																		<div class="rating-stars d-flex mr-5">
																			<input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="3">
																			<div class="rating-stars-container mr-2">
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																			</div> <a class="fs-13 leading-tight mt-1" href="#">55 Reviews</a>
																		</div>
																		<div class="mt-2 mb-2">
																			<a href="#" class="mt-1 mb-1 mr-3 text-dark"><i class="fa fa-globe mr-1"></i> Canada</a>
																			<a href="#" class="mt-1 mb-1 mr-1 text-muted"><i class="fa fa-map-marker mr-1"></i> PNX-124, Mortain Street, CA-65478</a>
																		</div>
																		<p class="mb-0 leading-tight"><span class="font-weight-semibold text-dark"> Timings : </span>  8am - 10pm</p>
																	</div>
																</div>
																<div class="card-footer pt-2 pb-2">
																	<div class="item-card9-footer d-sm-flex">
																		<div class="item-card9-cost">
																			<div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc">
																				<a class="" href="#" data-toggle="modal" data-target="#contact"><i class="fa fa-envelope"></i></a>
																				<a class="" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="458-965-856"><i class="fa fa-phone"></i></a>
																				<a class="" href="https://spruko.com" data-toggle="tooltip" data-placement="top" title="" data-original-title="https://spruko.com"><i class="fa fa-globe"></i></a>
																				<a class="" href="#"><i class="fa fa-share-alt"></i></a>
																			</div>
																		</div>
																		<div class="ml-auto mt-3 mt-sm-0">
																			<div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc"><a href="#"><i class="fa fa-map-signs"></i>  Get Directions</a></div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-xl-6">
													<div class="card overflow-hidden">
														<div class="h-100">
															<div class="item-card9-img">
																<div class="item-card9-imgs">
																	<a href="{% url 'bs_2' %}"></a>
																	<img src="/static/frontpages/images/products/products/f4.jpg" alt="img" class="cover-image">
																</div>
																<div class="item-card9-icons">
																	<a href="#" class="item-card9-icons1 wishlist"> <i class="fa fa fa-heart-o"></i></a>
																</div>
																<div class="item-cardreview-absolute bg-secondary">Restaurant</div>
															</div>
															<div class="card border-0 mb-0">
																<div class="card-body">
																	<div class="item-card9">
																		<a href="{% url 'bs_2' %}" class="text-dark"><h4 class="font-weight-semibold mt-1 mb-1">GilkonStar Hotel <i class="fa fa-exclamation-circle text-warning ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Not Verified"></i></h4></a>
																		<div class="rating-stars d-flex mr-5">
																			<input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="4">
																			<div class="rating-stars-container mr-2">
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																				<div class="rating-star sm">
																					<i class="fa fa-star"></i>
																				</div>
																			</div> <a class="fs-13 leading-tight mt-1" href="#">64 Reviews</a>
																		</div>
																		<div class="mt-2 mb-2">
																			<a href="#" class="mt-1 mb-1 mr-3 text-dark"><i class="fa fa-globe mr-1"></i> Germany</a>
																			<a href="#" class="mt-1 mb-1 mr-1 text-muted"><i class="fa fa-map-marker mr-1"></i> PN-1-152 Peace Street, GN-96875</a>
																		</div>
																		<p class="mb-0 leading-tight"><span class="font-weight-semibold text-dark"> Timings : </span>  7am - 4pm</p>
																	</div>
																</div>
																<div class="card-footer pt-2 pb-2">
																	<div class="item-card9-footer d-sm-flex">
																		<div class="item-card9-cost">
																			<div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc">
																				<a class="" href="#" data-toggle="modal" data-target="#contact"><i class="fa fa-envelope"></i></a>
																				<a class="" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="458-965-856"><i class="fa fa-phone"></i></a>
																				<a class="" href="https://spruko.com" data-toggle="tooltip" data-placement="top" title="" data-original-title="https://spruko.com"><i class="fa fa-globe"></i></a>
																				<a class="" href="#"><i class="fa fa-share-alt"></i></a>
																			</div>
																		</div>
																		<div class="ml-auto mt-3 mt-sm-0">
																			<div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc"><a href="#"><i class="fa fa-map-signs"></i>  Get Directions</a></div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-xl-6">
													<div class="card overflow-hidden">
														<div class="h-100">
															<div class="item-card9-img">
																<div class="item-card9-imgs">
																	<a href="{% url 'bs_2' %}"></a>
																	<img src="/static/frontpages/images/products/products/v1.jpg" alt="img" class="cover-image">
																</div>
																<div class="item-card9-icons">
																	<a href="#" class="item-card9-icons1 wishlist"> <i class="fa fa fa-heart-o"></i></a>
																</div>
																<div class="item-cardreview-absolute bg-primary">AutoMobiles</div>
															</div>
															<div class="card border-0 mb-0">
																<div class="card-body">
																	<div class="item-card9">
																		<a href="{% url 'bs_2' %}" class="text-dark"><h4 class="font-weight-semibold mt-1 mb-1">Seep Automobiles <i class="fa fa-exclamation-circle text-warning ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Not Verified"></i></h4></a>
																		
																		<div class="mt-2 mb-2">
																			<a href="#" class="mt-1 mb-1 mr-3 text-dark"><i class="fa fa-globe mr-1"></i> Australia</a>
																			<a href="#" class="mt-1 mb-1 mr-1 text-muted"><i class="fa fa-map-marker mr-1"></i> H-85-87/2, Multiple Street, AS-14578</a>
																		</div>
																		<p class="mb-0 leading-tight"><span class="font-weight-semibold text-dark"> Timings : </span>  7am - 8pm</p>
																	</div>
																</div>
																<div class="card-footer pt-2 pb-2">
																	<div class="item-card9-footer d-sm-flex">
																		<div class="item-card9-cost">
																			<div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc">
																				<a class="" href="#" data-toggle="modal" data-target="#contact"><i class="fa fa-envelope"></i></a>
																				<a class="" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="458-965-856"><i class="fa fa-phone"></i></a>
																				<a class="" href="https://spruko.com" data-toggle="tooltip" data-placement="top" title="" data-original-title="https://spruko.com"><i class="fa fa-globe"></i></a>
																				<a class="" href="#"><i class="fa fa-share-alt"></i></a>
																			</div>
																		</div>
																		<div class="ml-auto mt-3 mt-sm-0">
																			<div class="text-dark font-weight-normal mb-0 mt-0 item-card2-desc"><a href="#"><i class="fa fa-map-signs"></i>  Get Directions</a></div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								{% if news_list.has_other_pages %}
								<div class="center-block text-center">
									<ul class="pagination mb-5">
										{% if news_list.has_previous %}
										<li class="page-item page-prev "><a class="page-link" href="?page={{news_list.previous_page_number}}" tabindex="-1">{% trans "Prev" %}</a></li>
										{% else %}
										<li class="page-item page-prev disabled"><a class="page-link" href="#" tabindex="-1">{% trans "Prev" %}</a></li>
										{% endif %}
										
										{% for i in news_list.paginator.page_range %}
											{% if news_list.number == i %}
													<li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
											{% else %}
													<li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
											{% endif %}
										{% endfor %}

										{% if news_list.has_next %}
										<li class="page-item page-next"><a class="page-link" href="?page={{news_list.next_page_number}}">{% trans "Next" %}</a></li>
										{% else %}
										<li class="page-item page-next disabled"><a class="page-link" href="#">{% trans "Next" %}</a></li>
										{% endif %}
									</ul>
								</div>
								{% endif %}
							</div>
						</div>
						<!--/Add lists-->
					</div>

					<!--Right Side Content-->
					
					<div class="col-xl-3 col-lg-3 col-md-12">
						<form action = "/collaborations/customer_news_list/" method = "GET" >
					
							<div class="card">
								<div class="card-body">
									<div class="input-group">
											<input type="text" id = "by_title" name = "by_title" class="form-control br-tl-3 br-bl-3" placeholder="Search">
											<div class="input-group-append ">
												<button type="submit" class="btn btn-secondary br-tr-3 br-br-3">
													{% trans "Search" %}
												</button>
											</div>
									</div>
								</div>
							</div>
						</form>


						<form action = "{% url 'customer_news_list' %}" method = "GET">
						<div class="card mb-0">
							<div class="card-header">
								<h3 class="card-title">{% trans "Categories" %}</h3>
							</div>
							<div class="card-body">
								<div class="" id="container">
									<div class="filter-product-checkboxs">
										{% for category in NEWS_CATAGORY %}
										<label class="custom-control custom-checkbox mb-3">
											<input type="checkbox" class="custom-control-input" name="by_category"   value="{{category.0}}">
											<span class="custom-control-label">
												<a  class="text-dark">{{category.0}}</a>
											</span>
										</label>
										{% endfor %}
										
									</div>
								</div>
							</div>
						
							<div class="card-footer">
								<button type = "submit" value="Something" href="#" class="btn btn-primary btn-block">{% trans "Apply Filter" %}</a>
							</div>
						</div>
						</form>
					</div>
					<!--/Right Side Content-->
				</div>
			</div>
		</section>
		<!--/Add Listings-->

	
			
		{%endblock%}

		
		