{%extends 'frontpages/layout.html'%}
{%load i18n%}
{%load core_template_tags%} 
{%block content%}
{% get_current_language as LANGUAGE_CODE %}
		<!--Breadcrumb-->
		<section>
			<div class="cover-image sptb-1 bg-background" data-image-src="/static/frontpages/images/banners/banner1.jpg">
				<div class="header-text1 mb-0">
					<div class="container">
						<div class="row">
							<div class="col-xl-8 col-lg-12 col-md-12 d-block mx-auto">
								<div class="text-center text-white ">
									<h1 class=""><span class="font-weight-bold"></span>{{message}}</h1>
								</div> 
								<form action  = "{%url 'research_list' %}" method="GET">
									<div class="search-background px-4 py-3 mt-4">
										<div class="form row row-sm">
											<div class="form-group  col-xl-10 col-lg-9 col-md-12 mb-0">
												<input type="text" name = 'by_title' class="form-control input-lg border-white" id="text" placeholder="Search research by title">
											</div>
											
											<div class="col-xl-2 col-lg-3 col-md-12 mb-0">
												<button href="#" type = "submit" class="btn btn-lg btn-block btn-secondary">{% trans "Search" %}</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div><!-- /header-text -->
			</div>
		</section>
		
		<!--/Breadcrumb-->
		<div class="bg-white border-bottom">
			<div class="container">
				<div class="page-header">
					<h4 class="page-title">{% trans "Research List" %}</h4>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">{% trans "Home" %}</a></li>
						<li class="breadcrumb-item active" aria-current="page">{% trans "Research List" %}</li>
					</ol>
				</div>
			</div>
		</div>
		<!--Add listing-->
		<section class="sptb">
			<div class="container">
				<div class="row">
					<!--Left Side Content-->
					<div class="col-xl-4 col-lg-4 col-md-12">
						<div class="card">
							<div class="card-body">
								<div class="col-xl-8 col-lg-8 col-md-8">
								<a href="{%url 'research_form' %}"><button style="padding-left: 40%; padding-right: 40%;" type="submit" 
								href="{%url 'forum_form' %}" 
									class="btn btn-primary rounded-round">
									<h5>{% trans "Add new Research" %} </h5>
								</button>
								</a>
							</div>
							</div>
						</div>

						<div class="card mb-0">
							<form action="{%url 'research_list' %}" method = "GET">		
								<div class="card-header border-top">
									<h3 class="card-title">{% trans "Filter by Category" %}</h3>
								</div>
								<div class="card-body">
										<div class="filter-product-checkboxs">
											{%for cat in category%}
											<label class="custom-control custom-checkbox mb-2">
												<input type="checkbox" class="custom-control-input" name="by_category" value="{{cat.cateoryname}}">
												<span class="custom-control-label">
													{% print_translated cat.cateoryname cat.cateoryname_am LANGUAGE_CODE %}
												</span>
											</label>
											{% endfor %}
										</div>
								</div>
								<div class="card-footer">
									<button type = "submit" value="Something" href="#" class="btn btn-primary btn-block">{% trans "Apply Filter" %}</button>
								</div>
							</form>
						</div>
						<div class="card ">
							<div class="card-header">
                                    <h3 class="card-title">{% trans "Related Researches" %} </h3> 
							</div>
							<div class="card-body p-0">
								<div class="list-catergory">
									<div class="item-list">
										<ul class="list-group mb-0">

											{%for research in related%}
											
											<li class="list-group-item border-bottom-0">
												<a href="{%url 'research_detail' id=research.id %}" class="text-dark">
													 {{research.title|safe|truncatechars_html:40}}
													
												</a>

											</li>
											
											{%endfor%}

										</ul>
									</div>
								</div>
							</div>
                        </div>

						
					</div>
					<!--/Left Side Content-->

                    


					<div class="col-xl-8 col-lg-8 col-md-12">
						<!--Add Lists-->
						
						<div class="row">
							
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">{{research.title}}</h3> 
                                    
                                    	 <span class="badgetext badge badge-pill badge-light mb-0 mt-1"><i class="fa fa-user text-muted mr-2"></i>  {{research.created_b.username}}{{" "}}
													 {{research.timestamp}}</span>
                                		 
                                		 
									 
								</div>
									 
                                <div class="card-body">
                                	
									 
									<p>
									{%if LANGUAGE_CODE == 'en' %}
											<b>{% trans "status" %}</b>: {{research.status}}
									{%elif LANGUAGE_CODE == 'am' and research.status == "Complited"%} 
											<b>{% trans "status" %}</b>: ተጠናቋል
									{%elif LANGUAGE_CODE == 'am' and research.status == "inprogress"%} 
											<b>{% trans "status" %}: በሂደት ላይ</b>
									{%else%}
										<b>{% trans "status" %} </b>: {{research.status}}
										{%endif%}
											</p>
										
									<p> <b>{% trans "Category" %}: </b>
										{{LANGUAGE_CODE}}
									{% print_translated research.category.cateoryname research.category.cateoryname_am LANGUAGE_CODE%}</p>
                                     <p>
                                     <b>By</b>: &nbsp 
										<a class="" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{research.created_by.username}}">
											{% if research.created_by.get_company %}
											 	 {{research.created_by.get_company}} 
											{% elif research.created_by %}
												 {{research.created_by.username}} 
												{%endif%}
										</a>
									</p>

                                    <p><b>{% trans "Detail" %}</b>:{{research.description|safe}} </p>
                                   
                                    {%if research.attachements%}
                                    <div class="mb-0">
                                       <a href="{{research.attachements.url}}" download="{{research.attachements.url}}"> 
                                   		<div > {% trans "Attachments" %} </div>
                                   		</a>
                                    </div>
                                    {%endif%}
                                </div>
 
                                {% if research.researchfiles%}
                                <div class="card">
						<label class="col-form-label col-lg-3"> Researched Files </label>
		                
		                <div class="card-body" >    
		                        <div class="media-body">
		                        	<div class="mt-4 mb-3 row">
		                                {%for file in research.researchfiles%}
					                <div class="col-sm-6 col-lg-3">
					                	
					                    <div class="card">
					                        <div class="card-img-actions m-1">
					                        	
					                            <a href="{{file.attachement.url}}" download="{{file.attachement.url}}">

										{% file_type file.attachement.url as file_type%}
										{% if file_type  == 'image' %}
											<i  style = "color: rgb(86, 115, 132); border: hidden; size: 200px; " class = "fa fa-image fa-4x"></i>
										{% elif file_type  == 'video' %}
											<i  style = "color: rgb(86, 115, 132); border: hidden; size: 200px; " class = "fa fa-play-circle fa-4x"></i>
										{% elif file_type == 'audio' %}
											<i  style = "color: rgb(86, 115, 132); border: hidden; size: 200px; " class = "fa fa-music fa-4x"></i>
										{% elif file_type == 'word' %}
											<i  style = "color: rgb(86, 115, 132); border: hidden; size: 200px; " class = "fa fa-file-word-o fa-4x"></i>
										{% elif file_type == 'pdf'  %}
											<i  style = "color: rgb(86, 115, 132); border: hidden; size: 200px; " class = "fa fa-file-pdf-o fa-4x"></i>
										{% elif file_type == 'excel'%}
										<i  style = "color: rgb(86, 115, 132); border: hidden; size: 200px; " class = "fa fa-file-excel-o fa-4x"></i>
										{% elif file_type == 'exe' %}
										<i  style = "color: rgb(86, 115, 132); border: hidden; size: 200px; " class = "icon-cogs fa-4x"></i>
										{% else %}
											<i  style = "color: rgb(86, 115, 132); border: hidden; size: 200px; " class = "fa fa-file fa-4x"></i>
										{% endif %}
										{{file.attachement.name}}
									</a>
					                        </div>
					                    </div>
					                </div>

					                {%endfor%}
            					</div>
		                            
		                            
		                        </div>
		                    
		                </div>
		                      
		            </div> 
		            {%endif%} 
                             </div>


                                
                            </div>


						
                            
						</div>
					</div>
						<div class="d-sm-flex">
							
							<ul class="pagination mb-lg-0 mb-5 ml-auto">
								<li class="page-item page-prev disabled">
									<a class="page-link" href="#" tabindex="-1">Prev</a>
								</li>
								<li class="page-item active"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item page-next">
									<a class="page-link" href="#">Next</a>
								</li>
							</ul>
						</div>
					</div>
					<!--/Add Lists-->
				</div>
			</div>
		</section>
		<!--Add Listing-->

		<!-- Newsletter-->
		<section class="sptb border-top bg-white">
			<div class="container">
				<div class="section-title center-block text-center">
					<h2>Subscribe To Our Newsletter</h2>
					<p>Mauris ut cursus nunc. Morbi eleifend, ligula at consectetur vehicula</p>
				</div>
				<div class="row">
					<div class="col-lg-10 col-xl-8 col-md-12 mx-auto d-block text-center">
						<div class="input-group sub-input mt-0">
							<input type="text" class="form-control input-lg " placeholder="Enter your Email">
							<div class="input-group-append ">
								<button type="button" class="btn btn-secondary btn-lg br-tr-3 br-br-3 pl-5 pr-5">
									Subscribe
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Newsletter-->


		<!-- Home Video Modal -->
		<div class="modal fade" id="homeVideo" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<button type="button" class="btn btn-default" data-dismiss="modal" onclick="pauseVid()"><i class="fa fa-times" aria-hidden="true"></i></button>
					<div class="embed-responsive embed-responsive-16by9">
						<video id="gossVideo" class="embed-responsive-item" controls="controls">
							<source src="/static/frontpages/video/300052515.mp4" type="video/mp4">
						</video>
					</div>
				</div>
			</div>
		</div>
		{%endblock%}