{%extends 'frontpages/layout.html'%}
{%load i18n%}
{%load core_template_tags%} 

{% get_current_language as LANGUAGE_CODE %}
<script src="/static/admin/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
<script src="/static/admin/global_assets/js/demo_pages/form_inputs.js"></script>

{%block content%}

		<!--Breadcrumb-->
		<section>
			<div class="bannerimg cover-image bg-background3" data-image-src="/static/frontpages/images/banners/banner2.jpg">
				<div class="header-text mb-0">
					<div class="container">
						<div class="text-center text-white">
							<h1 class="">{% trans "Research" %} </h1>
							
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="bg-white border-bottom">
			<div class="container">
				<div class="page-header">
					<h4 class="page-title">{% trans "Research List" %}</h4>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">{% trans "Home" %}</a></li>
						<li class="breadcrumb-item active" aria-current="page">{% trans "Research List" %}</li>
					</ol>
				</div>
			</div>
		</div>
		<!--/Breadcrumb-->

		<!--Add listing-->
		<section class="sptb">
			<div class="container">
				<div class="row">
					<!--Left Side Content-->
					<div class="col-xl-4 col-lg-4 col-md-12">
						<div class="card">
							<div class="card-body">
								<div class="col-xl-8 col-lg-8 col-md-8">
								<a href="{%url 'research_form' %}"><button style="padding-left: 40%; padding-right: 40%;" type="submit" 
								href="{%url 'forum_form' %}" 
									class="btn btn-primary rounded-round">
									<h5>{% trans "Add new Research" %} </h5>
								</button>
								</a>
							</div>
							</div>
						</div>


					<div class="card mb-0">
							<form action="{%url 'research_list' %}" method = "GET">		
								<div class="card-header border-top">
									<h3 class="card-title">{% trans "Filter by Category" %}</h3>
								</div>
								<div class="card-body">
										<div class="filter-product-checkboxs">
											{%for cat in category%}
											<label class="custom-control custom-checkbox mb-2">
												<input type="checkbox" class="custom-control-input" name="by_category" value="{{cat.cateoryname}}">
												<span class="custom-control-label">
													{% print_translated cat.cateoryname cat.cateoryname_am LANGUAGE_CODE %}
												</span>
											</label>
											{% endfor %}
										</div>
								</div>
								<div class="card-footer">
									<button type = "submit" value="Something" href="#" class="btn btn-primary btn-block">{% trans "Apply Filter" %}</button>
								</div>
							</form>
						</div>
						 
					</div>
					<!--/Left Side Content-->

                    


					<div class="col-xl-8 col-lg-8 col-md-12"> 
						<!--Add Lists-->
						 
						<div class="row">
                            <div class="card ">
								<form action="" method="POST" enctype="multipart/form-data">
									{%csrf_token%}
									{%if form.errors%}
									<div class="alert alert-danger" role="alert">
									  {{form.errors}}
									</div>
									{% endif %}
									<div class="card-header ">
										<h3 class="card-title">{% trans "Add a Research" %}</h3>
									</div>
									<div class="card-body">
										<div class="form-group">
											<label class="form-label text-dark">{% trans "Research Title" %} *</label>
											
											<div class="col-lg-12"> {{form.title}}
											</div>
										</div>

										<div class="form-group">
											<label class="form-label text-dark">{% trans "Research Status" %} *</label>

											<div class="col-lg-12">
												{{form.status}}
											</div>
										</div>

										<div class="form-group">
											<label class="form-label text-dark">{% trans "Research Category" %} *</label>

											<div class="col-lg-12">
												{{form.category}}
											</div>
										</div>
																					
										<div class="form-group">
											<label class="form-label text-dark">{% trans "Research Description" %} *</label>

											<div class="col-lg-12">
												{{form.description}}
											</div>
										</div>  

					<div class="form-group row">
						
						<label class="col-form-label col-lg-3">Upload your attchment (if you have one):</label>
						<div class="col-lg-9">
							<div class="uniform-uploader">
								<input type="file" id="files" name="files" class="form-input-styled" data-fouc="" multiple/> 
							</div>
						</div>
					</div>
										
									</div>

									<div class="text-right">
										<button style="padding-left: 10%; padding-right: 10%;" type="submit"
											class="btn btn-primary rounded-round">{% trans "Submit" %} </button>
									</div>
								</form>
                            </div> 
						</div>
						<div class="d-sm-flex">
							<h6 class="mb-0 mt-3">Showing 1 to 6 of 30 entries</h6>
							<ul class="pagination mb-lg-0 mb-5 ml-auto">
								<li class="page-item page-prev disabled">
									<a class="page-link" href="#" tabindex="-1">Prev</a>
								</li>
								<li class="page-item active"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item page-next">
									<a class="page-link" href="#">Next</a>
								</li>
							</ul>
						</div>
					</div>
					<!--/Add Lists-->
				</div>
			</div>
		</section>
		<!--Add Listing-->

		<!-- Newsletter-->
		<section class="sptb border-top bg-white">
			<div class="container">
				<div class="section-title center-block text-center">
					<h2>Subscribe To Our Newsletter</h2>
					<p>Mauris ut cursus nunc. Morbi eleifend, ligula at consectetur vehicula</p>
				</div>
				<div class="row">
					<div class="col-lg-10 col-xl-8 col-md-12 mx-auto d-block text-center">
						<div class="input-group sub-input mt-0">
							<input type="text" class="form-control input-lg " placeholder="Enter your Email">
							<div class="input-group-append ">
								<button type="button" class="btn btn-secondary btn-lg br-tr-3 br-br-3 pl-5 pr-5">
									Subscribe
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/Newsletter-->


		<!-- Home Video Modal -->
		<div class="modal fade" id="homeVideo" tabindex="-1" role="dialog"> 
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<button type="button" class="btn btn-default" data-dismiss="modal" onclick="pauseVid()"><i class="fa fa-times" aria-hidden="true"></i></button>
					<div class="embed-responsive embed-responsive-16by9">
						<video id="gossVideo" class="embed-responsive-item" controls="controls">
							<source src="/static/frontpages/video/300052515.mp4" type="video/mp4">
						</video>
					</div>
				</div>
			</div>
		</div>

<script>
	$(document).ready(function () {
		$('#summernote').summernote();
		$('.summernote').summernote();
	});
</script>
		{%endblock%}